<div id="contents--happyborn--postpartumCare_greeting" class="ST_dis_none">
	<div class="metro_wrap ST_float_wrap">
		
		<div class="metro_fullContainer metro_1 "  data-TB_metro_width="800_px" data-TB_metro_m_hei="500_px">
			<div class="TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="cover ST_posi_relative  " >
				<div class="bg TB_el  metro_sync_height"
					data-TB_el_name="contents--happyborn--postpartumCare_greeting--main_pic"
				></div>
			</div>
		</div><!--/메인 그림-->
		
		<div class="metro_fullContainer metro_2 ST_opacity_0" data-TB_metro_width="500_px" data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height" >
				<div class="dec_wrap ">
					<div class="subject">
						<span class=" fa fa-quote-left"></span>
							숙력된 의료진
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="icon_wrap ST_margin_top_2_em">
						<div class="icon_container">
							<div class="TB_el" data-TB_el_name="contents--happyborn--postpartumCare_greeting--pic_1"></div>
						</div>
					</div>
					<div class="dec_container ">
						<div class="dec ">
							<b>다년간 경력</b>의 선생님들이<br/>
							산모님과 아기의 행복을 위해<br/>
							24시간 최선을 다하고 있습니다. 
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_2-->
		
		<div class="metro_fullContainer metro_3 ST_dis_none" data-TB_metro_width="500_px" data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative metro_sync_height" >
				<div class="dec_wrap ">
					<div class="subject">
						<span class=" fa fa-quote-left"></span>
							위생을 최우선
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="icon_wrap ST_margin_top_2_em">
						<div class="icon_container">
							<div class="TB_el" data-TB_el_name="contents--happyborn--postpartumCare_greeting--pic_2"></div>
						</div>
					</div>
					<div class="dec_container ">
						<div class="dec ">
							<b>1일 1회 신생아실과 모자병동 소독</b> 및<br/>
							산후조리원에 출입하는<br/>
							전 직원의 자체소독으로 <br/>
							아이와 산모의 건강을 지켜드립니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_3-->
		
		<div class="metro_fullContainer metro_4 ST_dis_none" data-TB_metro_width="500_px" data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height" >
				<div class="dec_wrap ">
					<div class="subject">
						<span class=" fa fa-quote-left"></span>
							영양을 생각한 엄선된 식단
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="icon_wrap ST_margin_top_2_em">
						<div class="icon_container">
							<div class="TB_el" data-TB_el_name="contents--happyborn--postpartumCare_greeting--pic_3"></div>
						</div>
					</div>
					<div class="dec_container ">
						<div class="dec ">
							<b>건강과 맛</b>을 한꺼번에 생각한<br/>
							<b>뷔페식단</b>을 매일 <br/>
							고민하여 내놓고 있습니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_4-->
		
		<div class="metro_fullContainer metro_5 ST_dis_none" data-TB_metro_width="500_px" data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height" >
				<div class="dec_wrap ">
					<div class="subject">
						<span class=" fa fa-quote-left"></span>
							산모만을 위한 편안한 휴식공간
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="icon_wrap ST_margin_top_2_em">
						<div class="icon_container">
							<div class="TB_el" data-TB_el_name="contents--happyborn--postpartumCare_greeting--pic_4"></div>
						</div>
					</div>
					<div class="dec_container ">
						<div class="dec ">
							출산에 지친 산모를 위해<br/>
							<b>파라핀, 전신 안마기, 하지부종 마사지</b>등<br/>
							편안한 휴식을 취할 수 있게<br/>
							최고의 설비를 갖추었습니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_5-->
		
		<div class="metro_fullContainer metro_6 ST_dis_none" data-TB_metro_width="500_px" data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height" >
				<div class="dec_wrap ">
					<div class="subject">
						<span class=" fa fa-quote-left"></span>
							다양한 산후조리 프로그램
						<span class="fa fa-quote-right"></span>
					</div>
					<div class="icon_wrap ST_margin_top_2_em">
						<div class="icon_container">
							<div class="TB_el" data-TB_el_name="contents--happyborn--postpartumCare_greeting--pic_5"></div>
						</div>
					</div>
					<div class="dec_container ">
						<div class="dec ">
							아이목욕법, 필라테스 요가, 신생아 응급처치법등<br/>
							산후 <b>반드시 알아야 될 필수 교육</b>을<br/>
							전문 강사분이 친절히 가르쳐 드립니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_6-->
		
	</div>
</div>