body{
	font-family: 'Nanum Gothic';
}
#contents--happyborn--postpartumCare_greeting{
}
#contents--happyborn--postpartumCare_greeting a{
	text-decoration:none;
	/*color: #777777;*/
	color: #383FFF;
}
#contents--happyborn--postpartumCare_greeting a:visited{
	color: #383FFF;
}
#contents--happyborn--postpartumCare_greeting .metro_fullContainer .dec_wrap{
	position: absolute;
	width:100%;
	top: 50%;
	margin: auto;
	margin-top: -12em;
}
#contents--happyborn--postpartumCare_greeting .metro_fullContainer .dec_wrap .subject{
	padding: 0 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	color: #444444;
}
#contents--happyborn--postpartumCare_greeting .metro_fullContainer .dec_wrap .icon_wrap{
	height: 140px; 
	position: relative;
}
#contents--happyborn--postpartumCare_greeting .metro_fullContainer .dec_wrap .icon_container{
	position: absolute;
	width: 100%;
}
#contents--happyborn--postpartumCare_greeting .metro_fullContainer .dec_wrap .icon{
	font-size: 6em;
	display:inline-block;
	color: #555555;
}
#contents--happyborn--postpartumCare_greeting .metro_fullContainer .dec_wrap .dec_container{
	margin-top: 5em;
	font-size: 1em;
	color: #777777;
}
#contents--happyborn--postpartumCare_greeting .metro_fullContainer .dec_wrap .dec_container b{
	color: #ff9547;
}
#contents--happyborn--postpartumCare_greeting .metro_fullContainer .dec_wrap .dec_container > div{
	margin-top :1em;
	line-height: 2em;
}
/*=========================================
 * 공통
 =========================================*/


#contents--happyborn--postpartumCare_greeting .metro_1 .bg {
}
#contents--happyborn--postpartumCare_greeting .metro_1 .bg img{
	position: absolute;
	top:0;left:0;bottom:0;right:0;
	margin:auto;
	width:100%;
}
/*============================================
 * metro_1
 ============================================*/































