<div  class="templates--nav--nav_2 ST_opacity_90_p" >
	<ul class="nav_container TB_contents_parts" data-TB_contents_parts="nav_2">
		{{#each menu}}
			{{#_if page "!=" "index"}}<!--/인덱스 페이지는 출력안함.-->
				<li class="menu_topMenu   {{active}}" >
					<div class="top_menu_cover ">
						<a href="#!/{{page}}"  class="topMenu_text "
							data-TB_link_page="{{page}}"
							data-TB_link_level="1"
						>{{title}}</a>
						{{#if childMenu}}<span class="is_child_menu fa fa-angle-down"></span>{{/if}}
					</div>
					{{#if childMenu}}
					<ul class="childMenu_Container  ST_clearfix childMenu_Container_{{@index}} ST_opacity_90_p">
					{{#each childMenu}}
						<li class="childMenu ">
							<a href="#!/{{page}}" class="childMenu_text"
							 data-TB_link_page="{{page}}"
							 data-TB_link_level="2"
						 >{{title}}</a>
						</li>
					{{/each}}
					</ul>
					{{/if}}
				</li>
			{{/_if}}
		{{/each}}
	</ul>
</div>
