.templates--nav--nav_2{
	 position: relative;
	 width: 100%;
	 background: #FFFFFF;
	 box-sizing: border-box;
	 border-bottom: 1px solid #D5D5D5;
 }
.templates--nav--nav_2 a{
	text-decoration: none;
}

.templates--nav--nav_2 .nav_container{
	position: relative; 
	display:block;
	text-align: center;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	width: 980px;
	margin: 0 auto;
}
	.templates--nav--nav_2 .nav_container:after{
		clear:both; 
		display:block; 
		content:'';
	}
.templates--nav--nav_2 .nav_container > li{
	float: left;
	display:block;
	box-sizing: border-box;
	width: 138px;
	text-align:center;
	position: relative;
	font-size: 0.9em;
}
.templates--nav--nav_2 .nav_container > li .top_menu_cover{
	padding: 10px 0 20px 0;
	margin-top: 10px;
	position: relative;
}
.templates--nav--nav_2 .nav_container > li .topMenu_text{
	font-weight: bold; 
	display:block;
	font-size: 1em;
	color: #555555;
}
.templates--nav--nav_2 .nav_container > li > .selected
, .templates--nav--nav_2 .nav_container > li > .selected > a{
	background: #30a4dc;
	color: #FFFFFF;
}
.templates--nav--nav_2 .nav_container > li .top_menu_cover .is_child_menu{
	position: absolute;
	right: 10px;	
	top:50%;
	margin-top: -0.5em;	
	color: #555555;
}
/*==/parent==*/

.templates--nav--nav_2 .nav_container > li > ul{
	font: 0.9em 'Nanum Gothic';
	height: 200px;
	display:none;
}
.templates--nav--nav_2 .nav_container > li > ul.childMenu_active .active_li{
}
.templates--nav--nav_2 .nav_container > li > ul.childMenu_active  li.active_li a{
	font-weight: bold;
	border-bottom: 1px solid ;
	box-sizing: border-box;
}
.templates--nav--nav_2 .nav_container > li > ul > li{
	padding: 15px 0;
}
.templates--nav--nav_2 .nav_container > li > ul > li > a{
	padding: 0.2em 0.7em 0.5em 0.7em;
	cursor: pointer;
	color: #777777;
	box-sizing: border-box;
}
	.templates--nav--nav_2 .nav_container > li > ul > li > a:hover{
		border-bottom: 1px solid;
	}
/*==/children Lv1 ==*/

.templates--nav--nav_2 .nav_container > li.active{
}
.templates--nav--nav_2 .nav_container{
	/*background: #5AB0DA;*/
}
.templates--nav--nav_2 .nav_container > li.active .top_menu_cover
, .templates--nav--nav_2 .nav_container > li.active ul
{
	background: #30A4DC;
}
.templates--nav--nav_2 .nav_container > li.active .top_menu_cover a
, .templates--nav--nav_2 .nav_container > li.active .is_child_menu
, .templates--nav--nav_2 .nav_container > li.active ul > li > a
{
	color: #ffffff;
}
/*==/child==*/
/*========================================
 *  액티브
 * ========================================*/



















