<div class="templates--m_list--list_2" >
	<ul class="ST_m_list_1">
	{{#each list}}
		<li class="m_list_item " >
			<input type="hidden" class="no" value="{{no}}" />
			{{#if auth}}<!--/인증 했을 시 글을 볼 수 있다.-->
			<div class="import_wrap TB_contents_import"
				data-TB_contents_src="templates--modal--m_modal_1"
				data-TB_contents_target="#TB_modal" 
				data-TB_contents_sendData='{
					"category":"{{category}}"
					, "no":"{{no}}"
					,"TB_contents_load":"TB_contents_load"
					,"import_category":"templates"
					,"import_type":"m_view"
					,"import_file":"view_1"
					, "title" : "{{../title}}"
				}'
			>	
				<div class="notice_wrap">{{program}}</div>
				<div class="subject_wrap">
					{{#if answer}}<span class="fa fa-check ST_col_ff7a19"></span>{{/if}}
					{{name}}
				</div><!--/제목-->
			</div><!--/내용물 내용물 보기 영역-->
			{{else}}<!--/인증하지 못했을 시 글을 보지 못한다.-->
			<div class="import_wrap">
				<div class="notice_wrap">{{program}}</div>
				<div class="subject_wrap">
					{{#if answer}}<span class="fa  fa-check ST_col_ff7a19"></span>{{/if}}
					{{name}}<span class="phone">({{phone}})</span>
				</div>
			</div><!--/내용물 내용물 보기 영역-->
			{{/if}}
			
			{{#if ../showBtns}}
			<div class="btn_wrap ">
				
				<div class="btn toggleBtns">
					<div class="fa fa-2x fa-arrow-circle-o-left"></div>
				</div>
				{{#if auth}}<!--/관리자 인증-->
				<div class="btn bbs_modify TB_contents_import"
					data-TB_contents_src="templates--modal--m_modal_1"
					data-TB_contents_target="#TB_modal"
					data-TB_contents_sendData='{
					"no":"{{no}}"
					,"reqType":"modify"
					,"selectReqQuery":"qna_info"
					,"reqQuery":"modify_qna"
					,"TB_contents_load":"TB_contents_load"
					,"import_category":"templates"
					,"import_type":"m_write_modify"
					,"import_file":"write_modify_qna"
					, "title" : "{{../title}}"
				}'
				>수정</div><!--/수정-->
				
				<form class="TB_form ST_float_left"
					data-TB_form_beforeAc='{"confirm":"정말삭제하시겠습니까?"}'
					data-TB_form_aftAc="contentsLoad:.bbs_wrap"
				>
					<input type="hidden" name="no" value="{{no}}" />
					<input type="hidden" name="reqType" value="delete" />
					<input type="hidden" name="reqQuery" value="delete_qna" />
					<input type="submit" class="ST_dis_none deleteSubmit" />
					<div class="btn bbs_delete TB_form_chainClick"
						data-TB_form_chainClick_target=".deleteSubmit"
					>삭제</div>
				</form><!--/삭제-->
				
				{{else}}
				<div class="password_container btn">
					<input type="password" name="password" class="password"  />
				</div>
				<div class="btn submitBtn_container">
					<div>확인</div>
				</div><!--/관리자 인증이 아닌경우-->
				{{/if}}<!--/버튼 보기가 있을 경우 -->
				
			</div>
			{{/if}}<!--/버튼-->
		</li>
	{{/each}}
	</ul><!--/리스트 -->
	
	<div class="ST_m_btn_wrap ">
		<div class="ST_m_btn_1 moreItemsBtn">더보기</div>
	</div><!--/더 출력 하기-->
</div>
