<div class="templates--modify_form--modify_form_1" class="ST_dis_none">
	
	<div class="header_wrap TB_contents_parts"
		data-TB_contents_parts="templates--modify_form--modify_form_1--header"
	>
		<span class="fa fa-times-circle-o closeBtn" title="닫기"></span>
		<span class="header">수&nbsp;정</span>
		<!-- <span class="submit_chain_button ST_theme_active" >완료</span> -->
	</div>
	<!--------------------------------------------------------/
		header
		-------------------------------------------------------->

	<div class="async_image_upload_form_wrap ST_hide" style="margin-top: 50px;">
		<form class="TB_form async_image_upload_form"
			data-TB_form_beforeAc='{"sharedFunc":"templates--modify_form--modify_form_1--async_image_upload_beforeAC"}'
			data-TB_form_aftAc="sharedFunc:templates--modify_form--modify_form_1--async_image_upload_aftAC"
		>
			<input type="text" name="reqType" value="insert" />
			<input type="text" name="reqQuery" value="insert_async_image" />
			<input type="file" name="files" class="file TB_form_validate" multiple="multiple"/>
			<input type="submit" class="submit" />
		</form>
	</div>
	<!--------------------------------------------------------/
		비동기 파일 업로드 처리.
		-------------------------------------------------------->
	
		<div class="body_wrap">
			<form class="TB_form main_form"
				data-TB_form_beforeAc='{"sharedFunc":"templates--modify_form--modify_form_1--beforeAc"}'
				data-TB_form_aftAc="sharedFunc:templates--modify_form--modify_form_1--aftAc" 
			>
				<input type="hidden" name="reqType" value="modify" />
				<input type="hidden" name="reqQuery" value="modify_piece" />
				<input type="hidden" name="device" value="{{device}}" />
				<input type="hidden" name="no" value="{{render.no}}" />
				
				<div class="category_wrap TB_contents_parts "
					data-TB_contents_parts="templates--modify_form--modify_form_1--category_selector" 
				>
					<select name="category" class="category">
						{{#each categories}}
						{{#_if ../selected_category '==' value}}
						<option value="{{value}}" selected="selected">{{name}}</option>
						{{else}}
						<option value="{{value}}">{{name}}</option>
						{{/_if}}
						{{/each}}
					</select>
				</div>
				<!--/카테고리 -->
				
				<div class="subject_wrap">
					<input type="text" name="subject"  placeholder="제목" value="{{render.subject}}"/>	
				</div>
				<!--/제목/-->
				
				<div class="wysiwyg_wrap">
					<textarea name="memo" class="TB_form_set memo" data-TB_form_set="wysiwyg:selection" rows="50">{{render.memo}}</textarea>
				</div>
				<!--/메인글/-->
				
				<div class="add_info_view_wrap TB_contents_parts" 
					data-TB_contents_parts="templates--modify_form--modify_form_1--add_info_view"
				>
					<div class="row_1 ST_float_left_wrap">
						<div class="col_1 ST_col_4 col">
							<div class="icon_wrap ST_dis_inline_block" title="별점 : {{render.stars_cnt}}">
								{{#unless render.stars_cnt}}
								<span class="fa fa-star-o icon"></span>
								{{/unless}}
								{{#each render.stars_point}}
								<span class="fa fa-star {{class_name}} icon"></span>
								{{/each}}
							</div>
						</div>
						
						{{#if render.view.price}}
						<div class="col_2 ST_col_4 col">
							<div class="icon_wrap ST_dis_inline_block price" title="비용 : {{commSet render.price}}">
								<span class="fa fa-krw icon "></span>&nbsp;
								{{#if render.input.price}}
									{{commSet render.input.price}}
								{{else}}
									0
								{{/if}}
							</div>
						</div>
						{{/if}}
						
						{{#if render.view.itinerary}}
						<div class="col_3 ST_col_4 col">
							<div class="icon_wrap ST_dis_inline_block itinerary" title="기간 : {{commSet render.itinerary}}">
								<span class="fa fa-hotel icon "></span>&nbsp;
								{{#if render.input.itinerary}}
									{{render.input.itinerary}} 박 
								{{else}}
									당일
								{{/if}}
							</div>
						</div>
						{{/if}}
						
					</div>
				</div>
				<!--/부가정보 보기/-->
				
				<div class="add_info_wrap TB_contents_parts" 
					data-TB_contents_parts="templates--modify_form--modify_form_1--add_info"
				>
					<div class="row_1 ST_float_left_wrap">
						<div class=" price_wrap col">
							<div class="input_wrap ST_dis_none star_input_wrap">
								<div class="ST_hide">
									<input type="number" name="stars_cnt" value="{{render.stars_cnt}}"/>
								</div>
								<div class="start_cover">
									<span class="fa fa-star-o point_1" data-point="1"></span>&nbsp;
									<span class="fa fa-star-o point_2" data-point="2"></span>&nbsp;
									<span class="fa fa-star-o point_3" data-point="3"></span>&nbsp;
									<span class="fa fa-star-o point_4" data-point="4"></span>&nbsp;
									<span class="fa fa-star-o point_5" data-point="5"></span>
								</div>
							</div>
							<div class="icon_wrap popup_detail" title="별점주기">
								<span class="icon fa fa-star-o"></span>
								<span class="text">별점</span>
							</div>
						</div>
						<!--/별점-->
						
					{{#_if selected_category '==' 'food'}}
						<div class=" price_wrap col">
							<div class="input_wrap ST_dis_none">
								<span>비용&nbsp;</span>
								<span><input type="number" name="price" placeholder="ex)15,000" class="price_input" value="{{render.price}}"  /></span>
								<span>원</span>
							</div>
							<div class="icon_wrap popup_detail" title="재료비용, 음식가격등...">
								<span class="icon fa fa-krw"></span>
								<span class="text">비용</span>
							</div>
						</div>
					{{/_if}}<!--/음식 부가 정보 -->
					
					{{#_if selected_category '==' 'travel'}}
						<div class="price_wrap col">
							<div class="input_wrap ST_dis_none">
								<span>비용&nbsp;</span>
								<span><input type="number" name="price" placeholder="ex)15,000"  class="price_input"  value="{{render.price}}"/></span>
								<span>원</span>
							</div>
							<div class="icon_wrap popup_detail" title="여행 비용등">
								<span class="icon fa fa-krw"></span>
								<span class="text">비용</span>
							</div>
						</div>
						
						<div class="price_wrap col">
							<div class="input_wrap ST_dis_none">
								<span>기간&nbsp;</span>
								<span><input type="number" name="itinerary" placeholder="0(당일),1박,2박..." class="itinerary_input" value="{{render.itinerary}}"  /></span>
								<span>박</span>
							</div>
							<div class="icon_wrap popup_detail" title="여행 비용등">
								<span class="icon fa fa-hotel"></span>
								<span class="text">기간</span>
							</div>
						</div>
						
					{{/_if}}<!--/여행 부가 정보 -->
					
					
					<div class=" price_wrap col">
						<div class="icon_wrap async_image_upload" title="별점주기">
							<span class="icon fa fa-image"></span>
							<span class="text">이미지</span>
						</div>
					</div>
					<!--/이미지 삽입-->

					</div>
				</div>
				<!--/부가정보/-->

				<div class="submit_wrap">
					<label>
						<input type="submit" class="ST_hide" />
						<div class="submit_button ST_button_1 ST_theme_active ST_theme_color">완&nbsp;&nbsp;&nbsp;료</div>
					</label>
				</div>
				<!--/작성 버튼/-->
		</form>
		</div>
	<!--------------------------------------------------------/
		body
		-------------------------------------------------------->
	
	<div class="bottom_space"></div><!--/하단 여백 -->
</div>
