<div id="contents--seayacht--tour_info" >
	
	<div class="metro_wrap">
		
		<div class="metro_fullContainer tour_ TB_style" 
			data-TB_metro_width="100_%" data-TB_metro_m_hei="700_px"
			data-TB_style="ST_fitAlign"
			data-TB_style_findTarget=".bg_img"
		>
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_60px"></div>
			<!--/탑 스페이스 -->
			
			<div class="TB_contents_parts" data-TB_contents_parts="tabs">
				<div class="tab_wrap pc_tab TB_style" data-TB_style="ST_response_mobile_display_none">
					<div class="tab_container ST_float_left_wrap ">
						{{#each tour_list}}
						{{#_if @root.selected_tab '==' no}}
						<div class="tab selected "  data-tab="{{no}}">{{name}}</div>
						{{else}}
						<div class="tab " data-tab="{{no}}" >{{name}}</div>
						{{/_if}}
						{{/each}}
					</div>
				</div>
				<!-- / PC 탭 -->
				
				
				<div class="tab_wrap mobile_tab TB_style ST_opacity_90_p TB_contents_parts" 
					data-TB_style="ST_response_pc_display_none"
					data-TB_contents_parts="mobile_tab"
				>
					<div class="title"><b>투어보기</b><span class="toggle_icon fa fa-angle-down"></span></div>
					<div class="tab_container  ST_dis_none">
						{{#each tour_list}}
						{{#_if @root.selected_tab '==' no}}
						<div class="tab selected "  data-tab="{{no}}">{{name}}</div>
						{{else}}
						<div class="tab " data-tab="{{no}}" >{{name}}</div>
						{{/_if}}
						{{/each}}
					</div>
				</div>
				<!-- / mobile 탭 -->
			</div><!--tabs-->
			
			<div class="text_wrap TB_contents_parts" data-TB_contents_parts="text">
				<div class="title_cover " >
					<div class="title TB_el " data-TB_el_name="contents--seayacht--tour_info--title--{{selected_tab}}"></div>
				</div>
				<div class="detail_cover TB_style" data-TB_style="ST_response_mobile_margin-top_0" >
					<div class="top_icon">┌</div>
					<div class="detail TB_el" data-TB_el_name="contents--seayacht--tour_info--detail--{{selected_tab}}"></div>
					<div class="bottom_icon">┘</div>
				</div>
			</div>
			<!--/텍스트-->
			
			<div class="filter_wrap TB_style ST_pattern_5" data-TB_style="ST_documentHei_100_p"></div>
			<!--/필터-->
			
			<div class="bg_cover  TB_contents_parts " data-TB_contents_parts="bg" >
				<div class="bg bg_0">
					<img class="ST_dis_none bg_img"  src="{{TB_root_path}}img/contents/tour_info/{{selected_tab}}.jpg" />
				</div>
			</div>
			<!--/bg-->
			
		</div>
		<!-------------------------------------
			투어 소스
		------------------------------------->
		
		
		<!--
		<div class="metro_fullContainer" data-TB_metro_width="500_px">
			<div class="metro_space " data-TB_style="ST_response_mobile_height_50px"></div>
			<div></div>
		</div>
		<!-------------------------------------
			footer
		------------------------------------->
		
	</div>
</div>