<div id="contents--pension--footer" class="ST_posi_relative ST_wid_100_p">
	<div class="ST_margin_top_2_em ST_margin_bottom_2_em">
		<div class="ST_max_wid_980 container ">
			<div class="row">
				<div class="phone_number col-xs-7 TB_el"
					data-TB_el_name="contents--pension--footer--phone_number"
				> 고객센터 </div>
				<div class="reservation col-xs-4 TB_el"
					data-TB_el_name="contents--pension--footer--reservation"
				> 예약하기 </div>
			</div>
		</div>
	</div><!--/예약-->
	<div>
		
	</div><!--/회사 사항-->
</div>