#admin--controller--visit_chart{
	width: 980px;
	min-height: 200px;
	line-height: 1em;
	margin-left: 10px;
}

#admin--controller--visit_chart .tabs_wrap{
	margin: auto;
	margin-top: 1em;
}
#admin--controller--visit_chart .tabs_wrap .tab{
	text-align: center;
	width: 20%;
	padding: 1em 0;
	cursor: pointer;
	color: #555555;
	border: 1px solid #d5d5d5;
	border-left: 1px solid transparent;
	box-sizing: border-box;
}
	#admin--controller--visit_chart .tabs_wrap .tab:first-child{
		border-left: 1px solid #d5d5d5;
	}
	#admin--controller--visit_chart .tabs_wrap .tab:hover{
		text-decoration: underline;
	}
#admin--controller--visit_chart .tabs_wrap .selected{
	background: #f5f5f5;
	font-weight : bold;
	color:#222222; 
}
/*=====================================
 * 분류 탭
 =====================================*/

#admin--controller--visit_chart .TB_visitor_chart_wrap #hoge{
	margin: auto;
}
/*=====================================
 * 차트 : 공통
 =====================================*/

#admin--controller--visit_chart  .controller_wrap{
	width: 100%;
	margin: auto;
	height: 50px;
}
#admin--controller--visit_chart .controller_wrap .period_container{
	width: 520px;
	margin: auto;
}
#admin--controller--visit_chart .controller_wrap .period_container select{
	border: 1px solid #d5d5d5;
	font-size: 0.9em; 
	color: #777777;
	margin-top:1em;
	padding:0.2em 1em;
	border-radius: 0.5em;
	box-sizing: border-box;
	cursor: pointer;
	outline:none;
}
	#admin--controller--visit_chart .controller_wrap .period_container select:focus{
		outline:none;
		border: 1px solid skyblue;
		box-sizing: border-box;
		box-shadow: 0 1px 10px #d5d5d5;
	}
#admin--controller--visit_chart .controller_wrap .period_container .divider_wrap{
	margin-left: 1.5em;
}
/*=====================================
 * 차트 : 기간별 보기 셀렉터
 =====================================*/

#admin--controller--visit_chart .list_wrap{
	position: relative;
	width: 100%;
	padding: 2em 0;
	min-height: 400px;
}
#admin--controller--visit_chart .list_wrap .list_container{
	width: 800px;
	margin: auto;
}
#admin--controller--visit_chart .list_wrap .list_container .list_header{
	font-size: 1.1em;
	font-weight: bold;
	color: #555555;
	border-top: 2px solid #d5d5d5;
	border-bottom: 2px solid #d5d5d5;
	box-sizing: border-box;
	padding: 0.5em 0;
	text-align: center;
	background: #fcfcfc;
}
#admin--controller--visit_chart .list_wrap .list_container .list_header .list_category{
	border-left: 1px solid #d5d5d5;
	box-sizing: border-box;
	width: 50%;
}
	#admin--controller--visit_chart .list_wrap .list_container .list_header .list_category:first-child{
		border: none;
	}
#admin--controller--visit_chart .list_wrap .list_container  .list_body{
	font-size: 0.8em;
	color: #777777;
}
#admin--controller--visit_chart .list_wrap .list_container .list_body .list_row{
	padding: 0.7em 0;
	border-bottom: 1px solid #d5d5d5;
	box-sizing: border-box;
}
#admin--controller--visit_chart .list_wrap .list_container .list_body .list_row .list_col{
	border-left: 1px solid #d5d5d5;
	box-sizing: border-box;
	width: 50%;
}
	#admin--controller--visit_chart .list_wrap .list_container .list_body .list_row .list_col:first-child{
		border: none;
	}
#admin--controller--visit_chart .list_wrap .list_container .list_body .list_row .col_2{
	text-align: center;
}
/*=====================================
 * 리스트 : 
 =====================================*/

#admin--controller--visit_chart .list_wrap .btns_wrap{
	position: absolute;
	left:50%;
	font-size: 5em;
	color: #d5d5d5;
	text-shadow: 0 1px 2px #999999;
}
#admin--controller--visit_chart .list_wrap .btns_wrap .btn{
	margin-top:100px;
	position: absolute;
}
	#admin--controller--visit_chart .list_wrap .btns_wrap .btn:hover{
		color: #999999;
		cursor: pointer;
		text-shadow: 0 3px 10px #999999;
	}
	#admin--controller--visit_chart .list_wrap .btns_wrap .btn:active{
		color: blue;
		cursor: pointer;
		text-shadow: 0 3px 10px blue;
	}
#admin--controller--visit_chart .list_wrap .btns_wrap .prev_btn{
	margin-left: -430px;
}
#admin--controller--visit_chart .list_wrap .btns_wrap .next_btn{
	margin-left: 420px;
}
/*=====================================
 * 리스트 : 페이지 이동 버튼 
 =====================================*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
