<div id="contents--happyborn--postpartumCare_program" class="ST_dis_none">
	
	<div class="mobile_nav_container nav_container  ST_posi_fixed ST_box_shadow_1 TB_style"
		data-TB_style="ST_visible_mobile_block"
	>
		<div class="title">
			프로그램보기<span class="nav_foldBtn fa fa-caret-down"></span>
		</div>
		<ul class="ST_dis_none">
			<li class="navBtn nav_active" data-week="1" data-time="1">1주차 오전</li>
			<li class="navBtn" data-week="1" data-time="2">1주차 오후</li>
			<li class="navBtn" data-week="2" data-time="1">2주차 오전</li>
			<li class="navBtn" data-week="2" data-time="2">2주차 오후</li>
		</ul>
	</div><!--/mobile nav-->
	
	
	<div class="metro_wrap ST_float_wrap">
		
		<div class="metro_fullContainer metro_1 TB_style" data-TB_metro_width="230_px"
			data-TB_style="ST_hidden_mobile"  
		>
			<div class="categories_wrap hidden-sm hidden-xs" >
				<div class="pc_nav_container nav_container ST_opacity_90_p ST_box_shadow_1">
					<div class="title">프로그램보기<span class="nav_foldBtn fa fa-caret-up"></span></div>
					<ul >
						<li class="navBtn nav_active" data-week="1" data-time="1">1주차 오전</li>
						<li class="navBtn" data-week="1" data-time="2">1주차 오후</li>
						<li class="navBtn" data-week="2" data-time="1">2주차 오전</li>
						<li class="navBtn" data-week="2" data-time="2">2주차 오후</li>
					</ul>
				</div>
			</div><!--/pc nav-->
		</div><!--/메트로_1-->
		
		<div class="TB_contents_parts parts_list_wrap" data-TB_contents_parts="contents--happyborn--postpartumCare_program--list">
			{{#each list}}
			<div class="space TB_style" data-TB_style="ST_response_mobile_margin-top_50px"></div>
				<div class="metro_fullContainer metro_3  program_detail ST_opacity_0 " data-TB_metro_width="500_px"
					data-TB_metro_m_hei="610_px"
				>
					<div class="cover metro_sync_height" >
						<div class="text_wrap ST_opacity_70_p" >
							<div class="text_day">
								{{#_if num '==' 1}}월요일{{/_if}}
								{{#_if num '==' 2}}화요일{{/_if}}
								{{#_if num '==' 3}}수요일{{/_if}}
								{{#_if num '==' 4}}목요일{{/_if}}
								{{#_if num '==' 5}}금요일{{/_if}}
								{{#_if num '==' 6}}토요일{{/_if}}
								{{#_if num '==' 7}}일요일{{/_if}}
							</div>
							<div class="text TB_el" data-TB_el_name="contents--happyborn--postpartumCare_program_list_text_{{week}}_{{time}}_{{num}}"></div>
						</div>
						<div class="bg_wrap">
							<div class="bg TB_el metro_sync_height" 
								data-TB_el_name="contents--happyborn--postpartumCare_program--programBg_{{week}}_{{time}}_{{num}}"
							></div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		
		<div class="metro_fullContainer metro_detail " data-TB_metro_width="500_px">
			<div class="text_wrap">
				<div class="detail_wrap TB_el" 
					data-TB_el_name="contents--happyborn--postpartumCare_program--detail"
				></div>
			</div>
		</div><!--/메트로_1-->
		
	</div>
</div>