body{
	font-family: 'Nanum Gothic';
}
#contents--happyborn--postpartumCare_program{
}
#contents--happyborn--postpartumCare_program a{
	text-decoration:none;
	/*color: #777777;*/
	color: #383FFF;
}
#contents--happyborn--postpartumCare_program a:visited{
	color: #383FFF;
	/*color: #777777;*/
}
#contents--happyborn--postpartumCare_program .metro_fullContainer {
	border: 3px solid #ffffff;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
}
#contents--happyborn--postpartumCare_program .metro_fullContainer .wysiwyg-popup{
	left:0 !important;
	color: #555555 !important;
}
#contents--happyborn--postpartumCare_program .metro_fullContainer .cover{
	width: 90%;
	margin: auto;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 7px #d5d5d5; 
	-moz-box-shadow: 0 1px 7px #d5d5d5; 
	-ms-box-shadow: 0 1px 7px #d5d5d5; 
	-o-box-shadow: 0 1px 7px #d5d5d5; 
	box-shadow: 0 1px 7px #d5d5d5; 
	max-width: 500px;
	-ms-max-width: 500px;
	position: relative;
}
/*=========================================
 * 공통
 =========================================*/


#contents--happyborn--postpartumCare_program .mobile_nav_container{
	z-index:5;
	background-color: #ffffff;
	top: 65px;
	width: 100%;
}
#contents--happyborn--postpartumCare_program .mobile_nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 100%;
}
#contents--happyborn--postpartumCare_program .mobile_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em; 
	font-size:2em;
	line-height: 0.5em;
}
#contents--happyborn--postpartumCare_program .mobile_nav_container ul{
	font-size: 0;
	line-height:0;
	text-align: center;
}
#contents--happyborn--postpartumCare_program .mobile_nav_container li{
	line-height:1em;
	display:inline-block;
	color: #555555; 
	text-align: center; 
	padding: 0.5em 0;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
	font-size: 12pt;
	width:100%;
}
#contents--happyborn--postpartumCare_program .mobile_nav_container .mobile_nav_active{
	background: #f7f7f7;
	color: #ff9547;

}
/*============================================
 * 네비게이션 : 모바일
 ============================================*/

#contents--happyborn--postpartumCare_program .categories_wrap .pc_nav_container{
	position: fixed;
	top: 80px;
	left: 20px;
	line-height: 1em;
	z-index:3;
}
#contents--happyborn--postpartumCare_program .categories_wrap .pc_nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 200px;
	z-index: 2;
}
#contents--happyborn--postpartumCare_program .categories_wrap .pc_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em;
	cursor: pointer;
}
#contents--happyborn--postpartumCare_program .categories_wrap .pc_nav_container ul{
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
}
#contents--happyborn--postpartumCare_program .categories_wrap .pc_nav_container ul li{
	padding: 1em 0;
	height: auto;
	background:#ffffff;
	box-sizing: border-box;
	border-bottom: 1px solid #d5d5d5;
	color: #555555;
	cursor: pointer;
	font-size: 0.9em;
	text-align: center;
}
	#contents--happyborn--postpartumCare_program .categories_wrap .pc_nav_container ul li:hover{
		text-decoration: underline;
	}
#contents--happyborn--postpartumCare_program .categories_wrap .pc_nav_container ul .nav_active{
	background: #f7f7f7;
	color: #ff9547;
}
/*============================================
 * 네비게이션:PC
 ============================================*/

#contents--happyborn--postpartumCare_program .metro_detail{
	margin-top: 80px;
	padding: 0 1.5em 1.5em 1.5em;
}
/*============================================
 * 설명
 ============================================*/

#contents--happyborn--postpartumCare_program .program_detail .bg_wrap{
	width:100%;
	top:0;
}
#contents--happyborn--postpartumCare_program .program_detail .bg_wrap .bg{ 
	min-height: 300px !important;
}
#contents--happyborn--postpartumCare_program .program_detail .bg_wrap .bg img{
	width:100%;
} 
#contents--happyborn--postpartumCare_program .program_detail .text_wrap{
	position: absolute;
	width:100%;
	background: #ffffff;
	z-index: 1;
	bottom: 0;
} 
#contents--happyborn--postpartumCare_program .program_detail .text_wrap .text_day{
	font-size: 1.2em;
	color: #888888;
	padding: 0.5em;
	margin-left: 1em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid;
	box-sizing:border-box;
	font-weight: bold;
	width: 90px;
}
#contents--happyborn--postpartumCare_program .program_detail .text_wrap .text{
	color: #222222;
}
/*============================================
 * 프로그램 디테일
 ============================================*/
 





























