<div class="templates--modal--m_modal_1" >
	<div class="modal_header TB_style"
		data-TB_style="ST_winHei_8_p"
	>	
		<div class="modal_header_container TB_style"
			data-TB_style="ST_winHei_8_p"
		>
			<div class="modal_header_title ">{{title}}</div>
			<div class="modal_header_closeBtn fa fa-2x fa-times-circle-o"></div>
		</div>
	</div><!--/헤더-->
	
	{{#if TB_contents_load}}
	<div class="modal_body TB_style {{TB_contents_load}}"
		data-TB_style="ST_winHei_92_p"
		data-TB_contents_category="{{import_category}}"
		data-TB_contents_type="{{import_type}}"
		data-TB_contents_file="{{import_file}}"
		data-TB_contents_sendData='{{sendData}}'
	></div><!--/바디에 컨텐츠를 로드할 경우-->
	{{else}}
		<div class="modal_body TB_style"
			data-TB_style="ST_winHei_92_p"
		></div>
	{{/if}}
	
	
	
</div>
