.templates--modal--m_modal_1{color: #FF7A19;}

.templates--modal--m_modal_1 .modal_header{
	position: relative;
	border-bottom: 1px solid ;
}
.templates--modal--m_modal_1 .modal_header
.modal_header_container{
	position: fixed;
	width:100%;
}
.templates--modal--m_modal_1 .modal_header .modal_header_title{
	position: absolute;
	font: bold 1.2em 'Malgun Gothic';
	text-align: center;
	left:0; top:0; right: 0; bottom: 0; margin: auto;
	width: 50%; height: 1.2em;
}
.templates--modal--m_modal_1 .modal_header .modal_header_closeBtn{
	position: absolute;
	right: 0.5em; top: 0; bottom: 0;
	margin: auto 0;
	width: 1em; height: 1em;
}
.templates--modal--m_modal_1 .modal_body{
	overflow-y:auto;
}
