#contents--dreamyacht--index{}

#contents--dreamyacht--index .r_1{
	position:relative;
	overflow-y:hidden;
}
#contents--dreamyacht--index .r_1 .container{
	position: relative;
	/*z-index:3;*/
	height: inherit;
}
#contents--dreamyacht--index .r_1 .container .space{
	height: 60px;
}
#contents--dreamyacht--index .r_1 .container .text_wrap{
	color: #ceb483;
	text-align: center;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	padding-top: 100px;
	/*height: 1300px;*/
}
#contents--dreamyacht--index .r_1 .container .text_wrap .sub_title{
	font-size: 2em;
	margin-top: 100px;
	margin-bottom: 0.5em;
}
#contents--dreamyacht--index .r_1 .container .text_wrap .title{
	font-size: 5.5em;
	font-weight: bold;
	letter-spacing: 0.2em;
	margin-bottom: 50px;
}
@media (max-width: 991px){
	#contents--dreamyacht--index .r_1 .container .text_wrap .sub_title{
		font-size: 1.2em;
		margin-top: 10px;
	}
	#contents--dreamyacht--index .r_1 .container .text_wrap .title{
		font-size: 3em;
		margin-bottom: 30px;
	}	
	#contents--dreamyacht--index .r_1 .container .text_wrap .desc{
		font-size: 1.1em;
	}
}
#contents--dreamyacht--index .r_1 .container .text_wrap .desc{
	font-size:1.5em;
	line-height: 2em;	
	margin-bottom: 150px;
}
#contents--dreamyacht--index .r_1 .container .icons_wrap{
	position : absolute;
	top: 600px;
	height: 1300px;
	width:100%;
}
@media(max-width: 991px){
	#contents--dreamyacht--index .r_1 .container .icons_wrap{
		top: 380px;
		height: 600px;
	}
	
}
#contents--dreamyacht--index .r_1 .container .icons_wrap .icons_container{
	width: 100%;
	text-align: center;
}
#contents--dreamyacht--index .r_1 .container .icons_wrap .icon_box {
	width: 100px
	position: relative;
	margin: auto;
}
#contents--dreamyacht--index .r_1 .container .icons_wrap .icon_box .icon{
	color: #5fabd5;
	background: #FFFFFF;
	font-size: 50px;
	border-radius: 50%;
	padding: 25px;
	/*transform: scale(0.8);*/
	margin-bottom: 20px;
}
	#contents--dreamyacht--index .r_1 .container .icons_wrap .icon_box .icon:hover{
		transform : scale(1.2) ;
		box-shadow : 0 2px 0 rgba(0,0,0, 0.5);
		background: #5fabd5;
		color: #ffffff;
	}
@media (max-width: 991px){
	#contents--dreamyacht--index .r_1 .container .icons_wrap .icon_box .icon{
		font-size: 33px;
		padding: 20px;
	}
}
#contents--dreamyacht--index .r_1 .container .icons_wrap .icon_box .text{
	width: 100%;
	color: #FFFFFF;
	text-align: center;
}
#contents--dreamyacht--index .r_1 .filter{
	height: inherit;
	position: absolute;
	top:0;
	left:0;
	background: #222222;
	/*z-index: 2;*/
	width: 100%;
}
#contents--dreamyacht--index .r_1 .main_img{
	background: url('/TB/img/contents/index/main.jpg') no-repeat center;
	height: 1200px;
	width:100%;
	position: absolute;
	left:0;
	top:0;
}
/*=============================================================
 * r_1 
 =============================================================*/


#contents--dreamyacht--index .r_2{
	position: relative;
	z-index: 5;
	background: #FFFFFF;
}
#contents--dreamyacht--index .r_2 .pic_container {
	
}
@media(max-width: 991px){
	#contents--dreamyacht--index .r_2 .title{
		font-size: 2em;
	}
}
#contents--dreamyacht--index .r_2 .pic_container .box{
	height: 180px;
	overflow: hidden;
	position: relative;
}
#contents--dreamyacht--index .r_2 .pic_container .detail{
	line-height: 2em;
}
#contents--dreamyacht--index .r_2 .pic_container .box .filter{
	top:0;
	left:0;
	width:100%;
	height: inherit;
}
#contents--dreamyacht--index .r_2 .pic_container .box img{
	min-width: 100%;
	height: 300px;
}
#contents--dreamyacht--index .r_2 .pic_container .box h6{
	position: absolute;
	width: 100%;
	height: 1em;
	top:0;
	bottom:0;
	margin: auto;
	font-weight: bold;
}
/*=============================================================
 * r_2
 =============================================================*/


#contents--dreamyacht--index .footer_wrap{
 	width:100%;
 	background: #dcdcdc;
 	position: relative;
 	z-index: 5;
 }
#contents--dreamyacht--index .footer_wrap p{
	line-height: 2em;
}
@media (max-width: 991px){
	#contents--dreamyacht--index .footer_wrap{
	}
}
/*=============================================================
 * footer
 =============================================================*/
