<div id="contents--dreamyacht--index">
	
	
	<div class="r_1 ST_section ST_section_full ST_posi_relative" >
		
		
		<div class="main_img TB_ui_parallaxScroll"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_1"}' 
		></div>
		<div class="filter ST_opacity_70_p "></div>
		<div class="container">
			<div class="space"></div>
			
			<div class="text_wrap ">
				<div class="sub_title ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					YACHT WORLD
				</div>
				<div class="title ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					DREAM YACHT
				</div>
				<div class="desc ST_opacity_0 TB_ani_show ST_posi_relative" >
					<div class="TB_el" data-TB_el_name="about--r1_main_text"></div>
				</div>
			</div>
			
			<div class="icons_wrap TB_ui_parallaxScroll"
				data-TB_ui_parallaxScroll='{"animation":"topReverse","container":".r_1"}'
			>
				<div class="icons_container ST_posi_relative ST_float_left_wrap">
					
					<div class="ST_col_4 ST_posi_relative  ">
						<div class="icon_box ">
							<a href="#!/exprience">
								<div class="icon fa fa-ship ST_opacity_0 TB_ani_show  " title="요트체험"
									data-TB_ani_show="scaleUp"
								></div>
								<div class="text">요트체험</div>
							</a>
						</div>
					</div>
					
					<div class="ST_col_4 ST_posi_relative">
						<div class="icon_box ">
							<a href="#!/sale">
								<div class="icon fa fa-won ST_opacity_0 TB_ani_show " title="요트판매"
									data-TB_ani_show="scaleUp"
								></div>
								<div class="text">요트판매</div>
							</a>
						</div>
					</div>
					
					<div class="ST_col_4 ST_posi_relative ">
						<div class="icon_box ">
							<a href="#!/education">
								<div class="icon fa fa-mortar-board ST_opacity_0 TB_ani_show " title="요트교육"
									data-TB_ani_show="scaleUp"
								></div>
								<div class="text">요트교육</div>
							</a>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		
	</div>
	<!--------------------------------------------
		메인 이미지
	-------------------------------------------->
	
	<div class="r_2 ST_section  ">
		<div class="container">
			<h2 class="title grey-text text-darken-2 center-align TB_ani_show ST_opacity_0"
				data-TB_ani_show="fadeInUp"
			>
				ABOUT<br/>
				<b>DREAMYACHT</b>
			</h2>
			<div class="detail grey-text text-darken-1 center-align TB_ani_show ST_opacity_0"
				data-TB_ani_show="fadeInUp"
			>
				<div class="TB_el" data-TB_el_name="about--r2_detail"></div>
			</div>
			
			<div class="pic_container section ST_float_left_wrap">
				<div class="ST_col_4 center-align">
					<div class="box">
						<img src="/TB/img/contents/index/yacht_info.jpg" class="TB_ui_parallaxScroll"
							data-TB_ui_parallaxScroll='{"animation":"top"}' 
						/>
						<div class="filter ST_hei_inherit ST_opacity_90_p ST_posi_absolute grey darken-4"></div>
						<h6 class=" white-text center-align" >Yacht Info</h6>
					</div>
					<a href="#!/yacht_album">
						<div class="button waves-effect ST_margin_top_2_em ST_button_small grey-text ST_button" title="요트 정보 보기">더보기</div>
					</a>
				</div>
				
				<div class="ST_col_4 center-align">
					<div class="box">
						<img src="/TB/img/contents/index/Story.jpg"  class="TB_ui_parallaxScroll"
							 data-TB_ui_parallaxScroll='{"animation":"top"}'
						 />
						<div class="filter ST_hei_inherit ST_opacity_90_p ST_posi_absolute grey darken-4"></div>
						<h6 class=" white-text center-align">About</h6>
					</div>
					<a href="#!/introduction">
						<div class="button waves-effect ST_margin_top_2_em ST_button_small grey-text ST_button" title="연혁">더보기</div>
					</a>
				</div>
				
				<div class="ST_col_4 center-align">
					<div class="box">
						<img src="/TB/img/contents/index/community.jpg" class="TB_ui_parallaxScroll"
							data-TB_ui_parallaxScroll='{"animation":"top"}'
						/>
						<div class="filter ST_hei_inherit ST_opacity_90_p ST_posi_absolute grey darken-4"></div>
						<h6 class=" white-text center-align">Community</h6>
					</div>
					<a href="#!/community">
						<div class="button waves-effect ST_margin_top_2_em ST_button_small grey-text ST_button" title="커뮤니티">더보기</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		링크
	-------------------------------------------->
	
	
	<div class="footer_wrap ST_section ">
		<div class="container center-align">
			<div class="grey-text text-darken-1">
				<div class="TB_el" data-TB_el_name="footer"></div>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		footer
	-------------------------------------------->
	
	
</div>