body {}

#TB_popupDialog{
	position: fixed;
	display: inline-block;
	width: 300px;
	word-break:break-all;
	line-height: 1em;
	z-index:100;
	background: #448DD2;
	box-shadow: 1px 1px #2369AB;
	text-align:center;
	color: #ffffff;
	border-radius: 5px;
	padding:1em;
	bottom: 30%;
	left: 50%;
	right : 0;
	margin:auto;
	margin-left: -150px;
	opacity: 0.9;
	-moz-opacity: 0.9;
	-ms-opacity: 0.9;
	-khtml-opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); /* IE 7 and olders */
	filter: alpha(opacity=90);
	-ms-filter: alpha(opacity=90);

}
/*==/팝업 다이얼로그==*/

.TB_el{
	position: relative;
	min-height: 1em !important;
	min-width:1em !important;
}

.TB_page_container{
	width: 100%;
}
/*==/페이지 컨데이너==*/