@charset "UTF-8";

.ST_wid_50_p{width:50%;}
.ST_wid_100_p{width:100%;}
.ST_wid_200_p{width:200%;}

.ST_wid_980{width:980px;}
.ST_max_wid_980{max-width:980px;}

.ST_hei_auto{height:auto;}
.ST_hei_1_em{height:1em;}
.ST_hei_inherit{height:inherit;}

.ST_hei_50{height:50px;}
.ST_hei_70{height:70px;}
.ST_hei_90{height:90px;}

.ST_top_0{top: 0;}

.ST_top_05_em{top: 0.5em;}
.ST_top_02_em{top: 0.2em;}

.ST_bottom_0{bottom: 0}

.ST_bottom_05_em{bottom: 0.5em;}
.ST_bottom_1_em{bottom: 1em;}
.ST_bottom_2_em{bottom: 2em;}

.ST_left_0{left: 0px;}

.ST_left_05_em{left: 0.5em;}
.ST_left_1_em{left: 1em;}

.ST_left_m_50_p{left: -50%;}
.ST_left_50_p{left: 50%;}

.ST_left_10{left: 10px;}
.ST_left_20{left: 20px;}
.ST_left_30{left: 30px;}
.ST_left_40{left: 40px;}
.ST_left_50{left: 50px;}

.ST_right_0{right: 0;}
.ST_right_10{right: 10px;}

.ST_right_05_em{right: 0.5em;}

.ST_dis_none{display: none;}
.ST_dis_block{display: block;}
.ST_dis_inline_block{display: inline-block;}

.ST_brd_1_s{border: 1px solid;}

.ST_pad_0_important{padding: 0 !important;}

.ST_pad_1_em{padding: 1em;}

.ST_pad_top_10{padding-top: 10px;}

.ST_pad_top_05_em{padding-top: 0.5em;}
.ST_pad_top_1_em{padding-top: 1em;}

.ST_pad_bottom_05_em{padding-bottom: 0.5em;}
.ST_pad_bottom_1_em{padding-bottom: 1em;}
.ST_pad_bottom_100_p{padding-bottom: 100%;}

.ST_pad_left_05_em{padding-left: 0.5em;}

.ST_margin_0{margin:0;}

.ST_margin_auto{margin:auto;}

.ST_margin_top_05_em{margin-top:0.5em;}
.ST_margin_top_1_em{margin-top:1em;}
.ST_margin_top_1_5_em{margin-top:1.5em;}
.ST_margin_top_2_em{margin-top:2em;}
.ST_margin_top_5_em{margin-top:5em;}
.ST_margin_top_6_em{margin-top:6em;}

.ST_margin_bottom_2_em{margin-bottom:2em;}

.ST_margin_top_30_px{margin-top:30px;}

.ST_margin_left_05_em{margin-left:0.5em;}
.ST_margin_left_1_em{margin-left:1em;}
.ST_margin_left_1_5_em{margin-left:1.5em;}

.ST_margin_right_05_em{margin-right:0.5em;}
.ST_margin_right_1_em{margin-right:1em;}
.ST_margin_right_1_5_em{margin-right:1.5em;}

.ST_col_000000{color: #000000;}
.ST_col_999999{color: #999999;}
.ST_col_eeeeee{color: #eeeeee;}
.ST_col_ff7a19{color: #ff7a19;}
.ST_col_ffffff{color: #FFFFFF;}
.ST_col_d5d5d5{color: #d5d5d5;}
.ST_col_f5f5f5{color: #f5f5f5;}
.ST_col_e84242{color: #e84242;}
.ST_col_5697CE{color: #5697CE;}

.ST_col_gray{color: gray;}
.ST_col_red{color: red;}
.ST_col_blue{color: blue;}

.ST_bg_000000{background-color: #000000;}
.ST_bg_363636{background-color: #363636;}
.ST_bg_e84242{background-color: #e84242;}
.ST_bg_4e4e4e{background-color: #4e4e4e;}
.ST_bg_5697CE{background-color: #5697CE;}
.ST_bg_ffffff{background-color: #ffffff;}

.ST_bg_red{background-color: red;}
.ST_bg_cornflowerblue{background-color: cornflowerblue;}
.ST_bg_indianred{background-color: indianred;}

.ST_cursor_pointer{cursor: pointer;}

.ST_brd_1_solid{border-bottom:1px solid;}

.ST_brd_top_1_solid{border-top: 1px solid;}
.ST_brd_top_2_solid{border-top: 2px solid;}

.ST_brd_bottom_1_solid{border-bottom:1px solid;}
.ST_brd_bottom_2_solid{border-bottom:2px solid;}

.ST_font_s_07_em{font-size: 0.7em;}
.ST_font_s_08_em{font-size: 0.8em;}
.ST_font_s_09_em{font-size: 0.9em;}
.ST_font_s_1_em{font-size: 1em;}
.ST_font_s_1_1_em{font-size: 1.1em;}
.ST_font_s_1_2_em{font-size: 1.2em;}
.ST_font_s_1_5_em{font-size: 1.5em;}
.ST_font_s_2_em{font-size: 2em;}
.ST_font_s_2_5_em{font-size: 2.5em;}
.ST_font_s_3_em{font-size: 3em;}

.ST_font_s_9{font-size: 9pt;}

.ST_font_weight_normal{font-weight: normal;}

.ST_posi_relative{position:relative;}
.ST_posi_absolute{position:absolute;}
.ST_posi_fixed{position:fixed;}

.ST_text_align_center{text-align:center;}
.ST_text_align_left{text-align:left;}
.ST_text_align_right{text-align:right;}

.ST_overflow_hidden{overflow: hidden;}
.ST_overflow_x_hidden{overflow-x: hidden;}

.ST_overflow_y_auto{overflow-y: auto;}

.ST_z-index_1{z-index: 1;}
.ST_z-index_2{z-index: 2;}
.ST_z-index_50{z-index: 50;}
.ST_z-index_51{z-index: 51;}
.ST_z-index_99{z-index: 99;}
.ST_z-index_100{z-index: 100;}

.ST_float_left{float:left;}

.ST_visibility_hidden{visibility:hidden;}
.ST_visibility_visible{visibility:visible;}

.ST_transition_all_03_s{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ST_opacity_0{
	opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-khtml-opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); /* IE 7 and olders */
	filter: alpha(opacity=0);
	-ms-filter: alpha(opacity=0);
}
.ST_opacity_20_p{
	opacity: 0.2;
	-moz-opacity: 0.2;
	-ms-opacity: 0.2;
	-khtml-opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; /* IE 8 */
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); /* IE 7 and olders */
	filter: alpha(opacity=20);
	-ms-filter: alpha(opacity=20);
}
.ST_opacity_50_p{
	opacity: 0.5;
	-moz-opacity: 0.5;
	-ms-opacity: 0.5;
	-khtml-opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); /* IE 7 and olders */
	filter: alpha(opacity=50);
	-ms-filter: alpha(opacity=50);
}
.ST_opacity_70_p{
	opacity: 0.7;
	-moz-opacity: 0.7;
	-ms-opacity: 0.7;
	-khtml-opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8 */
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); /* IE 7 and olders */
	filter: alpha(opacity=70);
	-ms-filter: alpha(opacity=70);
}
.ST_opacity_90_p{
	opacity: 0.9;
	-moz-opacity: 0.9;
	-ms-opacity: 0.9;
	-khtml-opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); /* IE 7 and olders */
	filter: alpha(opacity=90);
	-ms-filter: alpha(opacity=90);
}
.ST_opacity_100_p{
	opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-khtml-opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE 7 and olders */
	filter: alpha(opacity=100);
	-ms-filter: alpha(opacity=100);
}
/*==/불투명==*/


.ST_box_shadow_1{
	-webkit-box-shadow: 0 1px 2px #d5d5d5;
	-moz-box-shadow: 0 1px 2px #d5d5d5;
	-ms-box-shadow: 0 1px 2px #d5d5d5;
	-o-box-shadow: 0 1px 2px #d5d5d5;
	box-shadow: 0 1px 2px #d5d5d5;
}
.ST_box_shadow_2{
	-webkit-box-shadow: 0 0px 10px #d5d5d5;
	-moz-box-shadow: 0 0px 10px #d5d5d5;
	-ms-box-shadow: 0 0px 10px #d5d5d5;
	-o-box-shadow: 0 0px 10px #d5d5d5;
	box-shadow: 0 0px 10px #d5d5d5;
}
/*==/박스 그림자==*/

.ST_float_left_wrap:after{
	clear: both;
	display: block;
	content: '';
}
	.ST_float_left_wrap > div
	, .ST_float_left_wrap > span
	, .ST_float_left_wrap > li{
		display:block;
		float:left;
	}
.ST_float_left_margin_02_em > div
, .ST_float_left_margin_02_em > span
, .ST_float_left_margin_02_em > li{
	margin-left: 0.2em;
}
.ST_float_left_margin_05_em > div
, .ST_float_left_margin_05_em > span
, .ST_float_left_margin_05_em > li{
	margin-left: 0.5em;
}
	 .ST_float_left_margin_02_em > div:first-child
	, .ST_float_left_margin_02_em > span:first-child
	, .ST_float_left_margin_02_em > li:first-child
	, .ST_float_left_margin_05_em > div:first-child
	, .ST_float_left_margin_05_em > span:first-child
	, .ST_float_left_margin_05_em > li:first-child
	{
		margin-left: 0;
	}
/*==플롯 레프트==*/

.ST_align_center_middle{
	position: absolute;
	width:auto; 
	height: 1em;
	top:0; right:0; 
	bottom:0; left: 0;
	margin: auto;
}
.ST_valign_middle{
	position: absolute;
	top:0; bottom:0;
	height: auto;
	margin:auto;
}
/*==/absolute로 가운데 정렬==*/

/*== 클리어 픽스==*/
.ST_clearfix:after{
	clear: both;
	display: block;
	content: '';
}
/*== END: 클리어 픽스==*/

.ST_hover_underline:hover{ text-decoration: underline; }
.ST_hover_shadow:hover{ box-shadow: 0 0 15px #c5c5c5;}
.ST_hover_moveup{
	transition:  transform .2s ease-out, box-shadow 2s ease-out;
}
	.ST_hover_moveup:hover{
		cursor:pointer;
		transform : translate3d(0, -2px , 0);
		box-shadow: 0 2px 0 rgba(0,0,0, 0.5)
	}
.ST_hover_text_moveup{
	transition:  transform .2s ease-out, box-shadow 2s ease-out;
}
	.ST_hover_text_moveup:hover{
		cursor:pointer;
		transform : translate3d(0, -2px , 0);
		text-shadow: 0 2px 0 rgba(0,0,0, 0.5)
	}
/*== hover==*/

.ST_hide{
	height:0; width:0; border:none; 
	margin: 0; padding:0;
	outline:none;
	clip:rect(0,0,0,0);
	margin:-1px;
	overflow: hidden;
	position: absolute;
}
@media (max-width:991px){
	.ST_mobile_hide{
		height:0; width:0; border:none; 
		margin: 0; padding:0;
		outline:none;
		clip:rect(0,0,0,0);
		margin:-1px;
		overflow: hidden;
		position: absolute;
	}
}
/*================================================= 
 * label 태그 사용시 submit 버튼을 안보이게 하기 위한 속성.
 * IE 구버전에서 display:none이나 visibility : hidden 속성을 하면
 * 같이 클릭이 안된다. 
 * =================================================*/









