@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
	
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);/*font-family: 'Jeju Gothic', serif;*/
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);/*font-family: 'Jeju Hallasan', serif;*/

@import url(http://fonts.googleapis.com/css?family=Lobster);
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    height:100%;
    width:100%;
    font-family: "Noto Sans DemiLight", 'Nanum Gothic',sans-serif;
    font-weight: lighter;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

li{
	list-style: none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:visited{color:inherit;}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


#TB_globalTemplates_wrap{
	height:0;
	line-height:0;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
}
#TB_index_wrap{
	width: 100%;
	height: 100%;
}
#TB_backdrop_box{
	max-width: 97%;
	top: 50px;
}

body{
	scrollbar-highlight-color:#FFFFFF; 
	scrollbar-3dlight-color:#ffffff; 
	scrollbar-face-color:#A1BFCE; 
	scrollbar-shadow-color:#ffffff; 
	scrollbar-darkshadow-color:#ffffff; 
	scrollbar-track-color:#ffffff; 
	scrollbar-arrow-color:#A1BFCE;
}
/*==/IE용==*/

::-webkit-scrollbar {/*전체레이아웃*/
	width: 8px; 
	height: 8px; 
	background: #ffffff;
}
::-webkit-scrollbar-track-piece{/*트랙덮개*/
	display:none; 
} 
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {/*화살표*/
	display:none;
	/*height:3px*/
	/*display: block; 
	height:0;*/
	/*height: 10px;*/
	/*color: #222222;*/
}
::-webkit-scrollbar-track {/*스크롤바 뒷쪽*/
	background: #ffffff; 
	-webkit-border-radius: 10px;
	border-radius:10px; 
	/*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)*/
}
::-webkit-scrollbar-thumb {/*막대*/
	height: 50px; 
	width: 50px; 
	/*background: rgba(0,0,0,.2);*/ 
	background: #A1BFCE; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	/*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1);*/
}
/*==/webkit==*/

/*===============================================
 * 스크롤바
 ===============================================*/

#TB_loading_box .icon{
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    left:50%;
    margin-left: -0.6em;
    top: -4em;
}
/*===============================================
 * 로딩
 ===============================================*/


