.TB_ui_slider {
	position: relative;
}
.TB_ui_slider ul{
	position: relative;
	display:block;
	width: inherit;
	height: inherit;
	overflow: hidden;
}
.TB_ui_slider ul li {
	overflow: hidden;
}
.TB_ui_slider ul li > div{
}
/*==/슬라이드 기본 구조==*/

.TB_ui_slider .slider_ctrl{
	position: absolute;
	top: 50%;
	z-index: 2000;
	margin-top: -0.5em;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	font-size: 5em;
	color: #cecece;
	text-shadow : 1px 1px 1px #333333;
	opacity: 0.8;
}
	.TB_ui_slider .slider_ctrl:active{
		color:#FFFFFF;
		text-shadow: 0px 5px rgba(19, 19, 19, 0.67);
		opacity: 1;
	}
.TB_ui_slider .slider_next_btn {
	left: 5px;
}
.TB_ui_slider .slider_prev_btn {
	right: 5px;
}
/*==/컨트롤러==*/

.TB_ui_slider .slider_navigator{
	position: absolute;
	bottom: 5px;
	left:0;right:0;
	width: 100%;
	height:30px;
	margin: auto;
	transition: all 0.2s ease-in-out;
	color: #cecece;
	text-shadow : 1px 1px 1px #333333;
	opacity: 0.8;
	z-index: 2000;
	text-align: center;
}
.TB_ui_slider .slider_navigator .slider_navigator_container {
	display: inline-block;
}
.TB_ui_slider .slider_navigator .slider_navigator_container .slider_navigator_cover{
	cursor:pointer;
}
/*==/네비게이터==*/