.templates--albums--album_1{
}
.templates--albums--album_1 .list_wrap{
	max-width: 980px;
}
.templates--albums--album_1 .list_wrap li{
	padding:0 !important;
	height: 190px;
	position: relative;
/*	-webkit-transform: all 0.3s ease-in-out;
	-ms-transform: all 0.3s ease-in-out;
	transform: all 0.3s ease-in-out;*/	
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.templates--albums--album_1 .list_wrap li .cover_container{
	border: 1px solid #f5f5f5;
	box-shadow: 0 0 4px #dfdfdf;
	box-sizing: border-box;
	width: 90%;
	height: 170px;
	overflow: hidden;
	background: #ffffff;
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin:auto;
}
.templates--albums--album_1 .list_wrap li .image_container{
	height: 130px;
	background: #ffffff;
	overflow: hidden;
}
.templates--albums--album_1 .list_wrap li .image_container img{
	width: 100%;
}
.templates--albums--album_1 .list_wrap li .subject_container{
	line-height: 1em;
	background: #ffffff;
	text-align: center;
	position: relative;
	border-top: 1px solid #c5c5c5;
	box-sizing: border-box;
	height: 40px; 
	font-size: 0.8em;
	color: gray;
}
.templates--albums--album_1 .list_wrap li .bg{
	position: absolute;
	width:100%;
	height: 170px;
	z-index: 1;
	background: transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
	.templates--albums--album_1 .list_wrap li .bg:hover{
		opacity: 0.5;
		-moz-opacity: 0.5;
		-ms-opacity: 0.5;
		-khtml-opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
	     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); /* IE 7 and olders */
		filter: alpha(opacity=50);
		-ms-filter: alpha(opacity=50);
		background: #000000;
	}
.templates--albums--album_1 .list_wrap li .btns_container{
	position: absolute;
	width:100%;
	z-index: 2;
	text-align: center;
	line-height:1em;
	color: #ffffff;
}
	.templates--albums--album_1 .list_wrap li .btns_container > div{
		display:inline-block;
		border:1px solid #ffffff;
		border-radius: 5em;
		padding: 0.1em 0.5em;
		font-size: 0.8em
	}

.templates--albums--album_1 .moreBtn{
	width: 50%;
	padding: 1em 0;
	text-align: center;
	font-weight: bold;
	line-height: 1em;
	margin:auto;
	margin-top:1em;
	margin-bottom:1em;
	cursor: pointer;
}
/*=========================================================
 * 더보기 버튼
 =========================================================*/












































