<div class="templates--albums--album_1" >
	<!--<div class="search_wrapr">
		<div class="search_container">
			<form class="TB_form">
				<span class="fa "></span>
				<span>
					<input type="text" />
				</span>
				<input type="submit" />
				<span></span>
			</form>
		</div>
	</div>-->
	<ul class="list_wrap container">
		{{#each list}}
		<li class="col-sm-3 col-xs-12">
			<div class="cover_container" >
				<div class="bg ST_opacity_0">
					<div class="btns_container ST_align_center_middle">
						<div class="btn coptyBtn" data-src="{{src}}">Src</div>
						<div class="btn delBtn" data-sendData='{
							"reqQuery" : "{{../delQuery}}",
							"src":"{{src}}"
						}'  >Delete</div>
					</div>
				</div>
				<div class="image_container">
					<img clss="image" src="{{../TB_root_path}}{{src}}" />
				</div>
				<div class="subject_container">
					<div class="subject ST_align_center_middle">
						{{name}}
					</div>
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
	<div class="moreBtn ST_theme">더보기</div>
</div>
