<div id="contents--happyborn--greeting" class="ST_dis_none" >
	<div class="metro_wrap">
		<div class="metro_fullContainer " data-TB_metro_width="50_%"
			data-TB_metro_m_hei="450_px"
		>
			<!-- <div class="TB_style" data-TB_style="ST_response_mobile_height_60px"></div> -->
			<div class="space"></div>
			<img class="doctor_pic TB_style" 
				data-TB_style="ST_response_mobile_position_relative||ST_response_mobile_width_100%||ST_response_mobile_left_0||ST_response_mobile_margin-left_0"
			   src="{{root_path}}img/contents/greeting/doctor_1.png" alt="이재규 원장님" 
			   title="이재규 원장님" 
		   />
		</div>
		
		<div class="metro_fullContainer text_wrap" data-TB_metro_width="50_%"		>
			<div class="text_container">
				<div class="greeting_title">
					<h2>
						가족같이 <b>따뜻한 마음</b>과<br/>
						 <b>친절</b>로 <b>행복</b>을 드리는
					 </h2>
					<h1>여성 전문 병원</h1>
				</div>
				
				<div class="detail_text_container">
					<div class=" TB_el "
						data-TB_el_name="contents--happyborn--greeting--detail"
						data-TB_el_attr='{"name" : "contents--happyborn--greeting--detail","type":"text"}'
					></div>
				</div>
			</div>
		</div>
		
	</div>
</div>