#contents--happyborn--greeting{
	
}
#contents--happyborn--greeting .metro_fullContainer{
	padding: 0 !important;
	/*min-height: 600px;*/
}
#contents--happyborn--greeting .metro_fullContainer .space{
	height: 50px;
}
#contents--happyborn--greeting .metro_fullContainer .doctor_pic{
	/*width:100%;*/
	position: absolute;
	display:block;
	left: 50%;
	margin-left: -480px;
}
#contents--happyborn--greeting  .text_container{
	margin-top: 100px;
}
#contents--happyborn--greeting  .text_container .greeting_title{
	max-width: 350px;
	margin: auto;
	text-align: center;
	padding-bottom: 0.85em;
	border-bottom: 1px solid #d5d5d5;
}
#contents--happyborn--greeting  .text_container .greeting_title h2{
	font: 1.3em 'Nanum Gothic';
	margin-bottom: 0.8em; 
	color: #999999;
	line-height: 1.5em;
}
#contents--happyborn--greeting  .text_container .greeting_title h2 b{
	color: #ff9547;
	font-size: 1.2em;
}
#contents--happyborn--greeting  .text_container .greeting_title h1{
	font: bold 2em  'Nanum Gothic';
	color: #f24bb2;
}
#contents--happyborn--greeting  .text_container .detail_text_container{
	max-width: 350px;
	margin: auto;
}
#contents--happyborn--greeting  .text_container .wysiwyg-editor{
	min-height: 3em !important;
	text-align: left;
	color: #777777;
	line-height: 1.8em;
	font-size: 0.8em;
	margin-top: 1.5em;
	margin-left:1em;
	word-break:break-all;
	padding-bottom:3em;
}