<div id="contents--happyborn--index"  class="ST_dis_none " >
	<div class="metro_wrap ST_float_wrap " >
		{{#if @root.TB_isAdmin}}
		<div class="metro_container metro_mainSlider" >
			<div class="index_slider "
				data-TB_contents_src="templates--slider--slider_1"
				data-TB_contents_sendData='{"name":"index--mainSlider"}'
			></div>
		</div>
		<!--/index_slider-->
		{{/if}}
		
		<div class="metro_container metro_1">
			<div class="metro_cover">
				<a href="#!/introduction_building" data-tb_link_page="introduction_building">
					<div class="box box_h_2">
						<div class="box_title">둘러보기</div>
						<div class="box_title_bg"></div>
						<img src="{{TB_root_path}}img/contents/index/hospital_image.png" alt="둘러보기" title="둘러보기" />
					</div>
				</a>
				<a href="#!/introduction_disinfection" data-tb_link_page="introduction_disinfection">
				<div class="box box_s defense">
					<div class="box_title">방역시스템</div>
					<div class="box_icon fa fa-shield"></div>
				</div>
				<a href="#/introduction_greeting" data-tb_link_page="introduction_greeting">
					<div class="box box_s greeting">
						<div class="box_icon fa fa-user-md"></div>
						<div class="box_title">인사말</div>
					</div>
				</a>
				<div class="doctor_list_wrap">
					{{#each doctors}}
						<a href="#!/introduction_doctors" data-tb_link_page="introduction_doctors">
							<div class="box box_s">
								{{# _if name '==' ../today_doctor/doctor}}
								<div class="today_doctor ST_opacity_90_p">당직</div>
								{{/ _if}}
								<div class="box_title">{{name}} 원장님</div>
								<div class="box_title_bg "></div>
								<img src="{{../TB_root_path}}{{file_src}}" alt="{{department}} {{name}} 원장님" title="{{department}} {{name}} 원장님" />
							</div>
						</a>
					{{/each}}
				</div>
			</div>
		</div><!--/메트로_1-->
		
		<div class="metro_container metro_2">
			<div class="metro_cover">
				<div class="box box_w_2">
					<ul class="list_container notice TB_contents_parts"
						data-TB_contents_parts="contents--happyborn--index--notice_list"
					>
						{{#each notice_list.list}}
						<li>
							<a href="#!/community_notice?no={{no}}&page=1&_group={{_group}}" data-tb_link_page="community_notice">
								<span class="list_style">.&nbsp;</span>
								<span class="subject">{{substr subject 0 14 '..'}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
					<div class="box_title"><a href="#!/community_notice">공지사항</a></div>
				</div>
				<div class="box box_w_2 qna ">
					<ul class="list_container qna TB_contents_parts"
						data-TB_contents_parts="contents--happyborn--index--qna_list"
					>
						{{#each qna_list.list}}
						<li>
							<a href="#!/community_qna?no={{no}}&page=1&_group={{_group}}" data-tb_link_page="community_qna">
								<span class="list_style">.&nbsp;</span>
								<span class="subject">{{substr subject 0 14 '..'}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
					<div class="box_title"><a href="#!/community_qna">온라인문의</a></div>
				</div>
				<div class="box box_w_2 postscript ">
					<ul class="list_container qna TB_contents_parts"
						data-TB_contents_parts="contents--happyborn--index--postscript_list"
					>
						{{#each postscript_list.list}}
						<li>
							<a href="#!/community_postscript?no={{no}}&page=1&_group={{_group}}" data-tb_link_page="community_postscript">
								<span class="list_style">.&nbsp;</span><span class="subject">{{substr subject 0 14 '..'}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
					<div class="box_title">
						<a href="#!/community_postscript" data-tb_link_page="community_postscript">이용후기</a>
					</div>
				</div>
				<a href="#!/treatment_time" data-tb_link_page="treatment_time">
					<div class="box box_s office_hours">
						<div class="box_icon fa fa-clock-o"></div>
						<div class="box_title">진료시간</div>
					</div>
				</a>
				<a href="#!/introduction_map" data-tb_link_page="introduction_map">
					<div class="box box_s map">
						<div class="box_icon fa fa-map-marker"></div>
						<div class="box_title">오시는 곳</div>
					</div>
				</a>
			</div>
		</div><!--/메트로_2-->
		
		<div class="metro_container metro_3">
			<div class="metro_cover">
				<a href="#!/treatment_obstetrics" data-tb_link_page="treatment_obstetrics">
					<div class="box box_h_2">
						<div class="box_title">산과클리닉</div>
						<div class="box_title_bg "></div>
						<img src="{{TB_root_path}}img/contents/index/obstetrics.png" alt="산과 클리닉" title="산과 클리닉" />
					</div>
				</a>
				<a href="#!/treatment_gynecology" data-tb_link_page="treatment_gynecology">
					<div class="box box_h_2">
						<div class="box_title">부인과클리닉</div>
						<div class="box_title_bg "></div>
						<img src="{{TB_root_path}}img/contents/index/gynecology.png" alt="부인과 클리닉" title="부인과 클리닉" />
					</div>
				</a>
				<a href="#!/treatment_examine" data-tb_link_page="treatment_examine">
					<div class="box box_w_2">
						<div class="box_icon fa fa-stethoscope"></div>
						<div class="box_title">검진</div>
					</div>
				</a>
				<a href="#!/treatment_etc" data-tb_link_page="treatment_etc">
					<div class="box box_w_2">
						<div class="box_icon fa fa-medkit"></div>
						<div class="box_title">특수 클리닉</div>
					</div>
				</a>
			</div>
		</div><!--/메트로_3-->
		
		<div class="metro_container metro_4">
			<div class="metro_cover">
				<a href="#!/sanmo_introduce" data-tb_link_page="sanmo_introduce">
					<div class="box box_s">
						<div class="box_icon fa fa-gittip"></div>
						<div class="box_title">산모문화센터</div>
					</div>
				</a>
				<a href="#!/postpartumCare_greeting" data-tb_link_page="postpartumCare_greeting">
					<div class="box box_s">
						<div class="box_icon fa fa-leaf"></div>
						<div class="box_title">산후조리센터</div>
					</div>
				</a>
				<a href="#!/gallery_baby" data-tb_link_page="gallery_baby">
					<div class="box box_w_2">
						<div class="box_icon fa fa-smile-o"></div>
						<div class="box_title">신생아 갤러리</div>
					</div>
				</a>
				<a href="#!/gallery_supersonicWave" data-tb_link_page="gallery_supersonicWave">
					<div class="box box_s">
						<div class="box_icon fa fa-heartbeat"></div>
						<div class="box_title">초음파 갤러리</div>
					</div>
				</a>
			</div>
		</div><!--/메트로_4-->
		
		<div class="metro_container metro_5">
			<div class="info_wrap">
				<div class="title"><span>Info</span></div>
				<div class="info TB_el"
					data-TB_el_name="contents--happyborn--index--company_info"
					data-TB_el_sendData='{"name":"contents--happyborn--index--company_info","type":"text"}'
				></div>
			</div>
		</div>
		
	</div>
</div>