#contents--happyborn--index{
	/*margin-top: 60px;*/
}

#contents--happyborn--index .metro_container{
	top: 60px !important;
}
/*============================================
 *top 위치 조정
 ============================================*/
#contents--happyborn--index .metro_mainSlider{
	overflow-x: visible !important;
	background: #ff9547;
	padding: 0;
}
#contents--happyborn--index .metro_mainSlider .thumbnail_wrap > div{
	width: 100%;
}
/*============================================
 *메인 슬라이더
 ============================================*/

#contents--happyborn--index .doctor_list_wrap .today_doctor{
	font-size: 0.7em;
	position: absolute;
	right: 5px;
	top: 5px;
	background: #FB8430;
	color: #ffffff;
	padding: 0.2em;
	border-radius: 0.5em 0.5em 0.5em 0;
	-webkit-box-shadow: 0.2em 0.2em #DA6B19;
	-moz-box-shadow: 0.2em 0.2em #DA6B19;
	-ms-box-shadow: 0.2em 0.2em #DA6B19;
	-o-box-shadow: 0.2em 0.2em #DA6B19;
	box-shadow: 0.2em 0.2em #DA6B19;
}
/*=======================================================
 * 금일 당직 표시
 =======================================================*/

#contents--happyborn--index .metro_2 a{
	color: #ffffff;
	text-decoration: none;
}
#contents--happyborn--index .metro_2 .list_container li{
	color: #ffffff;
	font-size: 0.7em;
	font-family: 'Nanum Gothic';
	margin-top:0.5em;
	text-align: left;
	margin-left:1em;
}
	#contents--happyborn--index .metro_2 .list_container li .subject:hover{
		text-decoration: underline;
		cursor: pointer;
	}
/*=======================================================
 * 게시판 리스트
 =======================================================*/


#contents--happyborn--index .metro_5 .info_wrap{
	padding:1em;
	padding-top:0;
	position: relative;
}
#contents--happyborn--index .metro_5 .title{
	margin-bottom:1em;
	text-align: left;
	box-sizing: border-box;
	padding-bottom: 1em;
	border-bottom: 1px solid #999999;
}
#contents--happyborn--index .metro_5 .title span{
	color: #777777;
	font-size: 1.5em;
	
}
#contents--happyborn--index .metro_5 .info{
	text-align: left;
	color: #999999;
	font-size: 0.7em;
	line-height: 2em;
}
#contents--happyborn--index .metro_5 .wysiwyg-popup{
	left: 0 !important;
}
/*=======================================================
 * 병원 정보
 =======================================================*/