<div id="contents--happyborn--sanmo_introduce" class="ST_dis_none">
	<div class="metro_wrap ST_float_wrap">
		
		<div class="metro_fullContainer metro_1" data-TB_metro_width="800_px">
			<div class="cover ST_posi_relative  TB_style" data-TB_style="ST_parentHei_100_p" >
				
				<div class="bg TB_el  metro_sync_height metro_full_pic"
					data-TB_el_name="contents--happyborn--sanmo_introduce--main_pic"
				></div>
			</div>
		</div><!--/메인 그림-->
		
		<div class="metro_fullContainer metro_2 ST_opacity_0" data-TB_metro_width="500_px">
			<div class="text_wrap">
				<div class="TB_el"
					data-TB_el_name="contents--happyborn--sanmo_introduce--text" 
				></div>
			</div>
		</div><!--/메트로_2-->
		
		
	</div>
</div>