body{
	font-family: 'Nanum Gothic';
}
#contents--happyborn--sanmo_introduce{
}
#contents--happyborn--sanmo_introduce a{
	text-decoration:none;
	/*color: #777777;*/
	color: #383FFF;
}
#contents--happyborn--sanmo_introduce a:visited{
	color: #383FFF;
	/*color: #777777;*/
}
#contents--happyborn--sanmo_introduce .metro_fullContainer {
}
#contents--happyborn--sanmo_introduce .metro_fullContainer .dec_wrap{
	position: absolute;
	width:100%;
	top: 50%;
	margin: auto;
	margin-top: -12em;
}
#contents--happyborn--sanmo_introduce .metro_fullContainer .dec_wrap .subject{
	padding: 0 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	color: #444444;
}
#contents--happyborn--sanmo_introduce .metro_fullContainer .dec_wrap .icon_wrap{
	height: 140px; 
	position: relative;
}
#contents--happyborn--sanmo_introduce .metro_fullContainer .dec_wrap .icon_container{
	position: absolute;
	width: 100%;
}
#contents--happyborn--sanmo_introduce .metro_fullContainer .dec_wrap .icon{
	font-size: 6em;
	display:inline-block;
	color: #555555;
}
#contents--happyborn--sanmo_introduce .metro_fullContainer .dec_wrap .dec_container{
	margin-top: 5em;
	font-size: 1em;
	color: #777777;
}
#contents--happyborn--sanmo_introduce .metro_fullContainer .dec_wrap .dec_container b{
	color: #ff9547;
}
#contents--happyborn--sanmo_introduce .metro_fullContainer .dec_wrap .dec_container > div{
	margin-top :1em;
	line-height: 2em;
}

/*=========================================
 * 공통
 =========================================*/

@media (max-width: 991px){
	#contents--happyborn--sanmo_introduce .metro_1{
		height: 400px !important;
	}
}
/*============================================
 * 모바일
 ============================================*/

#contents--happyborn--sanmo_introduce .metro_1{
}
#contents--happyborn--sanmo_introduce .metro_1 .bg img{
	position: absolute;
	top:0;left:0;bottom:0;right:0;
	margin:auto;
	width:100%;
}
/*============================================
 * 메인 그림
 ============================================*/


#contents--happyborn--sanmo_introduce .metro_2 .text_wrap{
	margin-top: 80px;
}
/*============================================
 * 설명글
 ============================================*/




























