<div id="contents--seayacht--footer" class="ST_posi_relative ST_wid_100_p">
	<div class="ST_title_1 ST_text_align_left">Info</div>
	<div class="TB_el ST_text_align_left ST_col_999999 ST_font_s_08_em " 
		data-TB_el_name="contents--seayacht--footer--text"></div>
</div>