<div id="admin--controller--index" class="hide-on-med-and-down">
	
		<div class="top_header container TB_contents_parts " data-TB_contents_parts="top_header">
			<script type="x-template-handlebars">
				<ul class="ST_dropdown card">
					<li class=" ">
						<span class="ST_dropdown_header">
							<a class="fa fa-close "></a>
						</span>
					</li>
					<li class=" ">
						<a class="ST_dropdown_header">환경설정</a>
						<div class="ST_dropdown_body ">
							<ul>
								<li>기본환경설정</li>
								<li>메뉴</li>
							</ul>
						</div>
					</li>
					<!--
					<li class=" ">
						편집
						<ul>
							<li>레이아웃</li>
							<li>섹션</li>
							<li>엘리먼트</li>
						</ul>
					</li>
					<li class=" ">
						관리
						<ul>
							<li>게시판관리</li>
						</ul>
					</li>
					<li class=" ">
						부가서비스
						<ul>
							<li>sms</li>
							<li>구글맵</li>
						</ul>
					</li>
					<li class=" ">
						SEO
						<ul>
							<li>접속통계</li>
						</ul>
					</li>
					-->
				</ul>
			</script>
		</div>
	<!-------------------------------------------------------------
	   탑 메뉴바
		------------------------------------------------------------>
	
	
	<div class="index_nav_wrap">
		<div class="nav_closeBtn_wrap fa fa-bars">
			<div class="nav_closeBtn fa fa-caret-down ST_text_align_right" title="폴딩"></div>
		</div>
		<ul class="nav_list_cover">
			
			<li class="reload" title="리로드" data-TB_admin_menu='reload'>
				<span class="fa fa-2x fa-refresh"></span>
			</li><!--/사이트 방문 현황-->
			
			<li class="TB_contents_import" title="맵"
				data-TB_contents_src="admin--controller--map" 
				data-TB_contents_target="#admin_controller_contents"
				data-TB_contents_sendData="?map=true"
			>
				<span class="fa fa-2x fa-sitemap"></span><!--/맵 컨트롤러-->
			</li>
			
			<!--
			<li class="TB_contents_import directEl_imageBtn " title="다이렉트 이미지"
				data-TB_contents_src="admin--controller--element" 
				data-TB_contents_target="#admin_controller_contents"
				data-TB_contents_sendData="?type=image"
			>
				<span class="fa fa-2x fa-picture-o"></span>
			</li><!--/다이렉트 이미지-->
			
			<!--
			<li class="TB_contents_import directEl_imageBtn " title="다이렉트 엘리먼트"
				data-TB_contents_src="admin--controller--element" 
				data-TB_contents_target="#admin_controller_contents"
				data-TB_contents_sendData="?type=element"
			>
				<span class="fa fa-2x fa-code"></span>
			</li><!--/다이렉트 엘리먼트-->
			
			<li class="TB_contents_import directEl_imageBtn " title="다이렉트 텍스트"
				data-TB_contents_src="admin--controller--element" 
				data-TB_contents_target="#admin_controller_contents"
				data-TB_contents_sendData="?type=text"
			>
				<span class="fa fa-2x fa-font"></span>
			</li><!--/다이렉트 텍스트-->
			
			<li class="slider_edit_btn" title="슬라이더 수정">
				<span class="fa fa-2x fa-slideshare"></span>
			</li><!--/슬라이더 수정-->
			
			<li class="TB_contents_import" title="방문현황"
				data-TB_contents_src="admin--controller--visit_chart" 
				data-TB_contents_target="#admin_controller_contents"
				data-TB_contents_sendData="?visit=true"
			>
				<span class="fa fa-2x fa-pie-chart"></span>
			</li><!--/사이트 방문 현황-->
			
			<!--
			<li class="TB_contents_import" title="게시판 관리"
				data-TB_contents_src="admin--controller--bbs_ctrl" 
				data-TB_contents_target="#admin_controller_contents"
				data-TB_contents_sendData="?bbs=admin"
			>
				<span class="fa fa-2x fa-list-alt"></span>
			</li><!--/게시판 관리-->
			
			<li class="logout" title="로그아웃" data-TB_admin_menu='logout'>
				<span class="fa-stack fa-lg logout_icon">
					<span class="fa fa-square-o fa-stack-2x"></span>
					<span class="fa fa-arrow-right fa-stack-1x"></span>
				</span>
			</li><!--/로그아웃-->
			
		</ul>
	</div>
	<!--/nav-->
	
	<div class="index_ctrl_wrap ST_dis_none " >
		<div class="draggable_handle fa fa-bars">
			<div class="fa fa-caret-down foldBtn TB_ani"
				data-TB_ani='[{
					"name" : "admin--controller--index-ctrl_wrap_fold",
					"target" : "closest_find",
					"closestTarget" : ".index_ctrl_wrap",
					"findTarget" : "#admin_controller_contents",
					"ani" : {
						"click" : "toggle"
					} 
				}]'
			></div>
		</div>
		<div id="admin_controller_contents" ></div>
	</div>
	<!--/컨텐츠-->
	
</div>