#admin--controller--index{
/*	position: relative;
	line-height:1em;
	left:0; top:0;
	height:0; width:0;*/
}

#admin--controller--index .top_header{
	position: relative
}



#admin--controller--index .index_nav_wrap{
	position: fixed;
	left: 2px;
	 top: 2em;
	background: #ff9547;
	border-radius: 0.3em;
	padding : 0.6em 0.2em 0.2em 0.2em;
	width: 3em;
	z-index: 2;
}
#admin--controller--index .index_nav_wrap .nav_closeBtn_wrap{
	position: relative; 
	height: 1em; 
	margin-top:-0.5em; 
	text-align:center;
	cursor: move;
	width: 100%;
	color: white;
}
#admin--controller--index .index_nav_wrap .nav_closeBtn{
	position: absolute; right: 0em;
	cursor:pointer; color: #FFFFFF;
}

#admin--controller--index .index_nav_wrap .nav_list_cover{
	/*display:none;*/
}
#admin--controller--index .index_nav_wrap .nav_list_cover li{
	background: #FFFFFF;
	padding: 0.5em; 
	border-radius: 0.2em;
	margin-top: 0.2em;
	cursor: pointer;
	color: #353535;
	text-align:center;
}
/*==/맵==*/

#admin--controller--index .index_ctrl_wrap{
	border-radius: 0.2em;
	cursor:move;
	left: 5.5em; 
	top:2em;
	box-shadow: 0 0 15px #d5d5d5;
	border: 1px solid #d5d5d5;
	position: absolute !important;
}
#admin--controller--index .index_ctrl_wrap .draggable_handle{
	background: #ff9547;
	width: 100%;
	height: 1em;
	position: relative;
	color: #ffffff;
	text-align: center;
	min-width: 10em;
	padding: 0.2em 0;
}
#admin--controller--index .index_ctrl_wrap .draggable_handle .foldBtn{
	position: absolute;
	right: 1.5em;
	cursor:pointer;
}
#admin--controller--index .logout_icon{
	margin-left: -0.2em;
}
/*==========================================
 * 로그아웃 아이콘
 ==========================================*/


#admin_controller_contents{
	overflow-y: scroll;
	cursor:default;
	/*padding: 0.5em;*/
	background: #FFFFFF;
	width: auto;
	height: auto;
}
/*==/컨텐츠 ==*/






















































