<div id="contents--happyborn--gallery_supersonicWave">
	
	<div class="metro_wrap">
		<div class="metro_fullContainer">
			<div class="top_space"></div>
			<div class="dec">
				아이폰은 동영상 재생을 지원하지 않습니다.<br/>
				안드로이드는 <a href="market://details?id=com.mxtech.videoplayer.ad">동영상 재생 플레이어</a>를<br/>
				다운 받은뒤 시청해주십시요.<br/>
				(최대 3개월 보관)<br/>
				<a class="join_link" href="http://mv.inicode.net/member/member2.htm?group=babysu_happyborn" target="_blank">
				> 가입하기 
				</a>
			</div>
		</div><!--/설명글-->
		
		<div class="metro_fullContainer ">
			<div class="top_space"></div>
			<div class="login_form_wrap ST_posi_relative">
				<form class="TB_form ST_m_form_1"
					data-TB_form_beforeAc='{"sharedFunc":"contents--happyborn--gallery_supersonicWave--login"}'
				>
					<div class="m_form_item">
						<span class="m_form_name id_text"> 아이디 </span>
						<span class="m_form_input id_input">
							<input type="text" name="id"  class="id" />
						</span>
					</div>
					<div class="m_form_item">
						<span class=" m_form_name id_text"> 패스워드 </span>
						<span class=" m_form_input id_input">
							<input type="password" name="password" class="password" />
						</span>
					</div>
					<div class="ST_m_btn_wrap ">
						<label class="ST_cur_pointer">
							<div class="ST_m_btn_1 submit_btn ST_theme">	확인</div>
							<input type="submit" class="" />
						</label>
					</div>
				</form>
			</div>
			<!--=====================================
				/로그인 폼
				--===================================-->
				
			<div class="list_form">
				<div class="list_wrap ST_dis_none ST_m_list_3 ">
					<ul>
					</ul>
					<div class="list_add_wrap ST_list_btn_wrap ">
						<div class="list_add_btn ST_list_btn ST_theme"> 더보기</div>
					</div>
				</div>
			</div><!--/리스트-->
		</div>
		
	</div>
	
</div>