#contents--happyborn--gallery_supersonicWave{}

#contents--happyborn--gallery_supersonicWave .dec{
	font-size: 1em;
	color: #777777;
	line-height: 1.8em;
}
#contents--happyborn--gallery_supersonicWave .dec{
}
#contents--happyborn--gallery_supersonicWave .join_link{
	text-decoration: none;
	font-size: 0.9em;
}
	#contents--happyborn--gallery_supersonicWave .join_link:visited{
		color: blue;
	}
/*==============================================
 * 설명 
 ==============================================*/

#contents--happyborn--gallery_supersonicWave .login_form_wrap .m_form_item{
	margin-top: 30px;
}
#contents--happyborn--gallery_supersonicWave .login_form_wrap .m_form_item .m_form_name{
	width: 90px;
}
#contents--happyborn--gallery_supersonicWave .login_form_wrap .m_form_item .m_form_input {
	width:50%
}
#contents--happyborn--gallery_supersonicWave .login_form_wrap .ST_m_btn_wrap{
	margin-top: 50px;
}
/*==============================================
 * 로그인 
 ==============================================*/

#contents--happyborn--gallery_supersonicWave .metro_fullContainer{
	overflow: auto !important;
	
}
#contents--happyborn--gallery_supersonicWave .list_metro{
	/*overflow-y:auto !important;*/
}
#contents--happyborn--gallery_supersonicWave .list_wrap{
}
#contents--happyborn--gallery_supersonicWave .list_wrap .list_item{
	
}
/*==============================================
 * 리스트 
 ==============================================*/
