<div id="m_index_1_container">
	
	<div class="location_wrap TB_style TB_contents_load"
		data-TB_contents_src = "contents--m_location--home"
		data-TB_style="ST_winHei_8_p"
	>로케이션</div><!--/로케이션-->
	
	<div class="contents_wrap TB_style TB_contents_load"
		data-TB_contents_src="contents--m_dreamyacht--home"
		data-TB_style="ST_winHei_92_p"
	></div><!--/컨텐츠-->
	
	<div class="nav_wrap TB_style TB_contents_load"
		data-TB_contents_src="templates--m_nav--nav_1"
		data-TB_contents_sendData="navMenu"
		data-TB_style="ST_winHei_100_p"
	>네비</div><!--/네비게이션-->
	
</div>