#m_index_1_container{
	position: relative;
}
#m_index_1_container .contents_wrap{
	position: relative;
	width:100%;
}
/*==/컨텐츠==*/

#m_index_1_container .location_wrap{
	width: 100%;
	background-color: #FF9547;
	color: #FFFFFF; 
}
/*==/로케이션 ==*/

#m_index_1_container .nav_wrap{
	position:fixed;
	width: 60%;
	left:100%;
	top:0;
	z-index:100;
	background: #FFFFFF;
}
/*==/네비게이션==*/