<div id="layout--vertical--default">
	
	<div id="header_wrap" class="header_wrap TB_contents_load " 
		data-TB_contents_src="contents--dreamyacht--header"
	></div>
	<!--/header-->	
	
	<div id="contents_wrap" class="contents_wrap"></div>
	<!--/contents-->
	
</div>