#contents--happyborn--map{
}
#contents--happyborn--map .metro_container,
#contents--happyborn--map .metro_fullContainer{
	padding:0;
}
#contents--happyborn--map .metro_fullContainer{
	min-height: 340px;
}
#contents--happyborn--map .metro_2 {
	overflow: visible !important;
}
#contents--happyborn--map .metro_2 .address_wrap{
	width: 350px;
	margin: auto;
	margin-top: 80px;
}
#contents--happyborn--map .metro_2 .address_wrap .wysiwyg-editor{
	line-height: 2em;
	text-align: left;
}
#contents--happyborn--map .metro_3 {
	overflow: hidden;
}
#contents--happyborn--map .metro_3 .road_wrap{
	margin-top: 80px;
	margin-bottom: 80px;
}
#contents--happyborn--map .metro_3 .road_wrap .title{
	font-size: 1.3em;
	font-weight: bold;
	color: #FF7F00;
	text-align: left;
	margin-bottom:0.4em;
	margin-left:0.5em;
}
#contents--happyborn--map .metro_3 .road_wrap .title .fa{
	margin-right: 1em;
}
#contents--happyborn--map .metro_3 .road_wrap .box{
}
#contents--happyborn--map .metro_3 .road_wrap .box .box_centerTitle
, #contents--happyborn--map .metro_4 .box .box_centerTitle{
	font-size: 1.3em;
	line-height:1.5em;
	margin-top: 1.3em;
	color: #ffffff !important;
}
#contents--happyborn--map .metro_4 .metro_cover{
	margin-top: 110px;
}
/*============================================
 * PC
 ============================================*/






















 