<div id="contents--happyborn--map"  class="ST_dis_none">
	<div class="metro_wrap">
		<div id="map_canvas" class="metro_fullContainer metro_1 " data-TB_metro_width="700_px">
			
		</div><!--/지도-->
		
		<div class="metro_container  metro_2 ST_dis_none " data-TB_metro_width="450_px" >
			<div class="address_wrap">
				<div class="TB_el"
					data-TB_el_name="contents--happyborn--map--adress"
					data-TB_el_attr='{
						"name" : "contents--happyborn--map--address",
						"type" : ""text""
					}' 
				></div>
			</div>
		</div><!--/주소-->
		
		<div class="metro_container  metro_3 ST_dis_none " data-TB_metro_width="250_px" >
			<div class="road_wrap">
				<div class="title"><span class="fa fa-bus"></span>대중교통</div>
				<div class="metro_cover">
					<a title="클릭하시면 네이버 지도로 이동" target="_blank" href="http://map.naver.com/?menu=route&mapMode=0&lat=37.198194&lng=126.9565674&dlevel=7&slng=126.9998885&slat=37.2661513&sdid=s32315645&elng=126.9228522&elat=37.1302676&edid=s20789670&pathType=1&dtPathType=0&sText=7Iqk7L%2Bo7ZG465OcIOyImOybkEFL7KCQ&eText=7ZW07ZS867O47IKw67aA7J246rO87J2Y7JuQ&enc=b64">
						<div class="box box_w_2">
							<div class="box_centerTitle"><b>수원.봉담방면</b><br/>(35번/38번)</div>
						</div>
					</a>
					<a title="클릭하시면 네이버 지도로 이동" target="_blank" href="http://map.naver.com/?menu=route&mapMode=0&lat=37.1108283&lng=126.8694594&dlevel=8&slng=126.8161750&slat=37.0822250&eslng=126.8159889&eslat=37.0819750&sdid=s19459675&elng=126.9228522&elat=37.1302676&edid=s20789670&pathType=1&dtPathType=0&sText=7KGw7JWU7Iuc7Jm467KE7Iqk7YSw66%2B464SQ&eText=7ZW07ZS867O47IKw67aA7J246rO87J2Y7JuQ&enc=b64">
						<div class="box box_w_2">
							<div class="box_centerTitle"><b>조암 방면</b><br/>(33-1번 / 8155번)</div>
						</div>
					</a>
					<a title="클릭하시면 네이버 지도로 이동" target="_blank" href="http://map.naver.com/?menu=route&mapMode=0&lat=37.1751759&lng=126.9989402&dlevel=8&slng=127.0363760&slat=37.2036905&eslng=127.0374000&eslat=37.2040830&sdid=s11795988&elng=126.9228522&elat=37.1302676&edid=s20789670&pathType=1&dtPathType=0&sText=7ZmI7ZSM65%2Bs7IqkIOuzkeygkOygkA%3D%3D&eText=7ZW07ZS867O47IKw67aA7J246rO87J2Y7JuQ&enc=b64">
						<div class="box box_w_2">
							<div class="box_centerTitle"><b>병점 방면</b><br/>(80번)</div>
						</div>
					</a>
					<a title="클릭하시면 네이버 지도로 이동" target="_blank" href="http://map.naver.com/?menu=route&mapMode=0&lat=37.1026319&lng=126.8766511&dlevel=8&slng=126.8313750&slat=37.0796330&sdid=02590370&elng=126.9228522&elat=37.1302676&edid=s20789670&pathType=1&dtPathType=0&sText=6rK96riw64%2BEIO2ZlOyEseyLnCDsnqXslYjrqbQ%3D&eText=7ZW07ZS867O47IKw67aA7J246rO87J2Y7JuQ&enc=b64">
						<div class="box box_w_2">
							<div class="box_centerTitle"><b>장안 방면</b><br/>(33-1번)</div>
						</div>
					</a>
				</div>
			</div>
		</div><!--/오는길_1-->
		
		<div class="metro_container metro_4" data-TB_metro_width="250_px">
			<div class="metro_cover">
				<a title="클릭하시면 네이버 지도로 이동" target="_blank" href="http://map.naver.com/?menu=route&mapMode=0&lat=37.169046&lng=126.8691979&dlevel=8&slng=126.8154880&slat=37.2077510&sdid=s13202630&elng=126.9228522&elat=37.1302676&edid=s20789670&pathType=1&dtPathType=0&sText=64Ko7JaR64aN7ZiR&eText=7ZW07ZS867O47IKw67aA7J246rO87J2Y7JuQ&enc=b64">
					<div class="box box_w_2">
						<div class="box_centerTitle"><b>남양,팔탄 방면</b><br/>(11-1번 / 22-4번)</div>
					</div>
				</a>
				<a title="클릭하시면 네이버 지도로 이동" target="_blank" href="http://map.naver.com/?menu=route&mapMode=0&lat=37.136197&lng=127.0001724&dlevel=8&slng=127.0774610&slat=37.1498893&sdid=02370&elng=126.9228522&elat=37.1302676&edid=s20789670&pathType=1&dtPathType=0&sText=6rK96riw64%2BEIOyYpOyCsOyLnA%3D%3D&eText=7ZW07ZS867O47IKw67aA7J246rO87J2Y7JuQ&enc=b64">
					<div class="box box_w_2">
						<div class="box_centerTitle"><b>양감 방면</b><br/>(21번)</div>
					</div>
				</a>
				<a title="클릭하시면 네이버 지도로 이동" target="_blank" href="http://map.naver.com/?menu=route&mapMode=0&lat=37.087739&lng=126.9171162&dlevel=8&slng=126.9340880&slat=37.0399000&sdid=02220350&elng=126.9228522&elat=37.1302676&edid=s20789670&pathType=1&dtPathType=0&sText=6rK96riw64%2BEIO2Pie2DneyLnCDssq3rtoHrqbQ%3D&eText=7ZW07ZS867O47IKw67aA7J246rO87J2Y7JuQ&enc=b64">
					<div class="box box_w_2">
						<div class="box_centerTitle"><b>청북 방면</b><br/>(8472번)</div>
					</div>
				</a>
				<a title="클릭하시면 네이버 지도로 이동" target="_blank" href="http://map.naver.com/?menu=route&mapMode=0&lat=37.136197&lng=127.0001724&dlevel=8&slng=127.0774610&slat=37.1498893&sdid=02370&elng=126.9228522&elat=37.1302676&edid=s20789670&pathType=1&dtPathType=0&sText=6rK96riw64%2BEIOyYpOyCsOyLnA%3D%3D&eText=7ZW07ZS867O47IKw67aA7J246rO87J2Y7JuQ&enc=b64">
					<div class="box box_w_2">
						<div class="box_centerTitle"><b>오산 방면</b><br/>(111번)</div>
					</div>
				</a>
				
			</div>
		</div><!--/오는길_2-->
		
		<div class="metro_container metro_last"></div><!--/여백-->
		
		
	</div>
	
	
</div>