<div id="admin--controller--map" >
	<div class="map_create_container ST_float_left_wrap container">
		<div class="row">
			
			<div class="createBtn fa fa-plus-circle ST_cursor_pointer toggle_menu_btn col-xs-2"
				 data-menu_formType="insert"title="상위객체 생성"
			 >
				메뉴 생성
			</div>
			<!--/메뉴 저장 -->
			
			
			<div class="TB_contents_parts " data-TB_contents_parts="TB_admin_save_map" >
				<form class="TB_form menu_save_form "
					data-TB_form_beforeAc='{"sharedFunc":"map--menuUpBefore"}'
					data-TB_form_aftAc='sharedFunc:menuUpAft'
				>
					<input type="hidden" name="reqType" value="modify" />	
					<input type="hidden" name="reqQuery" value="saveConfig" />	
					<textarea class="TB_form_validate" name="menu">{{removeBackSlash render.upload_map}}</textarea>
					<input type="submit" class="submit ST_dis_none" value="저장" />
					<div class="saveMapBtn fa fa-floppy-o ST_cursor_pointer TB_form_chainClick col-xs-2"
						data-TB_form_chainClick_target=".submit"
					 title="맵저장">맵 저장</div>
				</form>
			 </div>
			 <!--/실제 처리될 메뉴 수정 폼-->
			 
		</div>
	</div>
	<!--/생성 버튼-->
	
	<div class="map_menu_wrap ST_float_left_wrap ST_visibility_hidden TB_contents_parts"
		data-TB_contents_parts="map_menu_wrap"
	>
		{{#each menu}}
			<div class="ST_pad_05em menu_cover parentLevel "
				data-menu_idx = {{@index}}
				data-menu_page = {{page}}
			>
				<div class="ST_float_left_wrap ST_posi_relative sort_handle"
				>
					<div class="ST_float_left title" title="{{page}}">
						<span class="ST_font_size_08_em">{{@index}}.</span> 
						{{title}}
					</div>
					<div class="iconWrap ST_float_left  ST_right_0">
						<span class="fa fa-pencil-square-o ST_cursor_pointer  toggle_menu_btn" 
							title="메뉴수정" data-menu_index={{@index}} data-menu_formType="modify"
						></span>
						<span class="fa fa-plus-circle ST_cursor_pointer add_child_btn" 
							title="자식 메뉴 생성" data-menu_index={{@index}} data-menu_formType="insert"
						></span>
						<span class="fa fa-close ST_cursor_pointer del_btn" title="삭제"
							data-menu_index={{@index}} data-page="{{page}}"
						></span>
						{{#if childMenu}}	
						<span class="fa fa-caret-down ST_cursor_pointer "></span>
						{{/if}}
					</div>
				</div>
				{{#if childMenu}}
					{{setIndex @index}}
					{{#each childMenu}}
					<div class="ST_pad_05em menu_cover childLevel_1">
						<div class="ST_float_left_wrap ST_posi_relative">
							<div class="ST_float_left title" title="{{page}}"><span class="depthIcon">▶</span>{{title}}</div>
							<div class="iconWrap ST_float_left  ST_right_0">
								<span class="fa fa-pencil-square-o ST_cursor_pointer modify_menu_btn " 
									title="메뉴수정" data-menu_index={{../index}}_{{@index}} data-menu_formType="modify"
								></span>
								<!--
								<span class="fa fa-plus-circle ST_cursor_pointer add_child_btn toggle_menu_btn" 
									title="자식 메뉴 생성" data-menu_index={{../index}}_{{@index}} data-menu_formType="insert"
								></span>
								-->
								<span class="fa fa-close ST_cursor_pointer del_btn" title="삭제"
									data-menu_index={{../index}}_{{@index}} data-page="{{page}}"
								></span>
								{{#if childMenu}}	
									<span class="fa fa-caret-down ST_cursor_pointer "></span>
								{{/if}}
							</div>
						</div>
						{{#if childMenu}}
							{{setIndex @index}}
							{{#each childMenu}}
								<div class="ST_pad_05em menu_cover childLevel_2">
									<div class="ST_float_left_wrap ST_posi_relative">
										<div class="ST_float_left title" title="{{page}}"><span class="depthIcon">▶▶</span>{{title}}</div>
										<div class="iconWrap ST_float_left  ST_right_0">
											<span class="fa fa-pencil-square-o ST_cursor_pointer modify_menu_btn " 
												title="메뉴수정" data-menu_index={{../../../index}}_{{../index}}_{{@index}} data-menu_formType="modify"
											></span>
											<span class="fa fa-close ST_cursor_pointer del_btn" title="삭제"
												data-menu_index={{../../../index}}_{{../index}}_{{@index}}
												data-page="{{page}}"
											></span>
											{{#if childMenu}}	
											<span class="fa fa-caret-down ST_cursor_pointer "></span>
											{{/if}}
										</div>
									</div>
								</div>
							{{/each}}
						{{/if}}
					</div>
					{{/each}}
				{{/if}}
			</div>
		{{/each}}
	</div><!--/사이트맵-->
	
	<div class="create_form_wrap TB_ui"
		data-TB_ui="draggable"
	>
		<!-- <div class="caret_up fa fa-caret-up"></div> -->
		<div class="create_form_closeBtn ">
			<span class="fa fa-2x fa-times-circle"></span>
		</div>
		
		<div class="TB_contents_parts" data-TB_contents_parts="cm_form">
			<script type="x-handlebars-template">
				<form class="ST_m_form_1 map_create_modify_form TB_form"
					data-TB_form_beforeAc='{"sharedFunc" : "{{render.cm_form.before_func}}"}'
				>
					<ul>
						<li class="m_form_item">
							<span class="m_form_name">페이지</span>
							<span class="m_form_input">
								<input type="text" name="page" value="{{render.cm_form.page}}" class="TB_form_validate " {{ifReturnVal render.cm_form.submit '수 정' 'readonly'}}/>
							</span>
						</li>
						<li class="m_form_item">
							<span class="m_form_name">타이틀</span>
							<span class="m_form_input">
								<input type="text" name="title" value="{{render.cm_form.title}}" class="TB_form_validate"/>
							</span>
						</li>
						<li class="m_form_item bake_item">
							<span class="m_form_name">베이크</span>
							<span class="m_form_input ST_clearfix">
								{{#each render.cm_form.bake}}
								<label class="ST_float_left">
									<span>
										<input type="radio" name="bake" value="{{this.value}}" {{hasReturnVal checked 'checked' ''}}  />
									</span>
									<span class="label_text">{{this.value}}</span>
								</label>
								{{/each}}
							</span>
						</li>
						<li class="m_form_item">
							<span class="m_form_name">인덱스</span>
							<span class="m_form_input"> 
								<input type="text" name="index" readonly="readonly"
									 value="{{render.cm_form.index}}"
								/> 
							</span>
						</li>
						<li class="m_form_item">
							<span class="m_form_name">깊이</span>
							<span class="m_form_input"> 
								<input type="number" name="depth" readonly="readonly"
									 value="{{render.cm_form.depth}}"
								/> 
							</span>
						</li>
						<li class="m_form_item">
							<span class="m_form_name">부모페이지</span>
							<span class="m_form_input">
								<input type="text" name="parent"  readonly="readonly" value="{{render.cm_form.parent}}"/>
							</span>
						</li>
						<li class="m_form_item">
							<span class="m_form_name">소스경로</span>
							<span class="m_form_input">
								<input type="text" name="src" value="{{render.cm_form.src}}" class="TB_form_validate"/>
							</span>
						</li>
						<li class="m_form_item">
							<span class="m_form_name">타겟</span>
							<span class="m_form_input">
								<input type="text" name="target"  value="{{render.cm_form.target}}" class="TB_form_validate"/>
							</span>
						</li>
						<li class="m_form_item">
							<span class="m_form_name">전송데이터</span>
							<span class="m_form_input">
								<textarea name="sendData">{{render.cm_form.sendData}}</textarea>
							</span>
						</li>
						<li class=" upload_item">
							<label class="ST_wid_100_p">
								<input type="submit" class="submit ST_hide"  value="{{render.cm_form.submit}}" />
								<div class="ST_button ST_button_full blue accent-2 white-text">{{render.cm_form.submit}}</div>
							</label>
						</li>
					</ul>
				</form>
			</script>
		</div>
	</div><!--/생성/ 수정 폼-->
	
</div>