#admin--controller--map{
	position: relative;
	cursor:default;
	min-width: 880px;
	min-height: 500px;
}
#admin--controller--map .map_create_container{
	margin-bottom: 0.5em;
} 
#admin--controller--map .map_create_container, 
#admin--controller--map .map_create_container > div{
	width:100%;
	padding:0;
	text-align: center;
	color: gray;
}
#admin--controller--map .map_create_container .ST_cursor_pointer:hover{
	color: #222222;
}
#admin--controller--map .create_form_wrap{
	position: absolute;
	background: #f4faff; 
	border: 1px solid #dddddd;
	padding: 0.5em; 
	border-radius: 0.5em; 
	box-shadow: 2px 2px #dddddd;
	font-size:0.7em;
	width:254px;
	display:none;
	top:0; 
	left:0;
}
#admin--controller--map .create_form_wrap .caret_up{
	/*position: absolute;
	top:-0.7em;
	left: 0.15em;
	font-size: 3em;
	color: skyblue;*/
}
#admin--controller--map .create_form_wrap .create_form_closeBtn{
	position: absolute;
	right:-1em; top:-1em;
	z-index:1; 
	background: #FFFFFF; 
	border-radius: 50%; 
	padding: 0.1em;
	cursor: pointer;
}
#admin--controller--map .create_form_wrap .ST_m_form_1 input
, #admin--controller--map .create_form_wrap .ST_m_form_1 textarea
, #admin--controller--map .create_form_wrap .ST_m_form_1 select{
	padding: 0;
	background: #FFFFFF;
	line-height: 1.5em;
	height: 2em;
	margin:0;
	margin-bottom: 5px;
	border: 1px solid #DDDDDD;
	font-size: 9pt;
}
#admin--controller--map .create_form_wrap .ST_m_form_1 input[type=radio]{
	position: static;
	left:auto;
	opacity: 1;
}
#admin--controller--map .create_form_wrap .ST_m_form_1 input[readonly]{
	background: #FCFCFC;
}
#admin--controller--map .create_form_wrap .ST_m_form_1 .label_text{
	padding: 3px;
	display: inline-block;
}
#admin--controller--map .create_form_wrap .ST_m_form_1 textarea{
	width:100%;
	height: 7em;
}

#admin--controller--map .create_form_wrap .m_form_input{
	width: 75%;
}
#admin--controller--map .create_form_wrap .bake_item{
	line-height: 1.5em;
}

#admin--controller--map .create_form_wrap .upload_item
, #admin--controller--map .create_form_wrap .modify_item{
	height: 3.5em;
}
#admin--controller--map .create_form_wrap .upload_item input
, #admin--controller--map .create_form_wrap .modify_item input{
	background: #56a7d8;
	cursor:pointer;
}
/*=======================================================
 * 맵생성/수정 폼
 =======================================================*/

#admin--controller--map .map_menu_wrap{}
#admin--controller--map .map_menu_wrap .parentLevel{
	width: 150px;
}
#admin--controller--map .map_menu_wrap .menu_cover{
	padding: 0.2em; 
	line-height:1em; 
	background:#f5f5f5;
	border-radius:0.5em; 
	box-shadow: 1px 1px 1px #5dd5d5;
	 font: 0.9em 'Malgun Gothic';
	 margin: 0.3em;
	 color: #555555;
	 border: 1px solid #d5d5d5;
}
#admin--controller--map .map_menu_wrap .childLevel_1 > div
,#admin--controller--map .map_menu_wrap .childLevel_2 > div{
	/*margin-right: 4em;*/
}
#admin--controller--map .map_menu_wrap .childLevel_1 .iconWrap
, #admin--controller--map .map_menu_wrap .childLevel_2 .iconWrap{
	right: -4em;
}

#admin--controller--map .map_menu_wrap .childLevel_1{
	
}
#admin--controller--map .map_menu_wrap .childLevel_2{
	
}
#admin--controller--map .map_menu_wrap .menu_cover .depthIcon{
	font-size: 0.5em;
	color: #aaaaaa;
}
#admin--controller--map .map_menu_wrap .menu_cover .title{
	width: 60%; 
	overflow:hidden;
	white-space: nowrap;
}
#admin--controller--map .map_menu_wrap .menu_cover .iconWrap{
	width: 40%;
	text-align: right;
}
/*=======================================================
 * 맵
 =======================================================*/

