.contents--seayacht--reservation  {
	
}
.contents--seayacht--reservation  .metro_fullContainer {
	overflow-y: auto ;
}
.contents--seayacht--reservation  .metro_fullContainer .title{
	font-size: 1.5em;
	text-align: left;
	color: #555555;
	padding:0 0  0.5em 0;
	border-bottom: 1px solid #d5d5d5;
	box-sizing: border-box;
}
/*================================================
 * 글로벌
 ================================================*/

.contents--seayacht--reservation  .calendar_wrap{
	width:100%;
	position: relative;
}

.contents--seayacht--reservation  .calendar_wrap .calendar_container{
	/*width: 900px;*/
	width:80%;
	margin: auto;
}
.contents--seayacht--reservation  .calendar_wrap .calendar_container .callendar_row{
	margin-top: 20px;
}
.contents--seayacht--reservation  .calendar_wrap .calendar_container .callendar_col{
	width:100%;
}

.contents--seayacht--reservation  .calendar_wrap .calendar .title{
	font-size: 1.5em;
	text-align: left;
	color: #555555;
	padding:0 0  0.5em 0;
	border-bottom: 1px solid #d5d5d5;
	box-sizing: border-box;
}

.contents--seayacht--reservation  .calendar > .yearMonth_wrap {
	position: relative;
	border-bottom: 2px dotted;
	border-color: #D5D5D5;
	text-align: center;
	margin: 10px 0;
	padding: 0 0 5px 0;
	color: #777777;
	text-shadow: 1px 1px #555555;
}
.contents--seayacht--reservation  .calendar > .yearMonth_wrap > .year{
	font: bold 1.2em 'nanum gothic';
}
.contents--seayacht--reservation  .calendar > .yearMonth_wrap > .month{
	font: bold 1.8em 'nanum gothic';
	
}
.contents--seayacht--reservation  .calendar > .yearMonth_wrap >.monthControler  > .lastMonth{
	position: absolute;
	left: 10px;
	bottom: 10px;
	font: bold 1.5em 'nanum gothic';
	color: #d5d5d5;
	cursor: pointer;
	text-shadow: 1px 1px #999999;
}
.contents--seayacht--reservation  .calendar > .yearMonth_wrap >.monthControler  > .nextMonth{
	position: absolute;
	right: 10px;
	bottom: 5px;
	font: bold 1.5em 'nanum gothic';
	color: #d5d5d5;
	cursor: pointer;
	text-shadow: 1px 1px #999999;
}
	.contents--seayacht--reservation  .calendar > .yearMonth_wrap >.monthControler > div:hover{
		color: #555555;
		cursor: pointer;
	}

.contents--seayacht--reservation  .calendar .calendar_table {
	width: 100%;
}
.contents--seayacht--reservation  .calendar .calendar_table td
,.contents--seayacht--reservation  .calendar .calendar_table th
{
	text-align: center;
	vertical-align: middle
}
/*===================================================
 * 캘린더 테이블
 ===================================================*/

.contents--seayacht--reservation  .calendar > .calendar_table > .day_container th{
	border: 1px solid #D5D5D5;
	height: 25px;
	text-align: center;
	background: #e2edff;
	box-sizing:border-box;
	color: #4C4C4C;
}
/*===================================================
 * 캘린더 테이블 : 요일 표시
 ===================================================*/

.contents--seayacht--reservation  .calendar .date_container td{
	position: relative;
	border: 1px solid;
	border-color: #D5D5D5;
	/*overflow-x: hidden;
	overflow-y: auto;*/
	overflow: hidden;
	word-break:break-all;
	height: 3em;
	cursor: pointer;
	color: #555555;
	background: #FFFFFF;
	transition: all 0.3s ease-in-out;
	border-collapse: collapse;
}
.contents--seayacht--reservation  .calendar .date_container td .num{
	position: absolute;
	font-size: 0.7em;
	top:0.2em;
	right:0.2em;
	color: #999999;
}
.contents--seayacht--reservation  .calendar .date_container td .text{
	font-size: 0.8em;
}
/*==/기본 날짜 배경==*/

.contents--seayacht--reservation  .calendar .date_container .bgc_sel{
	background: #55b5e5;
	color: #FFFFFF !important;
}
.contents--seayacht--reservation  .calendar .date_container .bgc_sel .num{
	color: #FFFFFF ;
}
/*==/ 오늘 ==*/

.contents--seayacht--reservation  .calendar .date_container .before_box{
	background: #dedede;
	color: #FFFFFF ;
}
/*==/ 이전날들==*/
.contents--seayacht--reservation  .calendar .date_container .next_box{
	background: #55b5e5;
	color: #FFFFFF ;
}
.contents--seayacht--reservation  .calendar .date_container .next_box .num{
	color: #FFFFFF ;
}
/*==/ 다음날들==*/

.contents--seayacht--reservation  .calendar .date_container .selected{
	background: #056ea1;
}
/*==/ 예약 완료==*/

.contents--seayacht--reservation  .calendar .date_container .full{
	background: #D2380A;
}
.contents--seayacht--reservation  .calendar .date_container .before_box.full{
	background: #DEAD9E;
}
/*==/ 예약 완료==*/

/*===================================================
 * 캘린더 테이블 : 날짜 표시
 ===================================================*/

.contents--seayacht--reservation  .reservation_status .button_wrapper{
	margin: 20px 0;
}
.contents--seayacht--reservation  .reservation_status .button_cover{
   width: 50%;
    box-sizing: border-box;
    padding: 6px 0;
    font-size: 0.9em;
    color: #ffffff;
    background: #c5c5c5;
    cursor: pointer;
    transition: all 0.2s ease;
}
.contents--seayacht--reservation  .reservation_status .button_cover.selected{
	background: #0A91D2;
}
/*===================================================
 * 예약 상태 설정
 ===================================================*/


.contents--seayacht--reservation  .time_selector .wrapper{
	width: 200px;
	margin: auto;
}
.contents--seayacht--reservation  .time_selector .title{
	margin-top: 20px;
}
.contents--seayacht--reservation  .time_selector ul .item{
	position: relative;
	background: #DEDEDE;
	color: #999999;
	padding:11px 0;
	border-bottom: 1px solid;
	box-sizing: border-box;
	cursor: pointer;
}
.contents--seayacht--reservation  .time_selector ul .item.selected{
	background: #55B5E5;
	color: #FFFFFF;
}
.contents--seayacht--reservation  .time_selector ul .item.full{
	background: #D2380A;
	color: #FFFFFF;
	cursor: default;
}
/*===================================================
 * 시간 선택
 ===================================================*/

.contents--seayacht--reservation  .reservation_form{
}
.contents--seayacht--reservation  .reservation_form .form_wrap{
	margin: auto;
	width: 400px;
	margin-top: 20px;
	position: relative;
}
.contents--seayacht--reservation  .reservation_form .form_wrap .complete_container {
    position: absolute;
    background: #ff9547;
    color: #ffffff;
    width: 100%;
    height: 548px;
    z-index: 1;
}
.contents--seayacht--reservation  .reservation_form .form_wrap .complete_container .cover{
	margin-top:180px;
}
.contents--seayacht--reservation  .reservation_form .form_wrap .complete_container .icon{
	font-size:5em;
}
.contents--seayacht--reservation  .reservation_form .form_wrap .complete_container .text{
	line-height: 2em;
}
.contents--seayacht--reservation  .reservation_form .form_wrap .type_changer_wrap{
	font-size: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
}
.contents--seayacht--reservation  .reservation_form .form_wrap .type_changer_wrap > div{
	width: 50px;
	text-align: center;
	border: 1px solid;
	padding: 5px 0;
	cursor: pointer;
	color: #777777;
}
.contents--seayacht--reservation  .reservation_form .form_wrap .type_changer_wrap > div.active{
	background: #0A91D2;
	color: #FFFFFF;
}
.contents--seayacht--reservation  .reservation_form .TB_form .form_item{
	margin-top: 10px;
}
	.contents--seayacht--reservation  .reservation_form .TB_form .form_item:first-child .form_name{
		margin-top:0;
	}
.contents--seayacht--reservation  .reservation_form .TB_form .wysiwyg-popup{
	display:none !important;
}
.contents--seayacht--reservation  .reservation_form .TB_form input
, .contents--seayacht--reservation  .reservation_form .TB_form select
{
	background: #F5F5F5;
}
/*===================================================
 * 예약 폼
 ===================================================*/

.contents--seayacht--reservation  .reservation_form .yachtBoatDescContainer .detail_container{
    width: 170px;
    background: #F5F5DC;
    font-size: 0.8em;
    color: #999999;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #ADB38E;
    top: -30px;
    z-index: 1;
    left: 20px;
}
.contents--seayacht--reservation  .reservation_form .yachtBoatDescContainer .tab_container{
    cursor: pointer;
    border-bottom: 1px solid #cacaca;
    box-sizing:border-box;
    text-align: center;
    font-size:0.9em;
}
.contents--seayacht--reservation  .reservation_form .yachtBoatDescContainer .tab_container .tab{
	padding:3px 0;
	color: #999999;
}
	.contents--seayacht--reservation  .reservation_form .yachtBoatDescContainer .tab_container .tab:hover{
	    text-decoration: underline;
	}
.contents--seayacht--reservation  .reservation_form .yachtBoatDescContainer .tab_container .active{
    font-weight: bold;
    background: #dadada;
}
.contents--seayacht--reservation  .reservation_form .yachtBoatDescContainer .dec_container{
	margin-top: 3px;
	height:100px;
	overflow-y:auto;
}
.contents--seayacht--reservation  .reservation_form .yachtBoatDescContainer .dec{
	position: absolute;
	width:100%;
	height:100px;
}
.contents--seayacht--reservation  .reservation_form .yachtBoatDescContainer .dec .TB_el{
	width:100%;
	height:90px;
	border:none;
}
/*===================================================
 * 예약 폼: 요트 보트 설명
 ===================================================*/

.contents--seayacht--reservation  .reservation_list .list_wrap {
	font-family: "Nanum Gothic";
	margin-top: 20px;
}
.contents--seayacht--reservation  .reservation_list .list_wrap .list_header{
	background: #30A4DC;
	color: #FFFFFF;
	font-weight: bold;
	box-sizing: border-box;
	border-top: 2px solid #056ea1;
	border-bottom: 2px solid #056ea1;
	padding: 8px 0;
	font-size: 0.8em;
	position: relative;
	margin-top:10px;
}
.contents--seayacht--reservation  .reservation_list .list_wrap .list_header > div{
	z-index: 1;
	position: relative;
}
.contents--seayacht--reservation  .reservation_list .list_wrap .list_header > span{
	width:100%;
	top:0px;
	left:0;
}
.contents--seayacht--reservation  .reservation_list .list_wrap .list_container{
	font-size: 0.75em;
	color: #777777;
	position: relative;
}
.contents--seayacht--reservation  .reservation_list .list_wrap .list_container .list_item{
	padding: 5px 0;
    border-bottom: 1px dotted #999999;
    cursor: pointer;
    transition: all 0.2s ease;
    line-height: 1.3em;
}
	.contents--seayacht--reservation  .reservation_list .list_wrap .list_container .list_item:hover{
		background: #eaeaea;
		font-weight: bold;
	}
.contents--seayacht--reservation  .reservation_list .list_wrap .list_container select{
	padding:0; margin:0;
	font-size: 0.9em;
	color: #777777;
}
.contents--seayacht--reservation  .reservation_list  .item_1{width: 90px;}
.contents--seayacht--reservation  .reservation_list .item_2{width: 140px;}
.contents--seayacht--reservation  .reservation_list .item_3{width: 50px;}
.contents--seayacht--reservation  .reservation_list .item_4{width: 40px;}
.contents--seayacht--reservation  .reservation_list .item_5{width: 60px;}
.contents--seayacht--reservation  .reservation_list .item_6{width: 100px;}
.contents--seayacht--reservation  .reservation_list .item_7{width: 80px;}
.contents--seayacht--reservation  .reservation_list .item_8{width: 10px;}
.contents--seayacht--reservation  .reservation_list .list_wrap .list_info_container {
	padding: 7px 0;
	font-size:0.7em;
	color: #a5a5a5;
}
	.contents--seayacht--reservation  .reservation_list .list_wrap .list_info_container:after{
		clear: both;
		content: '';
		display:block;
	}
.contents--seayacht--reservation  .reservation_list .list_wrap .list_info_container > div{
	float: right;
	cursor: pointer;
	width: 20%
}
	.contents--seayacht--reservation  .reservation_list .list_wrap .list_info_container > div:hover{
		text-decoration: underline;
	}
.contents--seayacht--reservation  .reservation_list .list_wrap .paging_container > div{
	display:inline-block;
	color: #777777;
	margin: 0 5px;
	padding: 0 5px;
	cursor: pointer;
}
.contents--seayacht--reservation  .reservation_list .list_wrap .paging_container > div.cur_page{
	font-weight: bold;
	color: #555555;
}
/*===================================================
 * 예약 리스트
 ===================================================*/







































