<div class="contents--seayacht--reservation">
	
	<div class="wrapper ">
		<div class="calendar_wrap metro_fullContainer metro_minus_height" 
			data-TB_metro_width="600_px" data-metro_minus_height="100"
		>
			<div class="calendar_container TB_style" data-TB_style="ST_response_mobile_width_95%">
				<div class="callendar_row ">

					<div class="calendar callendar_col " >
						
						<div class="calendarText_form_wrap TB_ui ST_dis_none"
							data-TB_ui="draggable"
						>
							<form class="TB_form ST_popup_form_1"
								data-TB_form_aftAc="sharedFunc:templates--calendar--work_timetable--dateAftAc"
							>
								<div class="ST_closeBtn_1">
									<span class="fa fa-2x fa-times-circle"></span>
								</div>
								<input type="hidden" name="reqType" value="insert" class="TB_form_validate"/>
								<input type="hidden" name="reqQuery"  class="TB_form_validate"/>
								<input type="hidden" name="year"  class="TB_form_validate"/>
								<ul>
									<li class="form_item">
										<span class="form_name">월</span>
										<span class="form_input">
											<input type="text" name="month" readonly="readonly" />
										</span>
									</li>
									<li class="form_item">
										<span class="form_name">일</span>
										<span class="form_input">
											<input type="text" name="date" readonly="readonly"/>
										</span>
									</li>
									<li class="form_item">
										<span class="form_name">당직자</span>
										<span class="form_input">
											<input type="text" class="TB_form_validate first_focus" name="doctor"  title="당직자입력"/>
										</span>
									</li>
									<li class="form_item">
										<input type="submit" class="submit" value="등록"/>
									</li>
									<li class="form_item  deleteBtn ST_dis_none ">
										<div class="submit" >삭제</div>
									</li>
								</ul>
							</form>
						</div><!--/달력내 텍스트 입력-->
					
						<div class="title">예약날짜선택</div>
						<div class="yearMonth_wrap TB_contents_parts" data-TB_contents_parts="month_controller">
							<div class="year " >
								{{render_obj.year}}년
							</div>
							<div class="month " >
								{{render_obj.month}}월
							</div>
							<div class="monthControler">
								<div class="lastMonth"  data-month="{{render_obj.lastMonth}}">
									{{render_obj.lastMonth}}월
								</div>
								<div class="nextMonth" data-month="{{render_obj.nextMonth}}">
									{{render_obj.nextMonth}}월
								</div>
							</div>
						</div>
						<table class="calendar_table">
							<thead class="day_container">
								<tr >
									<th>일</th>
									<th>월</th>
									<th>화</th>
									<th>수</th>
									<th>목</th>
									<th>금</th>
									<th>토</th>
								</tr>
							</thead>
							<tbody class="date_container">
								<tr>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
							</tbody>
						</table><!--/달력-->
						
					</div><!--/달력-->
					
				</div><!--/row ; 달력-->
				
				{{#if @root.TB_isAdmin}}
				<div class="calendar_row  reservation_status">
					<div class="TB_contents_parts" data-TB_contents_parts="reservation_status">
						<div class="button_wrapper ST_float_left_wrap " >
							{{#if render_obj.reservation_status}}
							<div class="button_cover  " data-status="0">예약가능</div>
							<div class="button_cover selected" data-status="1">예약완료</div>
							{{else}}
							<div class="button_cover  selected" data-status="0">예약가능</div>
							<div class="button_cover " data-status="1">예약완료</div>
							{{/if}}
						</div>
					</div>
				</div>
				{{/if}}
				<!--/ 예약 완료 스위치 -->
				
			</div>

		</div>
		<!----------------------------------------------
			달력
			---------------------------------------------->
			
			<div class="metro_fullContainer metro_minus_height  time_selector" 
				data-TB_metro_width="250_px" data-metro_minus_height="100"
			>
				<div class="wrapper TB_style" data-TB_style="ST_response_mobile_width_auto">
					<div class="title">예약시간선택</div>
					<div class="selector_wrap TB_contents_parts" data-TB_contents_parts="time_selector">
						<ul class="ST_margin_top_1_em">
							{{#each render_obj.time_selector}}
							<li class="item ST_float_left_wrap  {{hasReturnVal selected 'selected'}} {{hasReturnVal  full 'full'}} " 
								data-index="{{@index}}" data-start_time="{{start_time}}" data-end_time="{{end_time}}" 
							>
								<div class="ST_col_2 check_cover">
									{{#if selected}}
									<span class="fa fa-check ST_dis_none"></span>
									{{/if}}
								</div>
								<div class="ST_col_7 time_cover ST_hover_underline" 
								>
									<div class="time">{{start_time}}~{{end_time}} 시</div>
								</div>
								<div class="ST_col_3 active_btn_cover">
									<form class="TB_form" 
										data-TB_form_beforeAc='{"sharedFunc":"contents--seayacht--reservation--time_selector_complete_before"}'
										data-TB_form_aftAc="sharedFunc:contents--seayacht--reservation--time_selector_complete_aft"
									>
										<input type="hidden" name="reqType" value="insert" />
										<input type="hidden" name="reqQuery" value="{{@root.render_obj.time_complete_query}}" />
										<input type="hidden" name="year" value="{{@root.render_obj.year}}" />
										<input type="hidden" name="month" value="{{@root.render_obj.month}}" />
										<input type="hidden" name="date" value="{{@root.render_obj.date}}" />
										<input type="hidden" name="start_time" class="start_time" value="{{start_time}}" />
										<input type="hidden" name="end_time" value="{{end_time}}" />
										<input type="hidden" name="status" class="status" value="{{hasReturnVal full '1' '0'}}" />
										<input type="hidden" name="marina_no"  value="{{@root.render_obj.marina_no}}" />
										<label>
											{{#if @root.TB_isAdmin}}
											<div class="active_btn fa  {{hasReturnVal full 'fa-circle' 'fa-circle-thin'}}  ST_cursor_pointer"></div>
											<input type="submit" class="ST_hide" />
											{{/if}}
										</label>
									</form>
								</div>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		<!----------------------------------------------
			시간 선택 스위치
			---------------------------------------------->
			
		<div class="metro_fullContainer metro_minus_height reservation_form "
		 	data-TB_metro_width="450_px" data-metro_minus_height="100"
	 	>
			<div class="form_wrap TB_style TB_contents_parts " 
				data-TB_style="ST_response_mobile_width_95%"
				data-TB_contents_parts="reservation_form"
			>
				<div class="complete_container ST_dis_none">
					<div class="cover">
						<div class="icon fa fa-check-circle-o"></div>
						<div class="text TB_el" 
							data-TB_el_name="contents--seayacht--reservation--complete_text" >
						</div>
					</div>
				</div>
			
				<div class="title ST_posi_relative">
					{{render_obj.marina_name}}
					{{#if @root.TB_isAdmin}}
					<div class="type_changer_wrap ST_float_left_wrap">
						<div class="type_changer {{ifReturnVal render_obj.form.reqType 'insert' 'active'}}" data-type="insert">입력</div>
						<div class="type_changer {{ifReturnVal render_obj.form.reqType 'modify' 'active'}}" data-type="modify">수정</div>
					</div>
					{{/if}}
					<!--/폼의 모드 수정 -->
				</div>
				<form class="TB_form ST_form_1"
					data-TB_form_beforeAc='{"sharedFunc":"contents--seayacht--reservation--reservation_before"}' 
					data-TB_form_aftAc="sharedFunc:contents--seayacht--reservation--reservation_aft" 
				>
					{{#_if render_obj.form.reqType '==' 'modify'}}
					<input type="hidden" name="no" class="TB_form_validate" value="" data-TB_form_validate='[{"errText":"예약을 선택하세요."}]' />
					{{/_if}}
					<input type="hidden" name="marina_name" value="{{render_obj.marina_name}}" />
					<input type="hidden" name="marina_no" value="{{render_obj.marina_no}}" />
					<div class="TB_contents_parts ST_hide" data-TB_contents_parts="form_hidden_var">
						<input type="hidden" name="reqType" value="{{render_obj.form.reqType}}"/>
						{{#_if render_obj.form.reqType '==' 'insert'}}
						<input type="hidden" name="reqQuery" value="{{render_obj.form.insertQuery}}" />
						{{else}}
						<input type="hidden" name="reqQuery" value="{{render_obj.form.modifyQuery}}" />
						{{/_if}}
					</div>
					<div class="form_item">
						<div class="form_name">예약날짜</div>
						<div class="form_input TB_contents_parts" data-TB_contents_parts="reservation_form_date">
							<input type="text" name="year" size="4" maxlength="4" value="{{render_obj.year}}" readonly="readonly" />
							 / <input type="text" name="month" size="2" maxlength="2" value="{{render_obj.month}}" readonly="readonly"/>
							 / <input type="text" name="date" size="2" maxlength="2" value="{{render_obj.date}}" readonly="readonly"/>
							&nbsp;
							<input type="text" name="start_time" size="2" maxlength="2" value="{{render_obj.start_time}}" readonly="readonly" 
								class="TB_form_validate" data-TB_form_validate='[{"errText":"시간을 선택해주세요."}]' />시
							~ <input type="text" name="end_time" size="2" maxlength="2" value="{{render_obj.end_time}}" readonly="readonly"
								class="TB_form_validate" data-TB_form_validate='[{"errText":"시간을 선택해주세요."}]' />시
						</div>
					</div>
					<div class="form_item">
						
						<div class="form_name">요트타입</div>
						<div class="form_input">
							<span class="ST_dis_inline_block">
								<select name="yacht_type">
									<option value="요트">요트</option>
									<option value="파워보트">파워보트</option>
								</select>
							</span>
							
							<span class="yachtBoatDescContainer ST_dis_inline_block ST_posi_relative TB_parts"
								data-TB_parts="yachtBoatDescTab"
							>
								<div class="detail_wrap ST_posi_relative TB_ui_tab ST_dis_none">
									<div class="detail_container ST_posi_absolute">
										<div class="tab_container ST_float_left_wrap">
											<div class="tab tab_yacht ST_wid_50_p" data-tab="yacht">요트</div>
											<div class="tab tab_boat ST_wid_50_p" data-tab="boat">보트</div>
										</div>
										<div class="dec_container ST_posi_relative  ">
											<div class="dec tab_location" data-tab_location="yacht" >
												<div class=" TB_el" data-TB_el_name="contents--seayacht--reservation--yacht_dec"></div>
											</div>
											<div class="dec tab_location "  data-tab_location="boat" >
												<div class=" TB_el" data-TB_el_name="contents--seayacht--reservation--boat_dec"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="icon_cover">
									<span class="fa fa-commenting-o ST_cursor_pointer" title="요트·보트란?"></span>
								</div>
							</span>
							<!--/탭-->
							
						</div>
					</div>
					<div class="form_item">
						<div class="form_name">승선인원</div>
						<div class="form_input">
							<input type="text" name="rider_numbers" size="29" maxlength="3" class="TB_form_validate" title="승선인원 입력"
								data-TB_form_validate='[{"isNumber":true, "errText" : "숫자를 입력해주십시요."}]'
							/>
						</div>
					</div>
					<div class="form_item">
						<div class="form_name">예약자성명</div>
						<div class="form_input">
							<input type="text" name="customer_name" size="29" name="" maxlength="10"  />
						</div>
					</div>
					<div class="form_item">
						<div class="form_name">연락처</div>
						<div class="form_input">
							<input type="text" name="phone_1" size="3"   />
							- <input type="text" name="phone_2" size="4"   />
							- <input type="text" name="phone_3" size="4"   />
						</div>
					</div>
					<div class="form_item">
						<div class="form_name">이메일</div>
						<div class="form_input">
							<input type="text" name="email" class="TB_form_validate" size="29" maxlength="20"
								data-TB_form_validate='[{"isEmail":true, "errText":"이메일을 입력해주세요."}]' 
							/>
						</div>
					</div>
					<div class="form_item">
						<div class="form_name">메모</div>
						<div class="form_input">
							<textarea class="TB_form_set" name="memo" data-TB_form_set="wysiwyg:selection"></textarea>
						</div>
					</div>
					<div class="form_item">
						<label>
							<div class="form_submit">{{ifReturnVal render_obj.form.reqType 'insert' '예  약' '수  정'}}</div>
							<input type="submit" class="ST_hide" />
						</label>
					</div>
				</form>
			</div>
		</div>
		<!----------------------------------------------
			예약폼
			---------------------------------------------->
		
		{{#if @root.TB_isAdmin}}
		<div class="metro_fullContainer metro_minus_height reservation_list TB_style"
		 	data-TB_metro_width="600_px" data-metro_minus_height="100"
		 	data-TB_style="ST_response_mobile_overflow-y_hidden"
	 	>
	 		<div class="list_wrap TB_style TB_contents_parts ST_margin_auto" 
	 			data-TB_contents_parts="reservation_list"  data-TB_style="ST_response_mobile_width_95%"
 			>
	 			<div class="title">예약리스트</div>
	 			<div class="list_header ST_float_left_wrap">
	 				<div class="item_1 TB_style" data-TB_style="ST_response_mobile_display_none">마리나</div>
	 				<div class="item_2 TB_style" data-TB_style="ST_response_mobile_width_20%">예약날짜</div>
	 				<div class="item_3 TB_style" data-TB_style="ST_response_mobile_display_none">타입</div>
	 				<div class="item_4 TB_style"  data-TB_style="ST_response_mobile_width_10%">인원</div>
	 				<div class="item_5 TB_style"  data-TB_style="ST_response_mobile_width_10%">성명</div>
	 				<div class="item_6 TB_style"  data-TB_style="ST_response_mobile_width_30%">연락처</div>
	 				<div class="item_7 ">상태</div>
	 				<div class="item_8 "></div>
	 				<span class="ST_dis_block ST_posi_absolute ST_pattern_1 ST_opacity_70_p TB_style" data-TB_style="ST_parentHei_95_p"></span>
	 			</div>
	 			<div class="list_container  ST_transition_all_03_s" >
	 				{{#each render_obj.reservation_list.list}}
	 				<div class="list_item ST_float_left_wrap" data-marina_no="{{marina_no}}" data-no="{{no}}">
	 					<div class="item_1 TB_style" data-TB_style="ST_response_mobile_display_none">{{marina_name}}</div>
	 					<div class="item_2 TB_style"
	 						 data-TB_style="ST_response_mobile_width_20%"
	 					>
	 						{{year}}/{{month}}/{{date}}<br/> <span class="time">{{start_time}}시 ~{{end_time}}시</span>
 						</div>
	 					<div class="item_3 TB_style" data-TB_style="ST_response_mobile_display_none">{{yacht_type}}</div>
	 					<div class="item_4 TB_style"  data-TB_style="ST_response_mobile_width_10%">{{rider_numbers}}</div>
	 					<div class="item_5 TB_style"  data-TB_style="ST_response_mobile_width_10%">{{customer_name}}</div>
	 					<div class="item_6 TB_style"  data-TB_style="ST_response_mobile_width_30%">
	 						{{phone_1}}-{{phone_2}}-{{phone_3}}
 						</div>
	 					<div class="item_7 ">
	 						<select name="status" class="status">
	 							{{#list '&gt;' '입금대기' '입금완료' '예약취소' '투어완료'}}
	 							{{#_if  item '==' ../status}}
	 							<option value="{{item}}" selected="selected">{{item}}</option>
	 							{{else}}
	 							<option value="{{item}}">{{item}}</option>
	 							{{/_if}}
	 							{{/list}}
	 						</select>
 						</div>
 						<div class="item_8"><div class="remove_btn fa fa-remove ST_theme_active" title="삭제"></div></div>
	 				</div>
	 				{{/each}}
	 			</div>
	 			<div class="list_info_container">
	 				<div class="status_btn total_article">전체 : {{render_obj.reservation_list.list_info.total_article}}</div>
	 				{{#each-reverse render_obj.reservation_list.list_info.status}}
	 				<div class="status_btn" data-status="{{status}}">{{status}} : {{'COUNT(status)'}}</div>
	 				{{/each-reverse}}
	 			</div>
	 			<div class="paging_container ">
	 				{{#if render_obj.reservation_list.list_info.prev_block_page}}
	 				<div class="block_move" data-page="{{render_obj.reservation_list.list_info.prev_block_page}}">&lt;</div>
	 				{{/if}}
	 				{{#each render_obj.reservation_list.list_info.page_link}}
	 				{{#_if link '==' @root.render_obj.reservation_list_page}}
	 				<div class="page_link cur_page"  data-page="{{link}}">{{link}}</div>
	 				{{else}}
	 				<div class="page_link" data-page="{{link}}">{{link}}</div>
	 				{{/_if}}
	 				{{/each}}
	 				{{#if render_obj.reservation_list.list_info.next_block_page}}
	 				<div class="block_move" data-page="{{render_obj.reservation_list.list_info.next_block_page}}">></div>
	 				{{/if}}
	 			</div>
	 		</div>
	 	</div>
	 	{{/if}}
		<!----------------------------------------------
			예약리스트
			---------------------------------------------->
		

	</div>
</div>