#contents--nansolo_admin--all_stories{}
/*===========================================================
 * 글로벌
 ===========================================================*/



#contents--nansolo_admin--all_stories .story_col{
	border-right: 2px solid #FFFFFF;
	box-sizing: border-box;
	overflow: hidden;
}
#contents--nansolo_admin--all_stories .article_card{
	position: relative;
}
#contents--nansolo_admin--all_stories .article_card .top_info{
	position: relative;
	z-index: 1;
	font-size: 1.2em;
}
#contents--nansolo_admin--all_stories .article_card .left_info_wrap{
	position: absolute;
	left: 10px;
	top: 10px;
}
#contents--nansolo_admin--all_stories .article_card .right_info_wrap{
	position: absolute;
	right: 10px;
	top: 10px;
}
#contents--nansolo_admin--all_stories .article_card .right_info_wrap .thumbs_button:active{
	color: #056EA1;
}
/*===========================================================
 * 상단 정보 창
 ===========================================================*/



#contents--nansolo_admin--all_stories .article_card .image_card_link{
	color: #FFFFFF;
}
#contents--nansolo_admin--all_stories .article_card .image_card_link:visited{
	color: #FCFCFC;
}
#contents--nansolo_admin--all_stories .article_card .subject_wrap{
	position: absolute;
	top:0;
	bottom:0; right:0; left:0;
	z-index:1;
	width:60%;
	min-width:300px;
	height:1.2em;
	overflow: hidden;
	line-height: 1.3em;
	margin:auto;
	font-size: 2em;
	letter-spacing : 0.1em;
	word-wrap: break-word;
	padding:7px 0;
	background: rgba(255,255,255,0.0);
	border: 1px solid rgba(255, 255, 255, 0.0);
	transition : all .2s ease-out;
}
	#contents--nansolo_admin--all_stories .article_card .subject_wrap:hover{
		background: rgba(255,255,255,0.2);
		border: 1px solid rgba(255, 255, 255, 0.4);
		transform: translate3d(0,-2px ,0);
		box-shadow : 0 2px rgba(0,0,0,0.5);
		cursor: pointer;
	}
#contents--nansolo_admin--all_stories .article_card .backdrop{
	position: absolute;
	left:0;
	top:0;
	width:100%;
}
/*====================================================
 * 이미지
 ====================================================*/



#contents--nansolo_admin--all_stories .story_detail_wrap{
	margin-top: 50px;
	position: relative;
	padding: 0 10px 0px 10px ;
	text-align: initial;
}
#contents--nansolo_admin--all_stories .story_detail_wrap a{
	color: #222222 !important;
	text-decoration: none;
}
	#contents--nansolo_admin--all_stories .story_detail_wrap a:visited{
		color: #222222;
	}
#contents--nansolo_admin--all_stories .story_detail_wrap .subject{
	font-family: 'Nanum Gothic Coding', serif;
	font-size: 1.5em;
	margin-bottom: 20px;
	padding-left: 10px;
	border-left: 2px solid;
	box-sizing: border-box;
	display:inline-block;
}
#contents--nansolo_admin--all_stories .story_detail_wrap .wysiwyg-container{
	color: #777777 !important;
	font-size: 0.8em !important; 
}
#contents--nansolo_admin--all_stories .story_detail_wrap  p{
	background-color: #F5F5F5 !important;
}
/*===========================================================
 * 글들
 ===========================================================*/



#contents--nansolo_admin--all_stories .c1{
	border-left: 2px solid #FFFFFF;
	box-sizing: border-box;
}
#contents--nansolo_admin--all_stories .c2r2
, #contents--nansolo_admin--all_stories .c3r2
, #contents--nansolo_admin--all_stories .c4r2
, #contents--nansolo_admin--all_stories .c4r3{
	border-top: 2px solid #FFFFFF;
	box-sizing: border-box;
}
/*====================================================
 * 카드별 속성
 ====================================================*/

#contents--nansolo_admin--all_stories .add_button{
	box-sizing: border-box;
	border-color: #539AF1;
	border:1px solid;
	position: relative;
}
#contents--nansolo_admin--all_stories .add_button .text{
	position: absolute;
	left:0;
	top:0; right:0; bottom: 0;
	margin: auto;
	height:1.2em;
}
@media(max-width:991px){
	#contents--nansolo_admin--all_stories .add_button_container
	, #contents--nansolo_admin--all_stories .add_button
	{
		height: 3em;
	}
}
/*===========================================================
 * 추가 버튼
 ===========================================================*/


@media(max-width:991px){
	#contents--nansolo_admin--all_stories .story_col{
		border:none;
	}
	#contents--nansolo_admin--all_stories .story_col .top_info{
		font-size:0.9em;
	}
	#contents--nansolo_admin--all_stories .story_col .image_card_link .subject_wrap{
		min-width: initial;
		width: initial;
		font-size:1.1em;
		max-width:90%;
	}
	#contents--nansolo_admin--all_stories .story_col .story_detail_wrap .subject{
		font-size:1.1em;
	}
	#contents--nansolo_admin--all_stories .c1{
		border:none;
		border-bottom: 2px solid #FFFFFF;
	}
	#contents--nansolo_admin--all_stories .c1
	, #contents--nansolo_admin--all_stories .c1 .backdrop
	{
		height: 400px;
	}
	#contents--nansolo_admin--all_stories .c2r1{
		border-right:2px solid #FFFFFF;
	}
	#contents--nansolo_admin--all_stories .c2r1
	, #contents--nansolo_admin--all_stories .c2r2
	{
		height:200px;
		width: 50%;
		border-bottom: 2px solid #FFFFFF;
		border-top:none;
	}
	#contents--nansolo_admin--all_stories .c2r1 
	, #contents--nansolo_admin--all_stories .c2r2 
	, #contents--nansolo_admin--all_stories .c3r2 
	, #contents--nansolo_admin--all_stories .c3r1 
	, #contents--nansolo_admin--all_stories .c4r1 
	, #contents--nansolo_admin--all_stories .c4r2 
	, #contents--nansolo_admin--all_stories .c4r3 
	, #contents--nansolo_admin--all_stories .c2r1 .backdrop
	, #contents--nansolo_admin--all_stories .c2r2 .backdrop
	, #contents--nansolo_admin--all_stories .c3r1 .backdrop
	, #contents--nansolo_admin--all_stories .c3r2 .backdrop
	, #contents--nansolo_admin--all_stories .c4r1 .backdrop
	, #contents--nansolo_admin--all_stories .c4r2 .backdrop
	, #contents--nansolo_admin--all_stories .c4r3 .backdrop
	{
		height: 200px;
		float:left; 
		box-sizing: border-box;
	}
	#contents--nansolo_admin--all_stories .c3r1
	, #contents--nansolo_admin--all_stories .c3r2
	{
		width:100%;
		border-bottom: 2px solid #FFFFFF;
		border-top:none;
	} 
	#contents--nansolo_admin--all_stories .c4r1{
		border-right: 2px solid #FFFFFF;
	} 
	#contents--nansolo_admin--all_stories .c4r3{
		border-bottom: 2px solid #FFFFFF;
	}
	#contents--nansolo_admin--all_stories .c4r1 
	, #contents--nansolo_admin--all_stories .c4r2
	{
		width: 50%;
		border-top:none;
	}
	 #contents--nansolo_admin--all_stories .c4r3
	 {
	 	width: 100%;
	 }
	
}
/*====================================================
 * 카드별 속성 : 모바일
 ====================================================*/


































































