<div  class="templates--nav--nav_1" >
	<ul class="nav_container">
		{{#each menu}}
			{{#_if page "!=" "index"}}<!--/인덱스 페이지는 출력안함.-->
				<li class="menu_topMenu  ">
					<a href="#!/{{page}}"  class="topMenu_text ST_align_center_middle"
						data-TB_link_page="{{page}}"
						data-TB_link_level="1"
					>{{title}}</a>
					{{#if childMenu}}
						<ul class="childMenu_Container ST_clearfix childMenu_Container_{{@index}}">
						{{#each childMenu}}
							<li class="childMenu">
								<a href="#!/{{page}}" class="childMenu_text"
								 data-TB_link_page="{{page}}"
								 data-TB_link_level="2"
							 >{{title}}</a>
							</li>
						{{/each}}
						</ul>
					{{/if}}
				</li>
			{{/_if}}
		{{/each}}
	</ul>
</div>
