.templates--nav--nav_1{ position: relative; }
.templates--nav--nav_1 a{
	text-decoration: none;
}

.templates--nav--nav_1 .nav_container{
	position: relative; 
	display:block;
	text-align: right;
	
}
	.templates--nav--nav_1 .nav_container:after{
		clear:both; 
		display:block; 
		content:'';
	}
.templates--nav--nav_1 .nav_container > li{
	display:inline-block;
	box-sizing: border-box;
	width: 90px;
	height: 40px;
	text-align:center;
	position: relative;
	font-size: 0.9em;
}
.templates--nav--nav_1 .nav_container > li .topMenu_text{
	font-weight: bold; 
	font-size: 1em;
	color: #555555;
	transition: all 0.2s ease;
}
	.templates--nav--nav_1 .nav_container > li .topMenu_text:hover{
		-webkit-transform: scale(1.2, 1.2);
		-ms-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		z-index: 2;
		text-decoration: underline;
	}

.templates--nav--nav_1 .nav_container .topMenu_active > a{
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	text-decoration: underline;
}
/*==/parent==*/

.templates--nav--nav_1 .nav_container > li > ul{
	position: absolute;
	display:none;
	top:35px;
	right:0;
	border-radius: 0.5em 0.5em 0 0 ;
	background: #353535;
	color: #f5f5f5;
	font: 0.9em 'Malgun Gothic';
}
.templates--nav--nav_1 .nav_container > li > ul.childMenu_active {
	display:block !important;
	border: 1px solid #d5d5d5;
	border-radius: 1.5em;
	box-shadow: 0px 1px 7px #d5d5d5; 
}
.templates--nav--nav_1 .nav_container > li > ul.childMenu_active  li.active_li a{
	color: #ff9547 !important;
}
	.templates--nav--nav_1 .nav_container > li > ul.childMenu_Container_0 {width: 150px; }
	.templates--nav--nav_1 .nav_container > li > ul.childMenu_Container_1{ width: 250px;left:-70px; }
	.templates--nav--nav_1 .nav_container > li > ul.childMenu_Container_2{ width: 200px; left:-48px;}
	.templates--nav--nav_1 .nav_container > li > ul.childMenu_Container_3{ width: 280px; left:-100px; }
	.templates--nav--nav_1 .nav_container > li > ul.childMenu_Container_4{ width: 170px; left:-38px;}
	.templates--nav--nav_1 .nav_container > li > ul.childMenu_Container_5{ width: 460px; left:-210px;}
	.templates--nav--nav_1 .nav_container > li > ul.childMenu_Container_6{ width: 560px; left: -360px}
	.templates--nav--nav_1 .nav_container > li > ul.childMenu_Container_7{ width: 370px; }

.templates--nav--nav_1 .nav_container > li > ul > li{
	display: inline-block; 
}
.templates--nav--nav_1 .nav_container > li > ul > li > a{
	display: inline-block;
	padding: 0.2em 0.7em 0.5em 0.7em;
	cursor: pointer;
	color: white;
}
/*==/children Lv1 ==*/
	
