.templates--m_list--list_1{}
.templates--m_list--list_1 .btn_wrap{
	/*right: -8.1em !important;
	transition: all 0.3s ease-in-out;*/
}
.templates--m_list--list_1 .toggleBtns{
	color: #6B93F9 !important;
	padding: 0.7em 1em !important;
	border-left: 0 !important;
}
.templates--m_list--list_1 .toggleBtns .fa{
	transition: all 0.5s ease-in-out;
}
