<div id="contents--happyborn--treatment_clinic"  class="" >
	<div class="TB_contents_load"
		data-TB_contents_src="templates--bbs--metro_bbs_1"
		data-TB_contents_sendData='contents--happyborn--treatment_clinic--bbs_data'
	></div>
</div>