<div class="templates--search_form--backdrop_search_1" >
	<div class="search_wrapper">
		<div class="title ST_float_left_wrap">
			<div class="ST_col_3"><div class="line">&nbsp;</div></div>
			<div class="ST_col_1"></div>
			<div class="ST_col_4 text">Search</div>
			<div class="ST_col_1"></div>
			<div class="ST_col_3"><div class="line">&nbsp;</div></div>
		</div>
		<!-------/로그인 텍스트 ------->
		
		<div class="search_form_wrap TB_contents_parts"
			data-TB_contents_parts="templates--search_form--backdrop_search_1--form"
		>
			<form class="TB_form ST_form_1"
				data-TB_form_beforeAc='{"sharedFunc":"templates--search_form--backdrop_search_1--search_before"}'
			>
				<input type="hidden" name="search_type" value="{{search_type}}" />
				
				<div class="form_item">
					<div class="form_input ST_float_left_wrap">
						<div class="category_box">
							<select name="search_field">
								<option value="subject">제목</option>
								<option value="subjectNmemo" selected="selected">제목+내용</option>
								<option value="nickname">별명</option>
								<option value="id">아이디</option>
							</select>
							&nbsp;&nbsp;
						</div>
						<div class="search_value_box">
							<input type="text" name="search_value" maxlength="20" size="40" placeholder="검색"
								class="TB_form_validate" data-TB_form_validate='[{"minLen":2,"errText":"2글자이상 입력해주십시요."}]' 
								 title="겁색할 내용을 입력해 주십시요."
							/>
						</div>
					</div>
				</div>
				
				<div class="form_item ">
					<div class="form_input">
						<select name="category">
							{{#_if search_type '==' 'private'}}
							<option value="all" selected="selected">전체</option>
							{{/_if}}
							{{#each render.categories}}
							{{#_if value '==' @root.page}}
							<option value="{{value}}" selected="selected">{{text}}</option>
							{{else}}
							<option value="{{value}}">{{text}}</option>
							{{/_if}}
							{{/each}}
						</select>
					</div>
				</div>
				
				{{#_if TB_userInfo.member_grade '==' 'supervisor'}}
				<div class="detail_search_wrap">
					<div class="form_item">
						<div class="form_input ">
							<input type="text" name="period_start" placeholder="기간 검색 " size="10" maxlength="10"/>
							&nbsp;~&nbsp;
							<input type="text" name="period_end" placeholder="기간 검색" size="10" maxlength="10" />
						</div>
					</div>
				</div>
				{{/_if}}
				
				
				<div class="form_item">
					<label>
						<div class="ST_button_1 ST_theme_color ST_theme_active">검&nbsp;색</div>
						<input type="submit" class="ST_hide" />
					</label>
				</div>
				
			</form>
		</div>
		<!-------/검색 폼------->
	</div>
</div>
