#header_wrap{position:relative; z-index: 2;}
#contents_wrap{position:relative; z-index: 1;}
#contents--dreamyacht--header{position: relative;}
.drag-target{z-index:1;}

#contents--dreamyacht--header .pc_header_wrap{
	position: fixed;
	width:100%;
	top:0;
	left:0;
	background: rgba(0,0,0,0);
	border-bottom: 1px solid transparent;
}
	#contents--dreamyacht--header .pc_header_wrap.scrolled{
		border-bottom: 1px solid #9e9e9e;
		-webkit-background: rgba(35,35,35,0.90);
		-ms-background: rgba(35,35,35,0.90);
		background: rgba(35,35,35,0.90);
	}
#contents--dreamyacht--header .pc_header_container{
	position: relative;
	margin-top:15px;
	box-sizing: border-box;
}
	#contents--dreamyacht--header .pc_header_wrap.scrolled .pc_header_container{
		margin-top:0;
	}
#contents--dreamyacht--header .pc_header_container .logo{
	position: absolute;
	left: 20px;
	top:0px;
	bottom:0px;
	margin: auto;
	width:200px;
	height: 30px;
	
}
	#contents--dreamyacht--header .pc_header_wrap.scrolled .logo{
		width: 140px;	
	}
#contents--dreamyacht--header .pc_header_container .child_bg{
	position: absolute;
	top: 44px;
	width: 100%;
	/*height: 44px;*/
	-webkit-background: rgba(75,75,75,0.90);
	-ms-background: rgba(75,75,75,0.90);
	background: rgba(75,75,75,0.90);
	display:none;
	box-sizing: border-box;
}
#contents--dreamyacht--header .pc_header_container .child_bg.active{
	height :44px;
}
	#contents--dreamyacht--header .pc_header_container .child_bg.scrolled{
		display:block;
	}
#contents--dreamyacht--header .pc_header_container .nav_container{
	position: relative;
	width: 600px;
	margin: auto;
	text-align: center;
	top:0;
	font-family: 'Noto Sans KR', sans-serif;
	/*font-weight: bold;*/
}
#contents--dreamyacht--header .pc_header_container .nav_container .row{
	/*margin-top: 20px;*/
	margin-bottom:0;
}
#contents--dreamyacht--header .pc_header_container .nav .parent_menu{
	position:relative;
	float:left;
	width: 20%;
	overflow: visible;
}
#contents--dreamyacht--header .pc_header_container .nav .parent_menu.active
, #contents--dreamyacht--header .pc_header_container .nav .parent_link.active
{
	color: #5fabd5 !important;
}
#contents--dreamyacht--header .pc_header_container .nav .parent_link{
	transition: color 0.2s ease;
}
	#contents--dreamyacht--header .pc_header_container .nav .parent_link:hover
	{
		color: #5fabd5 !important;
	}
#contents--dreamyacht--header .pc_header_container .nav .parent_title{
	padding: 15px 0;
}

#contents--dreamyacht--header .pc_header_container .nav .childMenu_container .shim{
	font-size: 0.7em;
}
#contents--dreamyacht--header .pc_header_container .nav .childMenu_container{
	position: absolute;
	padding-top: 2px;
	box-sizing: border-box;
	z-index: 1;
}
#contents--dreamyacht--header .pc_header_container .nav .childMenu_container_0{
	width: 200px;
}
#contents--dreamyacht--header .pc_header_container .nav .childMenu_container_1{
	width: 580px;
	left: -120px;
}
#contents--dreamyacht--header .pc_header_container .nav .childMenu_container_2{
	width: 310px;
	left: -90px;
}
#contents--dreamyacht--header .pc_header_container .nav .childMenu_container_3{
	width: 200px;
	left: -50px;
}
#contents--dreamyacht--header .pc_header_container .nav .childMenu_container_4{
	width: 590px;
	right:0
}
	#contents--dreamyacht--header .pc_header_container .nav .parent_menu:hover .childMenu_container{
		display:block;
	}
#contents--dreamyacht--header .pc_header_container .nav .childMenu_container_4 li{
	padding: 12px 8px
}
#contents--dreamyacht--header .pc_header_container .nav .child_menu
, #contents--dreamyacht--header .pc_header_container .nav .shim
{
	padding: 12px;
}
	#contents--dreamyacht--header .pc_header_container .nav .child_link:hover
	, #contents--dreamyacht--header .pc_header_container .nav .child_link.active
	{
		color: #FFFFFF !important;
	}




#contents--dreamyacht--header .pc_header_container .sns_icons{
	position: absolute;
	width: 30px;
	height: 32px;
	right: 20px;
	top:0;
	bottom:0;
	margin: auto;
}
#contents--dreamyacht--header .pc_header_container .sns_icons img{
	width: 30px;
}

#contents--dreamyacht--header .pc_header_container .cursor_container{
	/*width: 620px;
	left:0; right:0;
	margin: auto;*/
	position: absolute;
	bottom: -7px;
}
#contents--dreamyacht--header .pc_header_container  .cursor_line
{
	box-sizing: border-box;
	border-top: 1px solid #9e9e9e;
	width: 620px;
	position: absolute;
	left:0; right:0;
	margin: auto;
	bottom: -1px;
	opacity: 0;
}
#contents--dreamyacht--header .pc_header_container .cursor_container .center{
	border-radius: 50%;
	padding: 7px;
	background: #5fabd5;
	opacity: 0;
}


/*=================================================
 * PC 헤더
 =================================================*/





#contents--dreamyacht--header .mobile_header_wrap{
	position: fixed;
	width:100%;
	top:0;
	left:0;
	background: rgba(0,0,0,0);
	/*border-bottom: 1px solid transparent;
	border-bottom: 1px solid #9e9e9e;*/
	-webkit-background: rgba(72,72,72,0.90);
	-ms-background: rgba(72,72,72,0.90);
	background: rgba(72,72,72,0.90);
}
#sidenav-overlay{
	z-index: 1 !important;	
}
#contents--dreamyacht--header .mobile_header_wrap .side-nav{
	-webkit-background-color: rgba(255, 255, 255, 0.95);
	-ms-background-color: rgba(255, 255, 255, 0.95);
	background-color: rgba(255, 255, 255, 0.95);
	width: 250px;
}
#contents--dreamyacht--header .mobile_header_wrap .side-nav li{
	width: 100%;
}
#contents--dreamyacht--header .mobile_header_wrap .side-nav .parent_link{
	font-weight: bold;
}
	#contents--dreamyacht--header .mobile_header_wrap .side-nav .parent_link.active{
		text-decoration: underline;
	}
#contents--dreamyacht--header .mobile_header_wrap .side-nav .child_link{
	padding: 0px 30px;
}
	#contents--dreamyacht--header .mobile_header_wrap .side-nav .child_link.active{
		color: #5fabd5 !important;
	}
#contents--dreamyacht--header .mobile_header_wrap .side-nav .logo{
	text-align: center;
	margin-top: 32px;
	margin-bottom: 40px;
	line-height: 44px;
	height: 50px;
}
	#contents--dreamyacht--header .mobile_header_wrap .side-nav .logo a:hover{
		background-color : transparent;
	}
#contents--dreamyacht--header .mobile_header_wrap .side-nav .logo img{
	max-width: 180px;
}
#contents--dreamyacht--header .mobile_header_wrap .side-nav .phone_call{
}
#contents--dreamyacht--header .mobile_header_wrap .side-nav .phone_call a{
	display:inline;
	color: #4693db;
}
#contents--dreamyacht--header .mobile_header_wrap .side-nav .phone_call a span{
	border: 1px solid;
	border-radius: 50%;
	box-sizing: border-box;
	padding: 10px;
}

/*=================================================
 * 모바일 헤더
 =================================================*/



































