#contents--dreamyacht--community{}
#contents--dreamyacht--community a{
	color: #039be5;
	cursor: pointer;
}
	#contents--dreamyacht--community a:visited{
		color: #039be5;
	}
#contents--dreamyacht--community .collection-item .writetime
, #contents--dreamyacht--community .collection-item .nick
{
	color: #999999;
	font-family: 'Noto Sans Korea', sans-serif;
	font-weight: 100;
	font-size: 0.8em;
}
#contents--dreamyacht--community .collection-item .nick{
	margin-right: 10px;
}
#contents--dreamyacht--community .collection-item .sub_info{
	height: 0.8em;
}
#contents--dreamyacht--community .col_space{
	width: 20px;
	height: 1em;
}
#contents--dreamyacht--community .writetime{
	font-size: 0.8em;
}

#contents--dreamyacht--community .circle_img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
}
#contents--dreamyacht--community .bg{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 900px;
}
#contents--dreamyacht--community .pattern{
	position:absolute;
	width: 100%; 
	height: 700px;
	opacity: 0.1;
}
#contents--dreamyacht--community .detail{
	line-height: 2em;
	width: 500px;
	margin: auto;
	max-width: 90%;
}
/*=======================================
 * 글로벌
 =======================================*/

#contents--dreamyacht--community .r_1{
	overflow: hidden;
}
#contents--dreamyacht--community .r_1 .container{
	position: relative;
	/*z-index:3;*/
}
#contents--dreamyacht--community .r_1 .container .space{
	height: 60px;
}
#contents--dreamyacht--community .r_1 .container .text_wrap{
	color: #ceb483;
	text-align: center;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	padding-top: 170px;
}
#contents--dreamyacht--community .r_1 .container .text_wrap .flow-text{
	line-height: 1.5em;
}
@media (max-width: 991px){
	#contents--dreamyacht--community .r_1 .container .text_wrap{
		padding-top: 110px;
	}
	#contents--dreamyacht--community .r_1 .container .text_wrap .desc{
		/*font-size: 1.1em;*/
	}
}
#contents--dreamyacht--community .r_1 .container .icons_wrap{
	position : absolute;
	top: 650px;
	height: 1300px;
	width:100%;
}
#contents--dreamyacht--community .r_1 .container .icons_wrap .icons_container{
	width: 100%;
	text-align: center;
}
#contents--dreamyacht--community .r_1 .container .icons_wrap .icon_box {
	width: 100px
	position: relative;
	margin: auto;
}
#contents--dreamyacht--community .r_1 .container .icons_wrap .icon_box .icon{
	color: #5fabd5;
	background: #FFFFFF;
	font-size: 50px;
	border-radius: 50%;
	padding: 25px;
	/*transform: scale(0.8);*/
	margin-bottom: 20px;
}
	#contents--dreamyacht--community .r_1 .container .icons_wrap .icon_box .icon:hover{
		transform : scale(1.2) ;
		box-shadow : 0 2px 0 rgba(0,0,0, 0.5);
		background: #5fabd5;
		color: #ffffff;
	}
@media (max-width: 991px){
	#contents--dreamyacht--community .r_1 .container .icons_wrap .icon_box .icon{
		font-size: 33px;
		padding: 20px;
	}
}
#contents--dreamyacht--community .r_1 .container .icons_wrap .icon_box .text{
	width: 100%;
	color: #FFFFFF;
	text-align: center;
}
#contents--dreamyacht--community .r_1 .filter{
	height: inherit;
	min-height: inherit;
	position: absolute;
	top:0;
	left:0;
	background: #222222;
	/*z-index: 2;*/
	width: 100%;
}
#contents--dreamyacht--community .r_1 .main_img{
	background: url('/TB/img/contents/community/main_3.jpg') no-repeat center /cover;
	height: 1200px;
	width:100%;
	position: absolute;
	left:0;
	top:0;
}
@media(max-width:991px){
	#contents--dreamyacht--community .r_1 .main_img{
		height: 700px;
	}
}
/*=============================================================
 * r_1 
 =============================================================*/

#contents--dreamyacht--community .r_2
, #contents--dreamyacht--community .r_3
, #contents--dreamyacht--community .r_4
, #contents--dreamyacht--community .r_5
, #contents--dreamyacht--community .r_6
{
	position: relative;
	z-index: 5;
	background: #FFFFFF;
}
/*=============================================================
 * r_2 : 소개
 =============================================================*/


#contents--dreamyacht--community  .r_5 .price_chart{
	text-align: center;
	display:table;
}
#contents--dreamyacht--community  .r_5 .price_chart th{
	line-height: 1.7em;
	background: #039BE5;
	color: #FFFFFF;
} 
#contents--dreamyacht--community  .r_5 .price_chart td
, #contents--dreamyacht--community .r_5 .price_chart th 
{
	border: 1px solid #D5D5D5;
	border-collapse: collapse;
	text-align: center;
}
#contents--dreamyacht--community  .r_5 .price_chart .tfoot{
	text-indent: 15px;
	
}
/*=============================================================
 * r_5
 =============================================================*/




#contents--dreamyacht--community .footer_wrap{
 	width:100%;
 	background: #dcdcdc;
 	position: relative;
 	z-index: 5;
 }
#contents--dreamyacht--community .footer_wrap p{
	line-height: 2em;
}
@media (max-width: 991px){
	#contents--dreamyacht--community .footer_wrap{
	}
}
/*=============================================================
 * footer
 =============================================================*/
