<div id="contents--dreamyacht--community">
	
	<div class="ST_hide scroll_spy_buttons">
		<a href="#community_notice" class="trigger_community_notice"></a>
		<a href="#community_postscript" class="trigger_community_postscript"></a>
		<a href="#community_qna" class="trigger_community_qna"></a>
		<a href="#community_price" class="trigger_community_price"></a>
		<a href="#community_location" class="trigger_community_location"></a>
	</div>
	
	<div class="r_1 ST_section ST_section_m" >
		
		<div class="main_img TB_ui_parallaxScroll"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_1"}' 
		></div>
		<!--/bg/-->
		
		<div class="filter ST_opacity_70_p "></div>
		<div class="container">
			<div class="space"></div>
			
			<div class="text_wrap ">
				<div class="ST_title ST_title_s ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					DREAMYACHT
				</div>
				<div class="ST_title ST_title_l ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					<b>COMMUNITY</b>
				</div>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		메인 이미지
	-------------------------------------------->
	
	<div id="community_notice" class="r_2 ST_row ST_section ST_section_m scroll_spy " >
		<div class="container ST_z-index_1">
			<div class="row grey-text text-darken-2">
				<h3 >공지사항</h3>
				<div class="divider"></div>
			</div>
			
			
			<div class="row TB_contents_parts" data-TB_contents_parts="TB_bbs_list_wrap" >
				<script type="x-haldlebars-template">
					<ul class="collection">
						{{#each list}}
						<li class="collection-item">
							<span class="title">
								<a href="#!/view_item_dreamyacht?reqQuery={{@root.query_view_item}}&no={{no}}">
								{{subject}}
								</a>
							</span>
							{{#if @root.TB_userInfo}}
							<a class="TB_bbs_delete_button secondary-content" data-delete_item='{"no":{{no}} }'>삭제</a>
							<div class="col_space secondary-content">&nbsp;</div>
							<a href="#!/modify_form_dreamyacht?reqQuery={{@root.query_modify_item}}&no={{no}}" 
								class="secondary-content"
							>수정
							</a>
							{{/if}}
							<div class="sub_info ST_clearfix">
								<div class="secondary-content writetime">{{writetime}}</div>
								<div class="secondary-content nick">{{nick}}</div>
							</div>
						</li>
						{{/each}}
					</ul>
				</script>
			</div>
			
			<div class="row">
				<div class="col s12">
					<ul class="pagination center-align TB_contents_parts"
						data-TB_contents_parts="TB_bbs_pagination" 
					>	
						{{#_if list_info.cur_block '&gt;' 1}}
						<li class="disabled waves-effect ST_hover_text_moveup">
							<a href="#!/community_notice?notice_page={{@root.list_info.prev_block_page}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}">
								<i class="material-icons">&#xE5CB;</i>
							</a>
						</li>
						{{/_if}}
						
						{{#each list_info.page_link}}
						{{#_if link '==' @root.list_info.page  }}
						<li class="ST_theme ">
							<a href="#!/community_notice?notice_page={{link}}&{{hasReturnVal @root.category 'category=' ''}}{{@root.category}}" 
							class=" white-text">{{link}}</a>
						</li>
						{{else}}
						<li class="waves-effect ST_hover_text_moveup">
							<a href="#!/community_notice?notice_page={{link}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}"  >{{link}}</a>
						</li>
						{{/_if}}
						{{/each}}
						
						{{#_if list_info.cur_block '&lt;' list_info.total_block}}
						<li class="disabled waves-effect ST_hover_text_moveup">
							<a href="#!/community_notice?notice_page={{@root.list_info.next_block_page}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}">
								<i class="material-icons">&#xE5CC;</i>
							</a>
						</li>
						{{/_if}}
					</ul>
				</div>
			</div>
			
			{{#_if TB_userInfo.member_grade '==' 'supervisor'}}
			<div class="row">
				<div class="col offset-m10 m2 s12 right-align">
					<a href="#!/write_form_dreamyacht?reqQuery={{query_insert_query}}">
						<div class="btn-floating btn-large waves-effect waves-light blue ST_dis_inline_block">
							<i class="fa fa-pencil"></i>
						</div>
					</a>
				</div>
			</div>
			{{/_if}}
			
		</div>
		
	</div>
	<!--------------------------------------------
		공지사항
	-------------------------------------------->
	
	
	<div id="community_postscript" class="r_3 ST_row ST_section ST_section_m scroll_spy " >
		<div class="container ST_z-index_1">
			<div class="row grey-text text-darken-2">
				<h3 >후 기</h3>
				<div class="divider"></div>
			</div>
			
			<div class="row TB_contents_parts" data-TB_contents_parts="TB_bbs_list_wrap" >
				<script type="x-haldlebars-template">
					<ul class="collection">
						{{#each list}}
						<li class="collection-item">
							<span class="title">
								<a href="#!/view_item_dreamyacht?reqQuery={{@root.query_view_item}}&no={{no}}">
								{{subject}}
								&nbsp;{{#_if hidden '==' '1' }}<span class="fa fa-lock"></span>{{/_if}}
								</a>
							</span>
							{{#if @root.TB_userInfo}}
							<a class="TB_bbs_delete_button secondary-content" data-delete_item='{"no":{{no}} }'>삭제</a>
							<div class="col_space secondary-content">&nbsp;</div>
							{{/if}}
							<a href="#!/modify_form_dreamyacht?reqQuery={{@root.query_modify_item}}&no={{no}}" 
								class="secondary-content"
							>수정
							</a>
							<div class="sub_info ST_clearfix">
								<div class="secondary-content writetime">{{writetime}}</div>
								<div class="secondary-content nick">{{nick}}</div>
							</div>
						</li>
						{{/each}}
					</ul>
				</script>
			</div>
			
			<div class="row">
				<div class="col s12">
					<ul class="pagination center-align TB_contents_parts"
						data-TB_contents_parts="TB_bbs_pagination" 
					>	
						{{#_if list_info.cur_block '&gt;' 1}}
						<li class="disabled waves-effect ST_hover_text_moveup">
							<a href="#!/community_postscript?postscript_page={{@root.list_info.prev_block_page}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}">
								<i class="material-icons">&#xE5CB;</i>
							</a>
						</li>
						{{/_if}}
						
						{{#each list_info.page_link}}
						{{#_if link '==' @root.list_info.page  }}
						<li class="ST_theme ">
							<a href="#!/community_postscript?postscript_page={{link}}&{{hasReturnVal @root.category 'category=' ''}}{{@root.category}}" 
							class=" white-text">{{link}}</a>
						</li>
						{{else}}
						<li class="waves-effect ST_hover_text_moveup">
							<a href="#!/community_postscript?postscript_page={{link}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}"  >{{link}}</a>
						</li>
						{{/_if}}
						{{/each}}
						
						{{#_if list_info.cur_block '&lt;' list_info.total_block}}
						<li class="disabled waves-effect ST_hover_text_moveup">
							<a href="#!/community_postscript?postscript_page={{@root.list_info.next_block_page}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}">
								<i class="material-icons">&#xE5CC;</i>
							</a>
						</li>
						{{/_if}}
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col offset-m10 m2 s12 right-align">
					<a href="#!/write_form_dreamyacht?reqQuery={{query.postscript_insert}}">
						<div class="btn-floating btn-large waves-effect waves-light blue ST_dis_inline_block">
							<i class="fa fa-pencil"></i>
						</div>
					</a>
				</div>
			</div>
			
		</div>
		
	</div>
	<!--------------------------------------------
		후기
	-------------------------------------------->
	
	
	<div id="community_qna" class="r_4 ST_row ST_section ST_section_m scroll_spy " >
		<div class="container ST_z-index_1">
			<div class="row grey-text text-darken-2">
				<h3 >문 의</h3>
				<div class="divider"></div>
			</div>
			
			<div class="row TB_contents_parts" data-TB_contents_parts="TB_bbs_list_wrap" >
				<script type="x-haldlebars-template">
					<ul class="collection">
						{{#each list}}
						<li class="collection-item">
							<span class="title">
								<a href="#!/view_item_dreamyacht?reqQuery={{@root.query_view_item}}&no={{no}}">
								{{subject}}
								&nbsp;{{#_if hidden '==' '1' }}<span class="fa fa-lock"></span>{{/_if}}
								</a>
							</span>
							{{#if @root.TB_userInfo}}
							<a class="TB_bbs_delete_button secondary-content" data-delete_item='{"no":{{no}} }'>삭제</a>
							<div class="col_space secondary-content">&nbsp;</div>
							{{/if}}
							<a href="#!/modify_form_dreamyacht?reqQuery={{@root.query_modify_item}}&no={{no}}" 
								class="secondary-content"
							>수정
							</a>
							<div class="sub_info ST_clearfix">
								<div class="secondary-content writetime">{{writetime}}</div>
								<div class="secondary-content nick">{{nick}}</div>
							</div>
						</li>
						{{/each}}
					</ul>
				</script>
			</div>
			
			<div class="row">
				<div class="col s12">
					<ul class="pagination center-align TB_contents_parts"
						data-TB_contents_parts="TB_bbs_pagination" 
					>	
						{{#_if list_info.cur_block '&gt;' 1}}
						<li class="disabled waves-effect ST_hover_text_moveup">
							<a href="#!/community_qna?qna_page={{@root.list_info.prev_block_page}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}">
								<i class="material-icons">&#xE5CB;</i>
							</a>
						</li>
						{{/_if}}
						
						{{#each list_info.page_link}}
						{{#_if link '==' @root.list_info.page  }}
						<li class="ST_theme ">
							<a href="#!/community_qna?qna_page={{link}}&{{hasReturnVal @root.category 'category=' ''}}{{@root.category}}" 
							class=" white-text">{{link}}</a>
						</li>
						{{else}}
						<li class="waves-effect ST_hover_text_moveup">
							<a href="#!/community_qna?qna_page={{link}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}"  >{{link}}</a>
						</li>
						{{/_if}}
						{{/each}}
						
						{{#_if list_info.cur_block '&lt;' list_info.total_block}}
						<li class="disabled waves-effect ST_hover_text_moveup">
							<a href="#!/community_qna?qna_page={{@root.list_info.next_block_page}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}">
								<i class="material-icons">&#xE5CC;</i>
							</a>
						</li>
						{{/_if}}
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col offset-m10 m2 s12 right-align">
					<a href="#!/write_form_dreamyacht?reqQuery={{query.qna_insert}}">
						<div class="btn-floating btn-large waves-effect waves-light blue ST_dis_inline_block">
							<i class="fa fa-pencil"></i>
						</div>
					</a>
				</div>
			</div>
			
		</div>
		
	</div>
	<!--------------------------------------------
		qna
	-------------------------------------------->
	
	<div id="community_price" class="r_5 ST_row ST_section ST_section_m scroll_spy " >
		<div class="container ST_z-index_1">
			<div class="row grey-text text-darken-2">
				<h3 >요금안내</h3>
				<div class="divider"></div>
			</div>
			
			<div class="row">
				<table align="center" valign="middle" class="price_chart">
					<thead>
						<tr>
							<th width="35%">Yacht Program<br/>(프로그래냄 내용 고객과 협의)</th>
							<th width="30%">Price List<br/>(체험 시간 및 비용)</th>
							<th width="35%">Remark<br/>(다양한 프로그램)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td >
								<div class="TB_el" data-TB_el_name="community_price_charet_r1c1"></div>
							</td>
							<td >
								<div class="TB_el" data-TB_el_name="community_price_charet_r1c2"></div>
							</td>
							<td >
								<div class="TB_el" data-TB_el_name="community_price_charet_r1c3"></div>
							</td>
						</tr>
						<tr>
							<td >
								<div class="TB_el" data-TB_el_name="community_price_charet_r2c1"></div>
							</td>
							<td >
								<div class="TB_el" data-TB_el_name="community_price_charet_r2c2"></div>
							</td>
							<td >
								<div class="TB_el" data-TB_el_name="community_price_charet_r2c3"></div>
							</td>
						</tr>
						<tr>
							<td >
								<div class="TB_el" data-TB_el_name="community_price_charet_r3c1"></div>
							</td>
							<td >
								<div class="TB_el" data-TB_el_name="community_price_charet_r3c2"></div>
							</td>
							<td >
								<div class="TB_el" data-TB_el_name="community_price_charet_r3c3"></div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3" >
								<div class="tfoot TB_el" data-TB_el_name="community_price_detail"></div>
							</td>
						</tr>
					</tfoot>
				</table>
				<p >
					
				</p>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		요금 안내
	-------------------------------------------->
	
	
	<div id="community_location" class="r_6 ST_row ST_section ST_section_m scroll_spy " >
		<div class="container ST_z-index_1">
			<div class="row grey-text text-darken-2">
				<h3 >위치안내</h3>
				<div class="divider"></div>
			</div>
			
			<div class="row">
				<p class="TB_el" data-TB_el_name="community_location_detail"></p>
			</div>
			
			<div class="row">
				<div id="map_canvas" class="ST_section ST_section_l"></div>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		요금 안내
	-------------------------------------------->
	
	
	
	
	
	
	<div class="footer_wrap ST_section ">
		<div class="container center-align">
			<div class="grey-text text-darken-1">
				<div class="TB_el" data-TB_el_name="footer"></div>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		footer
	-------------------------------------------->
	
	
</div>