
<div id="layout--metro--sideNav">
	
	<div id="header_wrap" class="header_wrap TB_contents_load "
		data-TB_contents_src = "contents--nansolo--header"
	></div><!--/header-->
	
	<div id="contents_wrap" class="contents_wrap"></div><!--/contents-->
	
</div>