#contents--dreamyacht--sale{}
#contents--dreamyacht--sale a{
	cursor: pointer;
}

#contents--dreamyacht--sale .circle_img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
}
#contents--dreamyacht--sale .bg{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 900px;
}
#contents--dreamyacht--sale .pattern{
	position:absolute;
	width: 100%; 
	height: 700px;
	opacity: 0.1;
}
#contents--dreamyacht--sale .detail{
	line-height: 2em;
	width: 500px;
	margin: auto;
	max-width: 90%;
}

#contents--dreamyacht--sale .r_1{
	overflow: hidden;
	height: 650px;
}
#contents--dreamyacht--sale .r_1 .container{
	position: relative;
	/*z-index:3;*/
}
#contents--dreamyacht--sale .r_1 .container .space{
	height: 60px;
}
#contents--dreamyacht--sale .r_1 .container .text_wrap{
	color: #ceb483;
	text-align: center;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	padding-top: 170px;
}
#contents--dreamyacht--sale .r_1 .container .text_wrap .flow-text{
	line-height: 1.5em;
}
@media (max-width: 991px){
	#contents--dreamyacht--sale .r_1 .container .text_wrap{
		padding-top: 110px;
	}
	#contents--dreamyacht--sale .r_1 .container .text_wrap .desc{
		/*font-size: 1.1em;*/
	}
}
#contents--dreamyacht--sale .r_1 .container .icons_wrap{
	position : absolute;
	top: 650px;
	height: 1300px;
	width:100%;
}
#contents--dreamyacht--sale .r_1 .container .icons_wrap .icons_container{
	width: 100%;
	text-align: center;
}
#contents--dreamyacht--sale .r_1 .container .icons_wrap .icon_box {
	width: 100px
	position: relative;
	margin: auto;
}
#contents--dreamyacht--sale .r_1 .container .icons_wrap .icon_box .icon{
	color: #5fabd5;
	background: #FFFFFF;
	font-size: 50px;
	border-radius: 50%;
	padding: 25px;
	/*transform: scale(0.8);*/
	margin-bottom: 20px;
}
	#contents--dreamyacht--sale .r_1 .container .icons_wrap .icon_box .icon:hover{
		transform : scale(1.2) ;
		box-shadow : 0 2px 0 rgba(0,0,0, 0.5);
		background: #5fabd5;
		color: #ffffff;
	}
@media (max-width: 991px){
	#contents--dreamyacht--sale .r_1 .container .icons_wrap .icon_box .icon{
		font-size: 33px;
		padding: 20px;
	}
}
#contents--dreamyacht--sale .r_1 .container .icons_wrap .icon_box .text{
	width: 100%;
	color: #FFFFFF;
	text-align: center;
}
#contents--dreamyacht--sale .r_1 .filter{
	height: inherit;
	position: absolute;
	top:0;
	left:0;
	background: #222222;
	/*z-index: 2;*/
	width: 100%;
}
#contents--dreamyacht--sale .r_1 .main_img{
	background: url('/TB/img/contents/sale/main_2.jpg') no-repeat center /cover;
	height: 1200px;
	width:100%;
	position: absolute;
	left:0;
	top:0;
}
@media(max-width:991px){
	#contents--dreamyacht--sale .r_1 .main_img{
		height: 700px;
	}
}
/*=============================================================
 * r_1 
 =============================================================*/

#contents--dreamyacht--sale .r_2{
	position: relative;
	z-index: 5;
	background: #FFFFFF;
}
/*=============================================================
 * r_2 : 소개
 =============================================================*/




#contents--dreamyacht--sale .footer_wrap{
 	width:100%;
 	background: #dcdcdc;
 	position: relative;
 	z-index: 5;
 }
#contents--dreamyacht--sale .footer_wrap p{
	line-height: 2em;
}
@media (max-width: 991px){
	#contents--dreamyacht--sale .footer_wrap{
	}
}
/*=============================================================
 * footer
 =============================================================*/
