body{
	font-family: 'Nanum Gothic';
}
#contents--happyborn--postpartumCare_schedule{
}
#contents--happyborn--postpartumCare_schedule a{
	text-decoration:none;
	color: #383FFF;
}
#contents--happyborn--postpartumCare_schedule a:visited{
	color: #383FFF;
	/*color: #777777;*/
}
#contents--happyborn--postpartumCare_schedule .metro_fullContainer {
}
#contents--happyborn--postpartumCare_schedule .metro_fullContainer .wysiwyg-popup{
	left:0 !important;
	color: #555555 !important;
}

/*==/모바일 ==*/

/*=========================================
 * 공통
 =========================================*/

#contents--happyborn--postpartumCare_schedule .nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	z-index: 2;
}
#contents--happyborn--postpartumCare_schedule  .nav_active{
	background: #f7f7f7 !important;
	color: #ff9547 !important;
}
/*============================================
 * 네비게이션:공통
 ============================================*/

#contents--happyborn--postpartumCare_schedule .categories_wrap .pc_nav_container{
	position: fixed;
	margin-top: 80px;
	margin-left:20px; 
	line-height: 1em;
	z-index:3;
}
#contents--happyborn--postpartumCare_schedule .categories_wrap .pc_nav_container .title{
	width: 200px;
}
#contents--happyborn--postpartumCare_schedule .categories_wrap .pc_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em;
	cursor: pointer;
}
#contents--happyborn--postpartumCare_schedule .categories_wrap .pc_nav_container ul{
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
	box-sizing: border-box;
}
#contents--happyborn--postpartumCare_schedule .categories_wrap .pc_nav_container ul li{
	padding: 1em 0;
	height: auto;
	background:#ffffff;
	box-sizing: border-box;
	border-bottom: 1px solid #d5d5d5;
	color: #555555;
	cursor: pointer;
	font-size: 0.9em;
	text-align: center;
}
	#contents--happyborn--postpartumCare_schedule .categories_wrap .pc_nav_container ul li:hover{
		text-decoration: underline;
	}
/*============================================
 * 네비게이션:PC
 ============================================*/

#contents--happyborn--postpartumCare_schedule .mobile_nav_container{
	width: 100%;
	top: 60px;
	z-index: 3;
}
#contents--happyborn--postpartumCare_schedule .mobile_nav_container .nav_foldBtn{
	right: 1em;
	position: absolute;
}
#contents--happyborn--postpartumCare_schedule .mobile_nav_container li{
	padding: 1em;
	border-top: 1px solid #d5d5d5;
	text-align: center;
	background: #ffffff;
}
/*============================================
 * 네비게이션:mobile
 ============================================*/


#contents--happyborn--postpartumCare_schedule .parts_list_wrap .cover{
	width: 90%;
	margin: auto;
	-ms-max-width: 500px;
	max-width: 500px;
	position: absolute;
	height: 290px;
	top:0; right:0; bottom: 0; left:0;
}
#contents--happyborn--postpartumCare_schedule .parts_list_wrap .cover > div{
-webkit-box-shadow: 0 1px 7px #d5d5d5; 
	-moz-box-shadow: 0 1px 7px #d5d5d5; 
	-ms-box-shadow: 0 1px 7px #d5d5d5; 
	-o-box-shadow: 0 1px 7px #d5d5d5; 
	box-shadow: 0 1px 7px #d5d5d5;
}
#contents--happyborn--postpartumCare_schedule .parts_list_wrap .cover .time{
	position: absolute;
	left: 1em;
	top: 1em;
	padding: 0.2em 0.4em;
	font-weight:bold;
	background: #ff9547;
	border-radius: 0 0.5em 0 0.5em;
	box-shadow: 3px 3px #D46B1D;
	z-index: 2;
	min-width: 100px;
	min-height: 1em;
	text-align:center;
}
#contents--happyborn--postpartumCare_schedule .parts_list_wrap .cover .time .TB_el{
	color: #ffffff;
}
#contents--happyborn--postpartumCare_schedule .parts_list_wrap .cover img{
	width:100%;
}
#contents--happyborn--postpartumCare_schedule .parts_list_wrap .cover .schedule{
	height: 50px;
}
#contents--happyborn--postpartumCare_schedule .parts_list_wrap .cover .schedule .TB_el{
	margin-top: 1.3em;
}
/*============================================
 * 리스트:공통
 ============================================*/


/*============================================
 * 리스트:pc
 ============================================*/


/*============================================
 * 리스트:pc
 ============================================*/




 





























