<div id="contents--happyborn--postpartumCare_schedule">
	<!-- <div class="TB_style" data-TB_style="ST_response_pc_top_50%"></div> -->
	<div class="mobile_nav_container nav_container  ST_posi_fixed ST_box_shadow_1 TB_style"
		data-TB_style="ST_visible_mobile_block"
	>
		<div class="title">
			프로그램보기<span class="nav_foldBtn fa fa-caret-down"></span>
		</div>
		<ul class="ST_dis_none">
			<li class="navBtn nav_active" data-category="0" >산모</li>
			<li class="navBtn " data-category="1" >신생아</li>
		</ul>
	</div><!--/mobile nav-->
	
	<div class="metro_wrap ST_float_wrap">
		
		<div class="metro_fullContainer metro_1 TB_style" data-TB_metro_width="230_px"
			data-TB_style="ST_hidden_mobile"   
		>
			<div class="categories_wrap " >
				<div class="pc_nav_container nav_container ST_opacity_90_p ST_box_shadow_1">
					<div class="title">스케쥴<span class="nav_foldBtn fa fa-caret-up"></span></div>
					<ul >
						<li class="navBtn nav_active" data-category="0" >산모</li>
						<li class="navBtn " data-category="1" >신생아</li>
					</ul>
				</div>
			</div><!--/pc nav-->
		</div><!--/metro_1-->
		
		<div class="space TB_style" data-TB_style="ST_response_mobile_height_100px"></div>
		
		<div class="TB_contents_parts parts_list_wrap" data-TB_contents_parts="contents--happyborn--postpartumCare_schedule--list">
			{{#each list}}
			<div class="metro_fullContainer ST_opacity_0 TB_style" data-TB_metro_width="500_px" data-TB_metro_m_hei="320_px"
				data-TB_style="ST_response_mobile_padding_3em 0em"
			>
				<div class="cover  "  >
					<div>
						<div class="time">
							<div class="TB_el" 
								data-TB_el_name="contents--happyborn--postpartumCare_schedule--time_{{category}}_{{num}}"
							></div>
						</div>
						<div class="bg">
							<div class="TB_el" 
								data-TB_el_name="contents--happyborn--postpartumCare_schedule--bg_{{category}}_{{num}}"
							></div>
						<div class="schedule">
							<div class="TB_el" 
								data-TB_el_name="contents--happyborn--postpartumCare_schedule--schedule_{{category}}_{{num}}"
							></div>
						</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div><!--/list-->
		
	</div>
	
	
</div>