.templates--nav--m_nav_1{}

.templates--nav--m_nav_1 .bg{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
}

/*===================================
 * 배경
 ===================================*/

.templates--nav--m_nav_1 .nav_wrap {
	position: fixed;
	top:0;
	right: 0;
	/*width: 30%;*/
	width: 250px;
	min-width: 250px;
	overflow-y: auto; 
	overflow-x: hidden;
	z-index: 1; 
	background: #ffffff;
}
.templates--nav--m_nav_1 .nav_wrap .topContainer{
	position: relative;
	font-size: 1em;
	height: 60px;
}
.templates--nav--m_nav_1 .nav_wrap .topContainer a {
	color: #ffffff;
	text-decoration: none;
}
	.templates--nav--m_nav_1 .nav_wrap .topContainer a:visited{
		color: #ffffff;
	}
.templates--nav--m_nav_1 .nav_wrap .topContainer > div{
	display:inline-block;
	padding: 0 0.5em 0 0.5em;
}
.templates--nav--m_nav_1  .nav_wrap .topContainer .showContentBtn> div{
	font-size: 1.5em;
	line-height: 0.6em;
}
/*==/탑컨테이너==*/


.templates--nav--m_nav_1  .nav_wrap .menu_wrap{
	font: bold 1em 'Malgun Gothic';
}
.templates--nav--m_nav_1  .nav_wrap .menu_wrap > li {
	 border-bottom: 1px solid #d5d5d5;
	 box-sizing: border-box;
}
.templates--nav--m_nav_1  .nav_wrap .menu_wrap li a{
	text-decoration: none;
}
.templates--nav--m_nav_1  .nav_wrap .menu_wrap li .text{
	 padding: 1em 0.5em;
	text-decoration: none;
	display:block;
	width:80%;
}
	.templates--nav--m_nav_1  .nav_wrap .menu_wrap li .text:hover
	, .templates--nav--m_nav_1  .nav_wrap .menu_wrap li .childMenu_text:hover
	{
		text-decoration: underline;
	}
.templates--nav--m_nav_1  .nav_wrap .menu_wrap li .childMenu_toggle_btn{
	position: absolute;
	right: 0em;
	font-size: 1.5em;
	top:0.3em;
	cursor: pointer;
	padding: 0 0.5em;
}
/*==/탑 메뉴 ==*/

.templates--nav--m_nav_1  .childMenu_Container {
	-webkit-box-shadow: inset 0 0 15px #d5d5d5; 
	-moz-box-shadow: inset 0 0 15px #d5d5d5; 
	-ms-box-shadow: inset 0 0 15px #d5d5d5; 
	-o-box-shadow: inset 0 0 15px #d5d5d5; 
	box-shadow: inset 0 0 15px #d5d5d5; 
}
.templates--nav--m_nav_1  .childMenu_Container  li{
	padding-bottom: 1em;
	font-size: 0.8em;
	box-sizing: border-box;
}
	.templates--nav--m_nav_1  .childMenu_Container  li:first-child{
		padding-top: 1em;
	}
.templates--nav--m_nav_1  .childMenu_Container  li a{
	margin-left: 1em;
}
/*==/자식 메뉴 ==*/
/*==============================================
 * 메뉴 
 * ==============================================*/


