<div class="templates--nav--m_nav_1 ST_dis_none" >
	<div class="nav_wrap TB_style" data-TB_style="ST_winHei_100_p">
		<div class="topContainer ST_theme ">
			<div class="TB_style ST_cursor_pointer showContentBtn"
				data-TB_style="ST_align_middle"
			>
				<div class="fa fa-arrow-left"></div>
			</div><!--/왼쪽다시 가기 화살표-->
			
			<div class=" TB_style ST_cursor_pointer homeBtn"
				data-TB_style="ST_align_middle||ST_align_center"
			><a href="#!/index">Home</a></div>
			
		</div>
		
		<ul class="menu_wrap">
			{{#each menu}}
			{{#_if page "!=" "index"}}<!--/인덱스 페이지는 출력안함.-->
				<li class="menu_topMenu  ">
					<div class="topMenu_container ST_posi_relative ST_theme_color">
						<a href="#!/{{page}}"  class="topMenu_text "
							data-TB_link_page="{{page}}"
							data-TB_link_level="1"
						><div class="text ST_theme_color">{{title}}</div></a>
						{{#if childMenu}}
						<div class="childMenu_toggle_btn">
							<div class="fa fa-caret-down"></div>
						</div>
						{{/if}}
					</div>
					{{#if childMenu}}
						<ul class="childMenu_Container ST_clearfix childMenu_Container_{{@index}} ST_dis_none">
						{{#each childMenu}}
							<li class="childMenu">
								<a href="#!/{{page}}" class="childMenu_text ST_theme_color"
								 data-TB_link_page="{{page}}"
								 data-TB_link_level="2"
							 >{{title}}</a>
							</li>
						{{/each}}
						</ul>
					{{/if}}
				</li>
			{{/_if}}
			{{/each}}
			
			{{#if adminMenu}}
				{{#each adminMenu}}
					<li class="ST_cursor_pointer TB_contents_import item"
						data-TB_contents_src="{{src}}" data-TB_contents_target="{{target}}"
					>{{title}}</li>
				{{/each}}
			{{/if}}
		</ul>
	</div>
	<!--/네비게이션-->
	
	
	<div class="bg TB_style ST_opacity_50_p ST_bg_000000"  data-TB_style="ST_winHei_100_p">
		<div class="ST_pattern_1 TB_style" data-TB_style="ST_winHei_100_p" ></div>
	</div>
	<!--/백그라운드-->
</div>
