<div class="templates--opening--opening_1 ST_dis_none" >
	
	<div class="logo_wrap " >
		<div class="logo_cover">
			<img src="{{logo}}" />
		</div>
		<div class="text_wrap ">
			{{#each text}}
				<div class="word_cover">
					<span class="word">{{this}}</span>
				</div>
			{{/each}}
		</div>
	</div>
	
	
	<div class="bg ST_pattern_1 TB_style" data-TB_style="ST_winHei_100_p"></div>
	
	<div class="skip_btn">
		<span>스킵</span>
	</div>
	
</div>