body {}
#TB_opening_wrap{
	
}
.templates--opening--opening_1{
	width: 100%;
	position : relative;
}

.templates--opening--opening_1 .logo_wrap{
	position: absolute;
	left:0;top:20%;right:0;bottom:0;
	width: 100%;
	margin:auto;
}
.templates--opening--opening_1 .logo_wrap .logo_cover{
	text-align : center;
}
.templates--opening--opening_1 .logo_wrap .logo_cover img{
	width: 50%;
	max-width: 200px;
}

.templates--opening--opening_1 .text_wrap{
	width: 100%;
	text-align:center;
	font-size: 2.5em;
	font-weight: 900;
	color: transparent;
	text-shadow: 0 0 15px #ffffff;
	margin-top: 20px;
}
.templates--opening--opening_1 .text_wrap .word_cover{
	display:inline-block;
	position: relative;
	width: 40px;
}
.templates--opening--opening_1 .text_wrap .word_cover .word{
	position: absolute;
	left:0;
}

.templates--opening--opening_1 .skip_btn{
	display:inline-block;
	padding: 1em;
	font-size: 1em;
	border : 1px solid #222222;
	position: fixed;
	 bottom: 1.5em;
	 right: 1.5em;
	 color: #222222;
	 cursor: pointer;
}
/*===============================================
 * 
 ===============================================*/