<div id="contents--happyborn--postpartumCare_centers" class="ST_dis_none">
	<div class="metro_wrap ST_float_wrap">
		
		<div class="metro_fullContainer metro_1 ST_opacity_0" data-TB_metro_width="500_px" data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height">
				<div class="dec_wrap ST_box_shadow_1 ST_transition_all_03_s">
					<div class="icon_wrap ">
						<div class="icon_container">
							<img src="{{root_path}}img/contents/postpartumCare_centers/1.jpg" />
						</div>
					</div>
					<div class="subject">
						병실
					</div>
					<div class="dec_container ">
						<div class="dec ">
							산모와 아기가<br/>
							편안한 휴식을 취할수 있도록<br/> 
							최적의 환경을<br/>
							제공합니다. 
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_1-->
		
		<div class="metro_fullContainer metro_2 ST_opacity_0" data-TB_metro_width="500_px" data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height">
				<div class="dec_wrap ST_box_shadow_1 ST_transition_all_03_s">
					<div class="icon_wrap ">
						<div class="icon_container">
							<img src="{{root_path}}img/contents/postpartumCare_centers/2.jpg" />
						</div>
					</div>
					<div class="subject">신생아실</div>
					<div class="dec_container ">
						<div class="dec ">
							24시간 노련한 선생님들이<br/>
							항상 아기의 건강을 <br/>
							살피고 있습니다. 
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_2-->
		
		<div class="metro_fullContainer metro_3 ST_opacity_0" data-TB_metro_width="500_px" data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height">
				<div class="dec_wrap ST_box_shadow_1 ST_transition_all_03_s">
					<div class="icon_wrap ">
						<div class="icon_container">
							<img src="{{root_path}}img/contents/postpartumCare_centers/3.jpg" />
						</div>
					</div>
					<div class="subject">식당</div>
					<div class="dec_container ">
						<div class="dec ">
							산모의 건강과 맛을<br/>
							고려한 뷔페식단을 <br/>
							제공해 드립니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_3-->
		
		<div class="metro_fullContainer metro_4 ST_opacity_0" data-TB_metro_width="500_px"  data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height">
				<div class="dec_wrap ST_box_shadow_1 ST_transition_all_03_s">
					<div class="icon_wrap ">
						<div class="icon_container">
							<img src="{{root_path}}img/contents/postpartumCare_centers/4.jpg" />
						</div>
					</div>
					<div class="subject">체형관리실</div>
					<div class="dec_container ">
						<div class="dec ">
							마사지기를 비롯한<br/> 
							각종기기들이 구비되어 있어<br/> 
							언제나 이용 가능합니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_4-->
		
		<div class="metro_fullContainer metro_5 ST_opacity_0" data-TB_metro_width="500_px"  data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height">
				<div class="dec_wrap ST_box_shadow_1 ST_transition_all_03_s">
					<div class="icon_wrap ">
						<div class="icon_container">
							<img src="{{root_path}}img/contents/postpartumCare_centers/5.jpg" />
						</div>
					</div>
					<div class="subject">프로그램실</div>
					<div class="dec_container ">
						<div class="dec ">
							아기목욕법등<br/>
							산모를 위한 다양한 프로그램이<br/> 
							마련되어 있습니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_5-->
		
		<div class="metro_fullContainer metro_6 ST_opacity_0" data-TB_metro_width="500_px"  data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height">
				<div class="dec_wrap ST_box_shadow_1 ST_transition_all_03_s">
					<div class="icon_wrap ">
						<div class="icon_container">
							<img src="{{root_path}}img/contents/postpartumCare_centers/6.jpg" />
						</div>
					</div>
					<div class="subject">좌욕실</div>
					<div class="dec_container ">
						<div class="dec ">
							출산 후 회음부의 회복을 돕는<br/>
							좌욕기가 5, 6층에 비치되어 있어<br/>
							언제든 이용 가능합니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_6-->
		
		<div class="metro_fullContainer metro_7 ST_opacity_0" data-TB_metro_width="500_px"  data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height">
				<div class="dec_wrap ST_box_shadow_1 ST_transition_all_03_s">
					<div class="icon_wrap ">
						<div class="icon_container">
							<img src="{{root_path}}img/contents/postpartumCare_centers/7.jpg" />
						</div>
					</div>
					<div class="subject">마사지실</div>
					<div class="dec_container ">
						<div class="dec ">
							전문 마사지사들이<br/>
							몸에 출산 후 심신을<br/>
							회복시켜 드립니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_7-->
		
		<div class="metro_fullContainer metro_8 ST_opacity_0" data-TB_metro_width="500_px"  data-TB_metro_m_hei="550_px">
			<div class="cover ST_posi_relative  metro_sync_height">
				<div class="dec_wrap ST_box_shadow_1 ST_transition_all_03_s">
					<div class="icon_wrap ">
						<div class="icon_container">
							<img src="{{root_path}}img/contents/postpartumCare_centers/8.jpg" />
						</div>
					</div>
					<div class="subject">수유실</div>
					<div class="dec_container ">
						<div class="dec ">
							24시간 편안한 공간에서<br/> 
							원하실 때<br/> 
							수유가 가능하십니다.
						</div>
					</div>
				</div>
			</div>
		</div><!--/메트로_8-->
		
		
	</div>
</div>