bobody{
	font-family: 'Nanum Gothic';
}
#contents--happyborn--postpartumCare_centers{
}
#contents--happyborn--postpartumCare_centers a{
	text-decoration:none;
	/*color: #777777;*/
	color: #383FFF;
}
#contents--happyborn--postpartumCare_centers a:visited{
	color: #383FFF;
	/*color: #777777;*/
}
#contents--happyborn--postpartumCare_centers .metro_fullContainer {
}
#contents--happyborn--postpartumCare_centers .metro_fullContainer .dec_wrap{
	position: relative;
	width: 90%;
	top: 50%;
	margin: auto;
	margin-top: -12em;
	border-radius: 50%;
	max-width: 400px;
	overflow:hidden;
}
	#contents--happyborn--postpartumCare_centers .metro_fullContainer .dec_wrap:hover{
		-webkit-box-shadow: 0 3px 15px #d5d5d5;
		-moz-box-shadow: 0 3px 15px #d5d5d5;
		-ms-box-shadow: 0 3px 15px #d5d5d5;
		-o-box-shadow: 0 3px 15px #d5d5d5;
		box-shadow: 0 3px 15px #d5d5d5;
	}
#contents--happyborn--postpartumCare_centers .metro_fullContainer .dec_wrap .subject{
	padding-top:0.5em;
	color: #999999;
	font-size: 1.5em;
	font-weight: bold;
	box-sizing: border-box;
}
#contents--happyborn--postpartumCare_centers .metro_fullContainer .dec_wrap .icon_wrap{
	height: 160px; 
	position: relative;
}
#contents--happyborn--postpartumCare_centers .metro_fullContainer .dec_wrap .icon_container{
	position: absolute;
	left: 50%;
	margin-left: -200px;
}
#contents--happyborn--postpartumCare_centers .metro_fullContainer .dec_wrap .icon{
	font-size: 6em;
	display:inline-block;
	color: #555555;
}
#contents--happyborn--postpartumCare_centers .metro_fullContainer .dec_wrap .dec_container{
	margin-top: 1em;
	font-size: 0.9em;
	color: #777777;
	padding: 0 1em 1em 1em;
}
#contents--happyborn--postpartumCare_centers .metro_fullContainer .dec_wrap .dec_container b{
	color: #ff9547;
}
#contents--happyborn--postpartumCare_centers .metro_fullContainer .dec_wrap .dec_container > div{
	margin-top :1em;
	line-height: 1.6em;
}

/*=========================================
 * 공통
 =========================================*/

@media (min-width: 992px){
	#contents--happyborn--postpartumCare_centers .metro_fullContainer .cover{
		height: 100% !important;
	}
}
/*============================================
 * PC
 ============================================*/

@media (max-width: 991px){
	#contents--happyborn--postpartumCare_centers .metro_fullContainer{
		height: 500px !important;
	}
	#contents--happyborn--postpartumCare_centers .metro_1{
		margin-top: 130px;
	}
}
/*============================================
 * 모바일
 ============================================*/

#contents--happyborn--postpartumCare_centers .metro_1{
}
#contents--happyborn--postpartumCare_centers .metro_1 .bg img{
	position: absolute;
	top:0;left:0;bottom:0;right:0;
	margin:auto;
	width:100%;
}
/*============================================
 * metro_1
 ============================================*/


#contents--happyborn--postpartumCare_centers .metro_2 .icon_container{
}
#contents--happyborn--postpartumCare_centers .metro_2 .icon{
}
/*============================================
 * metro_2
 ============================================*/

#contents--happyborn--postpartumCare_centers .metro_3 .icon_container{
}
/*============================================
 * metro_3
 ============================================*/

#contents--happyborn--postpartumCare_centers .metro_4 .icon_container{
}
/*============================================
 * metro_3
 ============================================*/

#contents--happyborn--postpartumCare_centers .metro_5 .icon_container {
}
#contents--happyborn--postpartumCare_centers .metro_5 .icon_container .icon{
}
/*============================================
 * metro_5
 ============================================*/

@media (max-width: 991px){
}
/*==/모바일 ==*/
/*============================================
 * metro_6
 ============================================*/





























