<div class="templates--write_form--dreamyacht" class="ST_dis_none">
	
	<div class="header_wrap TB_contents_parts"
		data-TB_contents_parts="templates--write_form--write_form_1--header"
	>
		<span class="fa fa-times-circle-o closeBtn" title="닫기"></span>
		<span class="header">입&nbsp;력 </span>
	</div>
	<!--------------------------------------------------------/
		header
		-------------------------------------------------------->

	<div class="async_image_upload_form_wrap ST_hide" style="margin-top: 50px;">
		<form class="TB_form async_image_upload_form"
			data-TB_form_beforeAc='{"sharedFunc":"templates--write_form--write_form_1--async_image_upload_beforeAC"}'
			data-TB_form_aftAc="sharedFunc:templates--write_form--write_form_1--async_image_upload_aftAC"
		>
			<input type="text" name="reqType" value="insert" />
			<input type="text" name="reqQuery" value="insert_async_image" />
			<input type="file" name="files" class="file TB_form_validate" multiple="multiple"/>
			<input type="submit" class="submit" />
		</form>
	</div>
	<!--------------------------------------------------------/
		비동기 파일 업로드 처리.
		-------------------------------------------------------->
	
		<div class="body_wrap ST_dis_none container">
			<form class="TB_form main_form"
				data-TB_form_beforeAc='{"sharedFunc":"templates--write_form--write_form_1--beforeAc"}'
				data-TB_form_aftAc="sharedFunc:templates--write_form--write_form_1--aftAc" 
			>
				<input type="hidden" name="reqType" value="insert" />
				<input type="hidden" name="reqQuery" value="{{render.reqQuey}}" />
				<input type="hidden" name="device" value="{{device}}" />
				
				{{#if categories.length}}
				<div class="row category_wrap TB_contents_parts "
					data-TB_contents_parts="templates--write_form--write_form_1--category_selector" 
				>
					<select name="category" class="category">
						{{#each categories}}
						{{#_if ../selected_category '==' value}}
						<option value="{{value}}" selected="selected">{{name}}</option>
						{{else}}
						<option value="{{value}}">{{name}}</option>
						{{/_if}}
						{{/each}}
					</select>
				</div>
				{{/if}}
				<!--/카테고리 -->
				
				<div class="row ">
					<div class="input-field col s6">
						<input type="text" id="temp--wirter--dreamyacht--name" name="nick" class="TB_form_validate"
							data-TB_form_validate='[{"errText":"이름을 입력해주세요."}]' value="{{form.writer}}"
						 />
						 <label for="temp--wirter--dreamyacht--name" class="active">작성자</label>
					 </div>
					 {{#unless supervisor}}
					<div class="input-field col s6">
						<input type="password" id="temp--wirter--dreamyacht--password" name="password" class="TB_form_validate"
							data-TB_form_validate='[{"errText":"비밀번호를 확인해주세요.(4자리 이상)","minLen":4}]' value="{{form.password}}"
						 />
						 <label for="temp--wirter--dreamyacht--name" class="active">비밀번호</label>
					 </div>
					 {{/unless}}
					 {{#if supervisor}}
					 <div class="input-field col s6 ">
						<input type="date" id="temp--wirter--dreamyacht--writetime" name="writetime" class="TB_form_validate"
							data-TB_form_validate='[{"errText":"이름을 입력해주세요."}]' value="{{form.write_date}}"
							{{form.disabled}}
						 />
						 <label for="temp--wirter--dreamyacht--writetime" class="active">날짜</label>
					 </div>
					 {{/if}}
				</div>
				
				<div class="row subject_wrap con">
					<div class="input-field col s12">
						<input type="text" id="temp--wirter--dreamyacht--subject" name="subject" class="TB_form_validate"/>	
						<label for="temp--wirter--dreamyacht--subject">제목</label>
					</div>
				</div>
				<!--/제목/-->
				
				<div class="row wysiwyg_wrap">
					<div class=" input-field col s12">
						<textarea name="memo" class="TB_form_set memo " 
							data-TB_form_set="wysiwyg:selection" rows="50"
						></textarea>
					</div>
				</div>
				<!--/메인글/-->
				
				<div class="add_info_wrap TB_contents_parts" 
					data-TB_contents_parts="templates--write_form--write_form_1--add_info"
				>
					<div class="row_1 ST_float_left_wrap">
						
						<div class=" price_wrap col m_margin_left">
							<div class="icon_wrap async_image_upload" title="이미지">
								<span class="icon fa fa-image"></span>
								<span class="text">이미지</span>
							</div>
						</div>
						<!--/이미지 삽입-->
						
						
						<div class="hidden_wrap col m_margin_left ">
							<label class="ST_toggle_lock icon_wrap hidden_button ST_dis_block" title="비밀글">
								<input type="checkbox" name="hidden" />
								<span class="fa "></span>
								<span class="text">비밀글</span>
							</label>
						</div>
						<!--/비밀글 여부/-->

					</div>
				</div>
				<!--/부가정보/-->

				<div class="submit_wrap">
					<label>
						<input type="submit" class="ST_hide" />
						<div class="submit_button ST_button ST_button_full ST_theme_active ST_theme_color center-align">완&nbsp;&nbsp;&nbsp;료</div>
					</label>
				</div>
				<!--/작성 버튼/-->
		</form>
		</div>
	<!--------------------------------------------------------/
		body
		-------------------------------------------------------->
	
	<div class="bottom_space"></div><!--/하단 여백 -->
</div>
