
.templates--write_form--dreamyacht{
	line-height: 1em;
	position: relative;
}
.templates--write_form--dreamyacht .bottom_space{
	height: 300px;
}
/*=================================
 * 글로벌
 =================================*/

.templates--write_form--dreamyacht .header_wrap{
	position: fixed;
	padding: 15px 0;
	z-index:1;
	width:100%;
	top:0;
	background: #FFFFFF;
	box-sizing: border-box;
	border-bottom: 1px solid #539AF1;
	text-align: center;
	color: #539AF1;
}
.templates--write_form--dreamyacht .header_wrap .header{
	font-family: "Malgun Gothic, Nanum Gothic";
	font-size: 1.3em;
	font-weight: lighter;
}
.templates--write_form--dreamyacht .header_wrap .closeBtn{
	display:block;
	position: absolute;
	top:0;
	bottom:0;
	left: 20px;
	height: 1em;
	margin: auto;
	font-size: 2em;
	cursor: pointer;
}
.templates--write_form--dreamyacht .header_wrap .submit_chain_button{
	display:block;
	position: absolute;
	top:0;
	bottom:0;
	right: 20px;
	height: 1em;
	margin: auto;
	font-size: 1em;
	cursor: pointer;
	border: 1px solid;
	border-radius: 2px;
	padding:0.5em;
	transition: all 0.2s ease-out;
	border-color: #539AF1;
}
	.templates--write_form--dreamyacht .header_wrap .submit_chain_button:hover{
		transform: translate3d(0, -2px, 0);
		box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
	}
/*=================================
 * header
 =================================*/

.templates--write_form--dreamyacht .body_wrap{
	margin-top: 70px; 
	max-width:900px;
	
}
@media (max-width: 991px){
    .templates--write_form--dreamyacht .body_wrap{
        padding: 0 10px;
    }
}
/*=================================
 * body
 =================================*/

.templates--write_form--dreamyacht .category_wrap{
	margin-top: 10px;
	box-sizing: border-box;
}
.templates--write_form--dreamyacht .category_wrap select{
	color: #555555;
	font-size: 1em;
	display:block;
	margin: auto;
	padding: 7px 10px ;
	outline: none;
}
/*=================================
 * 카테고리 
 =================================*/

/*
.templates--write_form--dreamyacht .subject_wrap{
	width: 900px;
	max-width:100%;
	margin: auto;
	margin-top: 10px;
}
.templates--write_form--dreamyacht .subject_wrap input{
	padding: 10px 10px 5px 10px;
	width: 100%;
	box-sizing: border-box;
	border:none;
	border-bottom: 1px solid #999999;
	font-size:1em;
	box-shadow: none;
	outline: none;
	color: #555555;
}
/*=================================
 * 제목 
 =================================*/


.templates--write_form--dreamyacht .wysiwyg_wrap .wysiwyg-editor{
	border: 1px solid #999999;
	box-sizing: border-box;
	width: 900px;
	max-width:100%;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
}
.templates--write_form--dreamyacht .wysiwyg-popup{
	text-align: center;
	width: 900px;
	max-width:100%;
}
@media (max-width: 991px){
	.templates--write_form--dreamyacht .wysiwyg_wrap .wysiwyg-editor{
		height: auto
	}
	.templates--write_form--dreamyacht .wysiwyg-popup{
		width: 100%;
	}
}
/*=================================
 * 내용 
 =================================*/

.templates--write_form--dreamyacht .add_info_view_wrap {
	width: 900px;
	max-width:100%;
	margin: auto;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom:5px;
	min-height: 21px;
	/*border-top: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;*/
	box-sizing: border-box;
}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1{
	color: #999999;
	width: initial;
	padding: 0 10px;
}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col{
	font-size: 1em;
	color: #999999;
	font-family: 'Nanum Gothic';
	position: relative;
	margin-left: 0 10px;
	text-align: center;
	border-left: 1px solid #D5D5D5;
	box-sizing: border-box;
}
	.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col:first-child{
		margin-left: 0!important;
		border-left:none;
	}
	.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col:last-child{
	}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .icon_wrap{
	padding: 0.5em;
	transition: all 0.2s ease-in-out;
	border-radius: 2px;
	font-size: 1.2em;
}

.templates--write_form--dreamyacht .add_info_view_wrap .row_1  .star_point_1{color: #FFEE58}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .star_point_2{color: #FFEB3B}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .star_point_3{color: #FDD835}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .star_point_4{color: #FBC02D}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .star_point_5{color: #F9A825}

.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .active{
	color: #539AF1;
}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .input_wrap{
	position: absolute;
	width: 250px;
	background: #FFFFFF;
	top: -42px;
	left : 0;
	padding: 10px;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
}
@media (max-width:991px){
    .templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col{
        border-left:none;
        border-top: 1px solid;
        margin-left:0;
        width: 100%;
    }
    .templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col:first-child{
        border-top:0;
    }
}
/*=================================
 * 부가정보 보기
 =================================*/

.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .star_input_wrap{
	font-size: 2em;
	text-align: center;
	top: -52px;
	cursor:pointer;
}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .star_input_wrap .fa{
	transition: color .2s ease-out;
}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_1{color: #FFEE58}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_2{color: #FFEB3B}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_3{color: #FDD835}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_4{color: #FBC02D}
.templates--write_form--dreamyacht .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_5{color: #F9A825}
	
/*=================================
 * 부가정보 보기 : 별 점
 =================================*/


.templates--write_form--dreamyacht .add_info_wrap {
	width: 900px;
	max-width:100%;
	margin: auto;
	margin-top: 35px;
	min-height: 21px;
}
.templates--write_form--dreamyacht .add_info_wrap .row_1{
	color: #999999;
}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col{
	font-size: 1em;
	color: #999999;
	font-family: 'Nanum Gothic';
	position: relative;
	margin-left: 10px;
}
	.templates--write_form--dreamyacht .add_info_wrap .row_1 .col:first-child{
		margin-left: 0!important;
	}
	.templates--write_form--dreamyacht .add_info_wrap .row_1 .col:last-child{
	}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .icon_wrap{
	cursor:pointer;
	border: 1px solid ;
	box-sizing: border-box;
	padding: 0.7em;
	transition: all 0.2s ease-in-out;
	border-radius: 2px;
	font-size:1em;
}
	.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .icon_wrap:hover{
		color: #539af1;
		transform: translate3d(0, -2px, 0);
		box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
	}
	.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .icon_wrap:active{
		background: #539AF1;
		color: #FFFFFF;
	}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .active{
	color: #539AF1;
}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .input_wrap{
	position: absolute;
	width: 250px;
	background: #FFFFFF;
	top: -42px;
	left : 0;
	padding: 10px;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
}
@media(max-width: 991px){
    .templates--write_form--dreamyacht .add_info_wrap .row_1 .col{
        margin-left:0;
        width: 45%;
        margin-top: 6px;
    }
    .templates--write_form--dreamyacht .add_info_wrap .row_1 .m_margin_left{
        margin-left: 10%;
    }
}
/*=================================
 * 부가정보 
 =================================*/

.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .star_input_wrap{
	font-size: 2em;
	text-align: center;
	top: -52px;
	cursor:pointer;
}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .star_input_wrap .fa{
	transition: color .2s ease-out;
}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .star_input_wrap .active_star.point_1{color: #FFEE58}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .star_input_wrap .active_star.point_2{color: #FFEB3B}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .star_input_wrap .active_star.point_3{color: #FDD835}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .star_input_wrap .active_star.point_4{color: #FBC02D}
.templates--write_form--dreamyacht .add_info_wrap .row_1 .col .star_input_wrap .active_star.point_5{color: #F9A825}
	
/*=================================
 * 부가정보 : 별 점
 =================================*/

.templates--write_form--dreamyacht .submit_wrap{
	margin-top: 20px;
}
.templates--write_form--dreamyacht .submit_wrap .submit_button{
	font-size: 1.4em;
	font-family: 'Nanum Gothic';
	font-weight: bold;
	width: 900px;
	max-width:100%;
	margin: auto;
	
}
/*=================================
 * 완료 버튼
 =================================*/






























