

<div id="contents--nansolo--mypage" >
	<div class="metro_wrap">

		<div class="metro_space metro_fullContainer" data-tb_metro_m_hei="50_px" data-tb_metro_width="83_px"></div>
		<!------------------------------------

			AD_공간
		------------------------------------->

		<div class="list_wrap TB_contents_parts TB_bbs_list_wrap" data-TB_contents_parts="TB_bbs_list_wrap">
			<ul >
				{{#each list}}
					{{#if piece_container_top}}
					<li class="metro_fullContainer story_col " data-TB_metro_width="650_px"
						data-TB-metro_m_hei="400_px"
					>
					{{/if}}
						<div class="article_card metro_sync_height ST_overflow_hidden {{story_type}} TB_style story_no_{{no}} ST_clearfix"
							data-metro_sync_height="{{story_height}}" style="color:{{color}}"
							data-TB_style="ST_fitAlign"
							data-TB_style_findTarget=".card_image"
						>
							<div class="top_info">

								<div class="left_info_wrap">
									<span class="fa {{category_icon}}" title="{{title_tag}}"></span>
									&nbsp;<span class="date_info ST_mobile_hide">{{substr writetime 0 10 ''}}</span>
									{{#if is_group}}&nbsp;<span class="fa fa-clone"></span>{{/if}}
									&nbsp;<span class="fa fa-star-o"></span> {{stars_cnt}}
									<!-- <span class="fa fa-thumbs-o-up thumbs_button " title="추천하기"></span>
									<span class="thumbs_num">1</span> -->
								</div>

								<div class="right_info_wrap ST_float_left_wrap">
									<div class="modify_button_wrap">
										<a href="#!/{{modify_mode}}?no={{no}}&category={{category}}&TB_worked={{@root.TB_worked}}">
										&nbsp;<span class="fa fa-edit ST_hover_text_moveup" title="수정하기"></span>
										</a>
									</div>
									<div class="delete_button_wrap">
										&nbsp;<span class="fa fa-close delete_story_button ST_theme_active_color ST_hover_text_moveup TB_bbs_delete_button"
										title="삭제하기" data-delete_story='{"no":{{no}},"category":"{{category}}"}'
										data-delete_item='{"no":{{no}},"category":"{{category}}"}'
										>
										</span>
									</div>
								</div>

							</div>

							{{#if images_src}}
							<a class="image_card_link" href="#!/detail_view?no={{no}}&category={{category}}&TB_worked={{@root.TB_worked}}">
								<div class="subject_wrap ST_theme_active" title="{{subject}}"><h3>{{subject}}</h3></div>
							</a>
							<div class="backdrop ST_bg_000000 ST_opacity_50_p metro_sync_height"
								data-metro_sync_height="{{story_height}}"></div>
							<div class="bg_wrap">
								<img src="{{images_src}}" class="card_image " />
							</div>
							{{else}}
							<div class="text_wrap story_detail_wrap TB_form" >
								<a class="image_card_link" href="#!/detail_view?no={{no}}&category={{category}}&TB_worked={{@root.TB_worked}}">
									<div class="subject"><span class="ST_dis_inline_block ST_hover_underline">{{subject}}</span></div>
								</a>
								<textarea class="memo TB_form_set" data-TB_form_set="wysiwyg:view">{{memo}}</textarea>
							</div>
							{{/if}}

						</div>
					{{#if piece_container_bottom}}
					</li>
					{{/if}}
				{{/each}}
			</ul>
			<!--/ list/ -->

		</div>


		<div class="metro_fullContainer add_button_container" data-TB_metro_width="100_px"
			data-TB-metro_m_hei="200_px"
		>
			<div class="TB_bbs_add_button add_button  ST_theme_color ST_theme_active metro_sync_height ST_cursor_pointer"
				data-metro_sync_height="100"
			>
				<div class="text ST_hover_underline">more</div>
			</div>
		</div>
		<!--/ 리스트 추가 버튼 / -->




	</div>
</div>
