<div id="templates--backdrop--popup" class="ST_posi_fixed " >
	
	<div class="slider_wrap  TB_contents_parts " data-TB_contents_parts="backdrop--popup_slider" >
		<script type="text/x-handlebars-template">
			{{#if render.slides}}
			<div class="TB_ui_slider">
				<div class="sub_header ST_float_left_wrap ST_posi_relative">
					<div class="ST_input_field inilne close_wrap today_close_button">
						<input type="checkbox" id="backdrop--popup--close"/>
						<label for="backdrop--popup--close">하루동안 보지 않기</label>
					</div>
					<div class="close_button" title="닫기"><span class="fa fa-close"></span></div>
				</div>
				<ul >
					{{#each render.slides}}
					<li class="ST_posi_absolute">
						<a href="{{@root.TB_root_path}}{{src}}" target="_blank">
							<div class="new_window_popup">
								<div class="fa fa-arrows-alt fa-2x"></div>
							</div>
						</a>
						<img src="{{@root.TB_root_path}}{{src}}"  title="{{subject}}" />
					</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
		</script>
	</div>
	<!-----------------------------------
		/슬라이드 
		----------------------------------->
		
	<div class="popup_form_wrap TB_contents_parts show " data-TB_contents_parts="backdrop--popup_form" >
		<script type="text/x-handlebars-template">
			{{#_if @root.TB_userInfo.member_grade '==' 'supervisor'}}
			<div class="insert_mode_button_wrap ST_active_1 {{render.form.reqType}}" title="입력모드">
				<div class="fa fa-plus"></div>
			</div>
			
			<div class="off_button_wrap  " title="닫기">
				<div class="fa fa-close"></div>
			</div>
			
			<div class="folder_wrap  " title="폴딩">
				<div class="fa fa-chevron-down"></div>
			</div>
			
			<div class="form_thumbnail_container">
				
				<div class="thumbnail_wrap">
					<div class="thumbnail_container " style="width:{{calc render.slides.length '*' 80}}px;">
						<ul class="ST_float_left_wrap">
							{{#each render.slides}}
							{{#_if no '==' @root.render.selected_no}}
							<li class="thumbnail_item selected" data-no="{{no}}">
							{{else}}
							<li class="thumbnail_item" data-no="{{no}}">
							{{/_if}}
								<img src="{{@root.TB_root_path}}{{src}}" class="ST_wid_100_p" title="{{subject}}" />
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
				
				<div class="form_container " >
					<form  class="TB_form form-inline" data-TB_form_aftAc="sharedFunc:templates--backdrop--popup_form_after">
						<input type="hidden" name="reqType" value="{{render.form.reqType}}" />
						<input type="hidden" name="reqQuery" value="{{render.form.reqQuery}}" />
						{{#if render.selected_no}}
						<input type="hidden" name="no" value="{{render.selected_no}}" />
						{{/if}}
						<div class=" form-group">
							<label class=" ">제목</label>
							<input type="text" name="subject" class="TB_form_validate form-control " value="{{render.form.subject}}" />
						</div>
						<div class="form-group">
							<label class="">게시일</label>
							<input type="date" size="12" name="start_date" class="TB_form_validate datepicker form-control  "
								 value="{{render.form.start_date}}" />
							<label> 종료일</label>
							<input type="date" size="12" name="end_date" class="TB_form_validate datepicker form-control"
								 value="{{render.form.end_date}}" />
						</div>
						<div class="form-group">
							<label class="">파일</label>
							<input type="file" name="file" class="form-control"   />
						</div>
						<div class="submit">
							<label class="ST_wid_100_p">
								<div class="ST_button ST_button_full ST_margin_top_1_em  ST_theme_color ST_theme_active" title="{{render.form.submit}}">{{render.form.submit}}</div>
								<input type="submit" class="ST_hide" />
							</label>
						</div>
						{{#_if render.form.reqType '==' 'modify'}}
						<div class="delete">
							<div class="ST_button ST_button_full delete_button ST_active_1">삭제</div>
						</div>
						{{/_if}}
					</form>
				</div>
				
			</div>
			{{/_if}}
			
		</script>
	</div>
	<!-----------------------------------
		/입력및 수정 창 
		----------------------------------->
		
</div>












































