#templates--backdrop--popup {
	width: 100%;
	height: inherit;
	overflow-y: hidden; 
}

#templates--backdrop--popup .sub_header {
	color: white;
	position: relative;
}
#templates--backdrop--popup .sub_header input{
	margin:0;
}
#templates--backdrop--popup .sub_header label{
	line-height:1em;
}
#templates--backdrop--popup .sub_header .close_button{
	position: absolute;
	right:0;
	top: -5px;
	font-size:2em;
	cursor: pointer;
}
/*========================================================
 * subheader
 ========================================================*/

#templates--backdrop--popup .slider_wrap{
	height: inherit;
	overflow-y: auto;
}
#templates--backdrop--popup .slider_wrap .new_window_popup{
	position: absolute;
	right : 10px;
	bottom: 10px;
	text-shadow: 1px 1px 1px #333333;
	color: #CECECE;
}
#templates--backdrop--popup .slider_wrap .TB_ui_slider{
	max-width: 450px;
	left: 50%;
	top:50%;
	margin-left: -225px;
	margin-top: -318px;
	/*max-width: 100%;*/
}

#templates--backdrop--popup .slider_wrap ul
, #templates--backdrop--popup .slider_wrap img
{
	max-width: inherit;
}
#templates--backdrop--popup .slider_wrap ul
{
	/*max-height: 900px;
	overflow-y : auto;*/
}

@media (min-width: 992px){
	#templates--backdrop--popup .slider_wrap .slider_next_btn{
		margin-left: -70px;
	}
	#templates--backdrop--popup .slider_wrap .slider_prev_btn{
		margin-right: -70px;
	}
	#templates--backdrop--popup .slider_wrap .slider_navigator{
		bottom: -60px !important;
	}
}
/*========================================================
 * 슬라이더
 ========================================================*/

#templates--backdrop--popup .popup_form_wrap{
	background: #FFFFFF;
	position: absolute;
	top: 0px;
	left:0;
	box-shadow: 0 -2px 3px #d5d5d5; 
	width:100%;
	/*padding: 0 10px;*/
	z-index: 2001;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
	#templates--backdrop--popup .popup_form_wrap.show{
		-webkit-transform: translate3d(0, -285px, 0);
		-ms-transform: translate3d(0, -285px, 0);
		transform: translate3d(0, -285px, 0);
		top: -155px;
	}
@media (max-width:991px){
	/*#templates--backdrop--popup .popup_form_wrap{top: 0px;}*/
	/*#templates--backdrop--popup .popup_form_wrap.show{top: -180px;}*/
}
#templates--backdrop--popup .form_thumbnail_container{
	/*height: 260px;
	overflow-y: auto;*/
}
#templates--backdrop--popup .popup_form_wrap .insert_mode_button_wrap{
	position: absolute;
	background: #FFFFFF;
	padding:5px;
	font-size: 2em;
	bottom: 0;
	border-radius: 50%;
	cursor: pointer;
	left:50%;
	margin-left: -25px;
	border: 1px solid #a09393;
	width: 50px;
	text-align: center;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-opacity: 0;
	-ms-opacity: 0;
	opacity: 0;
	background: #FFFFFF;
}
	#templates--backdrop--popup .popup_form_wrap .insert_mode_button_wrap.modify{
		bottom: -55px;
		-webkit-opacity: 1;
		-ms-opacity: 1;
		opacity: 1;
	}
#templates--backdrop--popup .popup_form_wrap .off_button_wrap{
	position: absolute;
	right: 39px;
	background: #FFFFFF;
	padding:5px;
	font-size: 30px;
	bottom: -38px;
	cursor: pointer;
	border-right: 1px solid #dddddd;
}
#templates--backdrop--popup .popup_form_wrap .folder_wrap{
	position: absolute;
	right:0;
	background: #FFFFFF;
	padding:5px;
	font-size: 30px;
	bottom: -38px;
	cursor: pointer;
}
#templates--backdrop--popup .popup_form_wrap .form_container
, #templates--backdrop--popup .popup_form_wrap .thumbnail_container
{
	position: relative;
	margin: auto;
}
#templates--backdrop--popup .popup_form_wrap .form_container{
	width: 600px;
	max-width: 100%;
	height:100%;
	padding: 10px 0;
}
@media(max-width: 991px){
	#templates--backdrop--popup .popup_form_wrap .form_container{
		width: 95%;
	}
}
#templates--backdrop--popup .popup_form_wrap .form_container label{
	min-width: 50px;
}
#templates--backdrop--popup .popup_form_wrap .thumbnail_wrap{
	overflow-x: auto;
	overflow-y: hidden;
}
#templates--backdrop--popup .popup_form_wrap .thumbnail_container{
	padding-top: 10px;
	height: 100px;
}
#templates--backdrop--popup .popup_form_wrap .thumbnail_container li{
	width: 70px;
	height:90px;
	overflow: hidden;
	cursor: pointer;
	margin-left: 10px;
	box-shadow: 0 0 5px #909090;
	box-sizing: border-box;
	border: 1px solid;
	border-color: transparent;
	-webkit-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}
	#templates--backdrop--popup .popup_form_wrap .thumbnail_container li:first-child{
		margin-left:0;
	}
	#templates--backdrop--popup .popup_form_wrap .thumbnail_container li.selected
	, #templates--backdrop--popup .popup_form_wrap .thumbnail_container li:hover{
		border-color: #D27835;
	}
/*========================================================
 * 폼 컨테이너
 ========================================================*/


































































