body{
	font-family: 'Nanum Gothic';
}
#contents--happyborn--postpartumCare_price{
}
#contents--happyborn--postpartumCare_price .metro_fullContainer {
}
#contents--happyborn--postpartumCare_price .metro_fullContainer .wysiwyg-popup{
	left:0 !important;
	color: #555555 !important;
}

@media (max-width: 991px){
	#contents--happyborn--postpartumCare_price .metro_fullContainer{
		padding: 2em 0;
	}
	#contents--happyborn--postpartumCare_price .metro_fullContainer:first-child{
		margin-top: 80px !important;
	}
}
/*==/모바일 ==*/

/*=========================================
 * 공통
 =========================================*/

#contents--happyborn--postpartumCare_price .parts_list_wrap .cover{
	width: 90%;
	margin: auto;
	-ms-max-width: 500px;
	max-width: 500px;
	position: relative;
}
#contents--happyborn--postpartumCare_price .parts_list_wrap .cover .time .TB_el{
	color: #ffffff;
}
#contents--happyborn--postpartumCare_price .parts_list_wrap .cover img{
	width:100%;
}
#contents--happyborn--postpartumCare_price .parts_list_wrap .cover .schedule{
	height: 50px;
}
#contents--happyborn--postpartumCare_price .parts_list_wrap .cover .schedule .TB_el{
	margin-top: 1.3em;
}
/*============================================
 * 리스트:공통
 ============================================*/


@media (min-width:992px){
	#contents--happyborn--postpartumCare_price .parts_list_wrap .cover{
		margin-top : 80px;
	}
}
/*============================================
 * 리스트:pc
 ============================================*/


@media (max-width:991px){
	#contents--happyborn--postpartumCare_price .parts_list_wrap .cover{
	}
}
/*============================================
 * 리스트:pc
 ============================================*/




 





























