<div class="templates--m_write_modify--m_write_modify_1" >
	<form class="TB_form m_write_modify_1_iconForm" enctype="multipart/form-data"
		data-TB_form_aftAc="sharedFunc:TB_editorImageUpload"
	>
		<input type="file" name="editorImage" class="TB_form_imageUpload ST_dis_none"
			data-TB_form_imageUpload_target=".wysiwyg-editor"
		/>
		<input type="submit" class="ST_dis_none" />
		<ul class="ST_m_icon_list_1 m_write_modify_1_iconContainer">
			<li class="m_icon_item">
				<div class="TB_form_chainClick fa fa-2x fa-picture-o"
					data-TB_form_chainClick_target=".TB_form_imageUpload"
				></div>
			</li>
		</ul>
	</form><!--/기타기능추가버튼-->
	
	<form class="TB_form ST_m_form_1"
		data-TB_form_aftAc="sharedFunc:m_write_modify_aftAc" 
	>	
		{{#if modify}}
			<input type="hidden" name="no" value="{{no}}"/>
		{{/if}}
		<input type="hidden" name="reqType" value="{{reqType}}" />
		<input type="hidden" name="reqQuery" value="{{reqQuery}}" />
		<div class="m_form_item">
			<label>
				<span>
					<input type="text" name="subject" placeholder="제목" class="TB_form_validate"/>
				</span>
			</label>
		</div><!--/제목-->
		<div class="m_form_item">
			<label>
				<span>
					<textarea class="TB_form_set TB_form_validate" name="memo" placeholder="내용" 
						data-TB_form_set="wysiwyg:simple"
					>
					</textarea>
				</span>
			</label>
		</div><!--/내용-->
		<div class="m_form_item">
			<input type="submit" value="{{submitBtn}}" />
		</div>
	</form>
</div>
