.templates--panorama--webgl{
	
}
.templates--panorama--webgl #panorama_wrap{
	background-color: #000000;
	margin: 0;
	overflow: hidden;
}












































































