<div class="templates--m_write_modify--m_write_modify_1" >
	<form class="TB_form ST_m_form_1">
		<div class="m_form_item">
			<label>
				<span>
					<input type="text" name="subject" class="TB_form_validate ST_font_title_1" 
						value="{{subject}}" readonly="readonly"
						title="제목을 입력하세요"
					/>
				</span>
			</label>
		</div><!--/제목-->
		
		<div class="m_form_item">
			<label>
				<span>
					<textarea class="TB_form_set TB_form_validate" name="memo" readonly="readonly" 
						data-TB_form_set="wysiwyg:view" title="내용을 입력하세요"
					></textarea>
				</span>
			</label>
		</div><!--/내용-->
	</form>
</div>
