.templates--m_nav--nav_1{background: #FFFFFF;}

.templates--m_nav--nav_1 .topContainer{
	background: #FF7A19;
	color: #FFFFFF;
	/*position: relative;*/
	font-size: 1em;
}
.templates--m_nav--nav_1 .topContainer > div{
	display:inline-block;
	padding: 0 0.5em 0 0.5em;
}
.templates--m_nav--nav_1 .topContainer .showContentBtn> div{
	font-size: 1.5em;
}
/*==/탑컨테이너==*/


.templates--m_nav--nav_1 .menu_wrap{
	font: bold 1em 'Malgun Gothic';
	color: #FF7A19;
}
.templates--m_nav--nav_1 .menu_wrap > li {
	 padding: 1em 0.5em;
	 border-bottom: 1px solid #d5d5d5;
	 box-sizing: border-box;
}
/*==/메뉴 ==*/