body{}
.templates--login--gender_select{
	line-height:normal;
	max-width: 95%;
	position: relative;
	margin:auto;
}
.templates--login--gender_select a{
	text-decoration: none;
}
/*===========================================
 * 글로벌
 ===========================================*/

.templates--login--gender_select .title_text_wrap{
	text-align: center;
	margin: auto;
	margin-top: 20px;
}
.templates--login--gender_select .title_text_wrap .text{
	font-size: 1.9em;
	font-family : 'Malgun Gothic';
	font-weight: lighter;
	color: #555555;
}
.templates--login--gender_select .title_text_wrap .line{
	border-bottom: 1px solid #999999;
}
/*===========================================
 * 타이틀
 ===========================================*/


.templates--login--gender_select .subscript_wrap{
	font-size: 0.8em;
	color: #999999;
	margin-top: 20px;
	text-align: center;
}
/*===========================================
 * 주석
 ===========================================*/

.templates--login--gender_select .contents_wrap{
	margin-top: 20px;
}
.templates--login--gender_select .contents_wrap .man{
	border-right: 1px solid #d5d5d5;
	box-sizing: border-box;
}
.templates--login--gender_select .contents_wrap .icon{
	font-size: 6em;
	color: #999999;
	padding: 20px 0;
	width: 120px;
	transition: all .2s ease-out;
}
	.templates--login--gender_select .contents_wrap .icon:hover{
		cursor: pointer;
		transform:translate3d(0, -5px, 0);
		text-shadow: 0 5px rgba(0, 0, 0, 0.2);
	}
	.templates--login--gender_select .contents_wrap .man .icon:hover{
		color: #539AF1;
	}
	.templates--login--gender_select .contents_wrap .woman .icon:hover{
		color: #ff9547;
	}
/*===========================================
 * 컨텐츠
 ===========================================*/














































