<div class="templates--login--gender_select" >
	<div class="login_wrap ST_text_align_center">
		<div class="title_text_wrap ST_float_left_wrap">
			<div class="ST_col_3"><div class="line">&nbsp;</div></div>
			<div class="ST_col_1"></div>
			<div class="ST_col_4 text">Login</div>
			<div class="ST_col_1"></div>
			<div class="ST_col_3"><div class="line">&nbsp;</div></div>
		</div>
		<!-------/타이틀 텍스트 ------->
		
		<div class="subscript_wrap">
			<div class="text_wrap">
				성별을 선택해 주세요.
			</div>
		</div>
		<!-------/주석 /------->
		
		<div class="contents_wrap">
			<form class="TB_form"
				data-TB_form_beforeAc='{"sharedFunc":"templates--login--gender_select--beforeAC"}'
				data-TB_form_aftAc="sharedFunc:templates--login--gender_select--aftAC" 
			>
				<input type="hidden" name="reqType" value="modify" />
				<input type="hidden" name="reqQuery" value="gender_select" />
				<div class="ST_float_left_wrap ST_text_align_center">
					<div class="ST_col_6 man">
						<label>
							<span class="fa fa-mars   icon " title="남자" ></span>
							<input type="radio" name="gender" value="man"  class="ST_hide"   />
						</label>
					</div>
					<div class="ST_col_6 woman">
						<label>
							<span class="fa fa-venus  icon " title="여자"></span>
							<input type="radio" name="gender" value="woman" class="ST_hide"  />
						</label>
					</div>
				</div>
				<input type="submit" class="submit ST_hide" />
			</form>
		</div>
		<!-------/성별 선택 버튼  /------->
		
	</div>
</div>
