<div id="layout--responsive--normal_1">
	<div class="header_wrap TB_contents_load"
		data-TB_contents_src = "contents--pension_1--header"
	></div><!--/header-->
	
	<div id="contents_wrap" class="contents_wrap"></div><!--/contents-->
	
	<div id="footer_wrap" class=" TB_contents_load"
		data-TB_contents_src="contents--pension_1--footer"
	></div><!--/footer-->
</div>