
.templates--view--dreamyacht{
	line-height: 1em;
	position: relative;
}
.templates--view--dreamyacht .bottom_space{
	height: 300px;
}
/*=================================
 * 글로벌
 =================================*/

.templates--view--dreamyacht .header_wrap{
	position: fixed;
	padding: 15px 0;
	z-index:1;
	width:100%;
	top:0;
	background: #FFFFFF;
	box-sizing: border-box;
	border-bottom: 1px solid #539AF1;
	text-align: center;
	color: #539AF1;
}
.templates--view--dreamyacht .header_wrap .header{
	font-family: "Malgun Gothic, Nanum Gothic";
	font-size: 1.3em;
	font-weight: lighter;
	display:block;
	margin:auto;
	white-space:nowrap;
	overflow: hidden;
	line-height:1.3em;
}
.templates--view--dreamyacht .header_wrap .closeBtn{
	display:block;
	position: absolute;
	top:0;
	bottom:0;
	left: 20px;
	height: 1em;
	margin: auto;
	font-size: 2em;
	cursor: pointer;
}
.templates--view--dreamyacht .header_wrap .submit_chain_button{
	display:block;
	position: absolute;
	top:0;
	bottom:0;
	right: 20px;
	height: 1em;
	margin: auto;
	font-size: 1em;
	cursor: pointer;
	border: 1px solid;
	border-radius: 2px;
	padding:0.5em;
	transition: all 0.2s ease-out;
	border-color: #539AF1;
}
	.templates--view--dreamyacht .header_wrap .submit_chain_button:hover{
		transform: translate3d(0, -2px, 0);
		box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
	}
@media (max-width:991px){
	.templates--view--dreamyacht .header_wrap .header{
		font-size:1.1em;
		width: 60%;
		white-space:nowrap;
	}
}
/*=================================
 * header
 =================================*/

.templates--view--dreamyacht .body_wrap{
}
.templates--view--dreamyacht .body_wrap > .container{
	margin-top: 70px; 
	max-width: 900px;
}
/*=================================
 * body
 =================================*/

.templates--view--dreamyacht .article_section{
	padding-bottom: 60px;
}
.templates--view--dreamyacht .wysiwyg_wrap .wysiwyg-editor{
	box-sizing: border-box;
	width: 900px;
	max-width:100%;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
}
.templates--view--dreamyacht .wysiwyg-popup{
	text-align: center;
	width: 900px;
}
.templates--view--dreamyacht .map_wrap{
	margin: auto;
	max-width: 880px;
	height:400px;
}
.templates--view--dreamyacht .map_wrap .map_container{
	width:initial;
	height:400px;
	padding: 0 10px;
}

@media (max-width: 991px){
	.templates--view--dreamyacht .wysiwyg_wrap .wysiwyg-editor{
		height: auto
	}
	.templates--view--dreamyacht .wysiwyg-popup{
		width: 100%;
	}
	.templates--view--dreamyacht .map_wrap
	, .templates--view--dreamyacht .map_wrap .map_container
	{
		height: 200px;
	}
}
/*=================================
 * 내용 
 =================================*/

.templates--view--dreamyacht .comment_section  {
	padding: 60px 0;
}
.templates--view--dreamyacht .comment_section .comment_list  .ST_button
, .templates--view--dreamyacht .comment_section .comment_form_title  .ST_button
{
	padding: 5px;
	font-size: 0.8em;
}
.templates--view--dreamyacht .comment_section  .wysiwyg-editor{
	height: 10em;
	border: 1px solid #9e9e9e;
}
.templates--view--dreamyacht .comment_memo  .wysiwyg-editor{
	height: auto;
	border: none;
	min-height: 4em;
}
/*=================================
 * 답글 
 =================================*/


.templates--view--dreamyacht .submit_wrap{
	margin-top: 20px;
}
.templates--view--dreamyacht .submit_wrap .submit_button{
	font-size: 1.4em;
	font-family: 'Nanum Gothic';
	font-weight: bold;
	margin: auto;
}
/*=================================
 * 완료 버튼
 =================================*/






























