<script type="x-handlebars-template">
	<div class="templates--view--dreamyacht" class="ST_dis_none">
		
		<div class="header_wrap TB_contents_parts"
			data-TB_contents_parts="templates--write_form--detail_view_1--header"
		>
			<span class="fa fa-times-circle-o closeBtn" title="닫기"></span>
			<span class="header">{{render.subject}}</span>
		</div>
		<!--------------------------------------------------------/
			header
			-------------------------------------------------------->
	
			<div class="body_wrap ST_margin_auto">
				<div class="container ST_section article_section">
					<form class="TB_form main_form"
						data-TB_form_aftAc="sharedFunc:temp--view--dreamyacht--aft"
					>
						
						{{#if is_hidden}}
						<input type="hidden" name="reqType" value="select" />
						<input type="hidden" name="reqQuery" value="{{form.reqQuery}}" />
						<input type="hidden" name="category" value="{{form.category}}" />
						<input type="hidden" name="no" value="{{form.no}}" />
						<div class="container">
							<div class="row">
								<div class="input-field s12 ">
									<input type="password" name="password" class="TB_form_validate" />
								</div>
							</div>
							<div class="row">
								<label>
									<input type="submit" class="ST_hide" />
									<div class="submit_button ST_button ST_button_full ST_theme_active ST_theme_color center-align">확&nbsp;&nbsp;&nbsp;인</div>
								</label>
							</div>
						</div>
						
						{{else}}
						
						<div class="row ">
							<div class="input-field col s6">
								<input type="text" id="temp--wirter--dreamyacht--name" name="nick" 
									value="{{render.nick}}" disabled="disabled"
								 />
								 <label for="temp--wirter--dreamyacht--name" class="active">작성자</label>
							 </div>
							 <div class="input-field col s6 ">
								<input type="date" id="temp--wirter--dreamyacht--writetime" name="writetime" 
									value="{{render.writetime}}" disabled="disabled"
								 />
								 <label for="temp--wirter--dreamyacht--writetime" class="active">날짜</label>
							 </div>
						</div>
						<!--/작성자, 작성일-->
	
						
						<div class="wysiwyg_wrap">
							<textarea name="memo" class="TB_form_set memo" data-TB_form_set="wysiwyg:view" rows="50">{{render.memo}}</textarea>
						</div>
						<!--/메인글/-->
						
						{{/if}}
						
		
					</form>
				</div>
				
				{{#unless is_hidden}}
				{{#if comment.use}}
				<!-- <div class="divider"></div> -->
				
				<div class="ST_section_m comment_section grey lighten-5" >
					<div class="container">
						<div class="TB_contents_parts comment_list" data-TB_contents_parts="comment_list">
							<div class="row">
								<div class="col">
									<h6>
										<b class="grey-text darken-4">댓글</b>&nbsp;
										<b class="deep-orange-text lighten-1">{{render.comment_list.length}}</b>
									</h6>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<div class="divider"></div>
								</div>
							</div>
							<form class="TB_form">
								<ul >
									{{#each render.comment_list}}
									<li class="comment_{{no}}">
										<div class="row">
											<div class="col">
												<span><b>{{nick}}</b></span>&nbsp;
												<span class="grey-text">{{writetime}}</span>&nbsp;
												<span class="delete ST_button modify_btn blue-text lighten-4" data-no="{{no}}">수정</span>&nbsp;
												<span class="ST_button delete_btn blue-text lighten-4" data-no="{{no}}">삭제</span>
											</div>
										</div>
										<div class="comment_memo row">
											<div class="col s12">
												<textarea class="TB_form_set memo" data-TB_form_set="wysiwyg:view" disabled="disabled">{{memo}}</textarea>
											</div>
										</div>
										<div class="row">
											<div class="col s12">
												<div class="divider"></div>
											</div>
										</div>
									</li>
									{{/each}}
								</ul>
							</form>
						</div>
						<!--/댓글 리스트/-->
						
						<div class="TB_contents_parts" data-TB_contents_parts="temp--view_comment_form">
							<div class="row comment_form_title">
								<div class="col">
									<h6>
										<b class="grey-text lighten-4">{{comment.submit}}</b>&nbsp;
										{{#_if comment.reqType '==' 'modify'}}
										<span class="delete ST_button insert_mode blue-text lighten-4" data-no="{{no}}">입력모드</span>
										{{/_if}}
									</h6>
								</div>
							</div>

							
							<form class="TB_form " 
								data-TB_form_aftAc="sharedFunc:temp--view--dreamyacht--comment_form_aft"
							>
								<input type="hidden" name="reqType" value="{{comment.reqType}}"/>
								<input type="hidden" name="reqQuery" value="{{comment.reqQuery}}"/>
								<input type="hidden" name="device" value="{{device}}"/>
								{{#_if comment.reqType '==' 'modify'}}
								<input type="hidden" name="no" value="{{comment.no}}"/>
								{{else}}
								<input type="hidden" name="parent_no" value="{{comment.parent_no}}"/>
								{{/_if}}
								
								<div class="row">
									<div class="input-field col s4">
										<input type="text" id="temp--view--dreamyacht--comment_name" name="nick"  
											class="TB_form_validate" value="{{comment.nick}}"
											data-TB_form_validate='[{"errText":"이름을 확인해주세요."}]'
										/>
										<label for="temp--wirter--dreamyacht--name" class="active">작성자</label>
									</div>
									{{#if comment.use_password}}
									<div class="input-field col s4">
										<input type="password" id="temp--view--dreamyacht--comment_password" name="password"  
											class="TB_form_validate" 
											data-TB_form_validate='[{"errText":"비밀번호를 확인해주세요.(4자리 이상)","minLen":4}]'
										/>
										<label for="temp--wirter--dreamyacht--name" class="active">비밀번호</label>
									</div>
									{{/if}}
									<div class="input-field col s4">
										<input type="date" id="temp--view--dreamyacht--comment_writetime" name="writetime"
											value="{{comment.writetime}}" {{comment.writetime_disabled}}
										/>
										<label for="temp--wirter--dreamyacht--name" class="active">작성일</label>
									</div>
								</div>
								
								<div class="comment_wysiwyg_wrap">
									<textarea name="memo" class="TB_form_set memo " 
									data-TB_form_set="wysiwyg:selection" 
									>{{comment.memo}}</textarea>
								</div>
								
								<div class="submit_wrap">
									<label>
										<input type="submit" class="ST_hide" />
										<div class="submit_button ST_button ST_button_full ST_theme_active ST_theme_color center-align">{{comment.submit}}</div>
									</label>
								</div>
								<!--/작성 버튼/-->
								
								
							</form>
						</div>
					</div>
				</div>	
				{{/if}}
				{{/unless}}
				
			</div>
		<!--------------------------------------------------------/
			body
			-------------------------------------------------------->
		
		<div class="bottom_space"></div><!--/하단 여백 -->
	</div>
</script>