
.templates--wvm--wvm_1{
	line-height: 1em;
	position: relative;
}
	.templates--wvm--wvm_1 .hover:hover
	{
		box-shadow: 0 0 15px skyblue;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
.templates--wvm--wvm_1 .input_wrap{
	margin-top: 1em;
	border-radius: 0.5em;
	padding: 0.5em 0.7em;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
}
.templates--wvm--wvm_1 .input_wrap  input{
	border: 1px transparent;
	color: #555555;
	line-height: 1em;
	font-size: 1em;
	width:auto;
	margin:0;
	padding:0;
	outline:none;
}
	.templates--wvm--wvm_1 .input_wrap  input:focus{
		border: none;
		outline:0;
	}
	.templates--wvm--wvm_1 .input_wrap  input:readonly{
		background: #d5d5d5;
	}

/*==/input 모양 ==*/
/*=================================
 * 글로벌
 =================================*/

.templates--wvm--wvm_1 .header_wrap{
	text-align: center;
	position: relative;
	height: 50px;
}
.templates--wvm--wvm_1 .header{
	font-size: 1.5em;
	line-height: 2em;
	color: #555555;
}
.templates--wvm--wvm_1 .header_wrap .closeBtn{
	font-size: 2em;
	position: absolute;
	right: 0.5em;
	cursor: pointer;
	margin-top: 0.3em;
	color: #555555;
}
/*=================================
 * 헤더
 =================================*/

.templates--wvm--wvm_1 .list_move_btn_wrap{
	z-index: 1;
}
.templates--wvm--wvm_1 .list_move_btn_wrap > div{
	font-size: 2em;
	color: #777777;
	padding: 15px;
	border-radius: 1em;
	background: #fafafa;
	display: none;
	position: absolute;
	box-shadow: 1px 2px 3px #999999;
	top:50%;
	margin-top: -1.5em;
	cursor:pointer;
}
.templates--wvm--wvm_1 .list_move_btn_wrap > .prev_list_btn{
	left: 5px;
}
.templates--wvm--wvm_1 .list_move_btn_wrap > .next_list_btn{
	right: 5px;
}
/*=================================
 * 리스트 이동 버튼: view, modify, imageview
 =================================*/

.templates--wvm--wvm_1 .body_wrap{
	max-width: 980px;
	margin: auto;
	padding: 0.5em;
}
.templates--wvm--wvm_1 .body_wrap .categories_container{
	margin-top: 2em;
	border-radius: 0.5em;
	padding: 0.7em 1em;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
}
.templates--wvm--wvm_1 .body_wrap .categories_container select{
	border: none;
	outline:0;
	width: 100%;
	cursor: pointer;
	color: #555555;
}
/*==/카테고리 ==*/

.templates--wvm--wvm_1 .body_wrap .dynamic_el_row{
	padding: 0.5em 0;
	margin-top:  1em;
}
	.templates--wvm--wvm_1 .body_wrap .dynamic_el_row:first-child{
		margin-top:  0;
	}
/*==/동적생성 엘리먼트 ==*/

.templates--wvm--wvm_1 .body_wrap .subject_wrap{
	margin-top: 1em;
	border-radius: 0.5em;
	padding: 0.7em 1em;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
}
.templates--wvm--wvm_1 .body_wrap .subject_wrap input{
	border: none;
	color: #555555;
	line-height: 1em;
	font-size: 1em;
	width:100%;
	margin:0;
	padding:0;
}
	.templates--wvm--wvm_1 .body_wrap .subject_wrap input:focus{
		border: none;
		outline:0;
	}
/*==/서브젝트==*/

.templates--wvm--wvm_1 .body_wrap .wysiwyg_wrap{
	margin-top: 1em;
	padding: 0.7em 1em;
	position: relative;
	border: 1px solid #d5d5d5;
	border-radius: 0.5em;
	box-sizing: border-box;
	min-height: 10em;
}
.templates--wvm--wvm_1 .body_wrap .wysiwyg_wrap textarea
{
	width: 100%;
	border:none;
	outline:0;
	resize: vertical;
	height: 15em;
}
.templates--wvm--wvm_1 .body_wrap .wysiwyg_wrap .wysiwyg-editor{
	margin-top: 0.5em;
	min-height:10em; 
}
.templates--wvm--wvm_1 .body_wrap .wysiwyg_wrap .wysiwyg-editor iframe
, .templates--wvm--wvm_1 .body_wrap .wysiwyg_wrap .wysiwyg-editor img{
	max-width: 100%;
}
.templates--wvm--wvm_1 .body_wrap .wysiwyg_wrap .wysiwyg-input.wysiwyg-input{
	height: initial;
}
/*==/위지윅 ==*/

.templates--wvm--wvm_1 .body_wrap .add_icons_wrap .text{
	color: #777777;
	font-size: 0.7em;
}
.templates--wvm--wvm_1 .body_wrap .add_icons_desc_wrap{
	height:0;
	position: relative;
}
.templates--wvm--wvm_1 .body_wrap .add_icons_desc_wrap > div{
	float:right;
	font-size: 0.9em;
	margin-top: 1em;
	color: gray;
}
.templates--wvm--wvm_1 .body_wrap .add_icons_wrap{
	margin-top: 1em;
}
.templates--wvm--wvm_1 .body_wrap .add_icons_wrap > div{
	float: right;
	margin-right: 0.3em;
	color: #555555;
}
	.templates--wvm--wvm_1 .body_wrap .add_icons_wrap > div:first-child{
		margin:0;
	}
.templates--wvm--wvm_1 .body_wrap  label .fa,
.templates--wvm--wvm_1 .body_wrap label{
	cursor: pointer;
}
/*==/추가 기능 아이콘 글로벌==*/

.templates--wvm--wvm_1 .body_wrap .switchBtn_wrap 
, .templates--wvm--wvm_1 .body_wrap .icon_cover
{
	border: 1px solid #d5d5d5;
	border-radius: 0.2em;
	text-align: center;
	font-size: 1.5em;
	height: 48px;
	width: 50px;
	line-height: 2em;
	cursor: pointer;
	position: relative;
}
.templates--wvm--wvm_1 .body_wrap .switchBtn_wrap .fa{
	width: 50px;
	height: 30px;
} 
.templates--wvm--wvm_1 .body_wrap .password_wrap{
	background: #ffffff;
	position: absolute;
	padding: 0 0.7em;
	margin: 0;
	top: -55px;
	box-shadow: 1px 3px 15px #dcdcdc;
}
.templates--wvm--wvm_1 .body_wrap .password_wrap input{
	font-size: 0.8em;
}
/*===/숨긴 버튼==*/

.templates--wvm--wvm_1 .body_wrap .file_wrap{}
.templates--wvm--wvm_1 .body_wrap .file_wrap .fileBtn_container .fileBtn{
	border: 1px solid #d5d5d5;
	padding: 1em;
	border-radius: 0.5em;
	box-sizing: border-box;
	cursor: pointer;
	width: 100px;
	display: block;
	outline:0;
	text-align: center;
}
/*==/파일 추가 버튼 ==*/

.templates--wvm--wvm_1 .body_wrap .file_link_icon{
	font-size:0.8em;
	padding: 0 0.5em;
	width: auto !important;
	border-radius: 0.5em;
}
	.templates--wvm--wvm_1 .body_wrap .file_link_icon a{
		text-decoration: none;
		color: #555555;
		display:block;
		padding: 11px 0;
	}
/*==/파일 주소 표시 ==*/

.templates--wvm--wvm_1 .body_wrap .submit_wrap{
	text-align: center;
	padding: 2em;
}
.templates--wvm--wvm_1 .body_wrap .submit_wrap .submit_container{
	background: #ff9547;
	border-radius: 0.5em;
	padding: 0.5em 0;
	cursor:pointer;
}
.templates--wvm--wvm_1 .body_wrap .submit_wrap input{
	font-size: 1.5em;
	font-weight: bold;
	border: none;
	background: transparent;
	color: #ffffff;
	cursor:pointer;
}
/*==/메인 폼 서브밋 버튼 ==*/

.templates--wvm--wvm_1 .body_wrap .comment_form .wysiwyg_wrap
, .templates--wvm--wvm_1 .body_wrap .comment_form .wysiwyg_wrap .wysiwyg-editor
{
	min-height: 1em;
}
.templates--wvm--wvm_1 .body_wrap .comment_form .container{
	padding: 0;
	margin:0;
}
.templates--wvm--wvm_1 .body_wrap .comment_form .container .input_wrap{
	
}
.templates--wvm--wvm_1 .body_wrap .comment_form .container input{
	width:100%;
}
/*==/답글 달기 폼 ==*/

.templates--wvm--wvm_1 .body_wrap .comment_form_wrap .line
, .templates--wvm--wvm_1 .body_wrap .comment_list_wrap {
	margin-top: 1em;
	border-top: 2px dashed #c5c5c5;
	box-sizing: border-box;
}
.templates--wvm--wvm_1 .body_wrap .comment_list_wrap .comment_list{
	box-sizing: border-box;
	border: 1px solid #d5d5d5;
	border-radius: 0.5em;
	padding: 1em;
	margin-top: 1em;
	position: relative;	
}
.templates--wvm--wvm_1 .body_wrap .comment_list_wrap .info_container{
	font-size: 0.8em; 
	color: #999999;
	position: absolute;
	right: 1em;
	top:0.7em;
}
.templates--wvm--wvm_1 .body_wrap .comment_list_wrap .info_container .write_time{
	margin-left: 2em;
}
.templates--wvm--wvm_1 .body_wrap .comment_list_wrap .info_container .modify_btn
, .templates--wvm--wvm_1 .body_wrap .comment_list_wrap .info_container .delete_btn
{
	margin-left: 1em;
}
.templates--wvm--wvm_1 .body_wrap .comment_list_wrap .memo_wrap{
	margin-top:0.8em
}
/*==/답글 리스트 ==*/

/*=================================
 * 바디
 =================================*/

.templates--wvm--wvm_1 .dynamic_el_container .dynamic_el_row .name{
	margin-right: 1em;
	color: #555555;
}
/*=================================
 * 다이나믹 엘리먼트
 =================================*/

.templates--wvm--wvm_1 .image_cover img{
	max-width: 100%;
}
/*=================================
 * 이미지커버
 =================================*/

.templates--wvm--wvm_1 .comment_del_modify_form {
	position: absolute;
	z-index: 1;
	padding: 0.5em;
	background: #ffffff;
	box-shadow: 0 0 10px #d5d5d5;
	width: 190px;
	border-radius: 0.5em;
	right: -10px;
	top: -45px;
	display:none;
}
.templates--wvm--wvm_1 .info_container .show_password_input_btn{
	cursor: pointer;
}
.templates--wvm--wvm_1 .comment_del_modify_form .form_item{
	display:inline-block;
}
.templates--wvm--wvm_1 .comment_del_modify_form .form_item
, .templates--wvm--wvm_1 .comment_del_modify_form .form_item input
{
	background: #ffffff;
}
.templates--wvm--wvm_1 .comment_del_modify_form .comment_del_modify_submit_btn
, .templates--wvm--wvm_1 .comment_del_modify_form .hide_form_btn
{
	background: #cdcdcd;
	color: #777777;
	padding: 0.5em;
	border-radius: 0.5em;
	cursor: pointer;
}
/*=================================
 * 코멘트 리스트 : 삭제, 수정 시 패스워드 확인.
 =================================*/

.templates--wvm--wvm_1 .modify_btn_wrap
{
	padding: 1em;
	font-weight: bold;
	display:none;
}
.templates--wvm--wvm_1 .modify_btn_wrap .submit_btn{
	padding: 0.5em 0;
	text-align : center;
	font-size: 1.5em;
}
/*=================================
 * 코멘트 리스트 : 수정 폼
 =================================*/

#TB_modal .hidden_pass_input_wrap{
	position: absolute;
	left:0;top:0;bottom:0;right:0;
	line-height: 1em;
	width: 260px;
	height: 150px;
	margin: auto;
}
#TB_modal .hidden_pass_input_wrap .m_form_item{
	margin-top: 1em;
}
	#TB_modal .hidden_pass_input_wrap .m_form_item:first-child{
		margin-top:0;
	}
#TB_modal .hidden_pass_input_wrap .m_form_name{
	position: static !important;
}
#TB_modal .hidden_pass_input_wrap .submitBtn{
	text-align: center;
	padding: 0.5em;
	border-radius: 0.5em;
	padding: 0.5em 0;
	cursor: pointer;
}
#TB_modal .hidden_pass_input_wrap .ST_closeBtn_1{
	top: -2em !important;
	color: #555555 !important;
}
#TB_modal .hidden_pass_input_wrap .ST_closeBtn_1 span{
	color: #555555 !important;
}
/*=================================
 * 숨김글일 경우 패스워드 확인할 폼.
 =================================*/

#TB_modal .bottom_space{height: 100px;}
/*=================================
 * 하단 여백
 =================================*/































