<div class="templates--wvm--wvm_1" class="ST_dis_none">
	<div class="header_wrap ">
		<span class="header">{{header}}</span>
		<span class="fa fa-times-circle closeBtn"></span>
	</div>
	<div class="subHeader">{{subHeader}}</div>
	
	{{#if use_list}}
	{{#_if reqType '!=' 'insert'}}
	<div class="list_move_btn_wrap TB_contents_parts " data-TB_contents_parts="list_move_btn">
		<div class="list_move_btn prev_list_btn ST_opacity_70_p">&lt;</div>
		<div class="list_move_btn next_list_btn ST_opacity_70_p">&gt;</div>
	</div>
	{{/_if}}
	{{/if}}
	<!--/리스트 사용시 이동 버튼 -->
	
	{{#if use_memo_in_image}}
	<div class="another_form_wrap async_file_form ST_hide">
		<form class="TB_form"
			data-TB_form_beforeAc='{"sharedFunc":"templates--wvm--wvm_1--async_file_form_before"}'
			data-TB_form_aftAc="sharedFunc:templates--wvm--wvm_1--async_file_form_aft"
		>
			<input type="text" name="reqType" value="insert" />
			<input type="text" name="reqQuery" value="insert_async_image" />
			<input type="file" name="file" />
			<input type="submit" />
		</form>
	</div>
	{{/if}}
	<!--/memo_in_image 에서 비동기로 파일을 업로드할 폼-->
	
	{{#_if reqType '!=' 'imageView'}}
	<div class="body_wrap">
		<form class="TB_form main_form"
			data-TB_form_beforeAc='{"sharedFunc":"templates--wvm--wvm_1--formBeforeAc"}'
			data-TB_form_aftAc="sharedFunc:templates--wvm--wvm_1--formAftAc"
			data-TB_form_resetForm="false"
		>
			<input type="hidden" name="reqType" value="{{reqType}}" />
			{{#if reqQuery}}
			<input type="hidden" name="reqQuery" value="{{reqQuery}}" />
			{{/if}}
			{{#_if reqType '==' 'insert'}}
			<input type="hidden" name="device" value="{{device}}" />
			{{/_if}}
			{{#_if reqType '==' 'modify'}}
			<input type="hidden" name="no" value="{{no}}" />
			{{/_if}}
			
			{{#if _group}}
			<input type="hidden" name="_group" value="{{_group}}" />
			{{/if}}<!--/BBS 타입을 사용시  그룹에서 사용될수 있는 값 -->
			
			{{#if wvm_options.add_form}}
			<div class="dynamic_el_container ">
				{{#each wvm_options.add_form}}
					{{#_if tag '==' 'input'}}
					<div class="dynamic_el_row ST_visibility_hidden ST_float_wrap ">
						<span class="name  ST_text_align_center">{{name}}</span>
						<span class=" dynamic_el ST_posi_relative hover input_wrap">
							&lt;input {{#each attr}} {{#ifArray @root.reqType if}}{{if_key}}="{{if_value}}"{{else}}{{key}}="{{value}}"{{/ifArray}} {{/each}}   /&gt;
						</span>
					</div>
					{{/_if}}
				{{/each}}
			</div>
			{{/if}}<!--/add_form : 동적 엘리먼트 생성-->
			
			{{#if categories}}
				{{#_if reqType '!=' 'view'}}
				<div class="categories_container hover">
					<select name="category">
					{{#each categories}}
						{{#_if name '==' ../category}}
						<option value="{{name}}" selected="selected">
						{{else}}
						<option value="{{name}}">
						{{/_if}}
							{{name}}
						</option>
					{{/each}}
					</select>
				</div>
				{{/_if}}
			{{else}}
				{{#if category}}
				<input type="hidden" name="category" value="{{category}}" />
				{{/if}}
			{{/if}}<!--/카테고리-->
			
			{{#if use_nick}}
			<div class="form_item">
				<span class="form_name">작 성 자</span>
				<span class="form_input">
					<input type="text" name="nick" class="TB_form_validate" {{view_modify_readonly}}  />
				</span>
			</div>
			{{/if}}
			
			{{#_if none_subject '!=' 'true'}}
			<div class="subject_wrap hover">
				<input type="text" class="TB_form_validate" name="subject" title="제목입력" {{readonly}}/>
			</div>
			{{/_if}}<!--/subject-->
			
			{{#_if none_memo '!=' 'true'}}
			<div class="wysiwyg_wrap hover">
				<textarea name="memo" class="TB_form_set" data-TB_form_set="wysiwyg:{{ifReturnVal reqType 'view' 'view' 'selection'}}"></textarea>
			</div>
			{{/_if}}<!--/memo-->
			
			
			<div class="add_icons_desc_wrap ST_clearfix">
				<div class="file_name_text"></div>
			</div><!--/추가 기능 단에서 설명등에 사용될 페이지-->
			
			
			{{#_if reqType '!=' 'view'}}
			<div class="add_icons_wrap ST_clearfix TB_contents_parts"
				data-TB_contents_parts="add_icons_wrap"
			>
				
				{{#if use_memo_in_image}}
				<div class="add_memo_in_image_btn_wrap icon_cover hover ST_theme_active" title="이미지 삽입">
					<div class="add_memo_image_btn fa fa-file-image-o"></div>
				</div>
				{{/if}}
				<!--/메모 내에 이미지 삽입 -->
				
				{{#if use_file}}
				<div class="file_wrap">
					<label class="fileBtn_container">
						<div class="fileBtn hover">File</div>
						<input type="file" name="file"   class="file ST_hide"/>
					</label>
				</div>
				{{/if}}
				<!--/파일 추가 버튼 -->
				
				{{#_if none_hidden '!=' 'true'}}
				<div class="switchBtn_wrap hover hidden_cover" >
					<label class="off_container " title="비밀글 ">
						<input type="radio" name="hidden" value="1" class="ST_hide" />
						<div class="fa fa-unlock"></div>
					</label>
					<label class="on_container ST_dis_none"  title="비밀글 해제">
						<input type="radio" name="hidden" value="0" checked="checked" class="ST_hide"/>
						<div class="fa fa-lock"></div>
					</label>
				</div>
				{{/_if}}
				<!--/숨김 설정 버튼 -->
				
				{{#_if none_notice '!=' 'true'}}
				<div class="switchBtn_wrap hover notice_cover" >
					<label class="off_container " title="공지 ">
						<input type="radio" name="notice" value="1" class="ST_hide" />
						<div class="fa fa-square-o"></div>
					</label>
					
					<label class="on_container ST_dis_none"  title="공지 해제">
						<input type="radio" name="notice" value="0" checked="checked" class="ST_hide"/>
						<div class="fa fa-check-square-o"></div>
					</label>
				</div>
				{{/_if}}
				<!--/공지 설정 버튼 -->
				
			</div>
			<!----------------------------------------------------------------
				/추가 기능 아이콘
				---------------------------------------------------------------->
			
			<div class="submit_wrap ">
				<label>
					<div class="submit_container hover">
						<input type="submit" class="submit" value="입력" />
					</div>
				</label>
			</div>
			
			{{else}}<!--============   view모드      =================-->
			<div class="add_icons_wrap ST_clearfix">
				
				{{#_if use_modify_change '==' true}}
				<div class="modify_change hover icon_cover ST_theme_active" title="수정" >
					<div class="fa fa-pencil"></div>
				</div>
				{{/_if}}<!--/view 모드에서 수정모드 전환 버튼 -->
				
				{{#if use_comment}}
				<div class="comment_toggle hover icon_cover ST_theme_active" title="답글달기">
					<div class="fa fa-commenting-o"></div>
				</div>
				{{/if}}<!--/답글달기. 활성화 모드는 comment_form_active가 생성된다.-->
				
				{{#if use_delete}}
				<div class="delete_btn hover icon_cover" title="삭제">
					<div class="fa fa-trash"></div>
				</div>
				{{/if}}<!--/삭제 버튼 -->
				
				{{#if use_file}}
				{{#if form_data.file_src}}
				<div class=" hover  ST_theme_active icon_cover file_link_icon"  >
					<a href="{{TB_root_path}}{{form_data.file_src}}" target="_blank">
						{{form_data.file_name}}<br/>
					</a>
				</div>
				{{/if}}
				{{/if}}<!--/파일 주소 표시-->
			</div>
			
			{{/_if}}<!--========/  추가 기능 아이콘 및 서브및 버튼  ========-->
			
		</form>
		
		{{#if use_comment}}
		
		<div class="TB_contents_parts comment_form_wrap"
			data-TB_contents_parts="templates--wvm--wvm_1--comment_form"
		>
			<form class="TB_form comment_form ST_dis_none"
				data-TB_form_aftAc="sharedFunc:templates--wvm--wvm_1--comment_form_input"
			>
				<div class="line"></div>
				<input type="hidden" name="reqType" value="insert" />
				<input type="hidden" name="reqQuery" value="{{queries.comment_insert_reqQuery}}" />
				<input type="hidden" name="parent_no" value="{{no}}" />
				<input type="hidden" name="device" value="{{device}}" />
				
				<div class="container">
					<div class="form_item_cover ST_float_left_wrap row" >
						<div class="input_wrap col-xs-12 col-md-2">
							<input type="text" name="nick" size="12" maxlength="20" class="TB_form_validate" 
								placeholder="이 름"  title="이름을 입력하세요"/>
						</div>
						<div class="col-md-1"></div>
						<div class="input_wrap col-xs-12 col-md-2">
							<input type="password" name="password" size="12" maxlength="20" class="TB_form_validate"
								placeholder="비밀번호"  title="비밀번호를 입력하세요"/>
						</div>
					</div>
				</div>
				<div class="wysiwyg_wrap hover">
					<textarea name="memo" class="memo TB_form_set TB_form_validate wvm_1_memo"  title="내용을 입력하세요."
						data-TB_form_set="wysiwyg:selection"
					></textarea>
				</div>
				<div class="submit_wrap ">
					<label>
						<div class="submit_container hover">
							<input type="submit" class="submit" value="답글입력" />
						</div>
					</label>
				</div>
			</form>
		</div><!----------/코멘트 폼 --------------------->
		
		<div class="comment_list_wrap TB_contents_parts"
			data-TB_contents_parts="templates--wvm--wvm_1--comment_list"
		>
			
			<ul class="comment_list_container ST_dis_none">
				{{#each comment_list.list}}
				<li class="comment_list hover">
						<div class="info_container ST_float_left_wrap">
							<div class="comment_del_modify_form">
								<form class="TB_form"
									data-TB_form_beforeAc='{"sharedFunc":"templates--wvm--wvm_1--comment_list_del_modify"}'
								>	
									<input type="hidden" name="type"  />
									<input type="hidden" name="no"  />
									<span class=" form_item"> 
										<input type="password" name="password" class="password" size="10"/> 
									</span>
									<span class="btn_wrap form_item">
										<label>
											<div class="comment_del_modify_submit_btn">확인</div>
											<input type="submit" class="ST_dis_none"/>
										</label>
									</span>
									<span class="btn_wrap form_item">
										<div class="hide_form_btn">닫기</div>
									</span>
								</form>
							</div><!--/삭제, 수정 패스워드 확인 폼 -->
							<div class="writer">{{nick}}</div>
							<div class="write_time">{{writetime}}</div>
							<div class="show_password_input_btn modify_btn fa fa-pencil" 
								data-comment='{"type":"modify","no":"{{no}}"}' title="수정"
							></div>
							<div class="show_password_input_btn delete_btn fa fa-close ST_cursor_pointer" 
								data-comment='{"type":"delete","no":"{{no}}"}' title="삭제"
							></div>
						</div><!--/정보와 버튼-->
						<div class="comment_modify_form_wrap  ">
							<form class="TB_form comment_modify_form"
								data-TB_form_aftAc='sharedFunc:templates--wvm--wvm_1--comment_list_modify'
							>
								<input type="hidden" name="reqType" value="modify" />
								<input type="hidden" name="reqQuery" value="{{@root.queries.comment_modify_reqQuery}}" />
								<input type="hidden" name="no" value="{{no}}" />
								<input type="hidden" name="password"  />
								<div class="memo_wrap">
									<textarea name="memo" class="memo TB_form_set" data-TB_form_set="wysiwyg:view">{{memo}}</textarea>
								</div>
								<div class="modify_btn_wrap">
									<label>
										<div class="submit_btn ST_theme  hover">수정</div>
										<input type="submit" class="ST_dis_none" />
									</label>
								</div>
							</form>
						</div><!--/코멘트 수정폼으로 변신 -->
				</li>
				{{/each}}
			</ul>				
		</div><!--/코멘트 리스트-->
		{{/if}}
		
	</div><!--/body_wrap-->
	
	{{else}}<!--========imageView일 경우========-->
	
	<div class="image_cover ST_dis_none ST_text_align_center">
		{{#if image_src}}
		<a href="{{image_src}}" target="_blank">
			<img src="{{image_src}}" alt="{{alt}}"  title="{{title}}"/>
		</a>
		{{/if}}
	</div>
	
	{{/_if}}<!--/imageView가 아닐경우는 BBS랜더링-->
	
	
	<div class="ST_dis_none TB_contents_parts"
		data-TB_contents_parts="templates--wvm--wvm_1--hidden_pass_input"
	>
		<div class="hidden_pass_input_wrap">
			<div class="ST_closeBtn_1">
				<span class="fa fa-2x fa-times-circle"></span>
			</div>
			<form class="TB_form ST_m_form_1"
				data-TB_form_beforeAc='{"sharedFunc":"templates--wvm--wvm_1--hidden_pass_input"}'
			>
				<ul>
					<li class="m_form_item">
						<span class="m_form_name">비밀번호</span>
						<span class="m_form_input">
							<input type="password" name="password"   />
						</span>
					</li>
					<li class="m_form_item">
						<label>
							<div class="submitBtn ST_theme">확인</div>
							<input type="submit"  class="ST_hide" />
						</label>
					</li>
				</ul>	
			</form>
		</div>
	</div><!--/숨김글일경우 패스워드 입력창-->
	
	
	<div class="bottom_space"></div><!--/하단 여백 -->
</div>
