#contents--seayacht--tour_info{}

#contents--seayacht--tour_info .metro_space{
	background: #FFFFFF;
	z-index:3;
}
/*===========================================
 * 글로벌
 ===========================================*/

#contents--seayacht--tour_info .pc_tab{
	width:100%;
	position: absolute;
	z-index: 5;
	color: #FFFFFF;
	border-bottom: 1px solid;
	box-sizing: border-box;
}
#contents--seayacht--tour_info .pc_tab .tab_container{
	width: 980px;
	margin: auto;
}
#contents--seayacht--tour_info .pc_tab .tab_container .tab{
	/*border-left:1px solid;*/
	border-right:1px solid;
    box-sizing: border-box;
    padding: 15px 0;
    width: 122.5px;
    cursor: pointer;
}
	#contents--seayacht--tour_info .pc_tab .tab_container .tab:first-child{
		border-left:1px solid;
	}
	#contents--seayacht--tour_info .pc_tab .tab_container .tab:hover{
		text-decoration: underline;
	}
#contents--seayacht--tour_info .pc_tab .tab_container .tab.selected{
	text-decoration: underline;
}
/*===========================================
 * pc 탭
 ===========================================*/

#contents--seayacht--tour_info .mobile_tab{
	background: #FFFFFF;
	color: #FFFFFF;
	z-index: 5;
	position: absolute;
	top:60px;
	width: 100%;
	color: #555555;
}
#contents--seayacht--tour_info .mobile_tab .title
, #contents--seayacht--tour_info .mobile_tab .tab
{
	padding: 12px 0;
	border-bottom: 1px solid;
	box-sizing: border-box;
}
#contents--seayacht--tour_info .mobile_tab .title{
	background: #0A91D2;
	color: #FFFFFF;
	position: relative;
	border: 0;
}
#contents--seayacht--tour_info .mobile_tab .title .toggle_icon{
	padding: 0 10px;
	position: absolute;
	right: 15px;
	cursor: pointer;
}
#contents--seayacht--tour_info .mobile_tab .tab_container .tab.selected{
	text-decoration: underline;
	font-weight: bold;
}
/*===========================================
 * 모바일 탭
 ===========================================*/

#contents--seayacht--tour_info .filter_wrap{
	position:absolute;
	z-index:1;
	left:0; top:0;
	width: 100%;
}
/*===========================================
 * 필터
 ===========================================*/

#contents--seayacht--tour_info .text_wrap{
	position: absolute;
	z-index:2;
	left:0; right:0;
	top:0; bottom:0;
	width:800px;
	max-width: 100%;
	height: 450px;
	box-sizing: border-box;
	margin: auto;
	top: 150px;
	color: #ffffff;
}
#contents--seayacht--tour_info .text_wrap .title .wysiwyg-editor{
	font-family: "Nanum Gothic";
	line-height:normal;
}
#contents--seayacht--tour_info .text_wrap .detail_cover{
	margin-top: 40px;
	position: relative;
}
#contents--seayacht--tour_info .text_wrap .detail
, #contents--seayacht--tour_info .text_wrap .top_icon
, #contents--seayacht--tour_info .text_wrap .bottom_icon{
	width: 80%;
	margin: auto;
}
#contents--seayacht--tour_info .text_wrap .detail{
}	
#contents--seayacht--tour_info .text_wrap .top_icon{
	text-align: left;
	font-size: 3em;
}
#contents--seayacht--tour_info .text_wrap .bottom_icon{
	text-align: right;
	font-size: 3em;
}
/*===========================================
 * 설명글
 ===========================================*/








































