<div id="contents--happyborn--sanmo_schedule">
	
	<div class="TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
	
		<!-- <div class="ST_box_shadow_1 ST_box_shadow_2 ST_pad_1_em"></div> -->
	<div class="metro_wrap ST_float_wrap">
		
		<div class="TB_contents_parts parts_list_wrap" data-TB_contents_parts="contents--happyborn--sanmo_schedule--list">
			{{#each list}}
			<div class="metro_fullContainer ST_opacity_0 container" data-TB_metro_width="500_px" data-TB_metro_m_hei="750_px">
				<div class="cover  TB_style" data-TB_style="ST_response_mobile_height_640px" >
					<div class="posi ST_box_shadow_2">
						<div class="pic ">
							<div class="TB_el" 
								data-TB_el_name="contents--happyborn--sanmo_schedule--pic_{{category}}_{{num}}"
							></div>
						</div><!--/배경 그림-->
						<div class="text_wrap ST_opacity_90_p TB_style" 
							data-TB_style="ST_response_mobile_position_relative||ST_response_mobile_height_auto"
						>
							<div class="text_1">
								<div class="TB_el" 
									data-TB_el_name="contents--happyborn--sanmo_schedule--text_1_{{category}}_{{num}}"
								></div>
							</div>
							<div class="text_2">
								<div class="TB_el" 
									data-TB_el_name="contents--happyborn--sanmo_schedule--text_2_{{category}}_{{num}}"
								></div>
							</div>
						</div><!--/텍스트-->
					</div>
				</div>
			</div>
			{{/each}}
		</div><!--/list-->
		
	</div>
	
	
</div>