body{
	font-family: 'Nanum Gothic';
}
#contents--happyborn--sanmo_schedule{
}
#contents--happyborn--sanmo_schedule a{
	text-decoration:none;
	color: #383FFF;
}
#contents--happyborn--sanmo_schedule a:visited{
	color: #383FFF;
	/*color: #777777;*/
}
#contents--happyborn--sanmo_schedule .metro_fullContainer {
}
#contents--happyborn--sanmo_schedule .metro_fullContainer .wysiwyg-popup{
	left:0 !important;
	color: #555555 !important;
}

/*=========================================
 * 공통
 =========================================*/

#contents--happyborn--sanmo_schedule .nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	z-index: 2;
}
#contents--happyborn--sanmo_schedule  .nav_active{
	background: #f7f7f7 !important;
	color: #ff9547 !important;
}
/*============================================
 * 네비게이션:공통
 ============================================*/

#contents--happyborn--sanmo_schedule .categories_wrap .pc_nav_container{
	position: fixed;
	margin-top: 80px;
	margin-left:20px; 
	line-height: 1em;
	z-index:3;
}
#contents--happyborn--sanmo_schedule .categories_wrap .pc_nav_container .title{
	width: 200px;
}
#contents--happyborn--sanmo_schedule .categories_wrap .pc_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em;
	cursor: pointer;
}
#contents--happyborn--sanmo_schedule .categories_wrap .pc_nav_container ul{
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
}
#contents--happyborn--sanmo_schedule .categories_wrap .pc_nav_container ul li{
	padding: 1em 0;
	height: auto;
	background:#ffffff;
	box-sizing: border-box;
	border-bottom: 1px solid #d5d5d5;
	color: #555555;
	cursor: pointer;
	font-size: 0.9em;
	text-align: center;
}
	#contents--happyborn--sanmo_schedule .categories_wrap .pc_nav_container ul li:hover{
		text-decoration: underline;
	}
/*============================================
 * 네비게이션:PC
 ============================================*/

#contents--happyborn--sanmo_schedule .mobile_nav_container{
	width: 100%;
	top: 60px;
	z-index: 3;
}
#contents--happyborn--sanmo_schedule .mobile_nav_container .nav_foldBtn{
	right: 1em;
	position: absolute;
}
#contents--happyborn--sanmo_schedule .mobile_nav_container li{
	padding: 1em;
	border-top: 1px solid #d5d5d5;
	text-align: center;
	background: #ffffff;
}
/*============================================
 * 네비게이션:mobile
 ============================================*/

#contents--happyborn--sanmo_schedule .parts_list_wrap .cover{
	width: 90%;
	margin: auto;
	-ms-max-width: 500px;
	max-width: 500px;
	position: absolute;
	height: 350px;
	left:0; top:0; right: 0; bottom: 0;
}
#contents--happyborn--sanmo_schedule .parts_list_wrap .cover .pic
, #contents--happyborn--sanmo_schedule .parts_list_wrap .cover .text_wrap
{
	padding:0 !important;
	position: absolute;
	right:0;
	top:0;
	height:350px;
	background: #ffffff;
}
#contents--happyborn--sanmo_schedule .parts_list_wrap .cover .pic{
	position: relative;
	overflow: hidden
}
#contents--happyborn--sanmo_schedule .parts_list_wrap .cover .text_1{
	margin-left: 0.3em; 
	margin-bottom: 0.3em; 
	margin-top: 0.3em; 
	box-sizing: border-box;
	padding-left: 0.3em; 
	border-left: 3px solid #ff9547;
	color: #777777;
	text-align: left;
}
#contents--happyborn--sanmo_schedule .parts_list_wrap .cover .text_2{
	padding:0.3em 0.3em 0 0.3em;
}
/*============================================
 * 리스트:공통
 ============================================*/

#contents--happyborn--sanmo_schedule .parts_list_wrap .cover .pic 
, #contents--happyborn--sanmo_schedule .parts_list_wrap .cover .pic  .TB_el
{
	/*height: 350px;*/
}
#contents--happyborn--sanmo_schedule .parts_list_wrap .cover .pic img{
	/*position: absolute;
	top:0;
	left: 50%;
	margin-left: -222.5px;*/
	width:100%;
}
/*============================================
 * 리스트:pc
 ============================================*/






 





























