<script type="text/x-handlebars-template">
	<div id="contents--nansolo--achievement" >
		
		<ul class="tabs tabs-fixed-width sub_nav_container z-depth-1 TB_style ST_posi_fixed "
			data-TB_style="ST_winWidMinus_85_px"
		>
			<li class="tab   ">
				<a href="#" >대분류 </a>
			</li>
			<li class="tab   ">
				<a href="#" >새로운업적</a>
			</li>
			<li class="tab ">
				<a href="#">신청업적</a>
			</li>
			<li class="tab ">
				<a href="#">나의업적</a>
			</li>
			<li class="tab ">
				<a href="#">업적목록</a>
			</li>
		</ul>
		<!--------------------------------------------
			서브네비게이션
			-------------------------------------------->
				
		<div class="metro_wrap">
			<div class="metro_space" style="height:53px;">&nbsp;</div>
			
			<div id="achievement--category" class="metro_fullContainer achievement_category_metro" data-TB_metro_width="800_px"
				data-metro_minus_height="46"
			>
				<div class="container">
					<h4 class="header blue-grey-text darken-4">대분류</h4>
					
					<div class="row">
						<form class="TB_form" 
							data-TB_form_aftAc="sharedFunc:contents--nansolo--achievement--insert_category_aftac"
						>
							<input type="hidden" name="reqType" value="insert" />	
							<input type="hidden" name="reqQuery" value="aheivement_category" />
							
							<div class="col s9 input-field">
								<label for="f_achievement_category">분류명</label>
								<input type="text" id="f_achievement_category" name="category" class="TB_form_validate"/>
							</div>
							<div class="col s3 input-field">
								<label>
									<div class="ST_button ST_theme_color waves-effect ST_button_large " >등 록</div>
									<input type="submit" class="ST_hide" />
								</label>
							</div>
						</form>
					</div>
					<!--/입력-->
					
					<div class="row TB_contents_parts" data-TB_contents_parts="TB_bbs_list_wrap">
						<ul class="collection  contegory_list" >
							{{#each list}}
							<li  class="collection-item ST_float_left_wrap ">
								<a  class="ST_col_10 ST_float_left ST_dis_inline_block">
									{{category}}
								</a>
								<div class="ST_col_1 center-align">
									<span class="TB_bbs_delete_button"
										data-delete_item='{"no":{{no}} }'
									>
										<i class="material-icons ST_hover_text_moveup ST_theme_color waves-effect">&#xE5CD;</i>
									</span>
								</div>
								<div class="ST_col_1 center-align">
									<span class="modify_button" data-item='{"no":{{no}},"category":"{{category}}" }'>
										<i class="material-icons ST_hover_text_moveup ST_theme_color waves-effect ">&#xE254;</i>
									</span>
								</div>
							</li>
							{{/each}}
						</ul>
					</div>
					<!--/분류 리스트-->
					
					<div class="row">
						<ul class="pagination center-align TB_contents_parts"
							data-TB_contents_parts="TB_bbs_pagination" 
						>	
							{{#_if list_info.cur_block '&gt;' 1}}
							<li class="disabled waves-effect ST_hover_text_moveup">
								<a href="#!/{{@root.TB_page}}?bbs_page={{@root.list_info.prev_block_page}}">
									<i class="material-icons">&#xE5CB;</i>
								</a>
							</li>
							{{/_if}}
							
							{{#each list_info.page_link}}
							{{#_if link '==' @root.list_info.page  }}
							<li class="ST_theme ">
								<a href="#!/{{@root.TB_page}}?bbs_page={{link}}" class=" white-text">{{link}}</a>
							</li>
							{{else}}
							<li class="waves-effect ST_hover_text_moveup">
								<a href="#!/{{@root.TB_page}}?bbs_page={{link}}"  >{{link}}</a>
							</li>
							{{/_if}}
							{{/each}}
							
							{{#_if list_info.cur_block '&lt;' list_info.total_block}}
							<li class="disabled waves-effect ST_hover_text_moveup">
								<a href="#!/{{@root.TB_page}}?bbs_page={{@root.list_info.next_block_page}}">
									<i class="material-icons">&#xE5CC;</i>
								</a>
							</li>
							{{/_if}}
						</ul>
					</div>
					<!--/페이지 이동 버튼-->
					
				</div>
				
			</div>		
			<!-------------------------------------
				대분류 생성(관리자)
			------------------------------------->
			
			
			
			<div class="metro_fullContainer new_achievement" data-TB_metro_width="800_px"
				data-metro_minus_height="46"
			>
				<div class="container">
					<h4 class="header blue-grey-text darken-4">새로운 업적</h4>
					
					<div class="row">
						
						<div class="input-field col s12 m6 TB_contents_parts" 
							data-TB_contents_parts="new_achievement_category"
						>
							<select class="icons ">
								<option value="all" selected >대분류</option>
								{{#each new_achievement.categories}}
								<option value="{{this.no}}">{{category}}</option>
								{{/each}}
							</select>
						</div>
						
						<div class="input-field col s12 m6">
							<select class="icons">
								<option value="" disabled selected >대분류</option>
								<option value="">test</option>
								<option value="">test</option>
							</select>
						</div>
						
					</div>
					<!--/입력-->
					
					<div class="row TB_contents_parts" data-TB_contents_parts="TB_bbs_list_wrap">
						<ul class="collection  contegory_list" >
							{{#each list}}
							<li  class="collection-item ST_float_left_wrap ">
								<a  class="ST_col_10 ST_float_left ST_dis_inline_block">
									{{category}}
								</a>
								<div class="ST_col_1 center-align">
									<span class="TB_bbs_delete_button"
										data-delete_item='{"no":{{no}} }'
									>
										<i class="material-icons ST_hover_text_moveup ST_theme_color waves-effect">&#xE5CD;</i>
									</span>
								</div>
								<div class="ST_col_1 center-align">
									<span class="modify_button" data-item='{"no":{{no}},"category":"{{category}}" }'>
										<i class="material-icons ST_hover_text_moveup ST_theme_color waves-effect ">&#xE254;</i>
									</span>
								</div>
							</li>
							{{/each}}
						</ul>
					</div>
					<!--/분류 리스트-->
					
					<div class="row">
						<ul class="pagination center-align TB_contents_parts"
							data-TB_contents_parts="TB_bbs_pagination" 
						>	
							{{#_if list_info.cur_block '&gt;' 1}}
							<li class="disabled waves-effect ST_hover_text_moveup">
								<a href="#!/{{@root.TB_page}}?bbs_page={{@root.list_info.prev_block_page}}">
									<i class="material-icons">&#xE5CB;</i>
								</a>
							</li>
							{{/_if}}
							
							{{#each list_info.page_link}}
							{{#_if link '==' @root.list_info.page  }}
							<li class="ST_theme ">
								<a href="#!/{{@root.TB_page}}?bbs_page={{link}}" class=" white-text">{{link}}</a>
							</li>
							{{else}}
							<li class="waves-effect ST_hover_text_moveup">
								<a href="#!/{{@root.TB_page}}?bbs_page={{link}}"  >{{link}}</a>
							</li>
							{{/_if}}
							{{/each}}
							
							{{#_if list_info.cur_block '&lt;' list_info.total_block}}
							<li class="disabled waves-effect ST_hover_text_moveup">
								<a href="#!/{{@root.TB_page}}?bbs_page={{@root.list_info.next_block_page}}">
									<i class="material-icons">&#xE5CC;</i>
								</a>
							</li>
							{{/_if}}
						</ul>
					</div>
					<!--/페이지 이동 버튼-->
					
				</div>
				<!--/END : container /-->
				
			</div>		
			<!-------------------------------------
				전체업적(관리자)
			------------------------------------->
			
			
			
			<div id="all_achievement" class="metro_fullContainer " data-TB_metro_width="500_px"
				data-metro_minus_height="48" style="background:blue;"
			>
			</div>		
			<!-------------------------------------
				나의 업적(신청, 완료, 미완료)
			------------------------------------->
			
			
			
		
			<!-------------------------------------
				도전 업적 리스트
			------------------------------------->
			
			
			
		</div>
	</div>
</script>