#contents--nansolo--achievement{}

@media (min-width:992px){
	#contents--nansolo--achievement .metro_fullContainer{
		top: 48px !important;
	}
}
/*===========================================================
 * 글로벌
 ===========================================================*/



#contents--nansolo--achievement .sub_nav_container{
	position: fixed;
	z-index:1;
}
/*===========================================================
 * 서브 네비게이션
 ===========================================================*/


#contents--nansolo--achievement .contegory_list li{
	display:block !important;
	
}
/*===========================================================
 * 카테고리
 ===========================================================*/


































































