<div id="contents--dreamyacht--about">
	<div class="ST_hide scroll_spy_buttons">
		<a href="#about_introduction" class="trigger_about_introduction"></a>
		<a href="#about_yacht_album" class="trigger_about_yacht_album"></a>
	</div>
	
	<div class="r_1 ST_section ST_section_full" >
		
		<div class="main_img TB_ui_parallaxScroll"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_1"}' 
		></div>
		<!--/bg/-->
		
		<div class="filter ST_opacity_70_p "></div>
		<div class="container">
			<div class="space"></div>
			
			<div class="text_wrap ">
				<div class="ST_title ST_title_s ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					요트에 대한 모든것
				</div>
				<div class="ST_title ST_title_l ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					<b>All About The Yacht</b>
				</div>
				<div class="flow-text ST_opacity_0 TB_ani_show ST_margin_top_1_5_em" >
					<div class="TB_el" data-TB_el_name="about--r_1_desc"></div>
				</div>
				
				
			</div>
			
		</div>
		
	</div>
	<!--------------------------------------------
		메인 이미지
	-------------------------------------------->
	
	<div id="about_introduction" class="r_2 ST_section ST_overflow_hidden scroll_spy">
		<div class="container ST_z-index_1">
			<div class="section">
				<h3 class="center-align ST_title">ABOUT</h3>
				<div class="about_detail TB_el" data-TB_el_name="about--r_2_about_detail" ></div>
			</div>
			<div class="divider"></div>
			<div class="section">
				<blockquote>
					<div class="TB_el" data-TB_el_name="about--r_2--history"></div>
				</blockquote>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		소개
	-------------------------------------------->
	
	<div id="about_yacht_album" class="r_3 ST_section ST_section_l ST_overflow_hidden scroll_spy">
		<div class="container ST_z-index_1">
			<div class="row grey-text text-darken-2">
				
				<div class="col s12">
					<ul class="tabs z-depth-1">
						<li class="tab tab_all ">
							<a href="#about_yacht_all " class="active waves-effect" >전체</a>
						</li>
						<li class="tab tab_1 ">
							<a href="#about_yacht_1" class="waves-effect">1호정</a>
						</li>
						<li class="tab tab_2 ">
							<a href="#about_yacht_2" class="waves-effect">2호정</a>
						</li>
						<li class="tab tab_3 ">
							<a href="#about_yacht_3" class="waves-effect">3호정</a>
						</li>
					</ul>
				</div>
				
			</div>
			
			<div class="row TB_contents_parts" data-TB_contents_parts="TB_bbs_list_wrap" >
				<script type="x-haldlebars-template">
					{{#each list}}
					<div class="col s12  m6  l4">
						<div class="card small hoverable">
							<div class="card-image  ">
								<img src="{{@root.TB_root_path}}{{src}}" class="materialboxed" data-caption="{{subject}}" />
							</div>
							<div class="card-content">
								<span class="card-title">{{subject}}</span>
							</div>
							{{#if @root.TB_userInfo}}
							<div class="card-action">
								<a class="TB_bbs_modify_button" data-modify_item='{"no":{{no}} }'>수정</a>
								<a class="TB_bbs_delete_button " data-delete_item='{"no":{{no}} }'>삭제</a>
							</div>
							{{/if}}
						</div>
					</div>
					{{/each}}
				</script>
			</div>
			
			<div class="row">
				<div class="col s12">
					<ul class="pagination center-align TB_contents_parts"
						data-TB_contents_parts="TB_bbs_pagination" 
					>	
						{{#_if list_info.cur_block '&gt;' 1}}
						<li class="disabled waves-effect ST_hover_text_moveup">
							<a href="#!/yacht_album?page={{@root.list_info.prev_block_page}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}">
								<i class="material-icons">&#xE5CB;</i>
							</a>
						</li>
						{{/_if}}
						
						{{#each list_info.page_link}}
						{{#_if link '==' @root.list_info.page  }}
						<li class="ST_theme ">
							<a href="#!/yacht_album?page={{link}}&{{hasReturnVal @root.category 'category=' ''}}{{@root.category}}" 
							class=" white-text">{{link}}</a>
						</li>
						{{else}}
						<li class="waves-effect ST_hover_text_moveup">
							<a href="#!/yacht_album?page={{link}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}"  >{{link}}</a>
						</li>
						{{/_if}}
						{{/each}}
						
						{{#_if list_info.cur_block '&lt;' list_info.total_block}}
						<li class="disabled waves-effect ST_hover_text_moveup">
							<a href="#!/yacht_album?page={{@root.list_info.next_block_page}}&{{hasReturnVal @root.category 'category='}}{{@root.category}}">
								<i class="material-icons">&#xE5CC;</i>
							</a>
						</li>
						{{/_if}}
					</ul>
				</div>
			</div>
			
			{{#_if TB_userInfo.member_grade '==' 'supervisor'}}
			<div class="row">
				<div class="col offset-m10 m2 s12 right-align">
					<div class="btn-floating btn-large waves-effect waves-light blue ST_dis_inline_block TB_bbs_insert_button">
						<i class="fa fa-pencil"></i>
					</div>
				</div>
			</div>
			{{/_if}}
			
		</div>
	</div>
	<!--------------------------------------------
		외양항해 초급 프로그램
	-------------------------------------------->
	
	
	<div class="footer_wrap ST_section ">
		<div class="container center-align">
			<div class="grey-text text-darken-1">
				<div class="TB_el" data-TB_el_name="footer"></div>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		footer
	-------------------------------------------->
	
	
</div>