#contents--happyborn--doctors .space{
	height: 50px;
}
#contents--happyborn--doctors .metro_wrap{
	position:relative;
	z-index: 1;
}
#contents--happyborn--doctors .metro_container{
}
#contents--happyborn--doctors .container{
	width: 100%;
	padding:0;
	overflow:hidden;
	background: #ffffff;
	-webkit-box-shadow: 0 2px 10px #999999;
	-moz-box-shadow: 0 2px 10px #999999;
	-ms-box-shadow: 0 2px 10px #999999;
	-o-box-shadow: 0 2px 10px #999999;
	box-shadow: 0 2px 10px #999999;
}
#contents--happyborn--doctors .container .check_box_cover{
	position: relative;
}
#contents--happyborn--doctors .container .check_box{
	width: 50%;
	height: 290px !important;
	overflow: hidden;
	position: relative;
	opacity: 0;
}
#contents--happyborn--doctors .container  .text_wrap_1 .wysiwyg-editor,
#contents--happyborn--doctors .container  .text_wrap_2 .wysiwyg-editor
{
	margin:left;
	font-family: 'Nanum Gothic', 'Malgun Gothic'; 
	text-align:left;
	margin: 0em 0 0 1em;
	color: #989898;
	line-height: 1.7em;
	font-size: 0.9em;
}
#contents--happyborn--doctors .container .text_wrap_1 .wysiwyg-editor h2{
	font-size: 0.8em;
	margin-top: 1em;
	font-weight:bolder;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	border-bottom:1px solid;
	display:inline-block;
}
#contents--happyborn--doctors .container  .text_wrap_2 .wysiwyg-editor h3{
	font-size: 1.3em;
	margin-top: 1em;
	font-weight:bolder;
	padding-bottom: 0.5em;
}
#contents--happyborn--doctors .container  .pic_1_container img,
#contents--happyborn--doctors .container .pic_2_container img{
	position:absolute;
	left:50%;
	margin-left: -375px;
}
#contents--happyborn--doctors .container:hover{
	border-bottom: 4px solid #ff9547;
}

/*
@media (min-width: 992px){
	#contents--happyborn--doctors .container{}
	#contents--happyborn--doctors .container .row > div{
		height: 290px !important;
	}
	#contents--happyborn--doctors .container .ST_pattern{
		width: 350px !important;
		height: 290px !important;
	}
}
/*============================================
 * PC
 ============================================*/

/*
@media (max-width: 991px){
	#contents--happyborn--doctors .metro_container{
		height: auto !important;
	}
	
	#contents--happyborn--doctors .container .row .pic_1_container img,
	#contents--happyborn--doctors .container .row .pic_2_container img{
		left:0;
		margin-left: 0;
		width:100%;
	}
	#contents--happyborn--doctors .container .row .text_wrap_1 ,
	#contents--happyborn--doctors .container .row .text_wrap_2 {
		height:auto;
		padding-bottom:1em;
	}
	#contents--happyborn--doctors  .pic_wrap_2{
		display:none;		
	}
}/*==/모바일==*/

#contents--happyborn--doctors .container .row .ST_pattern{
	z-index: 5;
}