<div id="contents--seayacht--header" class="ST_posi_relative ST_wid_100_p">
	
	<div class="nav_wrap TB_style  ST_margin_auto pc_nav ST_pattern_4"
		data-TB_style="ST_hidden_mobile"
	>
		<div class="logo_wrap">
			<a href="#!/index">
				<div class=" TB_el logo_container"
					data-TB_el_name="contents--pension--header--el--logo"
				></div>
			</a>
		</div><!--/로고 -->
		<div class="TB_contents_load nav_wrap"
			data-TB_contents_src = "templates--nav--nav_2"
			data-TB_contents_sendData="?mapCursor=none"
		></div><!--/메뉴-->
	</div>
	<!-------------------------------------------------
		pc 헤더
		------------------------------------------------->
	
	<div class="TB_style mobile_nav_wrap ST_dis_none" data-TB_style="ST_visible_mobile_block">
		<div class="logo_wrap">
			<a href="#!/index">
				<div class="TB_el  logo_container"
					data-TB_el_name="contents--pension--header--el--logo"
				></div >
			</a>
		</div><!--/로고 -->
		
		<div class="toggle_m_nav_btn_wrap TB_ui_acFunc"
			data-TB_ui_acFunc='{
				"ac":"click"
				,"sharedFunc":"templates--nav--m_nav_1--showNav"
			}'
		>
			<div class="ST_theme_color toggle_m_nav_btn fa fa-navicon"></div>
		</div><!--/토글 버튼 -->
		
		<div class="TB_contents_load ST_posi_absolute ST_top_0 ST_right_0"
			data-TB_contents_src="templates--nav--m_nav_1"
			data-TB_sendData="?menu=mobile"
		></div>
	</div><!--/모바일 메뉴 -->
	<!-------------------------------------------------
		모바일 메뉴
		------------------------------------------------->
	
</div>