body{}
.templates--backdrop--dynamic_form{
	line-height:normal;
	max-width: 95%;
	position: relative;
	margin:auto;
	padding-bottom: 30px; 
}
.templates--backdrop--dynamic_form a{
	text-decoration: none;
}
/*===========================================
 * 글로벌
 ===========================================*/

.templates--backdrop--dynamic_form .title{
	text-align: center;
	margin: auto;
	margin-top: 20px;
}
.templates--backdrop--dynamic_form .title .text{
	font-size: 1.9em;
	font-family : 'Nanum Gothic';
	font-weight: 100;
	color: #555555;
}
.templates--backdrop--dynamic_form .title .line{
	border-bottom: 1px solid #999999;
}
@media (max-width:991px){
	.templates--backdrop--dynamic_form .search_value_box{
		width:100%;
		padding-top: 20px;
	}
}
/*===========================================
 * 검색 폼
 ===========================================*/












































