<script type="text/x-handlebars-template" >
	<div class="templates--backdrop--dynamic_form ST_transition_all_03_s ST_opacity_0" >
		{{#if title}}
		<div class="title_wrap ST_float_left_wrap title">
			<div class="ST_col_3"><div class="line">&nbsp;</div></div>
			<div class="ST_col_1"></div>
			<div class="ST_col_4 text ST_overflow_hidden">{{title}}</div>
			<div class="ST_col_1"></div>
			<div class="ST_col_3"><div class="line">&nbsp;</div></div>
		</div>
		{{/if}}
		
		<div class="form_wrap">
			<form class="TB_form" >
				<input type="hidden" name="reqType" value="{{req_type}}" />
				<input type="hidden" name="reqQuery" value="{{req_query}}" />
				
				{{#each form}}
				
				{{#_if tag '==' 'input'}}
				<div class="input-field" class="active">
					{{#if label}} <label >{{label}}</label>{{/if }}
					{{tagPrint tag attr}}
				</div>
				{{/_if}}
				
				{{#_if tag '==' 'file'}}
				<div class="file-field input-field" >
					<div class="btn">
						<span>File</span>
						{{tagPrint 'input' attr}}
					</div>
					<div class="file-path-wrapper">
						<input class="file-path " type="text" />
					</div>
				</div>
				{{/_if}}
				
				{{#_if tag '==' 'select'}}
				<div class="input-field" >
					{{tagPrint tag attr each}}
				</div>
				{{/_if}}
				
				{{/each}}
				
				<div class="ST_margin_top_1_5_em submit_wrap">
					<label>
						<div class="ST_button ST_button_full ST_theme_color waves-effect">{{submit}}</div>
						<input type="submit" class="ST_hide submit" />
					</label>
				</div>
			</form>
		</div>
	</div>
</script>