<div id="contents--dongneand--index" >
	<div class="metro_wrap">
		
		<div class="metro_space metro_fullContainer" data-TB_metro_width="200_px"></div>
		<!-------------------------------------
			AD_공간
		------------------------------------->
		
		<div class="metro_fullContainer  ad" data-TB_metro_width="800_px"
			data-TB_metro_m_hei="450_px"
		>
			메인광고
		</div>
		<!-------------------------------------
			메인광고
		------------------------------------->
		
		<div class="metro_fullContainer category_ad " data-TB_metro_width="600_px"
			data-TB_metro_m_hei="450_px"
		>
			품목광고
		</div>
		<!-------------------------------------
			품목광고
		------------------------------------->
		
		<div class="metro_fullContainer normal_ad " data-TB_metro_width="800_px"
			data-TB_metro_m_hei="450_px"
		>
			일반광고
		</div>
		<!-------------------------------------
			일반광고
		------------------------------------->
		
		<div class="metro_fullContainer latest " data-TB_metro_width="800_px"
			data-TB_metro_m_hei="450_px"
		>
			자기가 최근 방문한 업체
		</div>
		<!-------------------------------------
			자기가 최근 방문한 업체
		------------------------------------->
		
		
		
		
		
	</div>
</div>