<div  class="templates--nav--nansolo_nav TB_style" data-TB_style="ST_winHei_98_p" >
	<div class="logo_wrap">
		<a href="#!/index">
			LOGO
		</a>
	</div>
	<!--/logo-->
	
	<div class="user_info_wrap">
	</div>
	<!--/유저 정보-->
	
	{{#_if TB_userInfo.member_grade '==' 'supervisor'}}
	<div class="select_user TB_contents_parts" data-TB_contents_parts="select_user">
		<div class="ST_posi_absolute ST_float_left_wrap menu ST_dis_none">
			{{#each @root.shape.select_user.list}}
			{{#_if user_level '==' @root.shape.select_user.level}}
			<div class="user_level selected ST_theme"  data-user_level="{{user_level}}">{{user}}</div>
			{{else}}
			<div class="user_level" data-user_level="{{user_level}}">{{user}}</div>
			{{/_if}}
			{{/each}}
		</div>
	</div>
	{{/_if}}
	<!--/유저별 메뉴 셀렉트-->
	
	<ul class="nav_container TB_contents_parts "data-TB_contents_parts="menu">
		{{#unless TB_userInfo}}
		<li class="menu_topMenu">
			<div class="top_menu_cover">
				<a href="#!/login?strategy=google" class="topMenu_text" data-TB_link_page="login" data-TB_link_level="1">
					<div class="fa fa-user icon"></div>
					<div class="title">login</div>
				</a>
			</div>
		</li>
		{{/unless}}
		
		{{#each menu}}
			{{#if visibility}}
				<li class="menu_topMenu   " >
					<div class="top_menu_cover ">
						<a href="#!/{{page}}"  class="topMenu_text  {{active}} link_{{page}}"  >
							<div class="fa fa-{{icon}} icon"></div>
							<div class="title" >{{title}}</div>
						</a>
					</div>
				</li>
			{{/if}}
		{{/each}}
		<!---------------------------------
			메뉴들
			--------------------------------->
		{{#if TB_userInfo}}
		<li class="menu_topMenu">
			<div class="top_menu_cover">
				<a href="/#!/index">
					<div class="fa fa-gear icon"></div>
					<div class="title">설정</div>
				</a>
			</div>
		</li>
		<li class="menu_topMenu">
			<div class="top_menu_cover">
				<a href="/logout">
					<div class="fa fa-sign-out icon"></div>
					<div class="title">Logout</div>
				</a>
			</div>
		</li>
		{{/if}}
		<!---------------------------------
			로그인 했을 시와 안했을 때.
			--------------------------------->
	</ul>
	<!--/메뉴들-->
	
</div>
