.templates--nav--nansolo_nav{
	 position: relative;
	 width: 85px;
	 background: #3e3939;
	 font-size: 0.8em;
	 font-family: "Manum Gothic";
	 font-weight: lighter;
	 text-align: center;
	 color: #FFFFFF;
	 overflow-y: auto;
 }
.templates--nav--nansolo_nav a{
	 color: #FFFFFF;
	text-decoration: none;
}
/*=============================================
 * 글로벌
 =============================================*/

.templates--nav--nansolo_nav .logo_wrap{
	height: 90px;
	background: #965555; 
}
/*=============================================
 * 로고
 =============================================*/

.templates--nav--nansolo_nav .select_user_wrap{}
.templates--nav--nansolo_nav .select_user_wrap .menu_flip{}
/*=============================================
 * 유저별 메뉴
 =============================================*/


.templates--nav--nansolo_nav .nav_container a{
	display:block;
	padding: 17px 0;
	border-bottom: 1px solid #3f77bb;
	box-sizing: border-box;
	background: #539af1;
	transition: background 0.2s ease-in-out;
	font-weight: bold;
}
	.templates--nav--nansolo_nav .nav_container a:hover
	, .templates--nav--nansolo_nav .nav_container .active
	{
		background: #396eaf;
	}
.templates--nav--nansolo_nav .nav_container .icon{
	font-size: 2em;
}
.templates--nav--nansolo_nav .nav_container .title{
	margin-top: 7px;
}
/*=============================================
 * 메뉴
 =============================================*/


















