<div id="contents--seayacht--local_marina" >
	<div class="metro_wrap TB_contents_parts" data-TB_contents_parts="local">
		
		<!-------------------------------------
			마리나 등록
		------------------------------------->
		<div class="metro_fullContainer intro TB_contents_parts TB_style" 
			data-TB_metro_width="1000_px" data-TB_metro_minus_height="100_px"  data-TB_metro_m_hei="500_px"
			data-TB_contents_parts="intro"
			data-TB_style="ST_fitAlign" data-TB_style_findTarget=".bg_img"
		>
			<div class="metro_space TB_style ST_bg_ffffff" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="text_wrap ST_align_center_middle ST_z-index_1">
				<div class="text TB_style" data-TB_style="ST_response_mobile_width_90%">{{marina.name}}</div>
			</div>
			<div class="bg_cover">
				<div class="bg " >
					<img class="bg_img "  src="{{TB_root_path}}img/contents/local_marina/intro_{{marina.no}}.jpg"/>
				</div>
			</div><!--/bg-->
		</div>
		<!-------------------------------------
			마리나 사진
		------------------------------------->
		
		<div class="resavation  TB_contents_parts" data-TB_contents_parts="reservation">
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="TB_contents_load ST_posi_relative reservation_loader" 
				data-TB_contents_src="contents--seayacht--reservation"
				data-TB_contents_sendData='{"selected_no":"{{marina.no}}","TB_half_bake":"{{TB_half_bake}}"}'
			></div>
		</div>
		<!-------------------------------------
			예약
		------------------------------------->
		
		<div class="metro_fullContainer ships " data-TB_metro_width="300_px"  >
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="sp TB_style" data-TB_style="ST_response_pc_margin-top_20px" ></div>
			<div class="text_wrap " >
				<div class="ST_title_1">요트·보트</div>
				<div class="pics_container TB_contents_parts  metro_minus_height" data-TB_contents_parts="ships"
					data-metro_minus_height="167"
				>
					<ul>
						{{#each ships}}
						<li>
							<a href="#!/wvm_1?reqType=view&no={{no}}">
								<img src="{{images_thumbnail_src}}" />
								<div class="subject ST_opacity_90_p">{{substr subject 0 10 '..'}}</div>
							</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<!-------------------------------------
			마리나별 요트 사진
		------------------------------------->
		
		<div class="metro_fullContainer introduction" data-TB_metro_width="700_px" >
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="sp TB_style" data-TB_style="ST_response_pc_margin-top_20px" ></div>
			<div class="text_wrap ST_card TB_style" data-TB_style="ST_response_pc_min-height_490px">
				<div class="ST_title_1"><span class="fa fa-circle-o"></span>&nbsp;소개</div>
				<div class="detail TB_contents_parts" data-TB_contents_parts="greeting">
					<div class="TB_el"
						data-TB_el_name="contents--seayacht--local_marina--introduction--{{marina.no}}"
					></div>
				</div>
			</div>
		</div>
		<!-------------------------------------
			마리나 소개
		------------------------------------->
		
		<div class="metro_fullContainer map" data-TB_metro_width="800_px">
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="sp TB_style" data-TB_style="ST_response_pc_margin-top_20px" ></div>
			<div class="text_wrap ST_card TB_style" data-TB_style="ST_response_pc_min-height_490px">
				<div class="ST_title_1"><span class="fa fa-map-marker"></span>&nbsp;지도</div>
				<div class="map_wrap">
					<div id="map_canvas"></div>
				</div>
				<div class="adress_wrap TB_contents_parts" data-TB_contents_parts="address">
					<div class="TB_el" data-TB_el_name="contents--seayacht--local_marina--address--{{marina.no}}"></div>
				</div>
			</div>
		</div>
		<!-------------------------------------
			지도
		------------------------------------->
		
		<div class="metro_fullContainer traffic" data-TB_metro_width="750_px">
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="sp TB_style" data-TB_style="ST_response_pc_margin-top_20px" ></div>
			<div class="text_wrap ST_card TB_style" data-TB_style="ST_response_pc_min-height_490px">
				<div class="ST_title_1"><span class="fa fa-bus"></span>&nbsp;교통편(대중교통)</div>
				<div class="detail TB_contents_parts" data-TB_contents_parts="traffic">
					<div class="TB_el"
						data-TB_el_name="contents--seayacht--local_marina--traffic--{{marina.no}}"
					></div>
				</div>
			</div>
		</div>
		<!-------------------------------------
			교통편
		------------------------------------->
		
		<div class="metro_fullContainer hours" data-TB_metro_width="280_px" >
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="sp TB_style" data-TB_style="ST_response_pc_margin-top_20px" ></div>
			<div class="text_wrap ST_card TB_style" data-TB_style="ST_response_pc_min-height_490px">
				<div class="ST_title_1"><span class="fa fa-clock-o"></span>&nbsp;운영시간</div>
				<div class="detail TB_contents_parts" data-TB_contents_parts="hours">
					<div class="TB_el"
						data-TB_el_name="contents--seayacht--local_marina--hours--{{marina.no}}"
					></div>
				</div>
			</div>
		</div>
		<!-------------------------------------
			영업시간
		------------------------------------->
		
		<div class="metro_fullContainer" data-TB_metro_width="400_px" data-TB_metro_m_hei="380_px">
			<div class="metro_space " data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="TB_contents_load ST_pad_1_em " data-TB_contents_src = "contents--seayacht--footer"></div>
		</div>
		<!-------------------------------------
			footer
		------------------------------------->
		
	</div>
</div>