#contents--seayacht--local_marina{}
#contents--seayacht--local_marina .metro_fullContainer{
	display:none;
}
#contents--seayacht--local_marina .text_wrap{
	margin-top: 20px;
	text-align: left;
	width: 90%;
	margin: auto;
}
#contents--seayacht--local_marina .ST_title_1{
	text-align: left;
	padding-left: 10px;
	/*border:0;
	background: #55b5e4;
	color: #FFFFFF;*/
}
#contents--seayacht--local_marina  .wysiwyg-editor{
	color: #505050;
}

/*========================================================
 * 공통
 ========================================================*/

#contents--seayacht--local_marina .intro .text_wrap{
	text-align:center;
}
#contents--seayacht--local_marina .intro .text_wrap .text{
	display:inline-block;
	font-size: 2em;
	font-family: "Nanum Gothic";
	color: #ffffff;
	border: 7px solid;
	padding: 20px 10px;
	width: 50%;
	border-radius: 2em;
	font-weight: 900;
}
/*========================================================
 * 마리나명과 배경 이미지
 ========================================================*/


#contents--seayacht--local_marina .ships{
	overflow-y: auto !important;
}
#contents--seayacht--local_marina .ships .ST_title_1{
	padding-top: 2px;
	border-color:#D5D5D5;
}
#contents--seayacht--local_marina .ships .pics_container{
	width:100%;
}
#contents--seayacht--local_marina .ships .pics_container li{
	position: relative;
	border : 1px solid #c5c5c5;
	box-sizing: border-box;
	margin : auto;
	margin-bottom: 10px;
	overflow: hidden;
	line-height:0;
	transition: border-color 0.3s ease;
	width:240px;
	height:136px;
	
}
	#contents--seayacht--local_marina .ships .pics_container li:hover{
		/*box-shadow: 2px 5px 3px #d5d5d5;*/
		border-color: #056EA1;
	}
#contents--seayacht--local_marina .ships .pics_container li img{
	width: 100%;
}
#contents--seayacht--local_marina .ships .pics_container li .subject{
	position: absolute;
	bottom: 0;
	z-index: 1;
	padding: 5px 5px;
	background: #FFFFFF;
	width: 230px;
	color: #6F6F6F;
	font-size: 0.9em;
	font-family: "Malgun Gothic";
	font-weight: lighter;
	line-height:normal;
}
/*========================================================
 * 마리나별 요트사진
 ========================================================*/

#contents--seayacht--local_marina .introduction {
	overflow: visible;
}
#contents--seayacht--local_marina .introduction .text_wrap {
	margin-top: 20px;
	text-align: left;
	width: 90%;
	margin: auto;
}
/*========================================================
 * 소개글
 ========================================================*/

#contents--seayacht--local_marina .map{
	overflow: visible;
}
#contents--seayacht--local_marina .map .map_wrap #map_canvas{
	height: 390px;
}
#contents--seayacht--local_marina .map .adress_wrap {
	min-height: 1em;
	background: #0a91d2;
	padding: 10px ;
}
/*========================================================
 * 지도
 ========================================================*/

#contents--seayacht--local_marina .traffic{
	overflow: visible;
}
/*========================================================
 * 교통편
 ========================================================*/

#contents--seayacht--local_marina .hours{
	overflow: visible;
}
/*========================================================
 * 운영시간
 ========================================================*/









































