.templates--slider--slider_1{
	width: 100%;
}
	.templates--slider--slider_1:hover{
		
	}

.templates--slider--slider_1 .ctrl_wrap{
	position: absolute;
	z-index:5;
}

.templates--slider--slider_1 .slider_wrap{
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height:70px; 
}
.templates--slider--slider_1 .slider_wrap .slider_container{
}
.templates--slider--slider_1 .slider_wrap .slider_container li{
	display: block; 
	background: #f5f5f5;
	text-align:center;
	overflow: hidden;
	width: 100%;
	min-height:70px; 
}
.templates--slider--slider_1 .slider_wrap .slider_container li img{
	width:100%;
}
/*=========================================================
 * 슬라이드 이미지
 =========================================================*/

.templates--slider--slider_1 .slider_wrap .ctrl_btn{
	position: absolute;
	top:50%;
	font-size: 3em;
	margin-top: -0.5em;
	cursor: pointer;
	z-index: 5;
	color: #ffffff;
	text-shadow:  0 0 15px #222222;
	-ms-text-shadow:  0 0 15px #222222;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
	.templates--slider--slider_1 .slider_wrap .ctrl_btn:hover{
		opacity: 0.8;
	}
.templates--slider--slider_1 .slider_wrap .next_btn{ left: 0.5em;}
.templates--slider--slider_1 .slider_wrap .prev_btn{ right: 0.5em;}
/*=========================================================
 * 슬라이드 버튼 컨트 롤러
 =========================================================*/

.templates--slider--slider_1 .slider_wrap .slider_nav_wrap{
	z-index: 6;
	text-align:center;
	bottom: 1.5em;
	color: #ffffff;
	text-shadow:  0 0 15px #222222;
}
/*=========================================================
 * 슬라이드 버튼 컨트 롤러
 =========================================================*/

.templates--slider--slider_1 .slider_wrap .thumbnail_wrap{
	position: absolute;
	z-index: 5;
	margin: auto;
	left:0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding:0.2em;
	text-align: center;
}
.templates--slider--slider_1 .slider_wrap .thumbnail{
	width: 70px;
	height: 70px;
	display: inline-block;
	box-shadow:  0 0 15px #555555;
}
.templates--slider--slider_1 .slider_wrap .thumbnail img{
	height: 70px !important;
}
.templates--slider--slider_1 .slider_wrap .thumbnail_wrap .add_icon{
	color: #ffffff;
	background: #222222;
}
/*======================================
 * 썸네일
 ======================================*/











































