<div class="templates--slider--slider_1 TB_style"
	data-TB_style="ST_parentWid" 
	data-TB_templates_name="{{name}}"
>
	{{#if @root.TB_isAdmin}}
	<div class="ctrl_wrap " >
		<div class="form_wrap ST_popup_form_1 TB_ui "
			data-TB_ui="draggable"
		>
			<form class="TB_form slider_1_form"
				data-TB_form_aftAc="sharedFunc:templates--slider--slider_1--sliderFormAft"
			>
				<input type="hidden" name="reqType" value="{{slider_form_reqType}}"/>
				<input type="hidden" name="reqQuery" value="{{slider_form_reqQuery}}" />
				<ul>
					<li class="form_item">
						<span class="form_name">슬라이드명</span>
						<span class="form_input">
							<input type="text" name="name" readonly="readonly"/>
						</span>
					</li>
					<li class="form_item">
						<span class="form_name">Easing</span>
						<span class="form_input">
							<select name="easing">
								<option value="easeNone">easeNone</option>
								<option value="easeIn">easeIn</option>
								<option value="easeOut">easeOut</option>
								<option value="easeInOut">easeInOut</option>
							</select>
						</span>
					</li>
					<li class="form_item">
						<span class="form_name">Delay</span>
						<span class="form_input">
							<input type="text" name="delay" />
						</span>
					</li>
					<li class="form_item">
						<span class="form_name">MoveSpeed</span>
						<span class="form_input">
							<input type="text" name="movespeed" />
						</span>
					</li>
					<li class="form_item">
						<span class="form_name">Type</span>
						<span class="form_input">
							<select name="type">
								<option value="slideShow" >Slideshow</option>
								<option value="FadeInOut">FadeInOut</option>
							</select>
						</span>
					</li>
					<li class="form_item">
						<span class="form_name">Direction</span>
						<span class="form_input">
							<select name="direction">
								<option value="left" selected="selected">Left</option>
								<option value="top">Top</option>
							</select>
						</span>
					</li>
					<li class="form_item upload_item">
						<input type="submit" class="submit" value="{{submit}}" />
					</li>
				</ul>
			</form>
		</div>
		<!--/폼-->
		
		
		{{#if isCreate}}
		<div class="imgages_wrap">
			<ul class="">
				<li class="col-xs-12">
					<img class=""/>
				</li>
			</ul>
		</div><!--/이미지-->
		{{/if}}
		
	</div><!--/슬라이더 폼-->
	{{/if}}
	
	<div class="slider_wrap TB_style ST_transition_all_03_s"
		data-TB_style="ST_findHei"
		data-TB_style_findTarget="img"
	 >
		<ul class="slider_container">
			{{#each images}}
			<li class="slide ST_posi_absolute   "
				data-slide_sort_no="{{@index}}"
			>
				<div class="slide_cover">
					<img src="{{../root_path}}{{src}}"  
					 />
					<div class="text"></div>
				</div>
			</li>
			{{/each}}
		</ul>
		<!-----------------------------------------------
			슬라이더 
		----------------------------------------------->
		
		{{#if move}}
		<div class="ctrl_btn prev_btn fa fa-chevron-circle-right ST_opacity_50_p ST_cursor_pointer"></div>
		<div class="ctrl_btn next_btn fa fa-chevron-circle-left ST_opacity_50_p"></div>
		<!-----------------------------------------------
			prev, next 버튼 
		----------------------------------------------->
		
		<div class="slider_nav_wrap ST_posi_absolute TB_style"
			data-TB_style="ST_align_center"
		>
			<ul>
				{{#each images}}
					<li class="ST_cursor_pointer ST_dis_inline_block ST_opacity_90_p">
						<span class=" fa "></span>
					</li>
				{{/each}}
			</ul>
		</div>
		<!-----------------------------------------------
			네비게이터 
		----------------------------------------------->
		{{/if}}
		
		{{#if @root.TB_isAdmin}}
		<div class="thumbnail_wrap ST_float_left_wrap ST_float_left_margin_05_em ">
			{{#each images}}
			<div class="thumbnail ST_posi_relative ST_overflow_hidden TB_ani "
				data-TB_ani='[{
					"name" : "templates--slider--slider_1--imagesHover",
					"target" : "find",
					"findTarget" : ".del_bg",
					"ani" : {
						"hover" : {
							"mouseenter" : "fadeIn", 
							"mouseleave" : "fadeOut"
						}
					}
				}]'
			>
				<form class="TB_form"
					data-TB_form_beforeAc='{"sharedFunc":"templates--slider--slider_1--beforeAc_del_image"}'
					data-TB_form_aftAc="sharedFunc:templates--slider--slider_1--sliderFormAft"
				>
					<input type="hidden" name='reqQuery' value="slider_images"/>
					<input type="hidden" name="reqType"  value="delete" />
					<input type="hidden" name="no" value="{{no}}" />
					<input type="submit" class="ST_dis_none slider_images_del_submit" /> 
					<div class="del_bg ST_posi_absolute ST_bg_000000 ST_opacity_50_p ST_cursor_pointer 
											ST_z-index_1 ST_wid_100_p ST_pad_bottom_100_p ST_dis_none
											TB_form_chainClick"
						data-TB_form_chainClick_target=".slider_images_del_submit"
					>
						<div class="ST_posi_absolute ST_align_center_middle ST_font_s_08_em  ST_col_ffffff "
						>Del</div>
					</div>
					<img class="ST_posi_absolute ST_valign_middle ST_left_m_50_p" 
						src="{{../root_path}}{{src}}" />
				</form>
			</div>
			{{/each}}
			<div>
				<form class="TB_form"
					data-TB_form_aftAc="sharedFunc:templates--slider--slider_1--sliderFormAft" 
				>
					<input type="hidden" name="reqType" value="insert"/>
					<input type="hidden" name="reqQuery" value="slide_add" />
					<input type="hidden" name="parent_no" value="{{no}}" />
					<input type="hidden" name="sort_no" value="{{images_cnt}}" />
					<input type="file" name="file" class="slide_upload_btn TB_form_changeSubmit ST_dis_none" />
					<input type="submit" class=" ST_dis_none"/>
					<div class="thumbnail add_icon ST_opacity_50_p  ST_text_align_center TB_form_chainClick 
											ST_posi_relative ST_cursor_pointer "
						data-TB_form_chainClick_target=".slide_upload_btn"
					>
						<div class="fa fa-plus ST_align_center_middle"></div>
					</div>
				</form>
			</div><!--/슬라이드 추가 -->
		</div>
		{{/if}}
		<!----------------------------------------------
			썸네일
			---------------------------------------------->
			
	</div><!--/슬라이드-->
	
</div>