body{}
.templates--albums--metro_album_2
{}

.templates--albums--metro_album_2
 a
, .templates--albums--metro_album_2
 a:visited
{
	color: #555555;
	text-decoration: none;
}

.templates--albums--metro_album_2
 .textFixed{
	position: fixed;
	top:200px;
	background: #ff9547;
	width: 200 px;
	height: 200px;z-index: 90;
}
.templates--albums--metro_album_2
 .pc_nav_container {
	position: fixed;
	top: 80px;
	left: 2em;
	line-height: 1em;
	z-index:3;
}
.templates--albums--metro_album_2
 .categories_wrap .pc_nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 200px;
	z-index: 2;
}
.templates--albums--metro_album_2
 .categories_wrap .pc_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em;
	cursor: pointer;
}
.templates--albums--metro_album_2
 .categories_wrap .pc_nav_container .add_imageBtn{
	position: absolute;
	right:-42px;
	top:0;
	font-size:2em;
	padding:0.1em;
	padding-left: 15px;
	background: #ff9547;
	z-index: 1;
	background: #ffffff;
	border-radius: 0.2em;
	cursor: pointer;
}
.templates--albums--metro_album_2
 .categories_wrap .pc_nav_container ul{
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
}
.templates--albums--metro_album_2
 .categories_wrap .pc_nav_container ul li{
	padding: 1em 0;
	height: auto;
	background:#ffffff;
	box-sizing: border-box;
	border-bottom: 1px solid #d5d5d5;
	color: #555555;
	cursor: pointer;
	font-size: 0.9em;
	text-align: center;
}
	.templates--albums--metro_album_2
 .categories_wrap .pc_nav_container ul li:hover{
		text-decoration: underline;
	}
.templates--albums--metro_album_2
 .categories_wrap .pc_nav_container ul .pc_nav_active{
	background: #f7f7f7;
	color: #ff9547;
}
/*=====================================
 * 카테고리
 =====================================*/

.templates--albums--metro_album_2
 .mobile_nav_container {
	z-index:5;
	background-color: #ffffff;
	top: 65px;
	width: 100%;
}
.templates--albums--metro_album_2
 .mobile_nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 100%;
}
.templates--albums--metro_album_2
 .mobile_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em; 
	font-size:2em;
	line-height: 0.5em;
}
.templates--albums--metro_album_2
 .mobile_nav_container ul{
	font-size: 0;
	line-height:0;
	text-align: center;
}
.templates--albums--metro_album_2
 .mobile_nav_container li{
	line-height:1em;
	display:inline-block;
	color: #555555; 
	text-align: center; 
	padding: 0.5em 0;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
	font-size: 12pt;
}
.templates--albums--metro_album_2
 .mobile_nav_container .mobile_nav_active{
	background: #f7f7f7;
	color: #ff9547;
}
/*=====================================
 * 모바일 네비
 =====================================*/

.templates--albums--metro_album_2
 .metro_wrap {
	z-index: 1;
	position: relative;
}
.templates--albums--metro_album_2
 .list_wrap{
	margin-top: 1.5em;
}
.templates--albums--metro_album_2
 .metro_wrap .metro_container{
	padding: 0;
	overflow-y:hidden;
}
.templates--albums--metro_album_2
 .metro_wrap .metro_container .box{
	background: transparent;
	border-color: transparent;
}
.templates--albums--metro_album_2
 .metro_wrap .metro_container .box .item_cover{
	/*padding: 5px;*/
	width: 200px;
	height: 110px;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	margin: auto;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	background: #ffffff;
}
	.templates--albums--metro_album_2
 .metro_wrap .metro_container .box .item_cover:hover{
		border-color: #d5d5d5;
		box-shadow: 0 1px 10px #c5c5c5;
	}
.templates--albums--metro_album_2
 .metro_wrap .metro_container .box .subject{
	font-size: 0.9em;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
	text-align: left;
	color: #555555;
	width:190px;
	top:0;
	background: #ffffff;
	left: 50%;
	margin-left: -95px;
	padding: 7px 0 2px 0;
	position: absolute;
}
.templates--albums--metro_album_2
 .metro_wrap .metro_container .box .memo{
	color: #aaaaaa;
	text-align: left;
	word-break: break-all;
	overflow: hidden;
	height: 97px;
	width: 95%;
	margin: auto;
	margin-top: 5px;
}
.templates--albums--metro_album_2
 .metro_wrap .metro_container .box .memo img{
 	width: 100%;
 }

/*=====================================
 * 갤러리
 =====================================*/

.templates--albums--metro_album_2 .metro_cover .box .btns_wrap {
	color: #ADBABF;
}
.templates--albums--metro_album_2 .metro_cover .box .modifyBtn{
	cursor: pointer;
	position: absolute;
	bottom:6px;
	right: 1.8em;
	font-size: 1.7em;
	color: #ADBABF;
	/*line-height:1.3em;*/
}
.templates--albums--metro_album_2 .metro_cover .box .removeBtn{
	position: absolute;
	right: 1.3em;
	bottom:0.4em;
	font-size: 0.9em;
	cursor: pointer;
}
/*=====================================
 * 이미지내 버튼
 =====================================*/

.templates--albums--metro_album_2 .tools_wrap {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 2;
}
.templates--albums--metro_album_2 .tools_wrap .tool
, .templates--albums--metro_album_2 .tools_wrap .page_move{
	padding: 0.5em;
	border-radius: 0.2em;
	color: #555555;
	background: #ffffff;
}
.templates--albums--metro_album_2 .tools_wrap .page_move .page_num{
	text-align: center;
	outline:none;
	border:none;
}
.templates--albums--metro_album_2 .tools_wrap .page_move .page_jump_btn{
	margin-left:0.5em;
	display:inline-block;
}
.templates--albums--metro_album_2 .tools_wrap .add_imageBtn{
	color: #555555;
	font-size: 1.5em;
	padding: 0.2em;
	border-radius:0.2em;
	text-align: center;
	background: #FFFFFF;
}
/*=====================================
 * 검색, 페이지 이동, 글 작성 버튼 모음.
 =====================================*/

.templates--albums--metro_album_2 .mobile_add_btn_wrap{
	margin-bottom: 100px;
	cursor: pointer;
}
@media(min-width:992px){
	.templates--albums--metro_album_2 .mobile_add_btn{
		display:none;
	}
}
/*=====================================
 * 모바일 추가 버튼 
 =====================================*/












































