<div class="templates--albums--metro_album_2 "  >
	<div class="top_space"></div><!--/상위 여백을 위한 엘리먼트-->
	
	{{#if categories}}
	<div class="categories_wrap TB_style" data-TB_style="ST_hidden_mobile" >
		<div class="pc_nav_container nav_container ST_opacity_90_p ST_box_shadow_1">
			<div class="title">
				{{category_title}}<span class="nav_foldBtn fa fa-caret-up"></span>
			</div>
			<ul >
				{{#each categories}}
				<a href="#!/{{page}}?category={{name}}">
					<li class="navBtn" data-category="{{name}}">{{name}}</li>
				</a>
				{{/each}}
			</ul>
		</div>
	</div><!--/pc nav-->
	
	<div class="mobile_nav_container nav_container visible-xs-block visible-sm-block ST_posi_fixed ST_box_shadow_1">
		<div class="title">
			{{category_title}}<span class="nav_foldBtn fa fa-caret-down"></span>
		</div>
		<ul class="ST_dis_none">
			{{#each categories}}
			<a href="#!/{{@root.list_options._group}}?category={{name}}">
				<li class="navBtn mobile_nav TB_style" data-TB_style="ST_winWid_50_p" data-category="{{name}}">
					<span>{{name}}</span>
				</li>
			</a>
			{{/each}}
		</ul>
	</div><!--/mobile nav-->
	{{/if}}<!--/카테고리 셀렉터-->
	
	
	<div class="metro_wrap">
		
		<div class="list_wrap TB_contents_parts" 
			data-TB_contents_parts="templates--albums--metro_album_2--list"
		>
			{{#if categories}}
			<div class="metro_container" data-TB_metro_width="270_px"></div>
			{{/if}}
			
			{{#if list_options.use_metro_introduce}}
			<div class="metro_container" data-TB_metro_width="400_px">
				<div class="info_text_wrap">
					<div class="info_text TB_el" 
						data-TB_el_name="templates--albums--metro_album_2--info_text--{{list_options.use_metro_introduce}}"
						data-TB_el_sendData='{
							"name":"templates--albums--metro_album_2--info_text--{{list_options.use_metro_introduce}}"
							, "type":"text"
						}'
					></div>
				</div>
			</div>
			{{/if}}
			
			<div class="metro_container page_{{list_info.page}} TB_style" 
				data-TB_metro_width="270_px" data-category="{{category}}"
				data-TB_style="ST_response_mobile_margin-top_50px"
			>
				<div class="metro_cover">
					
			{{#each list}}
					{{inc_idx @index}}
					<div class="box box_w_2 ST_dis_none" data-album_category="{{category}}">
						<a class="viewBtn " 
							href="#/wvm_1?reqType=imageView&sharedObj={{../sharedObj}}&image_src={{../TB_root_path}}{{file_src}}&header={{subject}}&list_index={{@index}}"
							 title="{{subject}}"
						>
							<div class="item_cover ST_box_shadow_1">
									<div class="subject ST_opacity_70_p">{{substr subject 0 14 '..'}}</div>
									<div class="memo">
										<img src="{{../TB_root_path}}{{thumbnail_src}}" title="{{file_name}}" alt="{{subject}}"/>
									</div>
							</div>
						</a>
						{{#if @root.TB_isAdmin}}
						<div class="btns_wrap ST_opacity_90_p" >
							<a  href="#/wvm_1?reqType=modify&sharedObj={{@root.sharedObj}}&no={{no}}">
								<div class=" modifyBtn" title="수정">
									<div class="fa  fa-pencil-square-o "></div>
								</div>
							</a><!--/수정버튼-->
							
							<div class="fa-stack fa-lg removeBtn" title="삭제"
								data-sendData='{"no":"{{no}}","_group":"{{_group}}"}'
							>
								<div class="fa fa-square-o fa-stack-2x"></div>
								<div class="fa fa-remove fa-stack-1x"></div>
							</div><!--/삭제버튼-->
						</div>
						{{/if}}
					</div>
			
			{{#_if inc_index '!=' @root.list_info.list_num}}
			{{#_if inc_index '%' 4}}
				</div>
			</div>
			<div class="metro_container " data-TB_metro_width="270_px" data-album_category="{{category}}">
				<div class="metro_cover">
			{{/_if}}
			{{/_if}}<!--/마지막 아이템을 확인한 뒤에 컨테이너 출력을 막는다.-->

				
			{{/each}}<!--/4번 출력뒤 줄바꿈-->
				</div>
			</div><!--/앨범-->
			
	</div>
	
	<div class="tools_wrap ST_float_left_wrap ST_float_left_margin_05_em TB_contents_parts"
		data-TB_contents_parts="templates--albums--metro_album_2--tools"
	>
		{{#_if list_options.page '&gt;' 1}}
		<div class="tool prev_page_btn ST_box_shadow_1 ST_cursor_pointer" title="이전페이지">
			<div class="fa fa-arrow-left"></div>
		</div><!--/prev-->
		{{/_if}}
		
		{{#_if list_options.page '&lt;' list_info.total_page}}
		<div class="tool next_page_btn ST_box_shadow_1 ST_cursor_pointer" title="다음페이지">
			<div class="fa fa-arrow-right"></div>
		</div><!--/next-->
		{{/_if}}
		
		<div class="page_move ST_box_shadow_1 ">
			<form class="TB_form"
				data-TB_form_beforeAc='{
					"sharedFunc":"templates--albums--metro_album_2--page_jump"
				}'
			>
				<span class="page_num">
					<input type="text" size="2" name="page_num" class="page_num" title="페이지" value="{{list_options.page}}" />
				</span>
				<span title="전체페이지" >/ {{list_info.total_page}}</span>
				<label>
					<span class="fa fa-angle-double-right page_jump_btn ST_cursor_pointer" title="지정페이지 이동"></span>
					<input type="submit" class="submit ST_hide" />
				</label>
			</form>
		</div><!--/페이지별 이동 -->
		
		{{#if @root.TB_isAdmin}}
		<div class="add_imageBtn_wrap">
			<a href="#!/wvm_1?sharedObj={{sharedObj}}&reqType=insert" title="글작성">
				<div class="add_imageBtn ST_box_shadow_1">
					<div class="fa fa-pencil-square-o"></div>
				</div>
			</a> 
		</div>
		{{/if}}
	</div><!--/글작성, 페이지 이동, 검색 버튼-->
	 
	 {{#_if list_info.total_page '&lt;' 1}}
	<div class="mobile_add_btn_wrap ST_m_btn_wrap TB_style ST_margin_top_1_em " data-TB_style="ST_visible_mobile_block">
		<button class="mobile_add_btn ST_m_btn_1 ST_theme">더보기</button>
	</div>
	{{/_if}}
	
	
</div>
