<div id="admin--controller--element" >
	
	<div class="ctrl_wrp TB_ui ST_posi_absolute " data-TB_ui="draggable" >
		<div class="img_ctrl_wrap ST_popup_form_1 ST_m_form_1" data-ctrl_type = "image">
			<div class="ST_closeBtn_1 TB_ani directEl_fofm_closeBtn"
				data-TB_ani='[
					{
						"name" : "admin--controller--element--formHide",
						"target" : "closest",
						"closestTarget" : ".ctrl_wrp",
						"ani" : {
							"click" : "fadeOut"
						}
					}
				]'
			>
				<span class="fa fa-2x fa-times-circle"></span>
			</div><!--/닫기 버튼 -->
			
			<form class=" TB_form image_element_form  " enctype="multipart/form-data"
				data-TB_form_beforeAc='{
					"sharedFunc" : "directEl_form_beforeAc"
				}'
				data-TB_form_aftAc="sharedFunc:admin--controller--element--formUploadAft"
				data-TB_form_resetForm='false'
			>
				<input type="hidden" name="reqType"  />
				<input type="hidden" name="reqQuery" />
				{{#_if type "==" "image"}}
				<div class="m_form_item view_img_cover ST_overflow_hidden">
					<img class="viewImg"  />
				</div>
				{{/_if}}
				<ul>
					<li class="m_form_item">
						<span class="m_form_name">엘리먼트이름</span>
						<span class="m_form_input">
							<input type="text" name="name" readonly="readonly"  class="TB_form_validate" title="엘리먼트명 입력"/> 
						</span>
					</li>
					<li class="m_form_item ST_dis_none">
						<span class="m_form_name">타입</span>
						<span class="m_form_input">
							<input type="text" name="type" value="{{type}}" readonly="readonly"/>
						</span>
					</li>
					<li class="m_form_item">
						<span class="m_form_name">show Ani</span>
						<span class="m_form_input"> 
							<select name="showAni">
								<option value="fadeIn" selected="selected">fadeIn</option>
								<option value="slideDown" >slideDown</option>
							</select>
						</span>
					</li>
					<li class="m_form_item">
						<span class="m_form_name">title</span>
						<span class="m_form_input">
							<input type="text" class="attr stringifyChain"
								data-stringify_key='title' data-stringify_target="[name=attr]" />
						</span>
					</li>
					{{#_if type "==" "image"}}
					<li class="m_form_item file_item">
						<span class="m_form_name">파일</span>
						<span class="m_form_input">
							<input type="file" name="file" class="file"  />
						</span>
					</li>
					<li class="m_form_item">
						<span class="m_form_name">이미지타입</span>
						<span class="m_form_input"> 
							<select name="imageType">
								<option value="src" selected="selected">src</option>
								<option value="background" >background</option>
							</select>
						</span>
					</li>
					<li class="m_form_item">
						<span class="m_form_name">경로</span>
						<span class="m_form_input">
							<input type="text" name='src' class="attr stringifyChain" 
								data-stringify_key='src' data-stringify_target="[name=attr]"/>
						</span>
					</li>
					<li class="m_form_item ">
						<span class="m_form_name">alt</span>
						<span class="m_form_input">
							<input type="text" class="attr stringifyChain"
								 data-stringify_key='alt' data-stringify_target="[name=attr]" />
						</span>
					</li>
					<li class="m_form_item ">
						<span class="m_form_name">attr</span>
						<span class="m_form_input">
							<textarea name="attr"  ></textarea>
						</span>
					</li>
					{{/_if}}
					{{#_if type "==" "text"}}
					<li class="m_form_item">
						<span class="m_form_name">text</span>
						<span class="m_form_input">
							<textarea name="memo"  ></textarea>
						</span>
					</li>
					{{/_if}}
					<!--
					<li class="m_form_item">
						<span class="m_form_name">class</span>
						<span class="m_form_input">
							<input type="text" class="attr stringifyChain"
								data-stringify_key='class' data-stringify_target="[name=attr]" />
						</span>
					</li><!--/ attr-->
					{{#_if type "!=" "text"}}
					<li class="m_form_item ST_dis_none">
						<span class="m_form_name">style</span>
						<span class="m_form_input">
							<textarea name="style"  ></textarea>
						</span>
					</li><!--/style-->
					{{/_if}}
					<li class="m_form_item upload_item">
						<label>
							<div class="complete_button ST_button ST_button_full ST_theme">완료 </div>
						</label>
						<input type="submit" class="submit ST_hide"  value="" />
					</li>
				</ul>
			</form>
		</div><!--/다이렉트 이미지 컨트롤러-->
		
		<!--
		<div class="el_ctrl_wrap ctrl_wrap" data-ctrl_type = "element" >
		</div><!--/다이렉트 엘리먼트 컨트롤러-->
	</div>
	<!--/컨트롤러 랩퍼-->
	
	<div>
		{{#_if type "==" "image"}}
		<div class="TB_contents_load"
			data-TB_contents_src='templates--albums--album_1'
			data-TB_contents_sendData='admin--controller--element--get_album'
		></div><!--/이미지 갤러리-->
		{{/_if}}
		<div></div><!--/이미지 에디터 패널-->
	</div>
	
</div>