#admin--controller--element{
	position: relative;
	cursor:default;
}

#admin--controller--element .ctrl_wrp{
	display:none;	
	position: fixed;
	z-index: 3;
	box-shadow: 1px 1px 3px #d5d5d5;
}
#admin--controller--element .ST_m_form_1 input
, #admin--controller--element .ST_m_form_1 textarea
, #admin--controller--element .ST_m_form_1 select{
	padding: 0;
	background: #FFFFFF;
	line-height: 1.5em;
	height: 2em;
	margin:0;
	margin-bottom: 5px;
	border: 1px solid #DDDDDD;
	font-size: 9pt;
}
#admin--controller--element .ST_m_form_1 input[type=radio]{
	position: static;
	left:auto;
	opacity: 1;
}
#admin--controller--element .ST_m_form_1 input[readonly]{
	background: #FCFCFC;
}
#admin--controller--element .ST_m_form_1 .label_text{
	padding: 3px;
	display: inline-block;
}
#admin--controller--element .ST_m_form_1 textarea{
	width:100%;
	height: 7em;
}

#admin--controller--element .create_form_wrap .m_form_input{
	width: 75%;
}
#admin--controller--element .image_element_form .viewImg{
	width: 250px;
	box-shadow: 0 1px 1px #d5d5d5;
}
#admin--controller--element .img_ctrl_wrap{
	width:auto;
	min-width: 254px;
	-webkit-box-shadow: 0 0 10px #555555;
	-moz-box-shadow: 0 0 10px #555555;
	-ms-box-shadow: 0 0 10px #555555;
	-o-box-shadow: 0 0 10px #555555;
	box-shadow: 0 0 10px #555555;
}
#admin--controller--element .view_img_cover{
	max-height: 100px
}

.TB_el_marked{
	position: absolute;
	display:block;
	left: 0;
	top:0;
	background: #ff9547;
	border: 1px solid #c16d2e dashed;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
	.TB_el_marked:hover{
		border-color: grey;
		border: 5px dashed;
		opacity: 0.9;
		background: #ff9547;
		-moz-opacity: 0.9;
		-ms-opacity: 0.9;
		-khtml-opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
	     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); /* IE 7 and olders */
		filter: alpha(opacity=90);
		-ms-filter: alpha(opacity=90);
	}
.TB_el_marked .btnsCover{
	text-align:center;
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	height: 1.5em;
	width: 7em;
}
	.TB_el_marked .btnsCover:after{
		clear:both; 
		content:'';
		display:block;
	}
.TB_el_marked .btnsCover > div{
	float: left;
	padding: 0.4em;
	font: 0.8em 'Malgun Gothic';
	text-align:center;
	color: #d5d5d5;
	background: #222222;
	display:block;
	border:1px solid;
	box-sizing: border-box;
	border-radius: 0.5em;
	cursor: pointer;
	margin: 0 0.5em;
	transition: box-shadow 0.3s ease-in-out;
	-webkit-transition: box-shadow 0.3s ease-in-out;
	-moz-transition: box-shadow 0.3s ease-in-out;
	-ms-transition: box-shadow 0.3s ease-in-out;
	-o-transition: box-shadow 0.3s ease-in-out;
	/*visibility: hidden;*/
	display:none;
	width: 39px;
}
.TB_el_marked .btnsCover > div:hover{
	box-shadow: 0 1px 6px #000000; 
	color: #ffffff;
}
/*===/TB_el 표시==*/

#admin--controller--element .templates--albums--album_1 {
	max-height: 600px ;
	overflow-y: auto;
	overflow-x: hidden;
}
/*===/사진 리스트 높이 한계값==*/






























