#contents--seayacht--education{}

#contents--seayacht--education .metro_wrap {
	position: relative;
}
/*========================================
 * 글로벌
 ========================================*/


#contents--seayacht--education .bg_cover{
	line-height:0;
	position: relative;
}
#contents--seayacht--education .bg_cover .text{
	position: absolute;
	left:0;
	right:0; top:0; bottom:0;
	width:100%;
	height:1.2em;
	font-size:1.2em;
	font-family:'Nanum Gothic';
	margin: auto;
}
#contents--seayacht--education .text_cover {
	font-family:"Nanum Gothic";
}
#contents--seayacht--education .text_cover .margin_top_30{
	margin-top: 30px;
}
#contents--seayacht--education .text_cover .title{
	font-size: 1.2em;
	font-weight: bold;
	color: #555555;
	padding-top:30px;
}
#contents--seayacht--education .text_cover .line{
	width: 30px;
	border: 2px solid #4FB79F;
	margin:auto;
	margin-top: 30px;
}
#contents--seayacht--education .text_cover .detail{
	margin-top: 30px;
	padding-bottom:30px;
}
/*========================================
 * 글로벌
 ========================================*/
