#contents--nansolo--header{}
@media(max-width:991px){
	#contents--nansolo--header{
	}
	
}
/*============================================
 * 공통
 ============================================*/

#contents--nansolo--header .m_search_wrap .search_button_link{
	position: absolute;
	left:10px;
	top: 10px;
	font-size:1.5em;
}
/*=============================================
 * 모바일 : 검색 버튼
 *=============================================*/


#contents--nansolo--header .mobile_nav_wrap {
	padding:5px 10px;
	position:relative;
	background:#FFFFFF;
	height:40px;
	width:initial;
	box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
}
#contents--nansolo--header .mobile_nav_wrap .toggle_m_nav_btn_wrap{
	position: absolute;
	right:10px;
	top:10px;
}
#contents--nansolo--header .mobile_nav_wrap .nav_loader_wrap{
	width:220px;
	position:fixed;
	right:-220px;
	background:#3e3939;
	z-index:1;
	top:0;
	box-sizing: border-box;
	border-left:1px solid #D5D5D5;
}
#contents--nansolo--header .mobile_nav_wrap .m_nav_bg{
	position:fixed;
	width:100%;
	left:0;
	top:0;
}

/*=============================================
 * 모바일 네비게이션
 *=============================================*/




#contents--nansolo--header .search_button_wrap{
	position: fixed;
	bottom: 2em; 
	left: 100px;
	font-size: 2em;
	border-radius: 50%;
	padding: 0.5em;
	z-index : 10;
	cursor: pointer;
	box-sizing: border-box;
	display: block;
}

/*=============================================
 * 검색 버튼
 *=============================================*/

#contents--nansolo--header .write_button_wrap{
	position: fixed;
	bottom: 2em; 
	right: 20px;
	font-size: 2em;
	border-radius: 50%;
	padding: 0.5em;
	z-index : 10;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	display: block;
}
@media (max-width:991px){
	#contents--nansolo--header .write_button_wrap{
		bottom:1em;
		font-size: 1.5em;
	}
}
/*=============================================
 * 글작성 버튼
 *=============================================/



























