<div id="contents--nansolo--header" class="ST_posi_relative ST_wid_100_p">
	
	{{#if TB_userInfo}}
	<a href="#!/search?page=" class="search_button_link ST_mobile_hide" title="검색"
		data-TB_style="ST_hidden_mobile"
	>
		<div class="search_button_wrap ST_button_1 ST_theme_color ST_theme_active ST_dis_none"title="검색">
				<div class="fa fa-search"></div>
		</div>
	</a>
	
	<!-------------------------------------------------
		검색 버튼
		------------------------------------------------->
		
	<a href="#!/write_form?TB_worked=mypage" class="write_button_link" title="조각만들기"
		data-TB_style="ST_hidden_mobile"
	>
		<div class="write_button_wrap ST_button_1 ST_theme_color ST_theme_active" >
			<div class="fa fa-pencil-square-o"></div>
		</div>
	</a>
	<!-------------------------------------------------
		글 작성 버튼
		------------------------------------------------->
	{{/if}}
	
	<div class="pc_nav_wrap TB_style  ST_margin_auto pc_nav "
		data-TB_style="ST_hidden_mobile"
	>
		
		<div class="TB_contents_load nav_wrap"
			data-TB_contents_src = "templates--nav--nansolo_nav"
			data-TB_contents_sendData="?mapCursor=none"
		></div>
		<!--/메뉴-->
		
	</div>
	<!-------------------------------------------------
		pc 헤더
		------------------------------------------------->
		
	
	<div class="TB_style mobile_nav_wrap ST_dis_none" data-TB_style="ST_visible_mobile_block">
		<div class="m_nav_bg TB_style ST_dis_none" data-TB_style="ST_winHei_100_p"></div>
		
		<div class="m_search_wrap">
			<a href="#!/search?page=" class="search_button_link ST_theme_color " title="검색">
				<div class="fa fa-search"></div>
			</a>
		</div>
		<!--/검색/ -->

		
		<div class="logo_wrap">
			<a href="#!/index">
				<div class="TB_el  logo_container"
					data-TB_el_name="contents--pension--header--el--logo"
				></div >
			</a>
		</div><!--/로고 -->
		
		<div class="toggle_m_nav_btn_wrap ">
			<div class="ST_theme_color toggle_m_nav_btn fa fa-navicon fa-2x"></div>
		</div><!--/토글 버튼 -->
		
		
		
		<div class="TB_contents_load nav_loader_wrap TB_style"
			data-TB_contents_src = "templates--nav--m_nav_2"
			data-TB_contents_sendData="?mapCursor=none"
			data-TB_style="ST_winHei_98_p"
		></div><!--/메뉴-->
	</div><!--/모바일 메뉴 -->
	<!-------------------------------------------------
		모바일 메뉴
		------------------------------------------------->
	
</div>