#contents--seayacht--repair{}

#contents--seayacht--repair .bg_wrap {
}
#contents--seayacht--repair .bg_wrap .text_wrap{
	color: #FFFFFF;
	font-size: 2em;
	z-index: 2;
	left:0;
	top:0;
	font-family:"Nanum Gothic";
}
#contents--seayacht--repair .bg_wrap .text_wrap > div{
	position: absolute;
	z-index: 1
}
#contents--seayacht--repair .bg_wrap .text_wrap .text_1{
	top:46%;
	right:25%;
	
}
#contents--seayacht--repair .bg_wrap .text_wrap .text_1 b{
	font-size: 1.4em;
}
#contents--seayacht--repair .bg_wrap .text_wrap .text_2{
	top:56%;
	right:3%;
}
/*==============================================
 * bg_text 
 ==============================================*/