<div id="contents--seayacht--repair"  >
	<div class="metro_wrap">
		<div class="metro_fullContainer  TB_style metro_minus_height bg_wrap"   data-TB_metro_width="800_px"
			data-TB_style="ST_fitAlign||ST_response_pc_margin-top_100px" 
			data-TB_style_findTarget=".bg"
			data-TB_metro_m_hei="400_px"
			data-metro_minus_height="100"
		>
			<div class="text_wrap TB_style" data-TB_style="ST_response_mobile_font-size_1.2em">
				<div class="text_1">소중한 <b>요트의 가치</b></div>
				<div class="text_2">오션라인이 지켜 드리겠습니다.</div>
			</div>
			<div class="pattern_cover ST_posi_absolute ST_wid_100_p ST_bg_000000 ST_opacity_50_p metro_sync_height" ></div>
			<div class="bg_cover ">
				<img class="bg " src="/TB/img/contents/repair/repair.jpg" />
			</div>
		</div>
		<!-----------------------------------
			BG : 그림
			----------------------------------->
			
		<div class="metro_fullContainer metro_minus_height" data-TB_metro_width="800_px"
			data-metro_minus_height="100" 
		>
			<div class="ST_pad_1_em">
				<div class="ST_title_1 ST_text_align_left">정비·수리 문의</div>
				<div class="bbs_title_wrap">
					<div class="bbs_title TB_style" data-TB_style="ST_response_mobile_width_90%">{{bbs_title}}</div>
				</div>
				<div class="TB_contents_load"
					data-TB_contents_src="templates--bbs--bbs_1"
					data-TB_contents_sendData='contents--seayacht--rapair--bbsData'
				></div>
			</div>
		</div>
		
		<div class="metro_fullContainer footer metro_minus_height" data-TB_metro_width="450_px"
			data-metro_minus_height="100"
		>
			<div class="TB_contents_load ST_pad_1_em " data-TB_contents_src = "contents--seayacht--footer"></div>
		</div>
		<!-------------------------------------
		------------------------------------->
	</div>

</div>