<div class="templates--nav--m_nav_2 " >
	
	<div class="nav_wrap TB_style TB_contents_parts" data-TB_style="ST_winHei_100_p"
		data-TB_contents_parts="templates--nav--m_nav_2--wrap"
	>
		
		
		<div class="topContainer ">
			<div class=" ST_cursor_pointer homeBtn ST_text_align_center">
				<a href="#!/index" >Home</a>
			</div>
		</div>
		<!-----------------------------------
			홈 으로 가기.
			----------------------------------->
		
		<ul class="menu_wrap ">
			{{#unless TB_userInfo}}
			<li class="menu_topMenu">
				<div class="topMenu_container ST_posi_relative">
					<a href="#!/login?strategy=google" class="topMenu_text" data-TB_link_page="login" data-TB_link_level="1">
						<div class="text ST_theme">
							<span class="fa fa-user icon "></span>&nbsp;&nbsp;
							<span class="title">login</span>
						</div>
					</a>
				</div>
			</li>
			{{/unless}}
			
			{{#each menu}}
			{{#_if page "!=" "index"}}
				<li class="menu_topMenu  ">
					<div class="topMenu_container ST_posi_relative ">
						<a href="#!/{{page}}"  class="topMenu_text link_{{page}}" >	
							<div class="text ST_theme {{active}}">
								<span class="fa fa-{{icon}}"></span>&nbsp;&nbsp;
								<span>{{title}}</span>
							</div>
						</a>
					</div>
				</li>
			{{/_if}}
			{{/each}}
			<!--/인덱스 페이지는 출력안함.-->
			
			{{#if TB_userInfo}}
			<li class="menu_topMenu">
				<div class="top_menu_cover">
					<a href="/#!/index">
						<div class="text ST_theme">
							<span class="fa fa-gear icon"></span>&nbsp;&nbsp;
							<span class="title">설정</span>
						</div>
					</a>
				</div>
			</li>
			<li class="menu_topMenu">
				<div class="top_menu_cover">
					<a href="/logout">
						<div class="text ST_theme">
							<span class="fa fa-sign-out icon"></span>&nbsp;&nbsp;
							<span class="title">Logout</span>
						</div>
					</a>
				</div>
			</li>
			{{/if}}
			<!---------------------------------
				로그아웃
				--------------------------------->

			
		</ul>
	</div>
	<!--/네비게이션-->
	
	
	<div class="bg TB_style ST_opacity_50_p ST_bg_000000"  data-TB_style="ST_winHei_100_p">
		<div class="ST_pattern_1 TB_style" data-TB_style="ST_winHei_100_p" ></div>
	</div>
	<!--/백그라운드-->
</div>
