.templates--nav--m_nav_2{
	font-family:'Nanum Gothic';
}

.templates--nav--m_nav_2 .bg{}

/*===================================
 * 배경
 ===================================*/


.templates--nav--m_nav_2 .topContainer{
	height:40px;
	padding:5px 0;
	background:#5a5a5a;
	box-shadow:0 2px 5px rgba(0,0,0,0.3);
	text-align:center;
}
/*===================================
 * 탑 컨테이너
 ===================================*/

.templates--nav--m_nav_2 .nav_wrap {
}

.templates--nav--m_nav_2 .nav_wrap .topContainer a {
	color: #ffffff;
	text-decoration: none;
}
	.templates--nav--m_nav_2 .nav_wrap .topContainer a:visited{
		color: #ffffff;
	}
.templates--nav--m_nav_2 .nav_wrap .topContainer > div{
	display:inline-block;
	padding: 0 0.5em 0 0.5em;
}
.templates--nav--m_nav_2  .nav_wrap .topContainer .showContentBtn> div{
	font-size: 1.5em;
	line-height: 0.6em;
}
/*==/탑컨테이너==*/


.templates--nav--m_nav_2  .nav_wrap .menu_wrap{
	font: bold 1em 'Malgun Gothic';
}
.templates--nav--m_nav_2  .nav_wrap .menu_wrap > li {
	 border-bottom: 1px solid #d5d5d5;
	 box-sizing: border-box;
}
.templates--nav--m_nav_2  .nav_wrap .menu_wrap li a{
	text-decoration: none;
}
.templates--nav--m_nav_2  .nav_wrap .menu_wrap li .text{
	 padding: 1em 0.5em;
	text-decoration: none;
	display:block;
}
.templates--nav--m_nav_2  .nav_wrap .menu_wrap li .text.active{
	background: #396EAF !important;
}
.templates--nav--m_nav_2  .nav_wrap .menu_wrap li .childMenu_toggle_btn{
	position: absolute;
	right: 0em;
	font-size: 1.5em;
	top:0.3em;
	cursor: pointer;
	padding: 0 0.5em;
}
/*==/탑 메뉴 ==*/

.templates--nav--m_nav_2  .childMenu_Container {
	-webkit-box-shadow: inset 0 0 15px #d5d5d5; 
	-moz-box-shadow: inset 0 0 15px #d5d5d5; 
	-ms-box-shadow: inset 0 0 15px #d5d5d5; 
	-o-box-shadow: inset 0 0 15px #d5d5d5; 
	box-shadow: inset 0 0 15px #d5d5d5; 
}
.templates--nav--m_nav_2  .childMenu_Container  li{
	padding-bottom: 1em;
	font-size: 0.8em;
	box-sizing: border-box;
}
	.templates--nav--m_nav_2  .childMenu_Container  li:first-child{
		padding-top: 1em;
	}
.templates--nav--m_nav_2  .childMenu_Container  li a{
	margin-left: 1em;
}
/*==/자식 메뉴 ==*/
/*==============================================
 * 메뉴 
 * ==============================================*/


