#contents--dongneand--header{
	position: relative;
	z-index: 6;
	font-family: "Nanum Gothic";
	border: 1px solid;
	box-sizing: border-box;
}
/*============================================
 * 공통
 ============================================*/

#contents--dongneand--header  .pc_nav .logo_wrap{
	padding: 7px 0;
	background: #FFFFFF;
	position: relative;
	height:30px;
}
#contents--dongneand--header  .pc_nav .logo_wrap a
, #contents--dongneand--header  .pc_nav .logo_wrap .TB_el img
{
	display:block;
	margin: auto;
	position: absolute;
	left:0;
	right:0;
}
/*=============================================
 * pc 네비 게이션
 *=============================================*/

#contents--dongneand--header .mobile_nav_wrap{
	top:0;
	left:0;
	position: relative;
	width:100%;
	padding: 10px 0;
	background: #FFFFFF;
	border-bottom: 1px solid #D5D5D5;
	height:40px;
}
#contents--dongneand--header .mobile_nav_wrap a
{
	display:block;
}
 #contents--dongneand--header .mobile_nav_wrap .logo_container img{
 	margin: auto;
 	display:block;
 	height: 40px;
 }
#contents--dongneand--header .mobile_nav_wrap .toggle_m_nav_btn_wrap{
	position: absolute;
	top:0px; right: 20px; bottom:0;
	font-size: 2em;
	margin: auto;
	cursor: pointer;
	height:1em;
}
/*=============================================
 * 모바일 네비게이션
 *=============================================/



























