<div  class="templates--nav--dongneNav_1 TB_style" data-TB_style="ST_winHei_98_p" >
	<div>
		LOGO
	</div>
	<!--/logo-->
	
	{{#if TB_isAdmin}}
	<div class="current_user TB_contents_parts" data-TB_contents_parts="current_user">
		<div class="ST_float_left_wrap">
			{{#each @root.shape.current_user.list}}
			{{#_if user_level '==' @root.shape.current_user.level}}
			<div class="user_level selected ST_theme" data-user_level="{{user_level}}">{{user}}</div>
			{{else}}
			<div class="user_level" data-user_level="{{user_level}}">{{user}}</div>
			{{/_if}}
			{{/each}}
		</div>
	</div>
	{{/if}}
	<!--/관리자별 메뉴-->
	
	<ul class="nav_container TB_contents_parts "data-TB_contents_parts="dongneNav_1">
		{{#each menu}}
			{{#_if page "!=" "index"}}<!--/인덱스 페이지는 출력안함.-->
				<li class="menu_topMenu   {{active}}" >
					<div class="top_menu_cover ">
						<a href="#!/{{page}}"  class="topMenu_text "
							data-TB_link_page="{{page}}"
							data-TB_link_level="1"
						>{{title}}</a>
						{{#if childMenu}}<span class="is_child_menu fa fa-angle-down"></span>{{/if}}
					</div>
					{{#if childMenu}}
					<ul class="childMenu_Container  ST_clearfix childMenu_Container_{{@index}} ST_opacity_90_p">
					{{#each childMenu}}
						<li class="childMenu ">
							<a href="#!/{{page}}" class="childMenu_text"
							 data-TB_link_page="{{page}}"
							 data-TB_link_level="2"
						 >{{title}}</a>
						</li>
					{{/each}}
					</ul>
					{{/if}}
				</li>
			{{/_if}}
		{{/each}}
	</ul>
	<!--/메뉴들-->
	
</div>
