.templates--nav--dongneNav_1{
	 position: relative;
	 background: #ffffff;
	 width: 200px;
 }
.templates--nav--dongneNav_1 a{
	text-decoration: none;
}
/*=============================================
 * 글로벌
 =============================================*/

.templates--nav--dongneNav_1 .current_user{
	box-sizing: border-box;
	border-top: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;
	font-size: 0.7em;
	text-align: center;
}
.templates--nav--dongneNav_1 .current_user .user_level{
	width: 25%;
	box-sizing: border-box;
	border-right: 1px solid #D5D5D5;
	color: #999999;
	cursor:pointer;
	padding : 3px 0;
}
/*=============================================
 * 유저
 =============================================*/


.templates--nav--dongneNav_1 .nav_container{
	position: relative; 
	display:block;
	text-align: center;
	margin: 0 auto;
}
	.templates--nav--dongneNav_1 .nav_container:after{
		clear:both; 
		display:block; 
		content:'';
	}
.templates--nav--dongneNav_1 .nav_container > li{
	float: left;
	display:block;
	box-sizing: border-box;
	width: 138px;
	text-align:center;
	position: relative;
	font-size: 0.9em;
}
.templates--nav--dongneNav_1 .nav_container > li .top_menu_cover{
	padding: 10px 0 20px 0;
	margin-top: 10px;
	position: relative;
}
.templates--nav--dongneNav_1 .nav_container > li .topMenu_text{
	font-weight: bold; 
	display:block;
	font-size: 1em;
	color: #555555;
}
.templates--nav--dongneNav_1 .nav_container > li > .selected
, .templates--nav--dongneNav_1 .nav_container > li > .selected > a{
	background: #30a4dc;
	color: #FFFFFF;
}
.templates--nav--dongneNav_1 .nav_container > li .top_menu_cover .is_child_menu{
	position: absolute;
	right: 10px;	
	top:50%;
	margin-top: -0.5em;	
	color: #555555;
}
/*==/parent==*/

.templates--nav--dongneNav_1 .nav_container > li > ul{
	font: 0.9em 'Nanum Gothic';
	height: 200px;
	display:none;
}
.templates--nav--dongneNav_1 .nav_container > li > ul.childMenu_active .active_li{
}
.templates--nav--dongneNav_1 .nav_container > li > ul.childMenu_active  li.active_li a{
	font-weight: bold;
	border-bottom: 1px solid ;
	box-sizing: border-box;
}
.templates--nav--dongneNav_1 .nav_container > li > ul > li{
	padding: 15px 0;
}
.templates--nav--dongneNav_1 .nav_container > li > ul > li > a{
	padding: 0.2em 0.7em 0.5em 0.7em;
	cursor: pointer;
	color: #777777;
	box-sizing: border-box;
}
	.templates--nav--dongneNav_1 .nav_container > li > ul > li > a:hover{
		border-bottom: 1px solid;
	}
/*==/children Lv1 ==*/

.templates--nav--dongneNav_1 .nav_container > li.active{
}
.templates--nav--dongneNav_1 .nav_container{
	/*background: #5AB0DA;*/
}
.templates--nav--dongneNav_1 .nav_container > li.active .top_menu_cover
, .templates--nav--dongneNav_1 .nav_container > li.active ul
{
	background: #30A4DC;
}
.templates--nav--dongneNav_1 .nav_container > li.active .top_menu_cover a
, .templates--nav--dongneNav_1 .nav_container > li.active .is_child_menu
, .templates--nav--dongneNav_1 .nav_container > li.active ul > li > a
{
	color: #ffffff;
}
/*==/child==*/
/*========================================
 *  액티브
 * ========================================*/



















