<div id="contents--happyborn--treatment_time"  class="ST_dis_none" >
	<div class="metro_wrap">
		<div class="metro_container metro_0 ST_opacity_0" data-TB_metro_width="400_px">
			<div class="cover">
				<div class="title">진료시간 안내</div>
				<!-- <div class="subtitle">
					<span class="fa fa-calendar ST_margin_right_1_em"></span>평일
				</div> -->
				<div class="detail weekday_wrap">
					<div class="TB_el"
						data-TB_el_name="contents--happyborn--treatment_time--weekday"
						data-TB_el_sendData='{
							"name":"contents--happyborn--treatment_time--weekday",
							"type":"text"
						}'
					></div>
				</div>
			</div>
		</div>
		
		<div class="metro_container ST_opacity_0" data-TB_metro_width="900_px">
			<div class="cover">
				<div class="TB_contents_load"
					data-TB_contents_src="templates--calendar--work_timetable_1"
					data-TB_contents_sendData='contents--happyborn--treatment_time--doctors'
				></div>
			</div>
		</div><!--/당직 표-->
		
		<div class="metro_container ST_opacity_0" data-TB_metro_width="200_px">
			<div>
				form
			</div>
		</div><!--/폼-->
	</div>
	
</div>