#contents--happyborn--treatment_time{}
#contents--happyborn--treatment_time .metro_wrap{
	position:relative;
	z-index: 1;
}
#contents--happyborn--treatment_time .metro_container{
	padding:0;
	position: relative;
	overflow: hidden;
}
#contents--happyborn--treatment_time .cover{
	margin-top: 63px;
	padding: 0 5px;
}
#contents--happyborn--treatment_time .metro_0 {
	text-align: left;
	overflow:visible !important;
}
#contents--happyborn--treatment_time .metro_0 .title{
	padding: 1em 0 0.5em 0;
	font-size: 1.5em;
	color: #555555;
	border-bottom: 1px solid #d5d5d5;
}
#contents--happyborn--treatment_time .metro_0 .subtitle{
	margin-top:1em; 
	font-size: 1.1em;
	color: #777777;
}
#contents--happyborn--treatment_time .metro_0 .detail{
	height: 420px;
	margin-top: 1em;
}
	
#contents--happyborn--treatment_time .templates--calendar--work_timetable {
	padding-top: 9px;
}
#contents--happyborn--treatment_time .templates--calendar--work_timetable .doctors_wrap {
	padding: 0 0.5em;
	margin-top: 15px;
}

/*============================================
 * PC
 ============================================*/

/*============================================
 * PC
 ============================================*/

