body{}
.templates--login--strategy{
	line-height:normal;
	max-width: 95%;
	position: relative;
	margin:auto;
}
.templates--login--strategy a{
	text-decoration: none;
}
/*===========================================
 * 글로벌
 ===========================================*/

.templates--login--strategy .login_text_wrap{
	text-align: center;
	margin: auto;
	margin-top: 20px;
}
.templates--login--strategy .login_text_wrap .text{
	font-size: 1.9em;
	font-family : 'Malgun Gothic';
	font-weight: lighter;
	color: #555555;
}
.templates--login--strategy .login_text_wrap .line{
	border-bottom: 1px solid #999999;
}
/*===========================================
 * 로그인 텍스트
 ===========================================*/

.templates--login--strategy .subscript_wrapper{
	font-size: 0.8em;
	color: #999999;
	margin-top: 20px;
	text-align: center;
}
/*===========================================
 * 주석
 ===========================================*/

.templates--login--strategy .login_button_wrap{
	margin:auto;
	margin-top: 40px;
	max-width: 95%;
	font-family: "Nanum Gothic";
}
.templates--login--strategy .login_button_wrap .login_button{
	padding: 20px 0;
	text-align: center;
	margin-top: 20px;
	transition: all 0.3s ease;
	box-sizing: border-box;
}
	.templates--login--strategy .login_button_wrap .login_button:hover{
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
.templates--login--strategy .login_button_wrap .google_login{
	color: #F15A68;
	border: 1px solid #F15A68;
}
	.templates--login--strategy .login_button_wrap .google_login:active{
		color: #FFFFFF;
		background: #f15a68;
		
	}
/*===========================================
 * 로그인 텍스트
 ===========================================*/












































