<div class="templates--login--strategy" >
	<div class="login_wrapper">
		<div class="login_text_wrap ST_float_left_wrap">
			<div class="ST_col_3"><div class="line">&nbsp;</div></div>
			<div class="ST_col_1"></div>
			<div class="ST_col_4 text">Login</div>
			<div class="ST_col_1"></div>
			<div class="ST_col_3"><div class="line">&nbsp;</div></div>
		</div>
		<!-------/로그인 텍스트 ------->
		
		<div class="subscript_wrapper">
			<div class="text_wrap">
				구글 로그인
			</div>
		</div>
		<!-------/주석 /------->
		
		<div class="login_button_wrap ST_text_align_center">
			{{#each strategy}}
			{{#_if company '==' 'google'}}
			<a href="/auth/google">
				<div class="login_button google_login">
					<span class="login_icon fa fa-google"></span>
					<span class="login_text">Google</span>
				</div>
			</a>
			{{/_if}}
			{{/each}}
		</div>
		<!-------/로그인 버튼 /------->
		
	</div>
</div>
