<div id="contents--seayacht--index" >
	<div class="metro_wrap">
		
		<div class="metro_fullContainer marina_search TB_style" data-TB_metro_width="1000_px"
			data-TB_metro_m_hei="450_px"
			data-TB_style="ST_fitAlign" data-TB_style_findTarget=".bg_img"
		>
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="index_wrap ">
				<div class="text_wrap TB_style" data-TB_style="ST_response_mobile_font-size_1.5em">
					<div class="text TB_el  " data-TB_el_name="contents--seayacht--index--col_1_introduction"></div>
				</div>
				<!--/글-->
				
				<div class="bg  "  >
					<img class="bg_img " alt="seayacht(atena 사진)"  src="{{TB_root_path}}img/contents/index/search_bg.jpg" />
				</div>
				<!--/배경-->
				
				<div class="marinas_wrap ST_float_left_wrap">
					<div class="marina_container">
						<div class="marina_cover">
							<a href="#!/tour_info_first">
								<img class="ST_transition_all_03_s" src="{{TB_root_path}}img/contents/index/marina_0.jpg" title="전곡마리나(화성)" alt="전곡마리나(화성)" />
							</a>
						</div>
					</div>
					<div class="marina_container">
						<div class="marina_cover">
							<a href="#!/tour_info_second">
								<img class="ST_transition_all_03_s" src="{{TB_root_path}}img/contents/index/marina_1.jpg" title="왕산마리나(인천)" alt="전곡마리나(화성)" />
							</a>
						</div>
					</div>
				</div>
				<!--/마리나-->
				
			</div>
		</div>
		<!-------------------------------------
			마리나 
		------------------------------------->
		
		<div class="metro_fullContainer metro_mainSlider metro_minus_height TB_style" data-TB_metro_width="810_px"
			data-metro_minus_height="100"
			data-TB_style="ST_response_mobile_margin-top_50px"
		>
			<div class="index_slider TB_contents_load metro_minus_height TB_style"
				data-TB_contents_src="templates--slider--slider_1"
				data-TB_contents_sendData='contents--seayacht--index--slider_sendData'
				data-TB_style="ST_response_mobile_width_100%||ST_response_mobile_position_relative"
			></div>
		</div>
		<!--/index_slider-->
		<!-------------------------------------
			메인 슬라이더
		------------------------------------->
		
		<div class="metro_fullContainer tour" data-TB_metro_width="415_px"
			data-TB_metro_m_hei="550_px"
		>
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="tour_wrap card" >
				<div class="tour_container TB_style" 
					data-TB_style="ST_response_mobile_top_0||ST_response_mobile_width_95%||ST_response_mobile_margin-right_auto" 
					>
					<div class="text_wrap image_over_text_wrap">
						<div class="title">요트투어</div>
						<div class="detail_wrap">
							<div class="detail">
								<div class="TB_el" data-TB_el_name="contents--seayacht--index--box_tour_info"></div>
							</div>
							<div class="anchor">
								<a href="#!/tour_info" class="ST_hover_text_decoartion"> 자세히  > </a>
							</div>
						</div>
					</div>
					<div class="bg">
						<img class="TB_style" data-TB_style="ST_closestHei_100_p||ST_response_mobile_width_auto" data-TB_style_closestTarget=".tour_container"  
						src="{{TB_root_path}}img/contents/index/tour_bg.png" />
					</div>
				</div>
			</div>
		</div>
		<!-------------------------------------
			요트투어 
		------------------------------------->
		
		<div class="metro_fullContainer repairing_selling" data-TB_metro_width="410_px"
			data-TB_metro_m_hei="500_px"
		>
			<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="repairing_selling_wrap " >
				<div class="repairing_selling_container TB_style" 
					data-TB_style="ST_response_mobile_top_0||ST_response_mobile_width_95%||ST_response_mobile_margin-top_0" 
				>
					<div class="reparing card">
						<div class="text_wrap image_over_text_wrap ">
							<div class="title">요트수리</div>
							<div class="detail_wrap">
								<div class="detail">
									<div class="TB_el" data-TB_el_name="contents--seayacht--index--box_repair"></div>
								</div>
								<div class="anchor">
									<a href="#!/repair" class="ST_hover_text_decoartion"> 자세히  > </a>
								</div>
							</div>
						</div>
						<div class="bg ">
							<img class="TB_style" data-TB_style="ST_response_mobile_width_400px||ST_response_mobile_height_auto" 
								src="{{TB_root_path}}img/contents/index/reparing.jpg" 
							/>
						</div>
					</div><!--/수리 -->
					<div class="selling card TB_style" data-TB_style="ST_response_mobile_margin-top_50px">
						<div class="text_wrap image_over_text_wrap ">
							<div class="title">요트판매</div>
							<div class="detail_wrap">
								<div class="detail">
									<div class="TB_el" data-TB_el_name="contents--seayacht--index--box_sell"></div>
								</div>
								<div class="anchor">
									<a href="#!/sale" class="ST_hover_text_decoartion"> 자세히  > </a>
								</div>
							</div>
						</div>
						<div class="bg ">
							<img class="TB_style" data-TB_style="ST_response_mobile_width_400px||ST_response_mobile_height_auto" 
								src="{{TB_root_path}}img/contents/index/selling.png" 
							/>
						</div>
					</div>
				</div><!--/판매 -->
			</div>
		</div>
		<!-------------------------------------
			정비수리, 요트판매
		------------------------------------->
		
		<div class="metro_fullContainer edu" data-TB_metro_width="500_px"
			data-TB_metro_m_hei="550_px"
		>
			<div class="metro_space " data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="edu_wrap card" >
				<div class="edu_container TB_style" 
					data-TB_style="ST_response_mobile_top_0||ST_response_mobile_width_95%||ST_response_mobile_margin-left_auto" 
					>
					<div class="text_wrap image_over_text_wrap">
						<div class="title">요트교육.연수</div>
						<div class="detail_wrap">
							<div class="detail">
								<div class="TB_el" data-TB_el_name="contents--seayacht--index--box_education"></div>
							</div>
							<div class="anchor">
								<a href="#!/deucation" class="ST_hover_text_decoartion"> 자세히  > </a>
							</div>
						</div>
					</div>
					<div class="bg">
						<img class="TB_style" data-TB_style="ST_closestHei_100_p||ST_response_mobile_width_auto" data-TB_style_closestTarget=".tour_container"  
						src="{{TB_root_path}}img/contents/index/education.png" />
					</div>
				</div>
			</div>
		</div>
		<!-------------------------------------
			요트교육 , 연수
		------------------------------------->
		
		<div class="metro_fullContainer" data-TB_metro_width="400_px" data-TB_metro_m_hei="380_px">
			<div class="metro_space " data-TB_style="ST_response_mobile_height_50px"></div>
			<div class="TB_contents_load ST_pad_1_em" data-TB_contents_src = "contents--seayacht--footer"></div>
		</div>
		<!-------------------------------------
			footer
		------------------------------------->
		
	</div>
</div>