#contents--seayacht--index .image_over_text_wrap{
	position: relative;
	height:0; width:100%; padding:0;margin:0;
	z-index: 2;
}
#contents--seayacht--index .image_over_text_wrap .title{
	position: absolute;
	font-size: 1.7em;
	color: #FFFFFF;
	box-sizing: border-box;
	font-weight: bold;
	width: 7em;
	padding-bottom: 10px;
	border-bottom: 1px solid;
	left:0; right:0;
	margin: auto;
	top:100px;
}
#contents--seayacht--index .image_over_text_wrap .detail_wrap{
	line-height: 1.5em;
	color: #FFFFFF;
	top: 150px;
	position: absolute;
	width:100%;
}
#contents--seayacht--index .image_over_text_wrap .detail_wrap .anchor{
	padding-top: 1em;
}
#contents--seayacht--index .image_over_text_wrap .detail_wrap .anchor a{
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
#contents--seayacht--index .metro_fullContainer .bg{
}
/*========================================
 * 공용 : 요트투어, 연수.교육, 정비수리, 판매 
 ========================================*/

#contents--seayacht--index .marina_search{
}
#contents--seayacht--index .marina_search .metro_space{
	background: #FFFFFF;
	position: relative;
	z-index: 1;
}
#contents--seayacht--index .marina_search .text_wrap{
	position: absolute;
	z-index:1;
	font-size:3em;
	font-family: 'Nanum Gothic';
	text-align: left;
	padding: 0 0 0 4%;
	width: 84%;
	left:0; right:0;
	margin: auto;
	border-left: 5px solid #FFFFFF;
	top: 20%;
	box-sizing: border-box;
}
#contents--seayacht--index .marina_search .bg img{
	width: auto;
}
#contents--seayacht--index .marina_search .marinas_wrap{
	position: absolute;
	bottom: 1em;
	width: 100%;
}
#contents--seayacht--index .marina_search .marinas_wrap .marina_container{
	width: 50%;
}
#contents--seayacht--index .marina_search .marinas_wrap .marina_container .marina_cover{
	margin: auto;
}
#contents--seayacht--index .marina_search .marinas_wrap .marina_container .marina_cover img{
	box-shadow: 1px 5px 7px #555555;
	cursor: pointer;
	max-width: 90%;
	border-radius: 5px;
	/*box-sizing: border-box;
	border : 3px solid #30a4dc;*/
}
	#contents--seayacht--index .marina_search .marinas_wrap .marina_container .marina_cover img:hover{
		/*border: 3px solid #056ea1;*/
		/*-ms-transform: scale(1.07, 1.07);
		-webkit-transform: scale(1.07, 1.07);
		transform: scale(1.07, 1.07);*/
	}
/*========================================
 * 마리나 선택
 ========================================*/


#contents--seayacht--index .metro_mainSlider{
	margin-top:99px;
}
#contents--seayacht--index .metro_mainSlider  .index_slider{
	position: absolute;
	 right:0; top:0; bottom:0;
	width: 800px;
	height: 450px;
	margin: auto;
}
/*========================================
 * 슬라이더
 ========================================*/

#contents--seayacht--index .tour{}
#contents--seayacht--index .tour .tour_wrap{}
#contents--seayacht--index .tour .tour_container{
	position: absolute;
	left:0;	top:100px;right:0;bottom:0;
	margin-top: 50px;
	width: 400px; 
	height: 450px;
	margin: auto;
	margin-right:5px;
}
#contents--seayacht--index .tour .tour_container .text_wrap .title{
	width: 7em;
	top:100px;
}
#contents--seayacht--index .tour .tour_container .text_wrap .detail_wrap{
	top: 150px;
}
/*========================================
 * 요트 투어
 ========================================*/

#contents--seayacht--index .repairing_selling{}
#contents--seayacht--index .repairing_selling .tour_wrap{}
#contents--seayacht--index .repairing_selling .repairing_selling_container
{
	position: absolute;
	left:0;	top:100px;right:0;bottom:0;
	width: 400px; 
	height: 450px;
	margin: auto;
}
#contents--seayacht--index .repairing_selling  .text_wrap .title{
	width: 7em;
	top:40px;
}
#contents--seayacht--index .repairing_selling  .text_wrap .detail_wrap{
	top: 90px;
}
#contents--seayacht--index .repairing_selling  .bg img{
	height: 220px;
}
#contents--seayacht--index .repairing_selling  .selling{
	margin-top:10px;
}
/*========================================
 * 요트 수리, 판매 
 ========================================*/

#contents--seayacht--index .edu{}
#contents--seayacht--index .edu .edu_wrap{}
#contents--seayacht--index .edu .edu_container{
	position: absolute;
	left:0;	top:100px;right:0;bottom:0;
	margin-top: 50px;
	width: 400px; 
	height: 450px;
	margin: auto;
	margin-left:5px;
}
#contents--seayacht--index .edu .edu_container .text_wrap .title{
	width: 7em;
	top:100px;
}
#contents--seayacht--index .edu .edu_container .text_wrap .detail_wrap{
	top: 150px;
}
/*========================================
 * 요트 교육. 연수
 ========================================*/

#contents--seayacht--footer .TB_el {
	color: #999999 !important;
}
/*========================================
 * footer
 ========================================*/






































