body {}
.templates--calendar--work_timetable  .calendar_wrap{
	width:100%;
	position: relative;
}

.templates--calendar--work_timetable  .calendar_wrap .calendar_container{
	/*width: 900px;*/
	width:100%;
}
.templates--calendar--work_timetable  .calendar_wrap .calendar_container .callendar_col{
	width:70%;
}

.templates--calendar--work_timetable  .calendar_wrap .calendar .title{
	font-size: 1.5em;
	text-align: left;
	color: #555555;
	padding:0.64em 0  0.5em 0;
	border-bottom: 1px solid #d5d5d5;
}

.templates--calendar--work_timetable  .calendar > .yearMonth_wrap {
	position: relative;
	border-bottom: 2px dotted;
	border-color: #D5D5D5;
	text-align: center;
	margin: 10px 0;
	padding: 0 0 5px 0;
	color: #777777;
	text-shadow: 1px 1px #555555;
}
.templates--calendar--work_timetable  .calendar > .yearMonth_wrap > .year{
	font: bold 1.2em 'nanum gothic';
}
.templates--calendar--work_timetable  .calendar > .yearMonth_wrap > .month{
	font: bold 1.8em 'nanum gothic';
	
}
.templates--calendar--work_timetable  .calendar > .yearMonth_wrap >.monthControler  > .lastMonth{
	position: absolute;
	left: 10px;
	bottom: 10px;
	font: bold 1.5em 'nanum gothic';
	color: #d5d5d5;
	cursor: pointer;
	text-shadow: 1px 1px #999999;
}
.templates--calendar--work_timetable  .calendar > .yearMonth_wrap >.monthControler  > .nextMonth{
	position: absolute;
	right: 10px;
	bottom: 5px;
	font: bold 1.5em 'nanum gothic';
	color: #d5d5d5;
	cursor: pointer;
	text-shadow: 1px 1px #999999;
}
	.templates--calendar--work_timetable  .calendar > .yearMonth_wrap >.monthControler > div:hover{
		color: #555555;
		cursor: pointer;
	}

.templates--calendar--work_timetable  .calendar .calendar_table {
	width: 100%;
}
.templates--calendar--work_timetable  .calendar .calendar_table td
,.templates--calendar--work_timetable  .calendar .calendar_table th
{
	text-align: center;
	vertical-align: middle
}
/*===================================================
 * 캘린더 테이블
 ===================================================*/

.templates--calendar--work_timetable  .calendar > .calendar_table > .day_container th{
	border: 1px solid #D5D5D5;
	height: 25px;
	text-align: center;
	background: #e2edff;
	box-sizing:border-box;
}
/*===================================================
 * 캘린더 테이블 : 요일 표시
 ===================================================*/

.templates--calendar--work_timetable  .calendar .date_container td{
	position: relative;
	border: 1px solid;
	border-color: #D5D5D5;
	/*overflow-x: hidden;
	overflow-y: auto;*/
	overflow: hidden;
	word-break:break-all;
	height: 3em;
	cursor: pointer;
	color: #555555;
}
.templates--calendar--work_timetable  .calendar .date_container td .num{
	position: absolute;
	font-size: 0.7em;
	top:0.2em;
	right:0.2em;
	color: #999999;
}
.templates--calendar--work_timetable  .calendar .date_container td .text{
	font-size: 0.8em;
}

.bgc_sel{
	background: #5E9BDA;
	color: #FFFFFF !important;
}
.bgc_sel .num{
	color: #FFFFFF !important;
}
/*==/ 현재 날짜 배경 ==*/
/*===================================================
 * 캘린더 테이블 : 날짜 표시
 ===================================================*/

.templates--calendar--work_timetable  .calendarText_form_wrap{
	z-index: 1;
	position:absolute;
}
/*===================================================
 * 캘린더 테이블 : 텍스트 폼
 ===================================================*/


.templates--calendar--work_timetable  .calendar .detail_container {
	margin-top: 1em;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
}
.templates--calendar--work_timetable  .calendar .detail_container .memo_container{
	width: 80%;
	height:100px;
}
.templates--calendar--work_timetable  .calendar .detail_container .submit_wrap{
	width: 20%;
	color: #999999;
}
.templates--calendar--work_timetable  .calendar .detail_container .wysiwyg-editor{
	width:100%;
	min-height: 100px;
	box-sizing: border-box;
	text-align: left;
	border: 1px solid transparent;
	padding:0.5em;
	font-size: 0.9em;
	color: #555555;
}
.templates--calendar--work_timetable  .calendar .detail_container .submit_wrap .insert_container{
	padding:5px;
	height: 90px;
	background: #f5f5f5;
	display:block;
	cursor: pointer;
}
.templates--calendar--work_timetable  .calendar .detail_container .submit_wrap .insert_container .btn{
	margin-top: 35px;
}
.templates--calendar--work_timetable  .calendar .detail_container .modify_del_container label{
	height: 50px;
	box-sizing: border-box;
	width: 100%;
	display:block;
	cursor: pointer;
	position:relative;
	background: #f5f5f5;
}
.templates--calendar--work_timetable  .calendar .detail_container .modify_del_container label .btn{
	position: absolute;
	left:0;top:0;right:0;bottom:0;
	height:0;
	line-height: 0;
	margin:auto;
}
.templates--calendar--work_timetable  .calendar .detail_container .modify_del_container .modify_container{
	border-bottom: 2px solid #ffffff;
}
/*===================================================
 * 월별 메모
 ===================================================*/

.templates--calendar--work_timetable .doctors_col{
	width: 30%;
}
.templates--calendar--work_timetable .doctors_wrap{
	margin: auto;
	margin-top: 1em;
}
.templates--calendar--work_timetable .doctors_wrap .title{
	padding-bottom: 0.5em;
	font-size: 1.5em;
	color: #777777;
	border-bottom: 1px solid #d5d5d5;
}
.templates--calendar--work_timetable .doctors_wrap .addBtn{
	font-size: 2em;
	color: #777777;
	margin-top: 0.5em;
	padding: 0.2em 0;
	background: #f5f5f5;
	width:100%;
	cursor: pointer;
}
	.templates--calendar--work_timetable .doctors_wrap .addBtn_space{
		height:5px;
	}
.templates--calendar--work_timetable .doctors_wrap .doctor{
	font-size: 0.9em;
}
.templates--calendar--work_timetable .doctors_container .item{
	height: 70px;
	margin-top: 0.5em;
	position: relative;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #d5d5d5;
}
.templates--calendar--work_timetable .doctors_container .item .pic{
	position: absolute;
	left:0;
}
.templates--calendar--work_timetable .doctors_container .item .btns_wrap{
	position: absolute;
	right: 0.8em;
	right: 1.2em;
	color: #999999;
}
.templates--calendar--work_timetable .doctors_container .item .btns_wrap a
,.templates--calendar--work_timetable .doctors_container .item .btns_wrap a:visited{
	color: #999999
}
.templates--calendar--work_timetable .doctors_container .item .pic img{
	width: 70px;
}
.templates--calendar--work_timetable .doctors_container .item .text_cover{
	position: absolute; 
	bottom: 0.5em;
	right: 1em;
	color: #999999;
}
.templates--calendar--work_timetable .doctors_container .item .text_cover .name{
	font-size: 1.5em;
	color: #777777;
}
/*===================================================
 * 의료진 정보
 ===================================================*/






































