<div class="templates--calendar--work_timetable ">
	<div class="wrapper ST_float_left_wrap">
		<div class="calendar_wrap">

			<div class="calendar_container">
				<div class="callendar_row ST_float_left_wrap">

					<div class="calendar callendar_col TB_style" data-TB_style="ST_response_mobile_width_100%">
						
						<div class="calendarText_form_wrap TB_ui ST_dis_none"
							data-TB_ui="draggable"
						>
							<form class="TB_form ST_popup_form_1"
								data-TB_form_aftAc="sharedFunc:templates--calendar--work_timetable--dateAftAc"
							>
								<div class="ST_closeBtn_1">
									<span class="fa fa-2x fa-times-circle"></span>
								</div>
								<input type="hidden" name="reqType" value="insert" class="TB_form_validate"/>
								<input type="hidden" name="reqQuery"  class="TB_form_validate"/>
								<input type="hidden" name="year"  class="TB_form_validate"/>
								<ul>
									<li class="form_item">
										<span class="form_name">월</span>
										<span class="form_input">
											<input type="text" name="month" readonly="readonly" />
										</span>
									</li>
									<li class="form_item">
										<span class="form_name">일</span>
										<span class="form_input">
											<input type="text" name="date" readonly="readonly"/>
										</span>
									</li>
									<li class="form_item">
										<span class="form_name">당직자</span>
										<span class="form_input">
											<input type="text" class="TB_form_validate first_focus" name="doctor"  title="당직자입력"/>
										</span>
									</li>
									<li class="form_item">
										<input type="submit" class="submit" value="등록"/>
									</li>
									<li class="form_item  deleteBtn ST_dis_none ">
										<div class="submit" >삭제</div>
									</li>
								</ul>
							</form>
						</div><!--/달력내 텍슽 입력-->
					
						<div class="title">당직안내</div>
						<div class="yearMonth_wrap">
							<div class="year " >
								{{year}}년
							</div>
							<div class="month " >
								{{month}}월
							</div>

							<div class="monthControler">
								<div class="lastMonth" >
									{{lastMonth}}월
								</div>
								<div class="nextMonth" >
									{{nextMonth}}월
								</div>
							</div>
						</div>
						<table class="calendar_table">
							<thead class="day_container">
								<tr >
									<th>일</th>
									<th>월</th>
									<th>화</th>
									<th>수</th>
									<th>목</th>
									<th>금</th>
									<th>토</th>
								</tr>
							</thead>
							<tbody class="date_container">
								<tr>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
									<td width="14.44%" class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
								<tr>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
									<td class="date_box"><div class="num"></div><div class="text"></div></td>
								</tr>
							</tbody>
						</table><!--/달력-->
						
						 <div class="detail_container TB_contents_parts"
						 	data-TB_contents_parts="templates--calendar--work_timetable--memo"
					 	>
						 	<form class="TB_form"
						 		data-TB_form_aftAc='sharedFunc:templates--calendar--work_timetable--memo'
						 	>
				 				{{#if memo_form.memo}}
						 		<input type="hidden" name="no" />
						 		{{else}}
						 		<input type="hidden" name="year" />
						 		<input type="hidden" name="month" />
				 				{{/if}}
						 		<input type="hidden" name="reqType" />
						 		<input type="hidden" name="reqQuery" />
						 		
						 		<div class="ST_float_left_wrap ">
						 			<div class="memo_container">
						 				<textarea class="TB_form_set memo TB_form_validate"
						 				 data-TB_form_set="wysiwyg:{{memo_wysiwyg_set}}" name="memo"
						 				 title="메모입력" 
						 				 >{{memo_form.memo}}</textarea>
						 			</div>
						 			{{#if @root.TB_isAdmin}}
						 			<div class="submit_wrap">
						 				{{#if memo_form.memo}}
						 				<div class="modify_del_container">
						 					<label class="modify_container">
							 					<div class="btn">수정</div>
							 					<input type="submit" class="ST_dis_none" />
						 					</label>
						 					<label class="delete_container" >
							 					<div class="btn">삭제</div>
						 					</label>
						 				</div>
						 				{{else}}
						 				<label class="insert_container ">
						 					<div class="btn">등록</div>
						 					<input type="submit" class="ST_dis_none" />
						 				</label>
						 				{{/if}}
						 			</div>
						 			{{/if}}
						 			
						 		</div>
						 	</form>
						 </div><!--/월별 메모 정보 -->
						 
					</div><!--/달력-->
					
					<div class="doctors_col TB_style" 
						data-TB_style="ST_response_mobile_width_100%"
					>
						<div class="doctors_wrap">
							<div class="title">의료진</div>
							{{#if @root.TB_isAdmin}}
							<a href="#!/wvm_1?sharedObj={{sharedObj}}&reqType=insert">
								<div class="fa fa-plus addBtn"></div>
							</a>
							{{else}}
							<div class="addBtn_space"></div>
							{{/if}}
							<div class="doctors_container">
								<ul>
									{{#each doctors}}
										<li class="item">
											<input type="hidden" class="no" value="{{no}}" />
											<div class="pic">
												<img src="{{../TB_root_path}}{{file_src}}" />
											</div>
											<div class="text_cover">
												<span class="deprtment">{{department}}</span>
												<span class="name">{{name}}</span>
												<span>원장님</span>
											</div>
											{{#if @root.TB_isAdmin}}
											<div class="btns_wrap ST_float_left_wrap ST_float_left_margin_02_em">
												<div class="editBtn ST_cursor_pointer" title="수정">
													<a href="#!/wvm_1?sharedObj={{@root.sharedObj}}&reqType=modify&no={{no}}">
														<span class="fa fa-edit"></span>
													</a>
												</div>
												<div class="deleteBtn ST_cursor_pointer" title="삭제">
													<span class="fa fa-times"></span>
												</div>
											</div>
											{{/if}}
										</li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div><!--/의료진 리스트-->

				</div><!--/row-->
				
			</div><!--/container-->

		</div>

	</div>
</div>