body{}
.templates--albums--metro_album_3
{}

.templates--albums--metro_album_3
 a
, .templates--albums--metro_album_3
 a:visited
{
	color: #555555;
	text-decoration: none;
}

.templates--albums--metro_album_3
 .textFixed{
	position: fixed;
	top:200px;
	background: #ff9547;
	width: 200 px;
	height: 200px;z-index: 90;
}
.templates--albums--metro_album_3
 .pc_nav_container {
	position: fixed;
	top: 120px;
	left: 2em;
	line-height: 1em;
	z-index:3;
}
.templates--albums--metro_album_3
 .categories_wrap .pc_nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 200px;
	z-index: 2;
}
.templates--albums--metro_album_3
 .categories_wrap .pc_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em;
	cursor: pointer;
}
.templates--albums--metro_album_3
 .categories_wrap .pc_nav_container .add_imageBtn{
	position: absolute;
	right:-42px;
	top:0;
	font-size:2em;
	padding:0.1em;
	padding-left: 15px;
	background: #ff9547;
	z-index: 1;
	background: #ffffff;
	border-radius: 0.2em;
	cursor: pointer;
}
.templates--albums--metro_album_3
 .categories_wrap .pc_nav_container ul{
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
}
.templates--albums--metro_album_3
 .categories_wrap .pc_nav_container ul li{
	padding: 1em 0;
	height: auto;
	background:#ffffff;
	box-sizing: border-box;
	border-bottom: 1px solid #d5d5d5;
	color: #555555;
	cursor: pointer;
	font-size: 0.9em;
	text-align: center;
}
	.templates--albums--metro_album_3
 .categories_wrap .pc_nav_container ul li:hover{
		text-decoration: underline;
	}
.templates--albums--metro_album_3
 .categories_wrap .pc_nav_container ul .active{
	background: #f7f7f7;
	color: #ff9547;
}
/*=====================================
 * 카테고리
 =====================================*/

.templates--albums--metro_album_3
 .mobile_nav_container {
	z-index:5;
	background-color: #ffffff;
	top: 60px;
	width: 100%;
}
.templates--albums--metro_album_3
 .mobile_nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 100%;
}
.templates--albums--metro_album_3
 .mobile_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em; 
	font-size:2em;
	line-height: 0.5em;
}
.templates--albums--metro_album_3
 .mobile_nav_container ul{
	font-size: 0;
	line-height:0;
	text-align: center;
}
.templates--albums--metro_album_3
 .mobile_nav_container li{
	line-height:1em;
	display:inline-block;
	color: #555555; 
	text-align: center; 
	padding: 0.5em 0;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
	font-size: 12pt;
}
.templates--albums--metro_album_3
 .mobile_nav_container .active{
	background: #f7f7f7;
	color: #ff9547;

}
/*=====================================
 * 모바일 네비
 =====================================*/

.templates--albums--metro_album_3 .metro_wrap {
	z-index: 1;
	position: relative;
}
.templates--albums--metro_album_3 .list_wrap{
}
.templates--albums--metro_album_3 .list_parts{}

.templates--albums--metro_album_3 .list_parts .item_container{
	width: 95%;
	margin: auto;
	height: 430px;
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0 0 5px #d5d5d5;
	position: absolute;
	left:0; right:0; top:0; bottom:0;
}
	.templates--albums--metro_album_3 .list_parts .item_container:hover{
		box-shadow: 0 0 15px #c5c5c5;
	}
.templates--albums--metro_album_3 .list_parts .item_container .remove_btn_wrap{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid ;
    box-sizing: border-box;
    background: #ffffff;
    cursor: pointer;
    color: #999999;
}
	.templates--albums--metro_album_3 .list_parts .item_container .remove_btn_wrap:hover{
		color: #555555;
	}
.templates--albums--metro_album_3 .list_parts .item_container .main_img_cover{
	height: 310px;
	padding-bottom: 3px;
	overflow: hidden;
}
.templates--albums--metro_album_3 .list_parts .item_container .date_cover{
	padding-bottom: 3px;
}
.templates--albums--metro_album_3 .list_parts .item_container .subject_cover{
	text-align: left;
	font-size: 1.2em;
	font-family:'Nanum Gothic';
	padding : 0 5px 3px 5px;
}
.templates--albums--metro_album_3 .list_parts .item_container .memo_cover {
	padding : 0 5px 3px 5px;
}
.templates--albums--metro_album_3 .list_parts .item_container .memo_cover .wysiwyg-editor{
	text-align: left;
	font-size: 0.7em;
	color: #999999;
	line-height: 1.5em;
}
.templates--albums--metro_album_3 .list_parts .item_container .thumbnail_list_container{
	overflow-x:hidden;
	overflow-y:auto;
}
.templates--albums--metro_album_3 .list_parts .item_container .thumbnail_list_container li{
	position: relative;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	max-height: 135px;
	line-height:0;
	width: 95%;
	margin: auto;
	cursor: pointer;
	overflow: hidden;
}
	.templates--albums--metro_album_3 .list_parts .item_container .thumbnail_list_container li:first-child{
		margin-top: 3px;
	}
	.templates--albums--metro_album_3 .list_parts .item_container .thumbnail_list_container li.active{
		border-color: #ff9547;
	}
.templates--albums--metro_album_3 .list_parts .item_container .thumbnail_list_container li img{
	width: 100%;
}

/*=====================================
 * 갤러리
 =====================================*/

.templates--albums--metro_album_3 .metro_cover .box .btns_wrap {
	color: #555555;
}
.templates--albums--metro_album_3 .metro_cover .box .modifyBtn{
	cursor: pointer;
	position: absolute;
	bottom:0.2em;
	right: 1.8em;
	font-size: 1.7em;
	line-height:1.3em;
}
.templates--albums--metro_album_3 .metro_cover .box .removeBtn{
	position: absolute;
	right: 1.3em;
	bottom:0.4em;
	font-size: 0.9em;
	cursor: pointer;
}
/*=====================================
 * 이미지내 버튼
 =====================================*/

.templates--albums--metro_album_3 .tools_wrap {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 2;
}
.templates--albums--metro_album_3 .tools_wrap .tool
, .templates--albums--metro_album_3 .tools_wrap .page_move{
	padding: 0.5em;
	border-radius: 0.2em;
	color: #555555;
	background: #ffffff;
}
.templates--albums--metro_album_3 .tools_wrap .page_move .page_num{
	text-align: center;
	outline:none;
	border:none;
}
.templates--albums--metro_album_3 .tools_wrap .page_move .page_jump_btn{
	margin-left:0.5em;
	display:inline-block;
}
.templates--albums--metro_album_3 .tools_wrap .add_imageBtn{
	color: #555555;
	font-size: 1.5em;
	padding: 0.2em;
	border-radius:0.2em;
	text-align: center;
	background: #FFFFFF;
}
/*=====================================
 * 검색, 페이지 이동, 글 작성 버튼 모음.
 =====================================*/

.templates--albums--metro_album_3 .mobile_add_btn_wrap{
	margin-bottom: 100px;
	cursor: pointer;
}
@media(min-width:992px){
	.templates--albums--metro_album_3 .mobile_add_btn{
		display:none;
	}
}
/*=====================================
 * 모바일 추가 버튼 
 =====================================*/












































