<div class="templates--albums--metro_album_3 "  >
	<div class="top_space"></div><!--/상위 여백을 위한 엘리먼트-->
	
	{{#if categories}}
	<div class="categories " >
		<div class="categories_wrap TB_style" data-TB_style="ST_hidden_mobile" >
			<div class="pc_nav_container nav_container ST_opacity_90_p ST_box_shadow_1">
				<div class="title">
					{{category_title}}<span class="nav_foldBtn fa fa-caret-up"></span>
				</div>
				<ul >
					{{#each categories}}
					<a href="#!/{{page}}?category={{name}}">
						<li class="navBtn {{ifReturnVal @root.list_optinos.category  name 'active'}}" data-category="{{name}}">{{name}}</li>
					</a>
					{{/each}}
				</ul>
			</div>
		</div><!--/pc nav-->
		
		<div class="mobile_nav_container nav_container visible-xs-block visible-sm-block ST_posi_fixed ST_box_shadow_1">
			<div class="title">
				{{category_title}}<span class="nav_foldBtn fa fa-caret-down"></span>
			</div>
			<ul class="ST_dis_none">
				{{#each categories}}
				<a href="#!/{{@root.list_options._group}}?category={{name}}">
					<li class="navBtn mobile_nav TB_style" data-TB_style="ST_winWid_50_p" data-category="{{name}}">
						<span>{{name}}</span>
					</li>
				</a>
				{{/each}}
			</ul>
		</div><!--/mobile nav-->
	</div>
	{{/if}}<!--/카테고리 셀렉터-->
	
	
	<div class="metro_wrap">
		
		<div class="list_wrap TB_contents_parts" 
			data-TB_contents_parts="templates--albums--metro_album_3--list"
		>
			{{#if categories}}
			{{#_if  list_options.page '==' 1}}
			<div class="metro_fullContainer metro_minus_height" data-TB_metro_width="270_px"
				data-metro_minus_height="100"
			></div>
			{{/_if}}
			{{/if}}
			
			{{#if list_options.use_metro_introduce}}
			<div class="metro_fullContainer" data-TB_metro_width="400_px">
				<div class="info_text_wrap">
					<div class="info_text TB_el" 
						data-TB_el_name="templates--albums--metro_album_3--info_text--{{list_options.use_metro_introduce}}"
						data-TB_el_sendData='{
							"name":"templates--albums--metro_album_3--info_text--{{list_options.use_metro_introduce}}"
							, "type":"text"
						}'
					></div>
				</div>
			</div>
			{{/if}}
			
			<div class="list_parts TB_contents_parts " data-TB_contents_parts="page">
				{{#each list}}
				{{setIndex @index}}
				<div class="metro_fullContainer   ST_transition_all_03_s album_item" 
					data-TB_metro_width="550_px" data-category="{{category}}" 
					data-metro_minus_height="100" 
				> 
					{{#_if @index '==' 0}}
					<div class="page_anchor page_{{@root.list_info.page}}"></div>
					{{/_if}}
					<!--/페이지 앵커-->
					
					<div class="item_container TB_style ST_float_left_wrap ST_hover_shadow ST_transition_all_03_s"
						data-TB_style="ST_response_mobile_position_relative||ST_response_mobile_margin-bottom_15px||ST_response_mobile_margin-top_5px"
					>
						{{#if @root.TB_isAdmin}}
						<div class="remove_btn_wrap removeBtn" title="삭제" data-sendData='{"no":"{{no}}","_group":"{{_group}}"}'>
							<div class="fa fa-remove"></div>
						</div>
						{{/if}}
						<!--/삭제 버튼 -->
						
						<div class="ST_col_9">
							<div class="main_img_cover TB_style" data-TB_style="ST_fitAlign" data-TB_style_findTarget=".main_img">
								<a href="#!/wvm_1?reqType={{hasReturnVal @root.TB_isAdmin 'modify' 'view'}}&sharedObj={{@root.sharedObj}}&no={{no}}&hidden=0">
									<img class="main_img "  src="{{@root.TB_root_path}}{{images.[0]}}" title="{{images_name.[0]}}" />
								</a>
							</div>
							<div class="text_container">
								<div class="date_cover ST_posi_relative ST_text_align_right ST_font_s_07_em ST_col_999999">
									{{writetime}}	
								</div>
								<div class="subject_cover">
									{{subject}}
								</div>
								<div class="memo_cover TB_form">
									<textarea class="TB_form_set ST_text_align_left" data-TB_form_set="wysiwyg:view">{{rm_memo}}</textarea>
								</div>
							</div>
						</div><!--/메인이미지, 메모 -->
						<div class="ST_col_3 thumbnail_list_container TB_style " data-TB_style="ST_parentHei_100_p" >
							<ul>
								{{#each this.images_thumbnail_src}}
								<li class="{{ifReturnVal @index 0 'active'}} thumbnail_img"  data-index="{{../index}}_{{@index}}" >
									<img class=" ST_opacity_70_p"    src="{{@root.TB_root_path}}{{this}}"  />
								</li>
								{{/each}}
							</ul>
						</div><!--/섬네일 리스트-->
						
					</div><!--/아이템 컨테이너 -->
					
				</div><!--/앨범-->
				{{/each}}
				
				
			</div>
			<!-------------------------------------
				list
			------------------------------------->
			
			{{#_if  list_options.page '==' 1}}
			<div class="metro_fullContainer footer metro_minus_height" data-TB_metro_width="400_px" data-TB_metro_m_hei="380_px" data-metro_minus_height="100" >
				<div class="TB_contents_load ST_pad_1_em " data-TB_contents_src = "contents--seayacht--footer"></div>
			</div>
			{{/_if}}
			<!-------------------------------------
				footer : 일반적으로 사용하지는 말자.
			------------------------------------->
	</div>
	
	<div class="tools_wrap ST_float_left_wrap ST_float_left_margin_05_em TB_contents_parts"
		data-TB_contents_parts="templates--albums--metro_album_3--tools"
	>
		{{#_if list_options.page '&gt;' 1}}
		<div class="tool prev_page_btn ST_box_shadow_1 ST_cursor_pointer" title="이전페이지">
			<div class="fa fa-arrow-left"></div>
		</div><!--/prev-->
		{{/_if}}
		
		{{#_if list_options.page '&lt;' list_info.total_page}}
		<div class="tool next_page_btn ST_box_shadow_1 ST_cursor_pointer" title="다음페이지">
			<div class="fa fa-arrow-right"></div>
		</div><!--/next-->
		{{/_if}}
		
		<div class="page_move ST_box_shadow_1 ">
			<form class="TB_form"
				data-TB_form_beforeAc='{
					"sharedFunc":"templates--albums--metro_album_3--page_jump"
				}'
			>
				<span class="page_num">
					<input type="text" size="2" name="page_num" class="page_num" title="페이지" value="{{list_options.page}}" />
				</span>
				<span title="전체페이지" >/ {{list_info.total_page}}</span>
				<label>
					<span class="fa fa-angle-double-right page_jump_btn ST_cursor_pointer" title="지정페이지 이동"></span>
					<input type="submit" class="submit ST_hide" />
				</label>
			</form>
		</div><!--/페이지별 이동 -->
		
		{{#if @root.TB_isAdmin}}
		<div class="add_imageBtn_wrap">
			<a href="#!/wvm_1?sharedObj={{sharedObj}}&reqType=insert" title="글작성">
				<div class="add_imageBtn ST_box_shadow_1">
					<div class="fa fa-pencil-square-o"></div>
				</div>
			</a> 
		</div>
		{{/if}}
	</div><!--/글작성, 페이지 이동, 검색 버튼-->
	 
 	{{#_if list_info.total_page '&lt;' 1}}
	<div class="mobile_add_btn_wrap ST_m_btn_wrap TB_style ST_margin_top_1_em " data-TB_style="ST_visible_mobile_block">
		<button class="mobile_add_btn ST_m_btn_1 ST_theme">더보기{{list_info.total_page}}</button>
	</div>
	{{/_if}}
	<!-------------------------------------
		mobile : 더보기.
	------------------------------------->
	
	
	
</div>
