
.templates--view--detail_view_1{
	line-height: 1em;
	position: relative;
}
.templates--view--detail_view_1 .bottom_space{
	height: 300px;
}
/*=================================
 * 글로벌
 =================================*/

.templates--view--detail_view_1 .header_wrap{
	position: fixed;
	padding: 15px 0;
	z-index:1;
	width:100%;
	top:0;
	background: #FFFFFF;
	box-sizing: border-box;
	border-bottom: 1px solid #539AF1;
	text-align: center;
	color: #539AF1;
}
.templates--view--detail_view_1 .header_wrap .header{
	font-family: "Malgun Gothic, Nanum Gothic";
	font-size: 1.3em;
	font-weight: lighter;
	display:block;
	margin:auto;
	white-space:nowrap;
	overflow: hidden;
	line-height:1.3em;
}
.templates--view--detail_view_1 .header_wrap .closeBtn{
	display:block;
	position: absolute;
	top:0;
	bottom:0;
	left: 20px;
	height: 1em;
	margin: auto;
	font-size: 2em;
	cursor: pointer;
}
.templates--view--detail_view_1 .header_wrap .submit_chain_button{
	display:block;
	position: absolute;
	top:0;
	bottom:0;
	right: 20px;
	height: 1em;
	margin: auto;
	font-size: 1em;
	cursor: pointer;
	border: 1px solid;
	border-radius: 2px;
	padding:0.5em;
	transition: all 0.2s ease-out;
	border-color: #539AF1;
}
	.templates--view--detail_view_1 .header_wrap .submit_chain_button:hover{
		transform: translate3d(0, -2px, 0);
		box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
	}
@media (max-width:991px){
	.templates--view--detail_view_1 .header_wrap .header{
		font-size:1.1em;
		width: 60%;
		white-space:nowrap;
	}
}
/*=================================
 * header
 =================================*/

.templates--view--detail_view_1 .body_wrap{
	margin-top: 70px; 
}
/*=================================
 * body
 =================================*/

.templates--view--detail_view_1 .wysiwyg_wrap .wysiwyg-editor{
	box-sizing: border-box;
	width: 900px;
	max-width:100%;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
}
.templates--view--detail_view_1 .wysiwyg-popup{
	text-align: center;
	width: 900px;
}
.templates--view--detail_view_1 .map_wrap{
	margin: auto;
	max-width: 880px;
	height:400px;
}
.templates--view--detail_view_1 .map_wrap .map_container{
	width:initial;
	height:400px;
	padding: 0 10px;
}

@media (max-width: 991px){
	.templates--view--detail_view_1 .wysiwyg_wrap .wysiwyg-editor{
		height: auto
	}
	.templates--view--detail_view_1 .wysiwyg-popup{
		width: 100%;
	}
	.templates--view--detail_view_1 .map_wrap
	, .templates--view--detail_view_1 .map_wrap .map_container
	{
		height: 200px;
	}
}
/*=================================
 * 내용 
 =================================*/

.templates--view--detail_view_1 .add_info_view_wrap {
	width: 900px;
	max-width:100%;
	margin: auto;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom:5px;
	min-height: 21px;
	/*border-top: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;*/
	box-sizing: border-box;
}
.templates--view--detail_view_1 .add_info_view_wrap .row_1{
	color: #999999;
	width: initial;
	padding: 0 10px;
}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col{
	font-size: 1em;
	color: #999999;
	font-family: 'Nanum Gothic';
	position: relative;
	margin-left: 0 10px;
	text-align: center;
	border-left: 1px solid #D5D5D5;
	box-sizing: border-box;
}
	.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col:first-child{
		margin-left: 0!important;
		border-left:none;
	}
	.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col:last-child{
	}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .icon_wrap{
	padding: 0.5em;
	transition: all 0.2s ease-in-out;
	border-radius: 2px;
	font-size: 1.2em;
}

.templates--view--detail_view_1 .add_info_view_wrap .row_1  .star_point_1{color: #FFEE58}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .star_point_2{color: #FFEB3B}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .star_point_3{color: #FDD835}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .star_point_4{color: #FBC02D}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .star_point_5{color: #F9A825}

.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .active{
	color: #539AF1;
}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .input_wrap{
	position: absolute;
	width: 250px;
	background: #FFFFFF;
	top: -42px;
	left : 0;
	padding: 10px;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
}
/*=================================
 * 부가정보 
 =================================*/

.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .star_input_wrap{
	font-size: 2em;
	text-align: center;
	top: -52px;
	cursor:pointer;
}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .star_input_wrap .fa{
	transition: color .2s ease-out;
}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_1{color: #FFEE58}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_2{color: #FFEB3B}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_3{color: #FDD835}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_4{color: #FBC02D}
.templates--view--detail_view_1 .add_info_view_wrap .row_1 .col .star_input_wrap .active_star.point_5{color: #F9A825}
	
/*=================================
 * 부가정보 : 별 점
 =================================*/

.templates--view--detail_view_1 .submit_wrap{
	margin-top: 20px;
}
.templates--view--detail_view_1 .submit_wrap .submit_button{
	font-size: 1.4em;
	font-family: 'Nanum Gothic';
	font-weight: bold;
	width: 900px;
	margin: auto;
}
/*=================================
 * 완료 버튼
 =================================*/






























