<div class="templates--view--detail_view_1" class="ST_dis_none">
	
	<div class="header_wrap TB_contents_parts"
		data-TB_contents_parts="templates--write_form--detail_view_1--header"
	>
		<span class="fa fa-times-circle-o closeBtn" title="닫기"></span>
		<span class="header">{{render.subject}}</span>
	</div>
	<!--------------------------------------------------------/
		header
		-------------------------------------------------------->

		<div class="body_wrap">
			<form class="TB_form main_form">
				
				<div class="wysiwyg_wrap">
					<textarea name="memo" class="TB_form_set memo" data-TB_form_set="wysiwyg:view" rows="50">{{render.memo}}</textarea>
				</div>
				<!--/메인글/-->
				
				<div class="map_wrap" >
					<div class="road_view_container"></div>
					<div class="map_container"></div>
				</div>
				<!--/지도 -->
				
				<div class="add_info_view_wrap ">
					<div class="row_1 ST_float_left_wrap">
						<div class="col_1 ST_col_4 col">
							<div class="icon_wrap ST_dis_inline_block" title="별점 : {{render.stars_cnt}}">
								{{#unless render.stars_cnt}}
								<span class="fa fa-star-o icon"></span>
								{{/unless}}
								{{#each render.stars_point}}
								<span class="fa fa-star {{class_name}} icon"></span>
								{{/each}}
							</div>
						</div>
						
						<div class="col_2 ST_col_4 col">
							<div class="icon_wrap ST_dis_inline_block price" title="비용 : {{commSet render.price}}">
								<span class="fa fa-krw icon "></span>&nbsp;{{commSet render.price}}
							</div>
						</div>
						
						<div class="col_3 ST_col_4 col">
							<div class="icon_wrap ST_dis_inline_block itinerary" title="기간 : {{commSet render.itinerary}}">
								<span class="fa fa-hotel icon "></span>&nbsp;
								{{#if render.itinerary}}
									{{render.itinerary}} 박 
								{{else}}
									당일
								{{/if}}
							</div>
						</div>
						
					</div>
				</div>
				<!--/부가정보/-->

			</form>
		</div>
	<!--------------------------------------------------------/
		body
		-------------------------------------------------------->
	
	<div class="bottom_space"></div><!--/하단 여백 -->
</div>
