body{}
.templates--albums--metro_algum_1{}

.templates--albums--metro_algum_1 .textFixed{
	position: fixed;
	top:200px;
	background: #ff9547;
	width: 200 px;
	height: 200px;z-index: 90;
}

.templates--albums--metro_algum_1 .metro_wrap{
}

.templates--albums--metro_algum_1 .pc_nav_container {
	position: fixed;
	top: 80px;
	left: 2em;
	line-height: 1em;
	z-index:3;
}
.templates--albums--metro_algum_1 .categories_wrap .pc_nav_container .title{
	background: #5fae57;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 200px;
	-webkit-box-shadow: 0 2px 5px #d5d5d5;
	-moz-box-shadow: 0 2px 5px #d5d5d5;
	-ms-box-shadow: 0 2px 5px #d5d5d5;
	-o-box-shadow: 0 2px 5px #d5d5d5;
	box-shadow: 0 2px 5px #2D6D26;
	z-index: 2;
}
.templates--albums--metro_algum_1 .categories_wrap .pc_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em;
	cursor: pointer;
}
.templates--albums--metro_algum_1 .categories_wrap .pc_nav_container .add_imageBtn{
	position: absolute;
	right:-42px;
	top:0;
	font-size:1.9em;
	padding:0.1em;
	padding-left: 15px;
	background: #5fae57;
	z-index: 1;
	-webkit-box-shadow: 2px 2px 3px #2D6D26;
	-moz-box-shadow: 2px 2px 3px #2D6D26;
	-ms-box-shadow: 2px 2px 3px #2D6D26;
	-o-box-shadow: 2px 2px 3px #2D6D26;
	box-shadow: 2px 2px 3px #2D6D26;
	color: #ffffff;
	border-radius: 0.2em;
	cursor: pointer;
}
.templates--albums--metro_algum_1 .categories_wrap .pc_nav_container ul{
	-webkit-box-shadow: 0 2px 5px #d5d5d5;
	-moz-box-shadow: 0 2px 5px #d5d5d5;
	-ms-box-shadow: 0 2px 5px #d5d5d5;
	-o-box-shadow: 0 2px 5px #d5d5d5;
	box-shadow: 0 2px 5px #d5d5d5;
}
.templates--albums--metro_algum_1 .categories_wrap .pc_nav_container ul li{
	padding: 1em 0;
	height: auto;
	background:#ffffff;
	box-sizing: border-box;
	border-bottom: 1px solid #d5d5d5;
	color: #555555;
	cursor: pointer;
	font-size: 0.9em;
}
	.templates--albums--metro_algum_1 .categories_wrap .pc_nav_container ul li:hover{
		text-decoration: underline;
	}
.templates--albums--metro_algum_1 .categories_wrap .pc_nav_container ul .pc_nav_active{
	background: #f7f7f7;
	color: #ff9547;
}
/*=====================================
 * 카테고리
 =====================================*/

.templates--albums--metro_algum_1 .mobile_nav_container {
	z-index:5;
	background-color: #ffffff;
	top: 65px;
	width: 100%;
}
.templates--albums--metro_algum_1 .mobile_nav_container .title{
	background: #5fae57;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 100%;
	-webkit-box-shadow: 0 2px 5px #d5d5d5;
	-moz-box-shadow: 0 2px 5px #d5d5d5;
	-ms-box-shadow: 0 2px 5px #d5d5d5;
	-o-box-shadow: 0 2px 5px #d5d5d5;
	box-shadow: 0 2px 5px #2D6D26;
}
.templates--albums--metro_algum_1 .mobile_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em; 
	font-size:2em;
	line-height: 0.5em;
}
.templates--albums--metro_algum_1 .mobile_nav_container ul{
	font-size: 0;
	line-height:0;
	text-align: center;
}
.templates--albums--metro_algum_1 .mobile_nav_container li{
	line-height:1em;
	display:inline-block;
	color: #555555; 
	text-align: center; 
	padding: 0.5em 0;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
	font-size: 12pt;
}
.templates--albums--metro_algum_1 .mobile_nav_container .mobile_nav_active{
	background: #f7f7f7;
	color: #ff9547;
}
/*=====================================
 * 모바일 네비
 =====================================*/


.templates--albums--metro_algum_1 .list_wrap{
	margin-top: 1.5em;
}
/*=====================================
 * 갤러리
 =====================================*/

.templates--albums--metro_algum_1 .metro_cover .box > img{
	width: 100%;
}
.templates--albums--metro_algum_1 .metro_cover .box .box_fullTitle{
	background: #444444 !important;
}
.templates--albums--metro_algum_1 .metro_cover .box .removeBtn{
	position: absolute;
	right: 0em;
	bottom:0em;
	font-size: 0.9em;
	color: #ffffff;
	cursor: pointer;
}
.templates--albums--metro_algum_1 .metro_cover .box .modifyBtn{
	color: #ffffff;
	cursor: pointer;
	position: absolute;
	bottom:0em;
	right: 1.1em;
	font-size: 1.7em;
	line-height:1.3em;
}
/*=====================================
 * 이미지
 =====================================*/













































