<div class="templates--albums--metro_algum_1 ST_dis_none"  >
	<div class="top_space"></div><!--/상위 여백을 위한 엘리먼트-->
	<div class="metro_wrap">
		
		{{#if categories}}
		<div class="metro_container categories_wrap hidden-sm hidden-xs" data-TB_metro_width="270_px">
			<div class="pc_nav_container nav_container ST_opacity_90_p">
				<div class="title">
					{{category_title}}<span class="nav_foldBtn fa fa-caret-up"></span>
				</div>
				{{#if @root.TB_isAdmin}}
				<a href="#!/wvm_1?sharedObj=contents--happyborn--building--galleryData&reqType=insert">
					<div class="add_imageBtn">
						<div class="fa fa-pencil-square-o"></div>
					</div>
				</a> 
				{{/if}}
				<ul >
					{{#each categories}}
					<li class="navBtn" data-category="{{name}}">{{name}}</li>
					{{/each}}
				</ul>
			</div>
		</div><!--/pc nav-->
		
		<div class="mobile_nav_container nav_container visible-xs-block visible-sm-block ST_posi_fixed ">
			<div class="title">
				{{category_title}}<span class="nav_foldBtn fa fa-caret-down"></span>
			</div>
			<ul class="ST_dis_none">
				{{#each categories}}
				<li class="navBtn mobile_nav TB_style" data-TB_style="ST_winWid_50_p" data-category="{{name}}">
					<span>{{name}}</span>
				</li>
				{{/each}}
			</ul>
		</div><!--/mobile nav-->
		{{/if}}<!--/카테고리 셀렉터-->
		
		
		<div class="list_wrap">
			
			<div class="metro_container " data-TB_metro_width="270_px" data-album_category="{{category}}">
				<div class="metro_cover">
			{{#each-reverse list}}
			
					<div class="box box_w_2 ST_dis_none" data-album_category="{{category}}">
						<a class="viewImageBtn" href="#/wvm_1?reqType=imageView&sharedObj=templates--albums--metro_algum_1--viewImage">
							<div class="ST_pattern_8 TB_style ST_pattern ST_cursor_pointer" 
								data-TB_style="ST_closestFit" data-TB_style_closestTarget=".box" >
							</div>
						</a>
						<img class="image" src="{{../TB_root_path}}{{file_src}}" />
						<div class="box_fullTitle ST_opacity_90_p" title="{{file_name}}">
							<span class="subject">{{subject}}</span>
							
							{{#if @root.TB_isAdmin}}
							<a  href="#/wvm_1?reqType=modify&sharedObj=contents--happyborn--building--galleryData&no={{no}}">
								<div class=" modifyBtn" title="수정">
									<div class="fa  fa-pencil-square-o "></div>
								</div>
							</a><!--/수정버튼-->
							
							<div class="fa-stack fa-lg removeBtn" title="삭제"
								data-sendData='{"no":"{{no}}","_group":"{{_group}}","file_src":"{{file_src}}"}'
							>
								<div class="fa fa-square-o fa-stack-2x"></div>
								<div class="fa fa-remove fa-stack-1x"></div>
							</div><!--/삭제버튼-->
							{{/if}}
						</div>
					</div>
					
			{{#_if _index '!='  0}}
			{{#_if _index '%' 4}}
				</div>
			</div>
			<div class="metro_container " data-TB_metro_width="270_px" data-album_category="{{category}}">
				<div class="metro_cover">
			{{/_if}}
			{{/_if}}
			
			{{/each-reverse}}<!--/4번 출력뒤 줄바꿈-->
			</div>
		</div><!--/앨범-->
		
	</div> 
	
	
</div>
