<div id="contents--happyborn--sanmo_info"  class="" >
	<div class="TB_contents_load"
		data-TB_contents_src="templates--bbs--metro_bbs_1"
		data-TB_contents_sendData='contents--happyborn--sanmo_info--bbs_data'
	></div>
</div>