<div class="templates--m_write_modify--m_write_modify_qna" >
	<form class="TB_form ST_m_form_1"
		data-TB_form_aftAc="sharedFunc:m_write_modify_aftAc" 
	>	
		{{#if modify}}
		<input type="hidden" name="no" value="{{no}}"/>
		{{/if}}
		<input type="hidden" name="reqType" value="{{reqType}}" />
		<input type="hidden" name="reqQuery" value="{{reqQuery}}" />
		
		<div class="m_form_item">
			<select name="program">
				<option value="Best! 요트 체험 투어">Best! 요트 체험 투어</option>
				<option value="맞춤형 요트 여행">맞춤형 요트 여행</option>
			</select>
		</div><!--/프로그램선택-->
		<div class="m_form_item">
			<input type="text" name="name" placeholder="이름" class="TB_form_validate"/>
		</div><!--/이름-->
		<div class="m_form_item">
			<input type="password" name="password" placeholder="비밀번호" class="TB_form_validate"/>
		</div><!--/비밀번호-->
		<div class="m_form_item">
			<input type="text" name="reservationDate" placeholder="예약일 (ex:2015-06-06)"
			 	class="TB_form_validate"
			 />
		</div><!--/예약일-->
		<div class="m_form_item">
			<input type="number" name="person" size="2" placeholder="인원" 
			 	class="TB_form_validate"
			 />
		</div><!--/인원-->
		<div class="m_form_item phoneNumber">
			<input type="hidden" name="phone" class="TB_form_join TB_form_validate"
				data-TB_form_join_target=".join_phone"
				data-TB_form_join_delimiter="-"
			 />
			<input type="number" size="3" maxlength="3" class="join_phone" title="전화번호"  placeholder="전화번호"/>
			- <input type="number" size="4" maxlength="4" class="join_phone" title="전화번호"  />
			- <input type="number" size="4" maxlength="4" class="join_phone" title="전화번호"  />
		</div><!--/전화 -->
		<div class="m_form_item">
			<label>
				<span>
					<textarea class="TB_form_set TB_form_validate" name="memo" placeholder="내용" 
						data-TB_form_set="wysiwyg:simple"
					>
					</textarea>
				</span>
			</label>
		</div><!--/내용-->
		{{#if auth}}
		<div class="m_form_item">
			<label>
				<span>
					<textarea class="TB_form_set TB_form_validate" name="answerMemo" placeholder="답변" 
						data-TB_form_set="wysiwyg:simple"
					>
					</textarea>
				</span>
			</label>
		</div>
		{{else}}
		<div class="m_form_item">
			<label>
				<span>
					<textarea class="TB_form_set" name="answerMemo" readonly="readonly" 
						data-TB_form_set="wysiwyg:view"
					>
					</textarea>
				</span>
			</label>
		</div>
		{{/if}}<!--/답변-->
		<div class="m_form_item">
			<input type="submit" value="{{submitBtn}}" />
		</div>
	</form>
</div>
