<div class="templates--bbs--bbs_1 ST_dis_none"  >
	<div class="top_margin"></div><!--/상위 여백을 위한 엘리먼트-->
	
	<div class="list_wrap  ST_list_wrap ST_list_1 TB_style" data-TB_style="ST_response_mobile_width_90%"> 
		<div class=" ST_list_header ">
			{{#if @root.TB_isAdmin}}
			<div class="item_1 TB_style" data-TB_style="ST_hidden_mobile" >삭제</div>
			{{/if}}
			<div class="item_2 ">&nbsp;</div><!--/공지나 숨김 표시등을 위한곳-->
			<div class="item_3 TB_style" data-TB_style="ST_hidden_mobile">번호</div>
			<div class="item_4 TB_style" data-TB_style="ST_response_mobile_width_60%" >제목</div>
			<div class="item_5 TB_style" data-TB_style="ST_response_mobile_width_20%">작성자</div>
			<div class="item_6 TB_style" data-TB_style="ST_hidden_mobile">작성일</div>
			<div class="item_7 TB_style" data-TB_style="ST_hidden_mobile">조회</div>
		</div><!--/리스트헤더-->
	
		<ul class="ST_list TB_contents_parts "
			data-TB_contents_parts="templates--bbs--bbs_1--list"
		>
		{{#each list}}
			<li class="ST_list_item">
				<div class="item_1 TB_style" data-TB_style="ST_hidden_mobile">
					{{#if @root.TB_isAdmin}}
					<span>
						<input type="checkbox" name="no" class="ST_dis_inline_block ST_margin_0 list_del_no" value="{{no}}" />
					</span>
					{{/if}}
				</div>
				<div class="item_2">
					{{#_if notice '==' '1'}}
						<span class="fa fa-bell"></span>
					{{else}}
						{{#_if hidden '==' '1'}}
							<span class="fa fa-lock"></span>
						{{else}}
							&nbsp;
						{{/_if}}
					{{/_if}}
				</div>
				<div class="item_3 TB_style" data-TB_style="ST_hidden_mobile" >{{no}}</div>
				<div class="item_4 TB_style" data-TB_style="ST_response_mobile_width_60%">
					<a class="view_btn subject" data-no={{no}} href="#!/wvm_1?reqType=view&sharedObj={{../sharedObj}}&no={{no}}&hidden={{hidden}}">
						{{#_if notice '==' '1'}}
							<b>{{substr subject 0 13 '..'}}</b>
						{{else}}
							{{substr subject 0 13 '..'}}
						{{/_if}}
					</a>
					{{#if comment_cnt}}
						<span class="comment_cnt ">{{comment_cnt}}</span>
					{{/if}}
				</div>
				<div class="item_5 TB_style" data-TB_style="ST_response_mobile_width_20%">{{nick}}</div>
				<div class="item_6 TB_style" data-TB_style="ST_hidden_mobile">{{writetime}}</div>
				<div class="item_7 TB_style" data-TB_style="ST_hidden_mobile">{{hit_cnt}}</div>
			</li>
		{{/each}}
		</ul><!--/리스트 -->
		
		<div class="ST_list_footer">
			<div class="ST_list_btns hidden-xs hidden-sm TB_contents_parts"
				data-TB_contents_parts="templates--bbs--bbs_1--footer_btns"
			>
				{{#if @root.TB_isAdmin}}
				<form class="TB_form"
					data-TB_form_beforeAc='{"sharedFunc":"templates--bbs--bbs_1--delete_list_beforeFunc"}'
				>
					<label>
						<div class="ST_list_btn">삭제</div>
						<input type="submit" class="ST_hide" />
					</label>
				</form>
				{{/if}}<!--/다중 삭제 -->
				
				{{#if @root.list_options.admin_only}}
				{{#if @root.TB_isAdmin}}
				<a href="#!/wvm_1?sharedObj={{sharedObj}}&reqType=insert" title="글쓰기">
					<div class="ST_list_btn write_btn ">글쓰기</div>
				</a>
				{{/if}}
				{{else}}
				<a href="#!/wvm_1?sharedObj={{sharedObj}}&reqType=insert" title="글쓰기">
					<div class="ST_list_btn write_btn ">글쓰기</div>
				</a>
				{{/if}}<!--/글쓰기 버튼-->
				
			</div>
			
			<div class="ST_list_pageMove TB_contents_parts TB_style" data-TB_style="ST_hidden_mobile"
				data-TB_contents_parts="templates--bbs--bbs_1--pc_page_link"
			>
				<!-- <div class="move_first fa fa-angle-double-left"></div> -->
				{{#if list_info.prev_block}}
				<div class="link move_block_prev fa fa-angle-left"
					data-page="{{list_info.prev_block}}"
				></div>
				{{/if}}<!--/이전 블럭으로 이동 -->
				
				<div>
					{{#each @root.list_info.page_link}}
						{{#_if link '==' @root.list_options.page}}
						<b><span class="link cur_page" data-page="{{link}}">{{link}}</span></b>
						{{else}}
						<span class="link" data-page="{{link}}">{{link}}</span>
						{{/_if}}
					{{/each}}
				</div>
				
				{{#if list_info.next_block}}
				<div class="link move_block_next fa fa-angle-right"
					data-page="{{list_info.next_block}}"
				></div>
				{{/if}}<!--/다음 블럭 페이지-->
				<!-- <div class="fa fa-angle-double-right"></div> -->
			</div>
			
			<form class="TB_form search_form" 
				data-TB_form_beforeAc='{"sharedFunc":"templates--bbs--bbs_1--search"}'
			>
				<div class="ST_list_search TB_style" data-TB_style="ST_hidden_mobile">
					<div>
						<select class="search_field" name="search_field">
							<option value="subject&memo">제목+내용</option>
							<option value="subject">제목</option>
							<option value="memo">내용</option>
							<option value="nick">작성자</option>
						</select>
					</div>
					<div>
						<input type="text" name="search" class="ST_list_search_input search_value" />
					</div>
					<div>
						<label>
							<div class="ST_list_btn">검색</div>
							<input type="submit" class="ST_hide"/>
						</label>
					</div>
				</div>
			</form><!--/검색-->
			
		</div><!--/footer-->
	</div>
	
	<div class="tools_wrap ST_float_left_wrap ST_float_left_margin_05_em TB_contents_parts"
		data-TB_contents_parts="templates--bbs--bbs_1--tools"
	>
		{{#if list_info.prev_page}}
		<div class="tool prev_page_btn ST_box_shadow_1 ST_cursor_pointer link" title="이전페이지"
			data-page={{list_info.prev_page}}
		>
			<div class="fa fa-arrow-left"></div>
		</div><!--/prev-->
		{{/if}}
		
		{{#if list_info.next_page}}
		<div class="tool next_page_btn ST_box_shadow_1 ST_cursor_pointer link" title="다음페이지"
			data-page={{list_info.next_page}}
		>
			<div class="fa fa-arrow-right"></div>
		</div><!--/next-->
		{{/if}}
		
		<div class="page_move ST_box_shadow_1 ">
			<form class="TB_form"
				data-TB_form_beforeAc='{"sharedFunc":"templates--bbs--bbs_1--page_jump"}'
			>
				<span class="page_num">
					<input type="text" size="2" name="page_num" class="input_page_num" title="페이지" value="{{list_options.page}}" />
				</span>
				<span title="전체페이지" >/ {{list_info.total_page}}</span>
				<label>
					<span class="fa fa-angle-double-right page_jump_btn ST_cursor_pointer" title="지정페이지 이동"></span>
					<input type="submit" class="submit ST_hide" />
				</label>
			</form>
		</div><!--/페이지별 이동 -->
		
		{{#if @root.list_options.admin_only}}
		{{#if @root.TB_isAdmin}}
		<div class="add_imageBtn_wrap">
			<a href="#!/wvm_1?sharedObj={{sharedObj}}&reqType=insert" title="글쓰기">
				<div class="add_imageBtn ST_box_shadow_1">
					<div class="fa fa-pencil-square-o"></div>
				</div>
			</a> 
		</div>
		{{/if}}
		{{else}}
		<div class="add_imageBtn_wrap">
			<a href="#!/wvm_1?sharedObj={{sharedObj}}&reqType=insert" title="글쓰기">
				<div class="add_imageBtn ST_box_shadow_1">
					<div class="fa fa-pencil-square-o"></div>
				</div>
			</a> 
		</div>
		{{/if}}<!--/글쓰기 버튼-->
	</div><!--/tools : 글작성, 페이지 이동, 검색 버튼-->

	{{#if list_info.next_page}}
	<div class="mobile_add_btn_wrap ST_m_btn_wrap  TB_style" data-TB_style="ST_hidden_pc">
		<button class="mobile_add_btn ST_m_btn_1 ST_theme ST_active_1">다음페이지</button>
	</div>
	{{/if}}<!--/모바일 다음 페이지 버튼 -->
	
	
</div>
