body{}
.templates--bbs--bbs_1{}

.templates--bbs--bbs_1 a
, .templates--bbs--bbs_1 a:visited
{
	color: #555555;
	text-decoration: none;
}
.templates--bbs--bbs_1 .top_margin{
	width: 100%;
	height: 70px;
}
/*================================
 * 글로벌
 ==================================*/

.templates--bbs--bbs_1 .list_wrap .item_1{width: 50px; text-align: center;}
.templates--bbs--bbs_1 .list_wrap .item_2{
	width: 30px; text-align: center;
	border: none;
}/*==/아이콘표시==*/
.templates--bbs--bbs_1 .list_wrap .item_3{width: 70px; text-align: center;}/*==/번호==*/
.templates--bbs--bbs_1 .list_wrap .item_4{width: 270px; }
.templates--bbs--bbs_1 .list_wrap .ST_list .item_4{text-align:left;}/*==/제목==*/
.templates--bbs--bbs_1 .list_wrap .item_5{width: 100px; text-align: center;}/*==/작정자==*/
.templates--bbs--bbs_1 .list_wrap .item_6{width: 100px; text-align: center;}/*==/작성일==*/
.templates--bbs--bbs_1 .list_wrap .item_7{width: 50px; text-align: center;}/*==/조회수==*/
.templates--bbs--bbs_1 .list_wrap .ST_list .item_6
, .templates--bbs--bbs_1 .list_wrap .ST_list .item_7
{font-size: 0.8em;}
.templates--bbs--bbs_1 .list_wrap .write_btn{
	position: absolute;
	right: 0;
}
/*================================
 * bbs
 ==================================*/

.templates--bbs--bbs_1 .tools_wrap {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 2;
}
.templates--bbs--bbs_1 .tools_wrap .tool
, .templates--bbs--bbs_1 .tools_wrap .page_move{
	padding: 0.5em;
	border-radius: 0.2em;
	color: #555555;
	background: #ffffff;
}
.templates--bbs--bbs_1 .tools_wrap .page_move .page_num{
	text-align: center;
	outline:none;
	border:none;
}
.templates--bbs--bbs_1 .tools_wrap .page_move .page_jump_btn{
	margin-left:0.5em;
	display:inline-block;
}
.templates--bbs--bbs_1 .tools_wrap .add_imageBtn{
	color: #555555;
	font-size: 1.5em;
	padding: 0.2em;
	border-radius:0.2em;
	text-align: center;
}
/*=====================================
 * tools : 검색, 페이지 이동, 글 작성 버튼 모음.
 =====================================*/

@media(max-width:991px){
	.templates--bbs--bbs_1 .mobile_add_btn_wrap{
		margin-bottom: 100px;
	}
}
@media(min-width:992px){
	.templates--bbs--bbs_1 .mobile_add_btn_wrap{
		display:none;
	}
}
/*=====================================
 * 모바일 추가 버튼 
 =====================================*/












































