<div id="contents--dreamyacht--education">
	<div class="ST_hide scroll_spy_buttons">
		<a href="#education_basic" class="trigger_education_basic"></a>
		<a href="#education_medium" class="trigger_education_medium"></a>
	</div>

	
	
	<div class="r_1 ST_section ST_section_full" >
		
		
		<div class="main_img TB_ui_parallaxScroll"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_1"}' 
		></div>
		<!--/bg/-->
		
		<div class="filter ST_opacity_70_p "></div>
		<div class="container">
			<div class="space"></div>
			
			<div class="text_wrap ">
				<div class="ST_title ST_title_s ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					전문 요트 교육 프로그램
				</div>
				<div class="ST_title ST_title_l ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					<b>YACHT EDUCATION</b>
				</div>
				<div class="desc ST_opacity_0 TB_ani_show ST_margin_top_1_5_em">
					<div class="TB_el" data-TB_el_name="education--main_detail"></div>
				</div>
				
			</div>
			
		</div>
		
	</div>
	<!--------------------------------------------
		메인 이미지
	-------------------------------------------->
	
	<div id="education_basic" class="r_2 ST_section ST_section_l ST_overflow_hidden scroll_spy">
		<div class="container ST_z-index_1">
			<div class="row center-align grey-text text-darken-2">
				<div class="circle_img TB_ani_show ST_opacity_0" data-TB_ani_show="fadeInUp"></div>
				
				<div class="ST_title ST_title_m ST_brd_bottom_1_solid TB_ani_show ST_opacity_0 ST_dis_inline_block" data-TB_ani_show="fadeInUp">
					외양항해 초급 교육 프로그램
				</div>
				<div class="ST_margin_top_1_5_em ST_text_align_left">
					<div class="detail ST_margin_top_1_em align-left ">
						<div class="TB_el" data-TB_el_name="education--basic_detail"></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!--------------------------------------------
		외양항해 초급 프로그램
	-------------------------------------------->
	
	<div id="education_medium" class="r_3 ST_section ST_section_l ST_overflow_hidden grey darken-3 scroll_spy">
		<div class="container ST_z-index_1">
			<div class="row center-align white-text">
				
				<div class="circle_img TB_ani_show ST_opacity_0" data-TB_ani_show="fadeInUp"></div>
				
				<div class="ST_title ST_title_m ST_brd_bottom_1_solid TB_ani_show ST_opacity_0 ST_dis_inline_block" data-TB_ani_show="fadeInUp">
					외양항해 중급 교육 프로그램
				</div>
				<div class="ST_margin_top_1_5_em ST_text_align_left">
					<div class="detail ST_margin_top_1_em align-left ">
						<div class="TB_el" data-TB_el_name="education--medium_detail"></div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
	<!--------------------------------------------
		외양항해 중급 프로그램
	-------------------------------------------->
	
	<div class="footer_wrap ST_section ">
		<div class="container center-align">
			<div class="grey-text text-darken-1">
				<div class="TB_el" data-TB_el_name="footer"></div>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		footer
	-------------------------------------------->
	
	
</div>