<div class="templates--bbs--metro_bbs_1 ST_dis_none"  >
	<div class="top_space"></div><!--/상위 여백을 위한 엘리먼트-->
	
	{{#if categories}}
	<div class="categories_wrap hidden-sm hidden-xs" >
		<div class="pc_nav_container nav_container ST_opacity_90_p ST_box_shadow_1">
			<div class="title">
				{{category_title}}<span class="nav_foldBtn fa fa-caret-up"></span>
			</div>
			{{#if @root.TB_isAdmin}}
			<a href="#!/wvm_1?sharedObj={{sharedObj}}&reqType=insert">
				<div class="add_imageBtn ST_box_shadow_1">
					<div class="fa fa-pencil-square-o"></div>
				</div>
			</a> 
			{{/if}}<!--/글 작성 버튼 -->
			<ul >
				{{#each categories}}
				<!-- <a href="#!/{{page}}?category={{name}}"> -->
					<li class="navBtn" data-category="{{name}}">{{name}}</li>
				<!-- </a> -->
				{{/each}}
			</ul>
		</div>
	</div><!--/pc nav-->
	
	<div class="mobile_nav_container nav_container visible-xs-block visible-sm-block ST_posi_fixed ST_box_shadow_1">
		<div class="title">
			{{category_title}}<span class="nav_foldBtn fa fa-caret-down"></span>
		</div>
		<ul class="ST_dis_none">
			{{#each categories}}
			<!-- <a href="#!/{{@root.list_options._group}}?category={{name}}"> -->
				<li class="navBtn mobile_nav TB_style" data-TB_style="ST_winWid_50_p" data-category="{{name}}">
					<span>{{name}}</span>
				</li>
			<!-- </a> -->
			{{/each}}
		</ul>
	</div><!--/mobile nav-->
	{{/if}}<!--/카테고리 셀렉터-->
	
	
	<div class="metro_wrap">
		
		<div class="list_wrap TB_contents_parts"
			data-TB_contents_parts="templates--bbs--metro_bbs_1--list"
		>
			<div class="metro_container" data-TB_metro_width="270_px"></div>
			
			<div class="metro_container " data-TB_metro_width="270_px" data-category="{{category}}">
				<div class="metro_cover">
					
			{{#each-reverse list}}
			
					<div class="box box_w_2 ST_dis_none" data-album_category="{{category}}">
						<a class="viewBtn" href="#/wvm_1?reqType=view&sharedObj={{../sharedObj}}&no={{no}}" title="{{subject}}">
							<div class="item_cover ST_box_shadow_1">
									<div class="subject">{{#substr subject 0 14 '..'}}{{/substr}}</div>
									<div class="memo">
										{{entityHtmlRemove memo}}
									</div>
							</div>
						</a>
						{{#if @root.TB_isAdmin}}
						<div class="btns_wrap ST_opacity_90_p" >
							<a  href="#!/wvm_1?reqType=modify&sharedObj={{@root.sharedObj}}&no={{no}}">
								<div class=" modifyBtn" title="수정">
									<div class="fa  fa-pencil-square-o "></div>
								</div>
							</a><!--/수정버튼-->
							
							<div class="fa-stack fa-lg removeBtn" title="삭제"
								data-sendData='{"no":"{{no}}","_group":"{{_group}}"}'
							>
								<div class="fa fa-square-o fa-stack-2x"></div>
								<div class="fa fa-remove fa-stack-1x"></div>
							</div><!--/삭제버튼-->
							
						</div>
						{{/if}}
					</div>
					
			{{#_if _index '!='  0}}
			{{#_if _index '%' 4}}
				</div>
			</div>
			<div class="metro_container " data-TB_metro_width="270_px" data-album_category="{{category}}">
				<div class="metro_cover">
			{{/_if}}
			{{/_if}}
			
			{{/each-reverse}}<!--/4번 출력뒤 줄바꿈-->
			</div>
		</div><!--/앨범-->
		
	</div> 
	
	
</div>
