body{}
.templates--bbs--metro_bbs_1{}

.templates--bbs--metro_bbs_1 a
, .templates--bbs--metro_bbs_1 a:visited
{
	color: #555555;
	text-decoration: none;
}

.templates--bbs--metro_bbs_1 .textFixed{
	position: fixed;
	top:200px;
	background: #ff9547;
	width: 200 px;
	height: 200px;z-index: 90;
}
.templates--bbs--metro_bbs_1 .pc_nav_container {
	position: fixed;
	top: 80px;
	left: 2em;
	line-height: 1em;
	z-index:3;
}
.templates--bbs--metro_bbs_1 .categories_wrap .pc_nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 200px;
	z-index: 2;
}
.templates--bbs--metro_bbs_1 .categories_wrap .pc_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em;
	cursor: pointer;
}
.templates--bbs--metro_bbs_1 .categories_wrap .pc_nav_container .add_imageBtn{
	position: absolute;
	right:-42px;
	top:0;
	font-size:2em;
	padding:0.1em;
	padding-left: 15px;
	background: #ff9547;
	z-index: 1;
	color: #ffffff;
	border-radius: 0.2em;
	cursor: pointer;
}
.templates--bbs--metro_bbs_1 .categories_wrap .pc_nav_container ul{
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
}
.templates--bbs--metro_bbs_1 .categories_wrap .pc_nav_container ul li{
	padding: 1em 0;
	height: auto;
	background:#ffffff;
	box-sizing: border-box;
	border-bottom: 1px solid #d5d5d5;
	color: #555555;
	cursor: pointer;
	font-size: 0.9em;
	text-align: center;
}
	.templates--bbs--metro_bbs_1 .categories_wrap .pc_nav_container ul li:hover{
		text-decoration: underline;
	}
.templates--bbs--metro_bbs_1 .categories_wrap .pc_nav_container ul .pc_nav_active{
	background: #f7f7f7;
	color: #ff9547;
}
/*=====================================
 * 카테고리
 =====================================*/

.templates--bbs--metro_bbs_1 .mobile_nav_container {
	z-index:5;
	background-color: #ffffff;
	top: 65px;
	width: 100%;
}
.templates--bbs--metro_bbs_1 .mobile_nav_container .title{
	background: #ff9547;
	font-weight: bold;
	color: #ffffff; 
	position: relative;
	padding: 0.7em 0;
	font-size: 1em;
	text-align: center;
	width: 100%;
}
.templates--bbs--metro_bbs_1 .mobile_nav_container .nav_foldBtn{
	position: absolute;
	right: 0.5em; 
	font-size:2em;
	line-height: 0.5em;
}
.templates--bbs--metro_bbs_1 .mobile_nav_container ul{
	font-size: 0;
	line-height:0;
	text-align: center;
}
.templates--bbs--metro_bbs_1 .mobile_nav_container li{
	line-height:1em;
	display:inline-block;
	color: #555555; 
	text-align: center; 
	padding: 0.5em 0;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
	font-size: 12pt;
}
.templates--bbs--metro_bbs_1 .mobile_nav_container .mobile_nav_active{
	background: #f7f7f7;
	color: #ff9547;

}
/*=====================================
 * 모바일 네비
 =====================================*/

.templates--bbs--metro_bbs_1 .metro_wrap {
	z-index: 1;
	position: relative;
}
.templates--bbs--metro_bbs_1 .list_wrap{
	margin-top: 1.5em;
}
.templates--bbs--metro_bbs_1 .metro_wrap .metro_container{
	padding: 0;
	overflow-y:hidden;
}
.templates--bbs--metro_bbs_1 .metro_wrap .metro_container .box{
	background: #ffffff ;
}
.templates--bbs--metro_bbs_1 .metro_wrap .metro_container .box .item_cover{
	padding: 5px;
	width: 200px;
	height: 110px;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	margin: auto;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}
	.templates--bbs--metro_bbs_1 .metro_wrap .metro_container .box .item_cover:hover{
		border-color: #d5d5d5;
		box-shadow: 0 1px 10px #c5c5c5;
	}
.templates--bbs--metro_bbs_1 .metro_wrap .metro_container .box .subject{
	font-size: 0.9em;
	padding-bottom: 5px;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
	text-align: left;
	color: #555555;
}
.templates--bbs--metro_bbs_1 .metro_wrap .metro_container .box .memo{
	font-size: 0.7em;
	margin-top: 5px;
	color: #aaaaaa;
	text-align: left;
	word-break: break-all;
	overflow: hidden;
	height: 4em;
}
@media (max-width: 991px){
	.templates--bbs--metro_bbs_1 .metro_wrap .metro_container .metro_cover
	, .templates--bbs--metro_bbs_1 .metro_wrap .metro_container .box
	, .templates--bbs--metro_bbs_1 .metro_wrap .metro_container .item_cover
	{
		width: 100% !important;
	}
}/*==/모바일==*/

/*=====================================
 * 갤러리
 =====================================*/




.templates--bbs--metro_bbs_1 .metro_cover .box .btns_wrap {
	color: #555555;
}
.templates--bbs--metro_bbs_1 .metro_cover .box .modifyBtn{
	cursor: pointer;
	position: absolute;
	bottom:0.2em;
	right: 1.8em;
	font-size: 1.7em;
	line-height:1.3em;
}
.templates--bbs--metro_bbs_1 .metro_cover .box .removeBtn{
	position: absolute;
	right: 1.3em;
	bottom:0.4em;
	font-size: 0.9em;
	cursor: pointer;
}
/*=====================================
 * 버튼
 =====================================*/













































