#contents--happyborn--disinfection{
	
}
#contents--happyborn--disinfection .metro_fullContainer{
	border:3px solid #ffffff;
	box-sizing: border-box;
	min-height: 680px;
}
#contents--happyborn--disinfection .metro_1,
#contents--happyborn--disinfection .metro_3{
	background-color: #f9f9f9;
}
#contents--happyborn--disinfection .metro_fullContainer .pic_cover{
	height: 250px;
	margin-top: 90px;
	overflow: hidden;
	position:relative;
}
#contents--happyborn--disinfection .metro_fullContainer .pic_cover img{
	position: absolute;
	top:0;
	left:50%;
	margin-left: -320px;
}
#contents--happyborn--disinfection .metro_fullContainer .pic_cover .pattern{
	position: absolute;
	left:0; top:0;
	z-index:1;
	height:250px;
	width:100%;
}
#contents--happyborn--disinfection .metro_fullContainer .text_cover{
	height: 200px;
	margin-top:50px;
	font-family : 'Nanum Gothic';
}
#contents--happyborn--disinfection .metro_fullContainer .title{
	color: #777777;
	font: 1.1em 'Nanum Gothic, Malugn Gothic'; 
}
#contents--happyborn--disinfection .metro_fullContainer .title .em_1{
	font-size: 1.2em;
	color: #555555;
}
#contents--happyborn--disinfection .metro_fullContainer .title .em_2{
	font-size: 2em;
	color: #426FD6;
	border-bottom: 1px solid;
}
#contents--happyborn--disinfection .metro_fullContainer .title .em_3{
	font-size: 2em;
	color: #A469FF;
	border-bottom: 1px solid;
}
#contents--happyborn--disinfection .metro_fullContainer .title .em_4{
	font-size: 2em;
	color: #61D4B5;
	border-bottom: 1px solid;
}
#contents--happyborn--disinfection .metro_fullContainer .title .em_5{
	font-size: 2em;
	color: #FF7E20;
	border-bottom: 1px solid;
}
#contents--happyborn--disinfection .metro_fullContainer .wisywyg_container{
	margin-top: 2em;
	font-size: 0.9em;
	line-height: 2em;
	color: gray;
}