<div id="contents--happyborn--disinfection" class="ST_dis_none" >
	<div class="metro_wrap">
		<div class="metro_fullContainer metro_1 ST_opacity_0" data-TB_metro_width="3_ratio">
			<div class="pic_cover">
				<img src="{{root_path}}img/contents/disinfection/cesco.png"/>
			</div>
			<div class="text_cover">
				<div class="title">
					국내 최고 <b class="em_1">방충.살균</b> 전문업체<br/>
					 <b class="em_2">Cesco</b>
				</div>
				<div class="wisywyg_container TB_el"
					data-TB_el_name="contents--happyborn--disinfection--cesco"
					data-TB_el='{"TB_el_name":"contents--happyborn--disinfection--cesco","type":"text"}'
				></div>
			</div>
		</div><!--/세스코-->
		
		<div class="metro_fullContainer  metro_2 ST_opacity_0" data-TB_metro_width="3_ratio" >
			<div class="pic_cover">
				<img src="{{root_path}}img/contents/disinfection/killer.png"/>
			</div>
			<div class="text_cover">
				<div class="title">
					신생아실 마다 <b class="em_1">One care</b>시스템<br/>
					 <b class="em_3">Virus Killer</b>
				</div>
				<div class="wisywyg_container TB_el"
					data-TB_el_name="contents--happyborn--disinfection--virusKiller"
					data-TB_el='{"TB_el_name":"contents--happyborn--disinfection--virusKiller","type":"text"}'
				></div>
			</div>
		</div><!--/virus killer-->
		
		<div class="metro_fullContainer  metro_3 ST_opacity_0" data-TB_metro_width="3_ratio" >
			<div class="pic_cover">
				<img src="{{root_path}}img/contents/disinfection/killer_2.png"/>
			</div>
			<div class="text_cover">
				<div class="title">
					층마다 비치되어 있는 <b class="em_1">자동 살균기</b><br/>
					 <b class="em_4">에어제닉</b>
				</div>
				<div class="wisywyg_container TB_el"
					data-TB_el_name="contents--happyborn--disinfection--airgienic"
					data-TB_el='{"TB_el_name":"contents--happyborn--disinfection--airgienic","type":"text"}'
				></div>
			</div>
		</div><!--/virus killer-->
		
		<div class="metro_fullContainer  metro_4 ST_opacity_0" data-TB_metro_width="3_ratio" >
			<div class="pic_cover">
				<img src="{{root_path}}img/contents/disinfection/spray.png"/>
			</div>
			<div class="text_cover">
				<div class="title">
					각 층 요소마다 <b class="em_1">자발적 소독</b>을 돕는<br/>
					 <b class="em_5">무독성 살균제</b>
				</div>
				<div class="wisywyg_container TB_el"
					data-TB_el_name="contents--happyborn--disinfection--spray"
					data-TB_el='{"TB_el_name":"contents--happyborn--disinfection--spray","type":"text"}'
				></div>
			</div>
		</div><!--/virus killer-->
		
		
		
	</div>
	
	
</div>