<div class="templates--backdrop--btns_1" >
	{{#if title}}
		<div class="btns_title">{{title}}</div>
	{{/if}}
	
	{{#if sub_title}}
		<div class="btns_sub_title">{{sub_title}}</div>
	{{/if}}
	
	<ul class="btns_wrap">
	{{#each btns}}
		<li>
			<div class="{{class}}" style="color:{{color}};background:{{background}}">{{text}}</div>
		</li>
	{{/each}}
	</ul>
</div>
