<div id="contents--dreamyacht--exprience">
	<div class="ST_hide scroll_spy_buttons">
		<a href="#exprience--company" class="trigger_exprience--company"></a>
		<a href="#exprience--family" class="trigger_exprience--family"></a>
		<a href="#exprience--couples" class="trigger_exprience--couples"></a>
		<a href="#exprience--fishing" class="trigger_exprience--fishing"></a>
		<a href="#exprience--sunset" class="trigger_exprience--sunset"></a>
	</div>

	
	<div class="r_1 ST_section ST_section_full" >
		
		
		<div class="main_img TB_ui_parallaxScroll"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_1"}' 
		></div>
		<!--/bg/-->
		
		<div class="filter ST_opacity_70_p "></div>
		<div class="container">
			<div class="space"></div>
			
			<div class="text_wrap ">
				<div class="ST_title ST_title_s ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					DREAM YACHT
				</div>
				<div class="ST_title ST_title_l ST_text_align_center ST_opacity_0 TB_ani_show"
					data-TB_ani_show="fadeInUp"
				>
					<b>YACHT EXPRIENCE</b>
				</div>
				<div class="desc ST_opacity_0 TB_ani_show ST_margin_top_1_5_em" >
					<div class="TB_el" data-TB_el_name="exprience--main_caption"></div>
				</div>
				
				
			</div>
			
		</div>
		
	</div>
	<!--------------------------------------------
		메인 이미지
	-------------------------------------------->
	
	
	<div id="exprience--company" class="r_2 ST_section ST_section_l ST_overflow_hidden scroll_spy">
		
		<div class="bg TB_ui_parallaxScroll"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_2"}' 
		></div>
		<!--/bg/-->
		
		<div class="pattern TB_ui_parallaxScroll ST_pattern ST_pattern_5"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_2"}' 
		></div>
		<!--/pattern/-->
		
		<div class="container ST_z-index_1">
			<div class="row center-align grey-text text-darken-3">
				<div class="ST_title ST_title_s">하나된 감성을 만든다</div>
				<div class="ST_title ST_title_m">
					<b>기업 연수 투어</b>
				</div>
				<div class="detail ST_margin_top_1_em">
					<div class="TB_el" data-TB_el_name="exprience--company_detail"></div>
				</div>
			</div>
		</div>
		
	</div>
	<!--------------------------------------------
		기업연수 투어
	-------------------------------------------->
	
	<div id="exprience--family" class="r_3 ST_section ST_section_l ST_overflow_hidden scroll_spy">
		
		<div class="bg "
		></div>
		<!--/bg/-->
		
		<!--
		<div class="pattern TB_ui_parallaxScroll ST_pattern ST_pattern_5"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_2"}' 
		></div>
		<!--/pattern/-->
		
		<div class="container ST_z-index_1">
			<div class="row center-align white-text">
				<div class="ST_title ST_title_s">일상의 작은 휴식</div>
				<div class="ST_title ST_title_m">
					<b>패밀리 투어</b>
				</div>
				<div class="detail ST_margin_top_1_em">
					<div class="TB_el" data-TB_el_name="exprience--famlily_detail"></div>
				</div>

			</div>
		</div>
		
	</div>
	<!--------------------------------------------
		패밀리 투어
	-------------------------------------------->
	
	<div id="exprience--couples" class="r_4 ST_section ST_section_l ST_overflow_hidden scroll_spy">
		
		<div class="bg TB_ui_parallaxScroll"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_4"}' 
		></div>
		<!--/bg/-->
		
		<div class="pattern TB_ui_parallaxScroll ST_pattern ST_pattern_5"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_4"}' 
		></div>
		<!--/pattern/-->
		
		<div class="container ST_z-index_1">
			<div class="row center-align grey-text text-darken-3">
				<div class="ST_title ST_title_s">영원한 사랑을 위한</div>
				<div class="ST_title ST_title_m">
					<b>연인 투어</b>
				</div>
				<div class="detail ST_margin_top_1_em">
					<div class="TB_el" data-TB_el_name="exprience--couples_detail"></div>
				</div>

			</div>
		</div>
		
	</div>
	<!--------------------------------------------
		연인투어
	-------------------------------------------->
	
	
	<div id="exprience--fishing" class="r_5 ST_section ST_section_l ST_overflow_hidden scroll_spy">
		<div class="bg "></div>
		<!--/bg/-->
		
		<div class="container ST_z-index_1 ST_posi_relative">
			<div class="row center-align white-text">
				<div class="ST_title ST_title_s">선상에서 느끼는 손맛</div>
				<div class="ST_title ST_title_m">
					<b>낚시 투어</b>
				</div>
				<div class="detail ST_margin_top_1_em">
					<div class="TB_el" data-TB_el_name="exprience--fishing_detail"></div>
				</div>

			</div>
		</div>

	</div>
	<!--------------------------------------------
		낚시투어
	-------------------------------------------->
	
	
	<div id="exprience--sunset" class="r_6 ST_section ST_section_l ST_overflow_hidden scroll_spy">
		
		<div class="bg TB_ui_parallaxScroll"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_6"}' 
		></div>
		<!--/bg/-->
		
		<div class="pattern TB_ui_parallaxScroll ST_pattern ST_pattern_5"
			data-TB_ui_parallaxScroll='{"animation":"top","container":".r_6"}' 
		></div>
		<!--/pattern/-->
		
		<div class="container ST_z-index_1 ST_posi_relative">
			<div class="row center-align grey-text text-darken-3">
				<div class="ST_title ST_title_s">벅차오르는 감동</div>
				<div class="ST_title ST_title_m">
					<b>선셋투어</b>
				</div>
				<div class="detail ST_margin_top_1_em">
					<div class="TB_el" data-TB_el_name="exprience--sunset_detail"></div>
				</div>

			</div>
		</div>
		
	</div>
	<!--------------------------------------------
		선셋투어
	-------------------------------------------->


	
	
	<div class="footer_wrap ST_section ">
		<div class="container center-align">
			<div class="grey-text text-darken-1">
				<div class="TB_el" data-TB_el_name="footer"></div>
			</div>
		</div>
	</div>
	<!--------------------------------------------
		footer
	-------------------------------------------->
	
	
</div>