#contents--happyborn--building{}
#contents--happyborn--building .metro_wrap{
	position:relative;
	z-index: 1;
}
#contents--happyborn--building .metro_container{
	padding:0;
	position: relative;
	overflow: hidden;
}
#contents--happyborn--building .metro_container .box_w_2{
	background: transparent ;
}
/*============================================
 * PC
 ============================================*/

/*============================================
 * 모바일
 ============================================*/

