<div id="contents--seayacht--bbs"  >
	<div class="metro_wrap">
		
	
	<div class="metro_fullContainer " data-TB_metro_width="100_%" >
		<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_60px"></div>
		<div class="bbs_title_wrap">
			<div class="bbs_title TB_style" data-TB_style="ST_response_mobile_width_90%">{{bbs_title}}</div>
		</div>
		<div class="TB_contents_load"
			data-TB_contents_src="templates--bbs--bbs_1"
			data-TB_contents_sendData='contents--seayacht--bbs--bbsData'
		></div>
	</div>
	
	
	<div class="metro_fullContainer footer " data-TB_metro_width="30_%">
		<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
		<div class="TB_contents_load ST_pad_1_em " data-TB_contents_src = "contents--seayacht--footer"></div>
	</div>
	<!-------------------------------------
		footer : 일반적으로 사용하지는 말자.
	------------------------------------->
	</div>

</div>