#contents--seayacht--bbs{}
#contents--seayacht--bbs .bbs_title{
	width:680px;
	margin: auto;
	text-align: left;
	box-sizing: border-box;
	border-left: 3px solid #056EA1;
	padding-left: 10px ;
	color: #555555;
	font-size: 1.3em;
	margin-top: 10px;
}