<div class="templates--backdrop--confirm_1 ST_transition_all_03_s ST_opacity_0" >
	<div class="confirm_wrapper">
		<div class="title_text_wrap ST_text_align_center">
			<div class="text">{{title}}</div>
		</div>
		<!-------/로그인 텍스트 ------->
		
		<div class="subscript_wrapper">
			<div class="text_wrap">
				{{subscript}}
			</div>
		</div>
		<!-------/주석 /------->
		
		<div class="button_wrap ST_text_align_center">
			<div class="yes_button button ST_button_1" data-value="yes" title="예">
				<span class="text">예</span>
			</div>
			<div class="no_button button ST_button_1" data-value="no" title="아니오">
				<span class="text">아니오</span>
			</div>
		</div>
		<!-------/취소삭제 버튼 /------->
		
	</div>
</div>
