body{}
.templates--backdrop--confirm_1{
	line-height:normal;
	max-width: 95%;
	position: relative;
	margin:auto;
}
.templates--backdrop--confirm_1 a{
	text-decoration: none;
}
/*===========================================
 * 글로벌
 ===========================================*/

.templates--backdrop--confirm_1 .title_text_wrap{
	text-align: center;
	margin: auto;
	margin-top: 20px;
}
.templates--backdrop--confirm_1 .title_text_wrap .text{
	font-size: 1.3em;
	font-family : 'Malgun Gothic';
	font-weight: lighter;
	color: #555555;
}
.templates--backdrop--confirm_1 .title_text_wrap .line{
	border-bottom: 1px solid #999999;
}
/*===========================================
 * 로그인 텍스트
 ===========================================*/

.templates--backdrop--confirm_1 .subscript_wrapper{
	font-size: 0.8em;
	color: #999999;
	margin-top: 20px;
	text-align: center;
}
/*===========================================
 * 주석
 ===========================================*/

.templates--backdrop--confirm_1 .button_wrap{
	margin:auto;
	margin-top: 40px;
	max-width: 95%;
	font-family: "Nanum Gothic";
}
.templates--backdrop--confirm_1 .button_wrap .button{
	padding: 20px 0;
	text-align: center;
	margin-top: 20px;
	box-sizing: border-box;
}
/*
	.templates--backdrop--confirm_1 .button_wrap .button:hover{
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
*/
.templates--backdrop--confirm_1 .button_wrap .yes_button{
	color: #F15A68;
	border: 1px solid #F15A68;
}
	.templates--backdrop--confirm_1 .button_wrap .yes_button:active{
		color: #FFFFFF;
		background: #f15a68;
		
	}
.templates--backdrop--confirm_1 .button_wrap .no_button{
	color: #539AF1;
	border: 1px solid #539AF1;
}
	.templates--backdrop--confirm_1 .button_wrap .no_button:active{
		color: #FFFFFF;
		background: #539AF1;
		
	}
/*===========================================
 * 로그인 텍스트
 ===========================================*/












































