<div id="contents--seayacht--education"  >
	
	<div class="metro_space TB_style" data-TB_style="ST_response_mobile_height_50px"></div>
	<div class="metro_wrap">
		
		<div class="edu_1 metro_fullContainer  metro_minus_height "   data-TB_metro_width="800_px"
			data-TB_style="ST_response_pc_margin-top_100px" 
			data-metro_minus_height="100"
		>
			<div class="bg_cover metro_sync_height ST_overflow_hidden" data-metro_sync_height="50">
				<img class="bg ST_wid_100_p "  src="/TB/img/contents/education/yon.jpg"/>
			</div><!--/bg-->
			
			<div class="text_cover metro_sync_height ST_posi_relative" data-metro_sync_height="50">
				<div class="title ">연수</div>
				<div class="line"></div>
				<div class="detail">
					<div class="TB_el" data-TB_el_name="contents--seayacht--education--detail_1"></div>
				</div>
			</div><!--/텍스트-->
		</div>
		<!-----------------------------------
			요트연수
			----------------------------------->
			
		<div class="edu_2 metro_fullContainer  metro_minus_height "   data-TB_metro_width="800_px"
			data-TB_style="ST_response_pc_margin-top_100px" 
			data-metro_minus_height="100"
		>
			<div class="bg_cover metro_sync_height ST_overflow_hidden ST_dis_none	TB_style"
			data-TB_style="ST_response_mobile_display_block" 
			data-metro_sync_height="50">
				<img class="bg ST_wid_100_p " src="/TB/img/contents/education/education.jpg" />
			</div><!--/bg-->
			
			<div class="text_cover metro_sync_height ST_posi_relative" data-metro_sync_height="50">
				<div class="title">교육</div>
				<div class="line"></div>
				<div class="detail">
					<div class="TB_el" data-TB_el_name="contents--seayacht--education--detail_2"></div>
				</div>
			</div><!--/텍스트-->
			
			<div class="bg_cover metro_sync_height ST_overflow_hidden TB_style" 
				data-metro_sync_height="50"
				data-TB_style="ST_response_mobile_display_none"
			>
				<img class="bg  ST_wid_100_p" src="/TB/img/contents/education/education.jpg"/>
			</div><!--/bg-->
		</div>
		<!-----------------------------------
			요트교육
			----------------------------------->
			
		<div class="metro_fullContainer metro_minus_height" data-TB_metro_width="800_px"
			data-metro_minus_height="100" 
		>
			<div class="ST_pad_1_em">
				<div class="ST_title_1 ST_text_align_left ">요트연수·교육문의</div>
				<div class="bbs_title_wrap">
					<div class="bbs_title TB_style" data-TB_style="ST_response_mobile_width_90%">{{bbs_title}}</div>
				</div>
				<div class="TB_contents_load"
					data-TB_contents_src="templates--bbs--bbs_1"
					data-TB_contents_sendData='contents--seayacht--education--bbsData'
				></div>
			</div>
		</div>
		<!-------------------------------------
			리스트 
		------------------------------------->
		
		
		<div class="metro_fullContainer footer metro_minus_height" data-TB_metro_width="450_px"
			data-metro_minus_height="100"
		>
			<div class="TB_contents_load ST_pad_1_em " data-TB_contents_src = "contents--seayacht--footer"></div>
		</div>
		<!-------------------------------------
			footer
		------------------------------------->
	</div>

</div>