<div id="admin--auth--login " class="ST_transition_all_03_s ST_opacity_0" >
	<div class="login_wrapper  ST_wid_100_p"
	 >
		{{#if isCreate}}<!---사이트가 만들어져 있는 경우.-->
			<form class="TB_form ST_responsive_form"
				data-TB_form_aftAc="sharedFunc:adminLogin"
			>
				<input type="hidden" name="reqType" value="{{reqType}}" />
				<input type="hidden" name="reqQuery" value="{{reqQuery}}" />				
				<ul class="container">
					<li clss="row">
						<div class="col-xs-12 form_title">로그인</div>
					</li>
					<li class="row">
						<span class="col-xs-2 form_name" >아이디</span>
						<span class="col-xs-9 ">
							<input type="text" name="id" title="아이디를 입력하세요" class="TB_form_validate"
								data-TB_form_validate='[{"minLen": 4, "errText": "최소 6글자이상 입력해주십시요. "}]'
							/>
						</span>
						<span class="col-xs-1"></span>
					</li>
					<li class="row">
						<span class="col-xs-2 form_name">패스워드</span>
						<span class="col-xs-9">
							<input type="password" name="password" />
						</span>
						<span class="col-xs-1"></span>
					</li>
					<li class="row">
						<div class="col-xs-12 ST_text_align_center form_btn_wrapper">
							<input type="submit" value="로그인" />
						</div>
					</li>
				</ul>
			</form>
		{{else}}<!---최초 만들시 로그인 -->
			<form class="TB_form ST_responsive_form"
				data-TB_form_aftAc="sharedFunc:adminCreateAft"
			>
				<input type="hidden" name="reqType" value="{{reqType}}" />
				<input type="hidden" name="reqQuery" value="{{reqQuery}}" />				
				<ul class="container">
					<li clss="row">
						<div class="col-xs-12 form_title">관리자등록</div>
					</li>
					<li class="row">
						<span class="col-xs-2 form_name" >아이디</span>
						<span class="col-xs-9 ">
							<input type="text" name="id" title="아이디를 입력하세요" class="TB_form_validate"
								data-TB_form_validate='[{"minLen": 4, "errText": "최소 4글자이상 입력해주십시요. "}]'
							/>
						</span>
						<span class="col-xs-1"></span>
					</li>
					<li class="row">
						<span class="col-xs-2 form_name ">패스워드</span>
						<span class="col-xs-9">
							<input type="password" class="TB_form_validate" title="패스워드를 확인하세요"
								data-TB_form_validate='[
									{ "exact" : "[type=password]" }
									,{ "minLen" : 4, "errText" : "최소 4글자이상 입력해주십시요." }
								]'
							/>
						</span>
						<span class="col-xs-1"></span>
					</li>
					<li class="row">
						<span class="col-xs-2 form_name">패스워드 확인</span>
						<span class="col-xs-9">
							<input type="password" name="password" />
						</span>
						<span class="col-xs-1"></span>
					</li>
					
					<li class="row">
						<span class="col-xs-2 form_name">이메일</span>
						<span class="col-xs-9">
							<input type="text" name="email" title="이메일을 확인해 주십시요." class="TB_form_validate"
								data-TB_form_validate='[{
									"isEmail" : "check"
								}]'
							/>
						</span>
						<span class="col-xs-1"></span>
					</li>
					<li class="row">
						<div class="col-xs-12 ST_text_align_center form_btn_wrapper">
							<input type="submit" value="만들기" />
						</div>
					</li>
				</ul>
			</form>
		{{/if}}
	</div>
</div>