
#admin--auth--login{}
#admin--auth--login .login_wrapper{
	
}

.ST_responsive_form{
	width:100%;
	max-width: 960px;
	display:block;
	margin: 0 auto;
	font: 1em 'Malgun Gothic';
	box-shadow: 0 1px 3px #d5d5d5;
	border-radius: 10px;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	word-wrap: break-word;
	color: gray;
}
.ST_responsive_form .container{
	max-width:960px;
}
.ST_responsive_form .row{
	height:3.5em;
}
.ST_responsive_form .form_title{
	text-align:center;
	font: bold 1.2em 'Malgun Gothic';	
	color: #999999;
	padding-bottom: 15px;
}
.ST_responsive_form input {
	width:98%;
	padding: 0 1%;
	height: 2.5em;
	line-height: 2.5em;
	box-shadow: inset 0 0 3px #d5d5d5;
	border: 1px solid #D5D5D5;
	display:inline-block;
}
.ST_responsive_form .form_name{
	text-align: right;
	font-size: 0.8em;
	line-height: 2.5em;
}
.ST_responsive_form .form_btn_wrapper{
	max-width: 500px;
	text-align:center;
	margin: 0 auto;
}
.ST_responsive_form .form_btn_wrapper input[type=submit]{
	height: 3em;
	line-height: 3em;
	background: #FF9547;
	cursor: pointer;
	font-weight: bold;
	color: #FFFFFF;
}
